# <a id='toc1_'></a>[DGIdb ambiguous claims](#toc0_)

**Table of contents**<a id='toc0_'></a>    
- [DGIdb ambiguous claims](#toc1_)    
    - [Analyzing similaritis b/w alias-primary and alias-alias collisions](#toc1_1_1_)    
      - [Load merged alias-alias and alias-priamry collision sets. Symbols are the ambiguous symbols.](#toc1_1_1_1_)    
      - [How many of the alias-primary collisions are also alias-alias collisions?](#toc1_1_1_2_)    
      - [How many unique ambiguous symbosl are there b/w alias-primary and alias-alias collisions?](#toc1_1_1_3_)    
    - [Primary exploration of DGIdb gene content using collisions](#toc1_1_2_)    
      - [Load gene claim data from DGIdb](#toc1_1_2_1_)    
      - [How many claims are placed in a gene group with a different label?](#toc1_1_2_2_)    
      - [How many claims are not normalized?](#toc1_1_2_3_)    
      - [Create set of gene groups (gene_name) and gene claims (gene_claim_name)](#toc1_1_2_4_)    
      - [Load HGNC, Ensembl (ENSG), and NCBI gene and alias sets](#toc1_1_2_5_)    
      - [How many unique primary gene symbols are there b/w HGNC, Ensembl, and NCBI?](#toc1_1_2_6_)    
      - [How many unique alias symbols are there b/w HGNC, Ensembl, and NCBI?](#toc1_1_2_7_)    
      - [How many unique group names are not primary gene symbols?](#toc1_1_2_8_)    
      - [How many unique claims are not primary gene symbols?](#toc1_1_2_9_)    
      - [Load the collision sets from each data source](#toc1_1_2_10_)    
      - [How many unique group names are primary gene symbols?](#toc1_1_2_11_)    
      - [How many of the groups that are labeled with a primary gene symbol are also alias-alias collisions?](#toc1_1_2_12_)    
      - [How many unique claim symbols are collisions?](#toc1_1_2_13_)    
      - [How many unique groups are labeled with collisions?](#toc1_1_2_14_)    
      - [How many unique claims are not primary gene symbols?](#toc1_1_2_15_)    
      - [How many unique claims that were not primary symbols are collisions?](#toc1_1_2_16_)    
      - [How many unique claims that are primary gene symbols are also collisions?](#toc1_1_2_17_)    
      - [How many of the gene groups that are not primary gene symbols are alias-alias collisions from HGNC?](#toc1_1_2_18_)    
      - [How many claims are ambiguous symbols?](#toc1_1_2_19_)    
      - [How many gene group labels are ambiguous symbols?](#toc1_1_2_20_)    
      - [How many claims are primary symbols?](#toc1_1_2_21_)    
      - [How many gene group labels are primary symbols?](#toc1_1_2_22_)    
      - [How many gene group labels are alias symbols?](#toc1_1_2_23_)    
      - [How many claims are alias symbols?](#toc1_1_2_24_)    
      - [How many claims that were normalized into non-primary symbol labeled groups are alias symbols?](#toc1_1_2_25_)    
      - [How many not normalized claims are alias symbols?](#toc1_1_2_26_)    
      - [How many gene group labels are not primary, alias symbols, or null?](#toc1_1_2_27_)    
      - [How many claims are not primary, alias symbols, or null?](#toc1_1_2_28_)    
      - [How many claims are primary and alias symbols?](#toc1_1_2_29_)    
      - [How many primary symbol claims are normalized into non-primary gene group labels?](#toc1_1_2_30_)    
    - [Summary](#toc1_1_3_)    
      - [Normalization Rates](#toc1_1_3_1_)    
      - [Types of Claim Symbols](#toc1_1_3_2_)    
      - [Types of Normalizations (gene group labels claims are being normliazed into)](#toc1_1_3_3_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

In [153]:
import pandas as pd
import numpy as np
import plotly.express as px

### <a id='toc1_1_1_'></a>[Analyzing similaritis b/w alias-primary and alias-alias collisions](#toc0_)

#### <a id='toc1_1_1_1_'></a>[Load merged alias-alias and alias-priamry collision sets. Symbols are the ambiguous symbols.](#toc0_)

Input: merged_alias_gene_intersections.csv (total_alias_gene_intersections.ipynb), merged_alias_overlap_df_2.csv (total_alias_overlap.ipynb)

Output: merged_alias_primary_collision_set, merged_alias_alias_collision_set

In [154]:
merged_alias_primary_collisions_df = pd.read_csv(
    "merged_alias_gene_intersections.csv", na_values=["", "NULL"], keep_default_na=False
)

In [155]:
merged_alias_primary_collision_set = set(
    merged_alias_primary_collisions_df["intersect_point"]
)
len(merged_alias_primary_collision_set)

1532

In [156]:
merged_alias_alias_collisions_df = pd.read_csv(
    "merged_alias_overlap_df_2.csv", na_values=["", "NULL"], keep_default_na=False
)

In [157]:
merged_alias_alias_collision_set = set(
    merged_alias_alias_collisions_df["alias_symbol"].tolist()
)
len(merged_alias_alias_collision_set)

4494

#### <a id='toc1_1_1_2_'></a>[How many of the alias-primary collisions are also alias-alias collisions?](#toc0_)

In [158]:
print(
    len(
        merged_alias_alias_collision_set.intersection(
            merged_alias_primary_collision_set
        )
    )
)

161

#### <a id='toc1_1_1_3_'></a>[How many unique ambiguous symbosl are there b/w alias-primary and alias-alias collisions?](#toc0_)

In [159]:
ambiguous_symbol_set = merged_alias_alias_collision_set.union(
    merged_alias_primary_collision_set
)
print(len(ambiguous_symbol_set))

5865

In [160]:
ambiguous_symbol_set

{'LINC00444',
 'L17',
 'GPAT',
 ' GID2',
 'UCN2',
 'HSP70.1',
 'TRNAV22',
 ' PNUTL3',
 ' DBS',
 'SYM1',
 'DEFB3',
 'H2A',
 'SCYL1',
 'LRP1',
 'STAG3L1, STAG3L3',
 ' RIP5',
 ' TCRBV3S1',
 ' P22',
 'LMN2',
 'PARPL',
 'MRXS32',
 'PIT1',
 ' NBS1',
 'MADH6',
 'SIK1B',
 'CXorf11',
 'LINC02921',
 'FAH',
 'POP4',
 'ARTC1',
 'CMPD1',
 'HLA-DRB',
 'OSCP',
 'CARDINAL',
 'NUDT10',
 'C2orf47',
 'G10',
 'NAT5',
 'P39',
 ' CT1',
 'CPAD',
 'p110',
 'NSP2',
 'DIA2',
 'HDGF2',
 'SPR',
 'TP53TG3F',
 'ASB-3',
 'TMEFF1',
 'PKR2',
 'C11ORF4',
 ' S10',
 ' M-ABC2',
 ' SGT2',
 'ACP',
 'F3',
 ' ESA',
 'GC1',
 ' TAZ',
 'MPP1',
 'HLP',
 'XLOC_000303',
 'OR11-3',
 'MIR-129b',
 ' MIC1',
 'ISWI',
 'PGD2',
 ' PTP',
 'HLA-DPB1',
 'ARX',
 'ETDA',
 'AP-1',
 'SCCMS',
 'TDH',
 'TTF2',
 'MLL4',
 'REF1',
 'MS4A4',
 'CEBPZ',
 'CRD',
 ' H3',
 'HBP',
 'TRX-CAT1-4',
 'TSARG1',
 ' TIG1',
 'H2AC16',
 'MIG7',
 'U2',
 'BCRP2',
 'ZNF688',
 'NABC1',
 'CSRP2BP',
 'HN1L',
 'HCG18',
 'ERV1',
 'KRTAP2-1',
 'SKD1',
 'p200',
 'BCDS1',
 'CD277',
 'p56',
 'CAK1',
 ' PLB',
 'IBP1',
 'HBM',
 'SF',
 'AD1',
 'CBWD3',
 'CDD',
 'C18orf2',
 ' MGC5228',
 'CT134',
 'M33',
 'CILD38',
 'LBP',
 'EBP',
 'TRR-CCG1-2',
 'SK2',
 'PPCD1',
 'ZNF2',
 'SA',
 'TCRAV19S1',
 'HCI',
 'ROX',
 'HAP2',
 'ZNF141',
 ' COD5',
 'BUB1A',
 'HM1',
 'GF1',
 'TRW-CCA3-1',
 'SGT2',
 'TIH1',
 'DXS648E',
 'HDLCQ7',
 'TCRAV8S1',
 'SWI2',
 'FAM138F',
 'PDS',
 'UBL5',
 'GCAP-II',
 'TRG-GCC2-6',
 'RGL1',
 'CIC',
 'EAP1',
 'NPY4R',
 'NAPA',
 'BCR',
 'LOXL',
 'TRAC-1',
 ' ATPM',
 'TBC1D3D',
 'CHED',
 'SEDLP1',
 'SRA',
 'SDH2',
 'PP',
 ' FCG1',
 'MN',
 'PNK',
 ' Rsc8',
 ' LAGE2A',
 'SBP1',
 'TNFRSF11B',
 'GCR2',
 'GAL7',
 'CT47',
 'GLUT6',
 'TMS',
 'OR17-24',
 ' U13',
 ' FSP1',
 'ROC2',
 ' RAM',
 'BAF190',
 'TP53TG3, TP53TG3B, TP53TG3C, TP53TG3D, TP53TG3F',
 'BCS1',
 'GOT1',
 ' UGD',
 'VATB',
 'PDZD5C',
 'AIP',
 'TRI-AAT5-3',
 'P54',
 'P38',
 ' LGL1',
 'TTTY7B',
 ' CD',
 'SUMO3',
 'TRD-GTC2-11',
 ' P18',
 'COT',
 ' EIF4F',
 'ABP-280',
 'P19',
 'ELF1',
 'CEACAM22P',
 'CTRP5',
 'BETA2',
 'C2orf27B',
 'CED12',
 'NS',
 'NTT',
 'OF',
 'RGP1',
 'A3A',
 'OR19-18',
 'HGF',
 ' PAR1',
 'CSRP',
 'BTF2',
 'SRS',
 'rpL7a',
 ' PRL3',
 'MELF2',
 'GAB1',
 'HCF2',
 'CHD5',
 'ELK2',
 'B17',
 'H4',
 'BSC',
 'HCP5',
 'TPS2',
 'TCRAV1S1',
 'B29',
 'RPA1',
 ' DOC1',
 ' CLAN',
 'DRS1',
 'ALB',
 ' p48',
 'ILT5',
 'VDAC3',
 ' CTR1',
 'BRX',
 'p32',
 'HU-2',
 'HBP3',
 'LDB1',
 'SENP2',
 ' SIL',
 'FOXD4L4',
 'HIP3',
 'FCG1',
 'CT45A8, CT45A9',
 ' KIR2DL5',
 'CAP2, TMPRSS3',
 'ATS2',
 'ARH2',
 'CUPID1',
 'PPIAL4F',
 'OBP',
 'HET',
 'NAT1, NET1, SLC6A5',
 'GTF2A1L',
 'P2',
 'MSS4',
 'LOAS',
 'FLJ10052',
 'DDX26',
 'MRG2',
 'TCRAV25S1',
 'dJ221C16.8',
 'ALC1',
 'IGHD1B',
 'CAPS1',
 'RIG',
 'PSS3',
 'NOP9',
 ' TSH1',
 ' SEP2',
 'ZIP4',
 'TTC30B',
 'ARMD14',
 'FAE',
 'FAM66E',
 'TRP-TGG3-5',
 'CAM3',
 'PAR4',
 'SPAG11A',
 'IL-20',
 'MPDZ',
 'NDPP1',
 'EIF1A',
 'PEPP1',
 'HIST1H2BC',
 ' PABPL1',
 'H2BFG',
 'R51H3',
 'HOP',
 'HIS',
 'PRR20A, PRR20B, PRR20C, PRR20E',
 ' P75',
 'p57',
 'GPRK7',
 'KRTAP4-7',
 'OFC1',
 'CAF-1',
 'LST3',
 'DSC3',
 'ANCO1',
 'PAIS',
 ' M-ABC1',
 'PB',
 ' AGPAT9',
 'DFNB35',
 ' DMC',
 'Zfp27',
 'PAC-1',
 'SD',
 'H2A.1',
 'ATS',
 ' MTB',
 'GP1BB',
 'p25beta',
 'NPIPB',
 'LPCAT4',
 'PCDHX',
 'CMT2D',
 'CHE1',
 'PMS2L2',
 'IMP',
 'HSPA1',
 'HIN1',
 'NAT3',
 'TCRAV4S1',
 'L14',
 'p62',
 ' SUR2',
 'TRNAMI2',
 'GT1',
 'DELXq22.3',
 'DP3',
 'NB',
 'ALDC',
 'ZIN',
 ' HCAP',
 'RNF3',
 ' ISWI',
 'NAC1',
 'MRLC2',
 'UBC4',
 'OPT',
 ' p45',
 'TAL-H',
 ' IAP',
 'BIP',
 'RhoGAP2',
 ' B3GN-T1',
 'RPL24',
 'NBS1',
 'eIF-2gA',
 'SMILE',
 'ECA2',
 'D17S1718',
 'AZ2',
 ' TRAMP',
 'TRA-TGC3-1',
 'PL',
 'DMTN',
 'SAP130',
 'PTX1',
 ' LIM1',
 'APOBEC1L',
 'CTPP1',
 'TNRC14',
 ' ERIS',
 'ALPI',
 'PRP4',
 'SWAP',
 'KFSD',
 ' NIRF',
 'H3C14, H3C15',
 'G0S19-2',
 'HH',
 ' CLIP',
 'MLP',
 'SOSS-B2',
 'MCPH4',
 'CLEC13B',
 'hg523',
 'GAS',
 'PGII',
 'PLGP1',
 'GCN5',
 'PRP8',
 'HMAT1',
 'POTEB2',
 'HCA3',
 'HSD3',
 'PHR1',
 'NMI',
 'PORMIN',
 'AMY2',
 'MPP6',
 ' DEFB4',
 ' MIR',
 'XDH',
 'VIP',
 'PRR23D2',
 ' DNM1DN8@',
 'LINC00473',
 'PPAT',
 'PP2Calpha',
 'H3C3',
 'NIK',
 'ACA59',
 'IGFR2',
 'CD1',
 'p100',
 'WS3',
 'MCAP',
 'CSTP1',
 'LGMD1E',
 'MAK',
 'SR',
 'FCP',
 'S31III125',
 'NIF',
 'TAF',
 'CYP2D7AP',
 'ARC',
 'ASL',
 'PRR20E',
 'A15',
 ' UGT1',
 'GTF2H2C_2',
 'ZNF183',
 'CALM',
 'LAN',
 'NBPF',
 'OR11-11A',
 'ARPC4',
 'GJC1',
 'TP53TG3A',
 ' SNRNP65',
 ' CKR-1',
 'GRTH',
 'C21orf77',
 'SP5',
 'LGALS7',
 'GNT-IV',
 'TYMP',
 'L5',
 ' DNM1DN11@',
 'EMILIN3',
 'GCD',
 'DA2B',
 'PILRB',
 'PST',
 'MBD3',
 'RNA5-8S4',
 'ZFP91',
 'C15orf63',
 ' GEMIN1',
 'CLM',
 'SST2',
 'B7-H5',
 'B3GNT1',
 'AK3L1',
 'CIC, SEA',
 'ART1',
 ' CN1',
 'PSCTK2',
 'AGS2',
 'TRNAL-CAA',
 ' VPS55',
 'ERF',
 'EIF-2B',
 ' MAST',
 'AMY',
 'ME1',
 'TAL',
 'PDIR',
 ' HK',
 ' LRH-1',
 'SCA8',
 ' S14',
 ' NR1',
 'KCP1',
 'HYDINP1',
 'MUM1',
 'MRE11B',
 'C6',
 'P15',
 'VIT1',
 ' SYT14L',
 ' Vma2',
 'LRRC37A',
 'L7',
 ' ML-1',
 'GRIK2',
 'GGT',
 'P2Y11',
 'MMP21',
 'ML-1',
 'NA88A',
 'WBP1',
 'R2',
 'p44',
 'p240',
 'RDC-1',
 'HTR3',
 'AMCN',
 'M130',
 'GLM7',
 'TF',
 'LAMP',
 'RPA2',
 'L15',
 'CER1',
 'RTS',
 'PPT',
 'TPP1',
 ' IPOB',
 'TRS-AGA2-2',
 'CDP',
 'MRPS35',
 'PUMAG',
 'AAC2',
 'GST1',
 'LD',
 ' PWCR',
 'TRNAE-UUC',
 'CEH',
 'CDR1as',
 'GCP-2',
 'NOV',
 'CDKN2',
 'H-REV107',
 ' E2',
 'CRABP-I',
 'FAM25A, FAM25C',
 'MIG12',
 'ALDR1',
 'LPLAT',
 ' ZNT8',
 'DOC-1',
 'ERIS',
 'TAT',
 'FOP',
 'CT78',
 'POU5F1',
 'DAO',
 ' LAS1',
 'PCDH19',
 'PYPAF7',
 'HIST1H2BE',
 'SANDO',
 'MRXSL',
 'ZNF468',
 ' HSS',
 'LILRA5',
 'PRG-3',
 'SF1',
 ' PIG1',
 ' P8MTCP1',
 'CRABP-II',
 'BG',
 'CEP4',
 ' MRP-L15',
 'IBD1',
 'BA548K23.1',
 'MKPX',
 'CHD2',
 'ATP6D',
 'OXR1',
 'SGT1',
 'ATDC',
 ' RNU12P',
 ' OCT3',
 ' LPAP',
 'PRSS1',
 'BDA2',
 'POB1',
 'ECK',
 'LBNBG',
 'GSS',
 'HSF2L',
 ' PAT1',
 ' CDK11-P58',
 'DFNA3',
 'TRP-AGG2-8',
 'MAML2',
 'TKT',
 'FHL3',
 'ADC',
 'CLE',
 'GBBB2',
 'GLUR2',
 'HNPCC',
 'IP',
 'CHAT',
 'MLCK',
 ' MINT',
 'RIP',
 'BS',
 'CYP2G2P',
 'P-PST',
 ' STRA13',
 'PAPPAS',
 'ODZ3',
 ' FAME',
 ' P54',
 'PBCRA',
 ' ARIP1',
 'OR17-30',
 'PAK5, PAK6',
 ' ICIS',
 'MBS',
 'HRCA1',
 'CFM1',
 'FAAH',
 'S100A14',
 'PGDH',
 'ATD',
 'PLP',
 ' CAF1',
 'C17ORF1',
 'LARP',
 'BTHLM1',
 'MEL',
 'CIA',
 'TCF4',
 'NRP1',
 'AGPAT10',
 'RBM14',
 'BWS',
 ' BAP1',
 'UFM1P1',
 'C53',
 ' NSCL2',
 'MIC1',
 'p180',
 ' TCRBV21S1',
 'CYBL',
 'CDR1-AS',
 'K8',
 ' AP3Aase',
 'POM121L1P',
 'CCTB',
 'DC7',
 ' SMN',
 'SAA1',
 'RP7',
 'S31I125',
 'H3-3A',
 ' TRB1',
 ' P85',
 ' OTX3',
 'CIP1',
 'SCYA2',
 'APM-1',
 'DNM1DN10@',
 'BCS',
 'PISD',
 ' H4',
 'TAP2',
 'TSPY1',
 'HOX2',
 'UT2',
 'SCAF1',
 'PAR-1',
 'HCDH',
 ' MADM',
 'J1',
 ' IL1RA',
 'RNASE4',
 'ARF1P2',
 'IMD7',
 ' H2',
 'CGA',
 'p12',
 'CMK',
 'GLK',
 'L22',
 'ERG1',
 'TRN1',
 'DDX21',
 'AGS8',
 'FCRL2',
 'OR19-12',
 'FAM10A4',
 ' GOT1',
 'T6BP',
 'TM',
 'H3C10, H3C11, H3C12, H3C2, H3C3, H3C4, H3C6, H3C7, H3C8',
 'CDH16',
 'STK2',
 ' PSM',
 'CGI-141',
 'ZAC',
 'RPS17L2',
 'EPF5',
 ' PLCE',
 'CRIPTO',
 'GUCA1A',
 ' PXR1',
 'DELTA',
 'ADPRTL3',
 'SDS',
 'THM',
 'PAAT',
 'SYT11',
 'BCAM',
 'SET7',
 'TADA1',
 'CENPC',
 'LBH',
 ' CMPD2',
 'CDG2T',
 'DEFB-4',
 'GRIN1',
 'PRR20A',
 'MRF1',
 'IDDM1',
 'HIST1H2BF',
 'TIP',
 'STSL',
 'PCP2',
 'TGM6',
 'SAX2',
 'UNQ192',
 ' LPP1',
 'NIP',
 'COMT2',
 'DFNB102',
 'AIM',
 'HBD3',
 'TFIIF',
 ' P17',
 'C17',
 'NL1',
 'GAGE-2',
 'SFPQ',
 ' SS',
 'BMS1P14',
 'EEF-1',
 ' EVR1',
 'CDK4I',
 'CHM, CHN2',
 'APMR1',
 'DIP',
 'XAGE-1',
 'UGT1A, UGT1A1',
 'HRES-1',
 'DNM1DN14@',
 'SPATA31D3',
 'SUR2',
 'FAM25A',
 'GEF',
 'SMAJ',
 'XPE',
 ' RIM',
 'AIB3',
 'SAD1',
 'TH2-LCR',
 ' MST',
 'NRF1',
 'TTTY23',
 ' EEG1',
 'RASSF3',
 'EBS4',
 'GOLGA5',
 'NPIPA8',
 'H2BFH',
 'EDG2',
 'SNX30',
 'NSCL2',
 'SIMP',
 'K12',
 'ERP1',
 'SIII',
 'BSP1',
 'A2M',
 'MIP2',
 'PP2CE',
 'COII',
 'PCDH11Y',
 'p20',
 'dJ388M5',
 'GP',
 'HAF',
 'EIT-6',
 'LYST2',
 'PLEKHG5',
 'RNU1P2',
 'SMA4',
 'AK6',
 'P23',
 ' ETL1',
 'TC-1',
 'ABL',
 ' VMA5',
 'ACCA',
 'MCRIP2P1',
 'ighv',
 'PGI',
 'TCF-1',
 ' NDR1',
 ' LIP1',
 'MCT5',
 'DEFB136',
 'APM1',
 'SAP1',
 ' PIG6',
 'SIK',
 'DBP',
 'TAP',
 'DIP2',
 'CLC',
 'ZNF475',
 'SKP2, STAP1',
 ' MCAF',
 'ciRS-7',
 'CMT2T',
 'GEMIN1',
 'TBL1',
 'PABP3',
 'EEG1',
 'LAP1',
 'MRD63',
 'RP2',
 ' MRCL3',
 ' LRP',
 'CFTD',
 ' V1S5P',
 'TEL2',
 'HCRN',
 'RPL17',
 'MPP',
 'CAC1',
 'SAP190',
 'MTTK',
 'FLG',
 'RGR',
 ' MLP1',
 'ANKRD33',
 'TSSK1',
 'DFNA52',
 'CD158b',
 'PPIase',
 ' FCGR2',
 ' ACC1',
 'IPP1',
 'TAT1',
 'U3b1',
 'H2AC13',
 'ASC-1',
 ' GSE',
 'BAT1',
 'MDDGC7',
 'SAC3',
 'ZNF',
 'TCRAV15S1',
 'TRNAV-CAC',
 'CSP2, RCN2',
 'SNT2',
 'ICln',
 'LAT3',
 ' TRB2',
 'TDE2',
 'TRIM49B',
 ' GLP1',
 ' NG2',
 'IFN-alpha-REC',
 'GCP',
 'SAR1',
 'ACHRD',
 ' CD85',
 ' NSE2',
 'TRE-TTC1-1',
 'MDP1',
 'CIR',
 'CT90',
 'APS',
 'FOXO3B',
 'P84',
 'ST3GalA.2',
 'CAP1A',
 'MOSP',
 ' GPD',
 'ARSC',
 'Tmp-21-I',
 ' FAD',
 'RP66',
 'SNORD115-48',
 'beta4GalNAcT',
 'CED4',
 'E3',
 'UBP',
 'PTPA',
 ' H3.1',
 'P1',
 'C10orf77',
 'MRPL32',
 ' VMA2',
 'NF1L4',
 'MBD1',
 'IAN6',
 'H4C3',
 '9G8',
 '37LRP',
 'CEP68',
 'EJM4',
 ' H2B.1',
 'HHS',
 'FAM90A17P',
 'KIP2',
 'PLAC8',
 'GPIV',
 'SDP1',
 'H2A/q',
 'SYT',
 'RGS13',
 'K13',
 'MPI',
 'IGFR1',
 'TRB2',
 'CXorf52',
 'FCR-10',
 'WBS',
 'NP1',
 'ATP-PFK',
 ' G18',
 'FAP, LIPA',
 'MACS',
 'FADS3',
 'SIK-1',
 'GGTA',
 'ACVRLK4',
 'GLC1M',
 'IGLC6',
 'H4C9',
 ' MUM1',
 ' RIG1',
 'P55',
 ' PEPP2',
 'TRG-CCC2-2',
 'RNU1-7',
 ' CED-12',
 'MST1',
 'GM2AP',
 'p49',
 'CPT',
 ' P29',
 'CAP1',
 'L31',
 'ADAM23',
 'MAGE1',
 'SERPINA11',
 'SPDYE9',
 ' FRITZ',
 'EBS1',
 ' TIP',
 'BDPLT2',
 'IFNA13',
 ' RD',
 ' TTG1',
 'KIAA0229',
 'CXorf51B',
 'PDIP1',
 'CT45A5, CT45A6',
 'SPS',
 'GRL',
 'TAAR2',
 'RNTMI2',
 'LPP1',
 'AN',
 'TC',
 'C9orf2',
 'IGHER',
 ' PTC',
 'FEZ1',
 'GTB',
 'CT24.2',
 'GST',
 'THG1',
 'RPP2',
 'PRDX6',
 'MYH14',
 'LAD',
 'DYT23',
 ' FBL7',
 'HLP3',
 'H3C4',
 'cPLA2',
 'CAS',
 'UGT1A1',
 'VPS54L',
 'PACAP',
 'TPTPS',
 'CEA',
 'LSH',
 ' CRN',
 ' IMP2',
 'TTTY6',
 'INFE1',
 'NTNG1',
 ...}

In [161]:
ambiguous_symbol_set = set(item.strip() for item in ambiguous_symbol_set)

print(len(ambiguous_symbol_set))

5050

In [162]:
with open("ambiguous_symbol_set.txt", "w") as file:
    for item in ambiguous_symbol_set:
        file.write(f"{item.strip()}\n")

In [163]:
with open("ambiguous_symbol_set.txt", "r") as file:
    # Read each line, strip newline characters, and convert to a set
    ambiguous_symbol_set = set(line.strip() for line in file)
len(ambiguous_symbol_set)

5050

In [164]:
ambiguous_symbol_set

{'L17',
 'GPAT',
 'TRNAV22',
 'SCYL1',
 'H2A',
 'LRP1',
 'STAG3L1, STAG3L3',
 'LMN2',
 'LINC02921',
 'FAH',
 'CXorf11',
 'ARTC1',
 'CMPD1',
 'HLA-DRB',
 'OSCP',
 'C2orf47',
 'P39',
 'CPAD',
 'DIA2',
 'HDGF2',
 'TMEFF1',
 'PKR2',
 'ACP',
 'F3',
 'NG2',
 'GC1',
 'MPP1',
 'HLP',
 'OR11-3',
 'TDH',
 'REF1',
 'MS4A4',
 'CEBPZ',
 'CRD',
 'HBP',
 'TRX-CAT1-4',
 'TSARG1',
 'H2AC16',
 'CSRP2BP',
 'HN1L',
 'HCG18',
 'ERV1',
 'KRTAP2-1',
 'SKD1',
 'RRP17',
 'p200',
 'CD277',
 'p56',
 'CAK1',
 'HBM',
 'SF',
 'AD1',
 'CBWD3',
 'TRR-CCG1-2',
 'LBP',
 'ZNF2',
 'SA',
 'HCI',
 'ROX',
 'ZNF141',
 'HM1',
 'TRW-CCA3-1',
 'SGT2',
 'TIH1',
 'DXS648E',
 'SWI2',
 'UBL5',
 'GCAP-II',
 'CIC',
 'NAPA',
 'BCR',
 'LOXL',
 'TRAC-1',
 'TBC1D3D',
 'CHED',
 'TNFRSF11B',
 'GAL7',
 'GLUT6',
 'TMS',
 'OR17-24',
 'ROC2',
 'BAF190',
 'BCS1',
 'GOT1',
 'PDZD5C',
 'AIP',
 'TRI-AAT5-3',
 'P54',
 'P38',
 'TTTY7B',
 'TRD-GTC2-11',
 'COT',
 'ABP-280',
 'CEACAM22P',
 'CTRP5',
 'BETA2',
 'C2orf27B',
 'CED12',
 'NTT',
 'OF',
 'RGP1',
 'A3A',
 'HGF',
 'CSRP',
 'SRS',
 'GAB1',
 'CHD5',
 'BSC',
 'TPS2',
 'B29',
 'ILT5',
 'BRX',
 'HU-2',
 'HBP3',
 'LDB1',
 'SENP2',
 'FCG1',
 'CT45A8, CT45A9',
 'CAP2, TMPRSS3',
 'PPIAL4F',
 'HET',
 'NAT1, NET1, SLC6A5',
 'GTF2A1L',
 'P2',
 'MSS4',
 'LOAS',
 'FLJ10052',
 'MRG2',
 'dJ221C16.8',
 'P68',
 'NOP9',
 'ARMD14',
 'FAE',
 'CAM3',
 'PAR4',
 'MPDZ',
 'PEPP1',
 'HOP',
 'HIS',
 'KRTAP4-7',
 'CAF-1',
 'LST3',
 'PAIS',
 'DFNB35',
 'Zfp27',
 'PAC-1',
 'SD',
 'ATS',
 'p25beta',
 'NPIPB',
 'LPCAT4',
 'PCDHX',
 'CHE1',
 'PMS2L2',
 'IMP',
 'HSPA1',
 'HIN1',
 'NAT3',
 'L14',
 'TRNAMI2',
 'GT1',
 'DP3',
 'NB',
 'MRLC2',
 'OPT',
 'TAL-H',
 'RhoGAP2',
 'RPL24',
 'NBS1',
 'eIF-2gA',
 'D17S1718',
 'DMTN',
 'TNRC14',
 'PRP4',
 'H3C14, H3C15',
 'SOSS-B2',
 'CLEC13B',
 'hg523',
 'GCN5',
 'HSD3',
 'PHR1',
 'NMI',
 'MU2',
 'VIP',
 'PRR23D2',
 'PP2Calpha',
 'H3C3',
 'ACA59',
 'CD1',
 'p100',
 'CSTP1',
 'LGMD1E',
 'S31III125',
 'PXR1',
 'TAF',
 'ASL',
 'PRR20E',
 'A15',
 'GTF2H2C_2',
 'ZNF183',
 'LAN',
 'ARPC4',
 'GJC1',
 'TP53TG3A',
 'SP5',
 'EMILIN3',
 'GCD',
 'PILRB',
 'MBD3',
 'SST2',
 'AK3L1',
 'PSCTK2',
 'AMY',
 'ME1',
 'TAL',
 'PDIR',
 'SCA8',
 'HYDINP1',
 'C6',
 'LRRC37A',
 'L7',
 'GGT',
 'P2Y11',
 'WBP1',
 'R2',
 'p240',
 'AMCN',
 'LAMP',
 'L15',
 'CER1',
 'TPP1',
 'CDP',
 'MRPS35',
 'PUMAG',
 'LD',
 'TRNAE-UUC',
 'CDR1as',
 'FAM25A, FAM25C',
 'MIG12',
 'LPLAT',
 'POU5F1',
 'HIST1H2BE',
 'LILRA5',
 'CRABP-II',
 'BG',
 'IBD1',
 'P57',
 'CHD2',
 'ATP6D',
 'OXR1',
 'SGT1',
 'PRSS1',
 'BDA2',
 'POB1',
 'LBNBG',
 'TRP-AGG2-8',
 'TKT',
 'GBBB2',
 'MLCK',
 'BS',
 'P-PST',
 'MBS',
 'FAAH',
 'S100A14',
 'PLP',
 'LARP',
 'TCF4',
 'NRP1',
 'AGPAT10',
 'RBM14',
 'C53',
 'MIC1',
 'CDR1-AS',
 'POM121L1P',
 'DC7',
 'SAA1',
 'S31I125',
 'H3-3A',
 'APM-1',
 'HOX2',
 'PAR-1',
 'RNASE4',
 'ARF1P2',
 'CGA',
 'L22',
 'ERG1',
 'TRN1',
 'DDX21',
 'AGS8',
 'T6BP',
 'H3C10, H3C11, H3C12, H3C2, H3C3, H3C4, H3C6, H3C7, H3C8',
 'RPS17L2',
 'THM',
 'PAAT',
 'BCAM',
 'SET7',
 'TADA1',
 'LBH',
 'CDG2T',
 'DEFB-4',
 'GRIN1',
 'HIST1H2BF',
 'UNQ192',
 'COMT2',
 'C17',
 'NL1',
 'EEF-1',
 'XAGE-1',
 'UGT1A, UGT1A1',
 'SPATA31D3',
 'SUR2',
 'FAM25A',
 'GEF',
 'SMAJ',
 'SAD1',
 'TH2-LCR',
 'MINERVA',
 'EBS4',
 'GOLGA5',
 'NPIPA8',
 'EDG2',
 'NSCL2',
 'A2M',
 'p20',
 'GP',
 'EIT-6',
 'PLEKHG5',
 'RNU1P2',
 'SMA4',
 'P23',
 'TC-1',
 'PIG1',
 'MCT5',
 'DEFB136',
 'APM1',
 'SAP1',
 'SIK',
 'TAP',
 'GEMIN1',
 'TBL1',
 'PABP3',
 'EEG1',
 'LAP1',
 'RP2',
 'HCRN',
 'MPP',
 'SAP190',
 'ANKRD33',
 'TSSK1',
 'IPP1',
 'H2AC13',
 'BAT1',
 'TCRAV15S1',
 'TRNAV-CAC',
 'CSP2, RCN2',
 'SNT2',
 'LAT3',
 'IFN-alpha-REC',
 'SAR1',
 'ACHRD',
 'TRE-TTC1-1',
 'MDP1',
 'CIR',
 'FOXO3B',
 'P84',
 'ST3GalA.2',
 'CAP1A',
 'MOSP',
 'ARSC',
 'RP66',
 'SNORD115-48',
 'E3',
 'UBP',
 'PTPA',
 'C10orf77',
 'MRPL32',
 'MBD1',
 'IAN6',
 '9G8',
 'EJM4',
 'HHS',
 'KIP2',
 'SYT',
 'CXorf52',
 'FCR-10',
 'FADS3',
 'NP1',
 'ATP-PFK',
 'MACS',
 'SIK-1',
 'IGLC6',
 'H4C9',
 'CPT',
 'CAP1',
 'L31',
 'SERPINA11',
 'EBS1',
 'KIAA0229',
 'CXorf51B',
 'PDIP1',
 'CT45A5, CT45A6',
 'SPS',
 'RNTMI2',
 'AN',
 'IGHER',
 'FEZ1',
 'GTB',
 'CT24.2',
 'GST',
 'THG1',
 'PRDX6',
 'H3C4',
 'cPLA2',
 'UGT1A1',
 'PACAP',
 'TTTY6',
 'CEA',
 'NTNG1',
 'INFE1',
 'POLD4',
 'NG2-6',
 'OR912-109',
 'KID',
 'MAT',
 'ZNF32',
 'NBN',
 'HC3',
 'CT45-5',
 'D-X',
 'PED',
 'NAPB',
 'FRMPD2',
 'PSF1',
 'LIP1',
 'TRIM49L2',
 'OR11-11a',
 'NANOGP4',
 'RCD1',
 'CK20',
 'M6A',
 'SL1',
 'TRK1',
 'LEU2',
 'CLAC',
 'p28',
 'CSP1, DSC1, RCN1',
 'ASIP',
 'PTEN2',
 'ATPM',
 'PAT1',
 'MAD',
 'METTL2A',
 'Y4',
 'HGRG8',
 'PRAF1',
 'ASH2',
 'ODC1',
 'TICAM2',
 'H4C5',
 'GCP2',
 'ARC20',
 'SCA31',
 'H4C1, H4C11, H4C13, H4C14, H4C15, H4C16, H4C2, H4C3, H4C4, H4C5, H4C6, H4C8, H4C9',
 'POP1',
 'FNTB',
 'DRB1',
 'L3',
 'TPX1',
 'MIP-2A',
 'CAPH2',
 'REN',
 'SHLD3',
 'HEATR8',
 'RASSF5',
 'IGHV3-3',
 'PAC1',
 'NPY4-R',
 'GAL',
 'SPANX-E',
 'ARC34',
 'FRAXE',
 'KRTAP4.7',
 'NRK2',
 'HCC',
 'PBI',
 'SCL',
 'BTD',
 'LPCAT',
 'MTTF1',
 'EMAP-2',
 'S9',
 'CK1',
 'HMCS',
 'BRCC2',
 'DEFB4',
 'TRYP2',
 'ZNF230',
 'hg674',
 'HNRNPCL2, HNRNPCL4',
 'GCP3',
 'STN1',
 'CT4.4',
 'FGF2',
 'HSFY',
 'CT45A2',
 'NET4',
 'CMT4E',
 'TS',
 'EMC19',
 'DHP',
 'SAS',
 'NCC-3',
 'ERVR',
 'GLP-1',
 'TCRAV9S1',
 'MSK16',
 'TIC',
 'C11orf3',
 'B4',
 'CKB',
 'PIK3CD',
 'PTC',
 'RAB4B',
 'DADR',
 'ED3',
 'PHD1',
 'GIG1',
 'CNA2',
 'RPS27AP',
 'PSG9',
 'PABP4',
 'SIP1',
 'HIST1H2BI',
 'PH2',
 'SLC9A6',
 'H2AC11, H2AC13, H2AC15, H2AC17',
 'U87',
 'U5B1',
 'TRI-AAT5-5',
 'OR19-6',
 'HCCR-1',
 'U13',
 'STM',
 'NET5',
 'MM1',
 'p52',
 'MCT1',
 'COX4',
 'CDC25L',
 'PRKACA',
 'H3C15',
 'IBGC1, IBGC2',
 'AIDA',
 'MIR8069',
 'KRAS',
 'SCP1',
 'DEFB108B',
 'PM5',
 'MGC15397',
 'MYM',
 'MEP',
 'AGS3',
 'ZNT8',
 'ATP2B2',
 'DNF15S2',
 'WRS',
 'DSEP',
 'p58',
 'C9orf36',
 'STAG1',
 'PFM',
 'CYB560',
 'TRG-GCC2-5',
 'SMF',
 'NF1HHS',
 'MIR499A',
 'LAG-1',
 'HRS',
 'ZNF264',
 'L4',
 'TRF-GAA1-4',
 'HPP',
 'BAP1',
 'COL6A4',
 'EIT6',
 'ADPRTL2',
 'RNA45S4',
 'BAM',
 'CTH',
 'LQT5',
 'AK3L2',
 'HL1',
 'DYT14',
 'CLCP1',
 'KRTAP2-4',
 'TEB1',
 'DCR1',
 'ATG8',
 'CS1',
 'FABP5P1',
 'HNP-1',
 'RBMY1A1',
 'COD1',
 'RAK',
 'H3.1',
 'RUS',
 'HAP40',
 'KIR2DL5',
 'GEF720',
 'DVL1',
 'EPR-1',
 'COX',
 'C18orf53',
 'TCRBV12S2',
 'OX2R',
 'II',
 'MGL',
 'TAFII105',
 'CUZD1',
 'PTX2',
 'ANF',
 'CRP',
 'WASH',
 'POTE',
 'TTG1',
 'H4C1, H4C11, H4C12, H4C13, H4C14, H4C15, H4C16, H4C2, H4C3, H4C4, H4C5, H4C6, H4C9',
 'PP610',
 'ING2',
 'TRAV11',
 'TUBB2',
 'TIP39',
 'GR',
 'CLDN21',
 'PRM1',
 'PEPP2',
 'H3',
 'CSA',
 'CAP2',
 'MTP',
 'AGM1',
 'MGR',
 'OR9G1',
 'p67',
 'NOS2',
 'L30',
 'DSH',
 'USP21',
 'IMP4',
 'PRR2',
 'HIST2H2BD',
 'CAPG',
 'DUSP13',
 'PRGA',
 'POTEB',
 'PSBG-9',
 'KAL',
 'CTSO',
 'TRR-TCT3-1',
 'TCRAV30S1',
 'H2AC19',
 'OR52I1',
 'GP40',
 'ST1A3/ST1A4',
 'KRTHB1',
 'ORC2',
 'ANG3',
 'EIF4F',
 'TRI-AAT5-1',
 'BTN1',
 'MRP-S28',
 'U62',
 'NANOGP6',
 'H2BC4',
 'DRG1',
 'MAGEA4',
 'SDH3',
 'HPC7',
 'RNU1-6P',
 'LIMS4',
 'APS1',
 'L13A',
 'PAR2',
 'FRA10A',
 'RFMN',
 'PGDS',
 'USP17L25, USP17L26, USP17L27, USP17L28, USP17L29, USP17L30',
 'RBMY1C',
 'NPR2',
 'CARMEN',
 'DLK',
 'FLJ10883',
 'UGT1-03',
 'PAG',
 'PAGB',
 'NOS3',
 'polymerase',
 'TCRGV5P',
 'SIRPB2',
 'MMP23A',
 'FAN1',
 'CD25',
 'MHF1',
 'RMP',
 'PPP1R6',
 'BBP',
 'SWS1',
 'P27',
 'DFNA2',
 'KRTAP5-6',
 'RNA5-8SP',
 'CPN1',
 'TR3',
 'KAP',
 'STP',
 'K35',
 'PRR23D1',
 'RAB1C',
 'PLAP-1',
 'MIR198',
 'DLP1',
 'LP',
 'EIF2B',
 'GOP',
 'P21',
 'CTA',
 'INT2',
 'BCRP1',
 'ZSCAN31',
 'GCAP',
 'TRIP1',
 'SSF1',
 'RGS9',
 'HZF2',
 'ZFP27',
 'RPEL1',
 'MP44',
 'PCM1',
 'TSPY10, TSPY8',
 'PAN3',
 'BGP',
 'SCYA3L1',
 'TRX-CAT1-2',
 'PAO',
 'GUSBP9',
 'CXorf49',
 'RRP4',
 'TER',
 'NAT5P',
 'DSPS',
 'TSBP',
 'SI',
 'RBM5-AS1',
 'COX11P',
 'Rsc8',
 'BOLA2B',
 'RNASE9',
 'PRAAS3',
 'VR1',
 'HDMX',
 'TRNP',
 'CYP11B',
 'C16DUPp11.2',
 'AP3Aase',
 'SST1',
 'OPLL',
 'KCR1',
 'FAM25A, FAM25C, FAM25G',
 'AG1',
 'HCC-2',
 'FBL6',
 'SPRING',
 'P29',
 'CD',
 'MKS',
 'LSAMP-AS1',
 'FCRIII',
 'SSS1',
 'NBPF9',
 'PAM',
 'D6S230E',
 'CYPH',
 'MLC2',
 'M-ABC2',
 'WT2',
 'ELP1',
 'G2',
 'GNT1',
 'L13',
 'p115',
 'BD-5',
 'NT3',
 'SAC2',
 'C82',
 'H2AC15',
 'PIR-B',
 'CT45A4',
 'HSP70.2',
 'ERG-1',
 'MED',
 'HSP70-1',
 'HS1',
 'LINC00516',
 'TRNAI-AAU',
 'EIF4A',
 'MYPOP',
 'CPX2',
 'MLL2',
 '61E3.4',
 'P11',
 'TRH-GTG1-7',
 'EBS3',
 'p17',
 'SMAP1',
 'CFAP90',
 'D3F15S2',
 'TMEM123',
 'ALS',
 'TRY-GTA5-3',
 'CAB1',
 'RGP4',
 'ZNF408',
 'ISGF-3',
 'TRIM49D1',
 'MIO',
 'SPANXE',
 'DLD',
 'CRAM',
 'TERA',
 'RNU6-373P',
 'TAX1BP2',
 'RALBP1',
 'DEF3',
 'GDH2',
 'SEPT2',
 'DEFB103',
 'CIT',
 'TAP1',
 'NR1',
 'DD3',
 'AHRR',
 'p35',
 'ESO1',
 'ALS2CR3',
 'UBXD10',
 'SWD2',
 'CSB',
 'IAN2',
 'APITD1',
 'L9',
 'AG3',
 'CPTI-M',
 'ECD',
 'PLB',
 'IRAP',
 'EVR1',
 'PSS',
 'MRP8',
 'CCK',
 'JBS',
 'ILERS',
 'TCRBV25S1',
 'B18',
 'PSP',
 'TPH2',
 'PBP',
 'PSK-1',
 'H2AC11',
 'SCARNA17',
 'HK1',
 'H5',
 'PKD3',
 'TSPY1, TSPY10',
 'TP53TG3E, TP53TG3F',
 'BDPLT14, THAS',
 'TLP',
 'E2-1',
 'TDO',
 'HBSCI',
 'HAI',
 'LAT2',
 'p75',
 'SPDYE13',
 'KIR2DL3',
 'AZ1',
 'MADA',
 'PSA',
 'IGHV',
 'VARS2',
 'COAS3',
 'TRNAG34P',
 'GSG1',
 'TCRBV21S1',
 'GPT',
 'CES2',
 'SAP',
 'TCRAV5S1',
 'COD5',
 'KNTC1AP',
 'FAM25C',
 'TCEB1L',
 'FBP',
 'ZRC1',
 'P6',
 'OST',
 'DHX40P1, TBC1D3P1',
 'APP1',
 'BRAP',
 'TCF6L1',
 'NIDDM1',
 'HIST1H2BG',
 'AF-1',
 'DERPC',
 'ST1A4',
 'PRG',
 'UP2',
 'RASA1',
 'SLEB6',
 'SPG',
 'CKS1',
 'GRO1',
 'HGPS',
 'DEFB-8',
 'TBC1D3L',
 'Z18',
 'T2D',
 'FAS',
 'CLK1',
 'IL25, IL27',
 'MTHFS',
 'STAG3L1, STAG3L2',
 'TTTY8',
 'RP8',
 'KS1',
 'GUP1',
 'C11orf48',
 'L19',
 'CH507-154B10.1',
 'MLX',
 'SBBI31',
 'LIMS3L',
 'U8',
 'EPAC',
 'OI6',
 'NS3TP1',
 'SMG',
 'TR2',
 'FMLP-R-II',
 'DDC8',
 'SNRNP65',
 'NEDSMBA',
 'dJ353E16.2',
 'VMA2',
 'CAT',
 'AG2',
 'Tyr-tRNA',
 'MIR1291',
 'APG1',
 'PHHI',
 'ATP6G',
 'SMAC3L',
 'TRI-AAT5-2',
 'MIP-5',
 'C1QTNF15',
 'MAL',
 'NT5C1B',
 'TIRP',
 'SULT1A3',
 'IK1',
 'NOR1',
 'UGT2',
 'GLUD1',
 'RHA',
 'APPL2',
 'EA1',
 'TSG',
 'hBD-4',
 'NAT-1',
 'VWS2',
 'PLGLA',
 'IFN-ALPHAI',
 'CT11.1',
 'POLG',
 'ACC1',
 'HOX1',
 'PKD4',
 'SLC4A5',
 'MDK',
 'MCT',
 'TRNAN-GUU',
 'EBN1',
 'AD026',
 'PSMD15',
 'BED',
 'MRX95',
 'LYS2',
 'U3a',
 'HN3',
 'MS4A8',
 'GH',
 'HCCR-2',
 ...}

### <a id='toc1_1_2_'></a>[Primary exploration of DGIdb gene content using collisions](#toc0_)

#### <a id='toc1_1_2_1_'></a>[Load gene claim data from DGIdb](#toc0_)

In [165]:
dgidb_gene_df = pd.read_csv(
    "dgidb_genes_JUNE.tsv", sep="\t", na_values=["", "NULL"], keep_default_na=False
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17

In [166]:
num_total_claims = len(dgidb_gene_df)

In [167]:
dgidb_gene_df.loc[dgidb_gene_df["gene_claim_name"] == "HES1"]

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version
30772,HES1,Gene Symbol,hgnc:5192,HES1,Pharos,10-Apr-24
76844,HES1,Gene Symbol,hgnc:5192,HES1,HGNC,20240408
76845,HES1,Gene Symbol,hgnc:5192,HES1,NCBI,20240410
76846,HES1,Gene Symbol,hgnc:5192,HES1,Ensembl,111
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17

#### <a id='toc1_1_2_2_'></a>[How many claims are placed in a gene group with a different label?](#toc0_)

In [168]:
dgidb_gene_df.query("gene_name != gene_claim_name")

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
...,...,...,...,...,...,...
79999,SEPT5,Gene Symbol,hgnc:9164,SEPTIN5,FoundationOneGenes,9/3/20
80014,ENSEMBL:ENSG00000185821,Ensembl Gene ID,hgnc:31305,OR6C76,RussLampel,26-Jul-11
80053,SEPT5,Gene Symbol,hgnc:9164,SEPTIN5,CarisMolecularIntelligence,9/4/20
80166,SEPT6,Gene Symbol,hgnc:15848,SEPTIN6,CarisMolecularIntelligence,9/4/20
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20

#### <a id='toc1_1_2_3_'></a>[How many claims are not normalized?](#toc0_)

claims without a symbol/name/identifier
 (there shouldn't be any hooray)

In [169]:
no_claim_symbols_df = dgidb_gene_df[dgidb_gene_df["gene_claim_name"].isnull()]
no_claim_symbols_df

Empty DataFrame
Columns: [gene_claim_name, nomenclature, concept_id, gene_name, source_db_name, source_db_version]
Index: []

In [170]:
no_name_symbols_df = dgidb_gene_df[dgidb_gene_df["gene_name"].isnull()]
num_not_normalized_claims = len(no_name_symbols_df)
num_not_normalized_claims

2144

In [171]:
num_normalized_claims = num_total_claims - num_not_normalized_claims

#### <a id='toc1_1_2_4_'></a>[Create set of gene groups (gene_name) and gene claims (gene_claim_name)](#toc0_)

In [172]:
dgidb_name_set = set(dgidb_gene_df["gene_name"])
len(dgidb_name_set)

12001

In [173]:
dgidb_gene_claim_name_set = set(dgidb_gene_df["gene_claim_name"])
len(dgidb_gene_claim_name_set)

26739

#### <a id='toc1_1_2_5_'></a>[Load HGNC, Ensembl (ENSG), and NCBI gene and alias sets](#toc0_)

Input: mini_hgnc_df, mini_ensg_df, mini_ncbi_df (total_alias_gene_intersections.ipynb)

Output: x_gene_symbol_set, x_alias_symbol_set where x is ncbi, ensg or ncbi

In [174]:
mini_hgnc_df = pd.read_csv(
    "Downloaded_files/mini_hgnc_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [175]:
mini_ensg_df = pd.read_csv(
    "Downloaded_files/mini_ensg_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [176]:
mini_ncbi_df = pd.read_csv(
    "Downloaded_files/mini_ncbi_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [177]:
hgnc_gene_symbol_set = set(mini_hgnc_df["gene_symbol"])
len(hgnc_gene_symbol_set)

45646

In [178]:
ensg_gene_symbol_set = set(mini_ensg_df["gene_symbol"])
len(ensg_gene_symbol_set)

41068

In [179]:
ncbi_gene_symbol_set = set(mini_ncbi_df["gene_symbol"])
len(ncbi_gene_symbol_set)

193303

In [180]:
hgnc_alias_symbol_set = set(mini_hgnc_df["alias_symbol"])
len(hgnc_alias_symbol_set)

22583

In [181]:
ensg_alias_symbol_set = set(mini_ensg_df["alias_symbol"])
len(ensg_alias_symbol_set)

24717

In [182]:
ncbi_alias_symbol_set = set(mini_ncbi_df["alias_symbol"])
len(ncbi_alias_symbol_set)

27486

#### <a id='toc1_1_2_6_'></a>[How many unique primary gene symbols are there b/w HGNC, Ensembl, and NCBI?](#toc0_)

In [183]:
hgnc_ensg_gene_symbol_set = hgnc_gene_symbol_set.union(ensg_gene_symbol_set)

In [184]:
hgnc_ensg_ncbi_gene_symbol_set = hgnc_ensg_gene_symbol_set.union(ncbi_gene_symbol_set)
len(hgnc_ensg_ncbi_gene_symbol_set)

194866

#### <a id='toc1_1_2_7_'></a>[How many unique alias symbols are there b/w HGNC, Ensembl, and NCBI?](#toc0_)

In [185]:
hgnc_ensg_alias_symbol_set = hgnc_alias_symbol_set.union(ensg_alias_symbol_set)

In [186]:
hgnc_ensg_ncbi_alias_symbol_set = hgnc_ensg_alias_symbol_set.union(
    ncbi_alias_symbol_set
)
len(hgnc_ensg_ncbi_alias_symbol_set)

63935

#### <a id='toc1_1_2_8_'></a>[How many unique group names are not primary gene symbols?](#toc0_)

In [187]:
name_ensg_notmatch = dgidb_name_set.difference(ensg_gene_symbol_set)
len(name_ensg_notmatch)

298

In [188]:
name_hgnc_notmatch = dgidb_name_set.difference(hgnc_gene_symbol_set)
len(name_hgnc_notmatch)

25

In [189]:
cleaned_name_hgnc_notmatch = [x for x in name_hgnc_notmatch if str(x) != "NaN"]
len(cleaned_name_hgnc_notmatch)

25

In [190]:
name_ncbi_notmatch = dgidb_name_set.difference(ncbi_gene_symbol_set)
len(name_ncbi_notmatch)

97

In [191]:
name_ncbi_hgnc_notmatch = name_ncbi_notmatch.difference(hgnc_gene_symbol_set)
len(name_ncbi_hgnc_notmatch)

9

How many groups are labeled with a symbol not found in the sets of primary symbols from HGNC, NCBI, or ENSG?

In [192]:
name_ncbi_hgnc_ensg_notmatch = name_ncbi_hgnc_notmatch.difference(ensg_gene_symbol_set)
len(name_ncbi_hgnc_ensg_notmatch)

8

In [193]:
len(dgidb_name_set)

12001

#### <a id='toc1_1_2_9_'></a>[How many unique claims are not primary gene symbols?](#toc0_)

In [194]:
gene_claim_name_ensg_notmatch = dgidb_gene_claim_name_set.difference(
    ensg_gene_symbol_set
)
len(gene_claim_name_ensg_notmatch)

15029

In [195]:
cleaned_gene_claim_name_ensg_notmatch = [
    x for x in gene_claim_name_ensg_notmatch if str(x) != "NaN"
]
len(cleaned_gene_claim_name_ensg_notmatch)

15029

In [196]:
gene_claim_name_hgnc_notmatch = dgidb_gene_claim_name_set.difference(
    hgnc_gene_symbol_set
)
len(gene_claim_name_hgnc_notmatch)

14755

In [197]:
gene_claim_name_ncbi_notmatch = dgidb_gene_claim_name_set.difference(
    ncbi_gene_symbol_set
)
len(gene_claim_name_ncbi_notmatch)

14828

In [198]:
gene_claim_name_ncbi_hngc_notmatch = gene_claim_name_ncbi_notmatch.difference(
    hgnc_gene_symbol_set
)
len(gene_claim_name_ncbi_hngc_notmatch)

14738

How many unique claims are not primary symbols

In [199]:
gene_claim_name_ncbi_hngc_ensg_notmatch = gene_claim_name_ncbi_hngc_notmatch.difference(
    ensg_gene_symbol_set
)
num_not_primary_claims = len(gene_claim_name_ncbi_hngc_ensg_notmatch)
num_not_primary_claims

14735

#### <a id='toc1_1_2_10_'></a>[Load the collision sets from each data source](#toc0_)

Input: aa_collision_x_df.csv (total_alis_overlap.ipynb)

Output: x_alias_alias_collision_set

In [200]:
aa_collision_hgnc_df = pd.read_csv(
    "created_files/aa_collision_hgnc_df.csv",
    na_values=["", "NULL"],
    keep_default_na=False,
)

In [201]:
hgnc_alias_alias_collision_set = set(aa_collision_hgnc_df["alias_symbol"])
len(hgnc_alias_alias_collision_set)

673

In [202]:
aa_collision_ncbi_df = pd.read_csv(
    "created_files/aa_collision_ncbi_df.csv",
    na_values=["", "NULL"],
    keep_default_na=False,
)

In [203]:
ncbi_alias_alias_collision_set = set(aa_collision_ncbi_df["alias_symbol"])
len(ncbi_alias_alias_collision_set)

3476

In [204]:
aa_collision_ensg_df = pd.read_csv(
    "created_files/aa_collision_ensg_df.csv",
    na_values=["", "NULL"],
    keep_default_na=False,
)

In [205]:
ensg_alias_alias_collision_set = set(aa_collision_ensg_df["alias_symbol"])
len(ensg_alias_alias_collision_set)

1149

#### <a id='toc1_1_2_11_'></a>[How many unique group names are primary gene symbols?](#toc0_)

In [206]:
name_hgnc_match = dgidb_name_set.intersection(hgnc_gene_symbol_set)
len(name_hgnc_match)

11976

In [207]:
name_ensg_match = dgidb_name_set.intersection(ensg_gene_symbol_set)
len(name_ensg_match)

11703

In [208]:
name_ncbi_match = dgidb_name_set.intersection(ncbi_gene_symbol_set)
len(name_ncbi_match)

11904

In [209]:
name_ncbi_ensg_match = name_ncbi_match.intersection(ensg_gene_symbol_set)
len(name_ncbi_ensg_match)

11685

In [210]:
name_ncbi_ensg_hgnc_match = name_ncbi_ensg_match.intersection(hgnc_gene_symbol_set)
len(name_ncbi_ensg_hgnc_match)

11684

#### <a id='toc1_1_2_12_'></a>[How many of the groups that are labeled with a primary gene symbol are also alias-alias collisions?](#toc0_)

In [211]:
name_ncbi_match_aacollision = name_ncbi_match.intersection(
    ncbi_alias_alias_collision_set
)
len(name_ncbi_match_aacollision)

124

In [212]:
name_ensg_match_aacollision = name_ensg_match.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_match_aacollision)

8

In [213]:
name_ensg_notmatch_aacollision = name_ensg_notmatch.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_notmatch_aacollision)

1

#### <a id='toc1_1_2_13_'></a>[How many unique claim symbols are collisions?](#toc0_)

In [214]:
gene_claim_name_ensg_aacollision_match = dgidb_gene_claim_name_set.intersection(
    ensg_alias_alias_collision_set
)
len(gene_claim_name_ensg_aacollision_match)

23

In [215]:
gene_claim_name_hgnc_aacollision_match = dgidb_gene_claim_name_set.intersection(
    hgnc_alias_alias_collision_set
)
len(gene_claim_name_hgnc_aacollision_match)

21

In [216]:
gene_claim_name_ncbi_aacollision_match = dgidb_gene_claim_name_set.intersection(
    ncbi_alias_alias_collision_set
)
len(gene_claim_name_ncbi_aacollision_match)

221

#### <a id='toc1_1_2_14_'></a>[How many unique groups are labeled with collisions?](#toc0_)

In [217]:
name_ensg_aacollision_match = dgidb_name_set.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_aacollision_match)

9

In [218]:
name_hgnc_aacollision_match = dgidb_name_set.intersection(
    hgnc_alias_alias_collision_set
)
len(name_hgnc_aacollision_match)

8

In [219]:
name_ncbi_aacollision_match = dgidb_name_set.intersection(
    ncbi_alias_alias_collision_set
)
len(name_ncbi_aacollision_match)

126

#### <a id='toc1_1_2_15_'></a>[How many unique claims are not primary gene symbols?](#toc0_)

In [220]:
gene_claim_name_hgnc_notmatch = dgidb_gene_claim_name_set.difference(
    hgnc_gene_symbol_set
)
len(gene_claim_name_hgnc_notmatch)

14755

In [221]:
gene_claim_name_ensg_notmatch = dgidb_gene_claim_name_set.difference(
    ensg_gene_symbol_set
)
len(gene_claim_name_ensg_notmatch)

15029

In [222]:
gene_claim_name_ncbi_notmatch = dgidb_gene_claim_name_set.difference(
    ncbi_gene_symbol_set
)
len(gene_claim_name_ncbi_notmatch)

14828

#### <a id='toc1_1_2_16_'></a>[How many unique claims that were not primary symbols are collisions?](#toc0_)

In [223]:
gene_claim_name_hgnc_notmatch_aacollision = gene_claim_name_hgnc_notmatch.intersection(
    hgnc_alias_alias_collision_set
)
len(gene_claim_name_hgnc_notmatch_aacollision)

13

In [224]:
gene_claim_name_ncbi_notmatch_aacollision = gene_claim_name_ncbi_notmatch.intersection(
    ncbi_alias_alias_collision_set
)
len(gene_claim_name_ncbi_notmatch_aacollision)

97

In [225]:
gene_claim_name_ensg_notmatch_aacollision = gene_claim_name_ensg_notmatch.intersection(
    ensg_alias_alias_collision_set
)
len(gene_claim_name_ensg_notmatch_aacollision)

15

#### <a id='toc1_1_2_17_'></a>[How many unique claims that are primary gene symbols are also collisions?](#toc0_)

In [226]:
gene_claim_name_hgnc_match = dgidb_gene_claim_name_set.intersection(
    hgnc_gene_symbol_set
)
len(gene_claim_name_hgnc_match)

11984

In [227]:
gene_claim_name_hgnc_match_aacollision = gene_claim_name_hgnc_match.intersection(
    hgnc_alias_alias_collision_set
)
len(gene_claim_name_hgnc_match_aacollision)

8

In [228]:
gene_claim_name_ncbi_match = dgidb_gene_claim_name_set.intersection(
    ncbi_gene_symbol_set
)
len(gene_claim_name_ncbi_match)

11911

In [229]:
gene_claim_name_ncbi_match_aacollision = gene_claim_name_ncbi_match.intersection(
    ncbi_alias_alias_collision_set
)
len(gene_claim_name_ncbi_match_aacollision)

124

In [230]:
gene_claim_name_ensg_match = dgidb_gene_claim_name_set.intersection(
    ensg_gene_symbol_set
)
len(gene_claim_name_ensg_match)

11710

In [231]:
gene_claim_name_ensg_match_aacollision = gene_claim_name_ensg_match.intersection(
    ensg_alias_alias_collision_set
)
len(gene_claim_name_ensg_match_aacollision)

8

#### <a id='toc1_1_2_18_'></a>[How many of the gene groups that are not primary gene symbols are alias-alias collisions from HGNC?](#toc0_)

In [232]:
name_hngc_notmatch_aacollision = name_hgnc_notmatch.intersection(
    hgnc_alias_alias_collision_set
)
len(name_hngc_notmatch_aacollision)

0

In [233]:
name_ncbi_notmatch_aacollision = name_ncbi_notmatch.intersection(
    ncbi_alias_alias_collision_set
)
len(name_ncbi_notmatch_aacollision)

2

In [234]:
name_ensg_notmatch_aacollision = name_ensg_notmatch.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_notmatch_aacollision)

1

#### <a id='toc1_1_2_19_'></a>[How many claims are ambiguous symbols?](#toc0_)

In [235]:
dgidb_gene_df["claim_ambiguous_status"] = dgidb_gene_df["gene_claim_name"].isin(
    ambiguous_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False

In [236]:
dgidb_gene_df["claim_ambiguous_status"].value_counts()

claim_ambiguous_status
False    75819
True      4415
Name: count, dtype: int64

In [237]:
ambiguous_claim_df = dgidb_gene_df.loc[dgidb_gene_df["claim_ambiguous_status"]]
num_ambiguous_claim = len(ambiguous_claim_df)
num_ambiguous_claim

4415

In [238]:
ambiguous_claim_df.loc[ambiguous_claim_df["gene_claim_name"] == "TR2"]

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status
18,TR2,NCBI Gene Name,hgnc:7971,NR2C1,BaderLab,Feb-14,True

#### <a id='toc1_1_2_20_'></a>[How many gene group labels are ambiguous symbols?](#toc0_)

In [239]:
dgidb_gene_df["name_ambiguous_status"] = dgidb_gene_df["gene_name"].isin(
    ambiguous_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False

In [240]:
dgidb_gene_df["name_ambiguous_status"].value_counts()

name_ambiguous_status
False    75009
True      5225
Name: count, dtype: int64

In [241]:
ambiguous_name_df = dgidb_gene_df.loc[dgidb_gene_df["name_ambiguous_status"]]
num_ambiguous_name = len(ambiguous_name_df)
num_ambiguous_name

5225

#### <a id='toc1_1_2_21_'></a>[How many claims are primary symbols?](#toc0_)

In [242]:
dgidb_gene_df["claim_primary_status"] = dgidb_gene_df["gene_claim_name"].isin(
    hgnc_ensg_ncbi_gene_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True

In [243]:
dgidb_gene_df["claim_primary_status"].value_counts()

claim_primary_status
True     64209
False    16025
Name: count, dtype: int64

In [244]:
primary_claim_df = dgidb_gene_df.loc[dgidb_gene_df["claim_primary_status"]]
num_primary_claim = len(primary_claim_df)
num_primary_claim

64209

#### <a id='toc1_1_2_22_'></a>[How many gene group labels are primary symbols?](#toc0_)

In [245]:
dgidb_gene_df["name_primary_status"] = (
    dgidb_gene_df["gene_name"].astype(str).isin(hgnc_ensg_ncbi_gene_symbol_set)
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True,True
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True,True
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False,True
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True,True

In [246]:
dgidb_gene_df["name_primary_status"].value_counts()

name_primary_status
True     78074
False     2160
Name: count, dtype: int64

In [247]:
primary_name_df = dgidb_gene_df.loc[dgidb_gene_df["name_primary_status"]]
num_primary_name = len(primary_name_df)
num_primary_name

78074

In [248]:
not_primary_group_name_df = dgidb_gene_df.loc[~dgidb_gene_df["name_primary_status"]]
not_primary_group_name_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
57108,NCBIGENE:2614,NCBI Gene ID,ncbigene:2614,GAPDHL17,GuideToPharmacology,2024.1,False,False,False,False
57552,CYB5P1,Gene Symbol,ncbigene:1529,CYB5P1,NCBI,20240410,False,False,False,False
66195,OA1,Gene Symbol,ncbigene:474285,OA1,NCBI,20240410,False,False,False,False
66196,OA1,Gene Symbol,ncbigene:474285,OA1,dGene,27-Jun-13,False,False,False,False
74562,ATP5A2,Gene Symbol,ncbigene:499,ATP5A2,NCBI,20240410,False,False,False,False

#### <a id='toc1_1_2_23_'></a>[How many gene group labels are alias symbols?](#toc0_)

In [249]:
dgidb_gene_df["name_alias_status"] = dgidb_gene_df["gene_name"].isin(
    hgnc_ensg_ncbi_alias_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True,True,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True,True,False
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True,True,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False,True,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True,True,False

In [250]:
dgidb_gene_df["name_alias_status"].value_counts()

name_alias_status
False    77224
True      3010
Name: count, dtype: int64

In [251]:
alias_name_df = dgidb_gene_df.loc[dgidb_gene_df["name_alias_status"]]
num_alias_name = len(alias_name_df)
num_alias_name

3010

In [252]:
print("Calmbp1" in hgnc_ensg_ncbi_alias_symbol_set)

False

#### <a id='toc1_1_2_24_'></a>[How many claims are alias symbols?](#toc0_)

In [253]:
dgidb_gene_df["claim_alias_status"] = dgidb_gene_df["gene_claim_name"].isin(
    hgnc_ensg_ncbi_alias_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status,claim_alias_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True,True,False,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True,True,False,False
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True,True,False,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False,True,False,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True,True,False,False

In [254]:
dgidb_gene_df["claim_alias_status"].value_counts()

claim_alias_status
False    79378
True       856
Name: count, dtype: int64

In [255]:
alias_claims_df = dgidb_gene_df.loc[dgidb_gene_df["claim_alias_status"]]
num_alias_claims = len(alias_claims_df)
num_alias_claims

856

#### <a id='toc1_1_2_25_'></a>[How many claims that were normalized into non-primary symbol labeled groups are alias symbols?](#toc0_)

In [256]:
dgidb_gene_df["claim_alias_status"] = dgidb_gene_df["gene_claim_name"].isin(
    hgnc_ensg_ncbi_alias_symbol_set
)
alias_claim_not_primary_group_name_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_alias_status"] & ~dgidb_gene_df["name_primary_status"]
]
alias_claim_not_primary_group_name_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status,claim_alias_status
55006,ACT,Gene Symbol,ncbigene:389036,ACT,NCBI,20240410,True,True,False,False,True,True
66195,OA1,Gene Symbol,ncbigene:474285,OA1,NCBI,20240410,False,False,False,False,True,True
66196,OA1,Gene Symbol,ncbigene:474285,OA1,dGene,27-Jun-13,False,False,False,False,True,True

#### <a id='toc1_1_2_26_'></a>[How many not normalized claims are alias symbols?](#toc0_)

In [257]:
alias_claim_null_name_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_alias_status"] & dgidb_gene_df["gene_name"].isnull()
]
len(alias_claim_null_name_df)

0

#### <a id='toc1_1_2_27_'></a>[How many gene group labels are not primary, alias symbols, or null?](#toc0_)

In [258]:
other_name_df = dgidb_gene_df.loc[
    ~dgidb_gene_df["name_alias_status"]
    & ~dgidb_gene_df["name_primary_status"]
    & ~dgidb_gene_df["gene_name"].isnull()
]
num_other_name = len(other_name_df)
num_other_name

12

#### <a id='toc1_1_2_28_'></a>[How many claims are not primary, alias symbols, or null?](#toc0_)

In [259]:
other_claim_df = dgidb_gene_df.loc[
    ~dgidb_gene_df["claim_alias_status"] & ~dgidb_gene_df["claim_primary_status"]
]
num_other_claim = len(other_claim_df)
num_other_claim

15899

#### <a id='toc1_1_2_29_'></a>[How many claims are primary and alias symbols?](#toc0_)

In [260]:
primaryandalias_claim_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_alias_status"] & dgidb_gene_df["claim_primary_status"]
]
num_primaryandalias_claim = len(primaryandalias_claim_df)
num_primaryandalias_claim

730

#### <a id='toc1_1_2_30_'></a>[How many primary symbol claims are normalized into non-primary gene group labels?](#toc0_)

In [261]:
claim_true_name_false_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_primary_status"] & ~dgidb_gene_df["name_primary_status"]
]
claim_true_name_false_df

Empty DataFrame
Columns: [gene_claim_name, nomenclature, concept_id, gene_name, source_db_name, source_db_version, claim_ambiguous_status, name_ambiguous_status, claim_primary_status, name_primary_status, name_alias_status, claim_alias_status]
Index: []

In [262]:
len(claim_true_name_false_df)

0

### <a id='toc1_1_3_'></a>[Summary](#toc0_)

#### <a id='toc1_1_3_1_'></a>[Normalization Rates](#toc0_)

In [263]:
normalization_index = "Normalized", "Not Normalized", "Total"
normalization_summary = {
    "Number of Claims": [
        num_normalized_claims,
        num_not_normalized_claims,
        num_total_claims,
    ]
}
normalization_summary_df = pd.DataFrame(
    normalization_summary, index=normalization_index
)
normalization_summary_df

                Number of Claims
Normalized                 78090
Not Normalized              2144
Total                      80234

#### <a id='toc1_1_3_2_'></a>[Types of Claim Symbols](#toc0_)

- Primary and Alias symbols are not exclusive as some primary symbols are used as aliases (alias-primary collisions)
- Other does not include any Primary or Alias symbols
- Ambiguous symbols can be either Primary or Alias

In [264]:
claim_index = "Primary", "Alias", "Other", "Ambiguous", "Total"
claim_summary = {
    "Number of Claims": [
        num_primary_claim,
        num_alias_claims,
        num_other_claim,
        num_ambiguous_claim,
        num_total_claims,
    ]
}
claim_summary_df = pd.DataFrame(claim_summary, index=claim_index)
claim_summary_df

           Number of Claims
Primary               64209
Alias                   856
Other                 15899
Ambiguous              4415
Total                 80234

#### <a id='toc1_1_3_3_'></a>[Types of Normalizations (gene group labels claims are being normliazed into)](#toc0_)

In [266]:
gene_group_index = "Primary", "Alias", "Null", "Other", "Ambiguous", "Total"
gene_group_summary = {
    "Number of Claims": [
        num_primary_name,
        num_alias_name,
        num_not_normalized_claims,
        num_other_name,
        num_ambiguous_name,
        num_total_claims,
    ]
}
gene_group_summary_df = pd.DataFrame(gene_group_summary, index=gene_group_index)
gene_group_summary_df

           Number of Claims
Primary               78074
Alias                  3010
Null                   2144
Other                    12
Ambiguous              5225
Total                 80234