# <a id='toc1_'></a>[DGIdb ambiguous claims](#toc0_)

**Table of contents**<a id='toc0_'></a>    
- [DGIdb ambiguous claims](#toc1_)    
    - [Analyzing similaritis b/w alias-primary and alias-alias collisions](#toc1_1_1_)    
      - [Load merged alias-alias and alias-priamry collision sets. Symbols are the ambiguous symbols.](#toc1_1_1_1_)    
      - [How many of the alias-primary collisions are also alias-alias collisions?](#toc1_1_1_2_)    
      - [How many unique ambiguous symbosl are there b/w alias-primary and alias-alias collisions?](#toc1_1_1_3_)    
    - [Primary exploration of DGIdb gene content using collisions](#toc1_1_2_)    
      - [Load gene claim data from DGIdb](#toc1_1_2_1_)    
      - [How many claims are placed in a gene group with a different label?](#toc1_1_2_2_)    
      - [How many claims are not normalized?](#toc1_1_2_3_)    
      - [Create set of gene groups (gene_name) and gene claims (gene_claim_name)](#toc1_1_2_4_)    
      - [Load HGNC, Ensembl (ENSG), and NCBI gene and alias sets](#toc1_1_2_5_)    
      - [How many unique primary gene symbols are there b/w HGNC, Ensembl, and NCBI?](#toc1_1_2_6_)    
      - [How many unique alias symbols are there b/w HGNC, Ensembl, and NCBI?](#toc1_1_2_7_)    
      - [How many unique group names are not primary gene symbols?](#toc1_1_2_8_)    
      - [How many unique claims are not primary gene symbols?](#toc1_1_2_9_)    
      - [Load the collision sets from each data source](#toc1_1_2_10_)    
      - [How many unique group names are primary gene symbols?](#toc1_1_2_11_)    
      - [How many of the groups that are labeled with a primary gene symbol are also alias-alias collisions?](#toc1_1_2_12_)    
      - [How many unique claim symbols are collisions?](#toc1_1_2_13_)    
      - [How many unique groups are labeled with collisions?](#toc1_1_2_14_)    
      - [How many unique claims are not primary gene symbols?](#toc1_1_2_15_)    
      - [How many unique claims that were not primary symbols are collisions?](#toc1_1_2_16_)    
      - [How many unique claims that are primary gene symbols are also collisions?](#toc1_1_2_17_)    
      - [How many of the gene groups that are not primary gene symbols are alias-alias collisions from HGNC?](#toc1_1_2_18_)    
      - [How many claims are ambiguous symbols?](#toc1_1_2_19_)    
      - [How many gene group labels are ambiguous symbols?](#toc1_1_2_20_)    
      - [How many claims are primary symbols?](#toc1_1_2_21_)    
      - [How many gene group labels are primary symbols?](#toc1_1_2_22_)    
      - [How many gene group labels are alias symbols?](#toc1_1_2_23_)    
      - [How many claims are alias symbols?](#toc1_1_2_24_)    
      - [How many claims that were normalized into non-primary symbol labeled groups are alias symbols?](#toc1_1_2_25_)    
      - [How many not normalized claims are alias symbols?](#toc1_1_2_26_)    
      - [How many gene group labels are not primary, alias symbols, or null?](#toc1_1_2_27_)    
      - [How many claims are not primary, alias symbols, or null?](#toc1_1_2_28_)    
      - [How many claims are primary and alias symbols?](#toc1_1_2_29_)    
      - [How many primary symbol claims are normalized into non-primary gene group labels?](#toc1_1_2_30_)    
    - [Summary](#toc1_1_3_)    
      - [Normalization Rates](#toc1_1_3_1_)    
      - [Types of Claim Symbols](#toc1_1_3_2_)    
      - [Types of Normalizations (gene group labels claims are being normliazed into)](#toc1_1_3_3_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

In [115]:
import pandas as pd
import numpy as np
import plotly.express as px

### <a id='toc1_1_1_'></a>[Analyzing similarities b/w alias-primary and alias-alias collisions](#toc0_)

#### <a id='toc1_1_1_1_'></a>[Load merged alias-alias and alias-priamry collision sets. Symbols are the ambiguous symbols.](#toc0_)

Input: merged_alias_gene_intersections.csv (total_alias_gene_intersections.ipynb), merged_alias_overlap_df_2.csv (total_alias_overlap.ipynb)

Output: merged_alias_primary_collision_set, merged_alias_alias_collision_set

In [116]:
merged_alias_primary_collisions_df = pd.read_csv(
    "../created_files/merged_alias_primary_collisions_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [117]:
merged_alias_primary_collision_set = set(
    merged_alias_primary_collisions_df["collision"]
)
len(merged_alias_primary_collision_set)

1677

In [118]:
merged_alias_alias_collisions_df = pd.read_csv(
    "../created_files/merged_aa_collision_alias_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [119]:
merged_alias_alias_collision_set = set(
    merged_alias_alias_collisions_df["collision"].tolist()
)
len(merged_alias_alias_collision_set)

3824

#### <a id='toc1_1_1_2_'></a>[How many of the alias-primary collisions are also alias-alias collisions?](#toc0_)

In [120]:
print(
    len(
        merged_alias_alias_collision_set.intersection(
            merged_alias_primary_collision_set
        )
    )
)

271

#### <a id='toc1_1_1_3_'></a>[How many unique ambiguous symbols are there b/w alias-primary and alias-alias collisions?](#toc0_)

In [121]:
ambiguous_symbol_set = merged_alias_alias_collision_set.union(
    merged_alias_primary_collision_set
)
print(len(ambiguous_symbol_set))

5230

In [122]:
ambiguous_symbol_set

{'PAK6',
 'NPL3',
 'C6ORF68',
 'ASP1',
 'APH2',
 'NEDF',
 'MAGI1',
 'UBL5',
 'CK1',
 'MIP-2A',
 'PP',
 'PP2CB',
 'TICAM2',
 'ASB',
 'TSSK4',
 'PAL',
 'MNAB',
 'RIA1',
 'MIG7',
 'H4C14',
 'HSS',
 'NMTC1',
 'GBBB2',
 'ZNF474',
 'KRTAP2.1A',
 'HG674',
 'DCR2',
 'LCA',
 'C9',
 'SYT12',
 'ACVRLK4',
 'AUGA',
 'DHX40P1',
 'HSP70.1',
 'TC1',
 'PCM1',
 'POM121',
 'LEU2',
 'SOLO',
 'RNU6-8',
 'RF1',
 'OR11-11A',
 'BRCC1',
 'HYPK',
 'CLP',
 'IGHM',
 'SAX3',
 'SCP1',
 'CMG1',
 'K35',
 'RGP4',
 'ELN',
 'MSL1',
 'CFL1',
 'SOHLH2',
 'ALG2',
 'SPS1',
 'TCRAV2S1',
 'OCM',
 'CYP11B',
 'RBMXP1',
 'MLD',
 'S2',
 'IGA',
 'MGAT3',
 'MAM-3',
 'ASM',
 'OR19-5',
 'IGHV3-3',
 'MCL',
 'CHMP4A',
 'J2',
 'SAMS',
 'NLF1',
 'EAF1',
 'LAM',
 'CA125',
 'PSBG-11',
 'H7365',
 'NBC3',
 'SWS1',
 'NRK2',
 'PLEKHG5',
 'BAP',
 'VATB',
 'GSTAP2',
 'FCGR2',
 'PKR1',
 'PAMP',
 'HPC8',
 'CRIP1',
 'MIRHG1',
 'TEX28P1',
 'IFI-4',
 'SH120',
 'A3GALNT',
 'PN-II',
 'HN3',
 'CRL1',
 'HBP3',
 'EAP2',
 'TRAP-1',
 'L4',
 'KRTAP5-1',
 'HBGF-8',
 'PRH1',
 'OFD1P2',
 'SPC1',
 'NANOGP3',
 'XAP4',
 'CMM8',
 'STAG3L3',
 'DEFA3',
 'NCC-3',
 'LPP1',
 'SG2NA',
 'KLK6',
 'OST',
 'H3C2',
 'TRP2',
 'GPR58',
 'NKH',
 'PC2',
 'DTD',
 'HADH',
 'H2A/Q',
 'ARIA',
 'KIR2DL5B',
 'PRG',
 'UGT',
 'NBP',
 'CLEC2B',
 'UGT2B11',
 'GX',
 'RCA1',
 'MCM',
 'CSA',
 'PK3',
 'DEC-205',
 'P59',
 'TRF-GAA1-2',
 'UGT2',
 'CAP1A',
 'ANK',
 'PAR',
 'HDGF-2',
 'TP53TG3B',
 'SDH1',
 'TRG-GCC2-5',
 'NEP',
 'TRAPPC2P1',
 'FALDH',
 'HEPIS',
 'GPCR21',
 'DIP',
 'CRIPTO',
 'NKR',
 'BR',
 'IK',
 'C6ORF8',
 'KAR',
 'T2',
 'ZNF286C',
 'MCDR2',
 'FACE',
 'OR17-24',
 'DRC1',
 'FRMPD2',
 'MIEF1',
 'PRAAS3',
 'P27',
 'DCP1',
 'CMT2B2',
 'MEIS3',
 'U3B1',
 'N2N',
 'WDR11',
 'ASC2',
 'VIP',
 'UGT-1A',
 'LVG2',
 'HPPD',
 'PBEF',
 'EEF1B1',
 'CMT1',
 'EBN1',
 'BNC1',
 'POTEB',
 'PRP4',
 'SIGLECP1',
 'LAT2',
 'ALDH7',
 'CT45-2',
 'BDP1',
 'RBPI',
 'C16DELP11.2',
 'H3C4',
 'OTF3',
 'RNA18S5',
 'MRX31',
 'NIK',
 'E4TF1',
 'NBN',
 'TBL1',
 'PRKAR2',
 'RCC',
 'DMC1',
 'CDK11',
 'PR',
 'MRT1',
 'FRP-2',
 'DNM1DN10@',
 'HCRN',
 'GAP',
 'POLD4',
 'F11',
 'H2AC19',
 'CSBP',
 'T6BP',
 'PSP2',
 'TCEB1P26',
 'TRL-AAG2-3',
 'RIP2',
 'ALS6',
 'POGZ',
 'D3',
 'ESA',
 'DUP',
 'PRR20B',
 'MCP',
 'SMAJ',
 'GPHR',
 'HPS2',
 'PRAMEF25',
 'RNASEH1',
 'RAB11B',
 'SSA',
 'ATP5A',
 'NPY4-R',
 'DDX31',
 'TP',
 'MSS1',
 'FAN',
 'RNA5-8S4',
 'OFC2',
 'OLF1',
 'MRD2',
 'PEP',
 'SSB2',
 'AZ2',
 'CYP2B',
 'IP3R',
 'KRTAP5-6',
 'PROTEINASE',
 'STAP',
 'CX58',
 'TEM',
 'MHF1',
 'CAT2',
 'C6ORF37',
 'FANCD',
 'NAP1',
 'DEFB3',
 'MICE',
 'ECE2',
 'PGK2',
 'SYT11',
 'TXN',
 'BCRP1',
 'PH',
 'HKPX1',
 'XIST',
 'RSK',
 'FPS',
 'GALNT4',
 'ACC1',
 'IQCH',
 'IBGC2',
 'CPS1',
 'PTP',
 'CLA1',
 'FBL4',
 'BCH',
 'PAR4',
 'GPAT',
 'SIT1',
 'CT45A5',
 'TRAM',
 'ALDH4',
 'KRTAP18-9',
 'COX1',
 'TRAD',
 'HSPG',
 'XLOC_008466',
 'CENPC',
 'CMS1B',
 'FCGR3B',
 'TARG1',
 'K12',
 'ETL4',
 'ARCC2',
 'ECGF',
 'TCEA1',
 'HLA-DRB',
 'HCCR-1',
 'VMA2',
 'IL17A',
 'P17',
 'RHA',
 'ALS',
 'SKD2',
 'CHS1',
 'RNU1P1',
 'GST',
 'CT134',
 'ARP8',
 'FBL7',
 'OR17-16',
 'TTY9',
 'H2AC16',
 'MSC',
 'IPS',
 'DSP',
 'CLC',
 'EBF3',
 'PRR',
 'CDF',
 'HCS',
 'TFI',
 'TRAP',
 'RIM',
 'P48',
 'ATX1',
 'TANGO',
 'FOXO3B',
 'EPM2A',
 'IGLC6',
 'NTN4',
 'GPR42',
 'TRX-CAT1-2',
 'CYC1',
 'H2BC8',
 'PGDH',
 'PHP',
 'SPANX-E',
 'PP1C',
 'MEP',
 'TRF',
 'APS1',
 'GLM1',
 'PSP-A',
 'BUB1A',
 'PMI1',
 'AIM1',
 'ERF1',
 'AP2',
 'L13',
 'MIP1',
 'BRPF1',
 'FIRE',
 'U6',
 'TNNI3K',
 'PARPL',
 'FA',
 'CGB7',
 'D1',
 'TRAV11',
 'SAC2',
 'HAP2',
 'RMD2',
 'MMAA',
 'HST16992',
 'CR',
 'H4C13',
 'RPEL1',
 'CAP2',
 'MED25',
 'CLNS1B',
 'GTF2IRD2A',
 'MIP2A',
 'TCRGC1',
 'GUP1',
 'CTPP5',
 'CAC1',
 'MCS',
 'SLC4A5',
 'PIF',
 'BG',
 'ZNF688',
 'NGB',
 'CYP2G2P',
 'PSC5',
 'ERIS',
 'VPP2',
 'PH2',
 'TPH2',
 'CELIAC1',
 'MTC',
 'DEFB-3',
 'IL25',
 'ZNF',
 'RNA28S4',
 'SAX2',
 'LGALS9B',
 'UNQ192',
 'UBC2',
 'POTEB2',
 'SCA31',
 'HSP70',
 'P66',
 'DUSP26',
 'SNF2',
 'NTE',
 'PAR-1',
 'MADH7',
 'POP3',
 'CL-11',
 'STK7',
 'SCYA2',
 'RARF',
 'CAB2',
 'HNRPA1L3',
 'TCRAV3S1',
 'PRMT9',
 'PSPA',
 'HPR',
 'RPL36A',
 'PDK1',
 'BPAD',
 'TRS-GCT4-1',
 'LHB',
 'RNU1-12P',
 'CPN2',
 'GRIK2',
 'P29',
 'NDR1',
 'CT5.4',
 'MFT',
 'KOX21',
 'PAP2',
 'SEA',
 'TRY-GTA5-3',
 'POTED',
 'EIF2AK1',
 'HEPN1',
 'HIST1H2BI',
 'MIA1',
 'CT24.2',
 'NOP',
 'RPS26',
 'STX',
 'LRP4',
 'CDK11-P110',
 'CCBP2',
 'TBC1D3L',
 'PTPRZ',
 'SL1',
 'HA-1',
 'HE2',
 'CN1',
 'BDP',
 'RNU12',
 'SH3BGR',
 'EBP',
 'SWI2',
 'L15',
 'TRNP',
 'H-PLK',
 'CSS1',
 'WC1',
 'TRX-CAT1-5',
 'LAP',
 'FIG',
 'BCS',
 'RNA45S4',
 'PIGU',
 'UT2',
 'KIAA1426',
 'HIF-PH1',
 'GCL',
 'LILRA6',
 'HIST1H2BG',
 'TRX1',
 'CDH16',
 'GP135',
 'IGHV4-B',
 'RETSDR2',
 'ERK',
 'LRRC51',
 'FAH',
 'HIP3',
 'KCR1',
 'CCL28',
 'ALC1',
 'KRTAP5-11',
 'PC',
 'TRN2',
 'DBC1',
 'TTTY6',
 'A6',
 'ALURBP',
 'PUR1',
 'AIM',
 'RSS',
 'VMA5',
 'THC2',
 'ICBP90',
 'TCTEX4',
 'SCGB1C1',
 'PTH1',
 'PSF2',
 'P13',
 'CT1',
 'CARP2',
 'SEF',
 'MUHH',
 'USP31',
 'PAR2',
 'CREB3',
 'P76',
 'GIF',
 'P18',
 'TAR-5',
 'MRX',
 'CREB-2',
 'TMPRSS3',
 'SPIN1',
 'HNRPG',
 'CV2',
 'CYP2C',
 'CPT1-M',
 'SPN',
 'LHR',
 'LARP',
 'TAFII105',
 'TCS3',
 'TRIM80P',
 'CPBHM',
 'FAS',
 'LYSOPAFAT',
 'GAGE-7',
 'CFAP90',
 'DEFB-11',
 'PTC1',
 'SWS',
 'STZ',
 'GJA11',
 'WRS',
 'FADS6',
 'SWAP',
 'RAET1L',
 'B5',
 'TP53TG3E',
 'MOX2',
 'EBS3',
 'LPCAT',
 'PREP',
 'PEPP-2',
 'TSP1',
 'XAP3',
 'TRX-CAT1-6',
 'LRP/LR',
 'SSX',
 'ALP',
 'C7',
 'PACT',
 'RH4',
 'CAPS',
 'GCAP-I',
 'PBP',
 'PRP2',
 'PVALB',
 'CLDN21',
 'FIX',
 'BBP',
 'LSAMP-AS1',
 'SPANXC',
 'PRG1',
 'SHFM1',
 'NOC2',
 'CTP9',
 'FLJ22167',
 'P24',
 'CS-1',
 'TIP39',
 'OI12',
 'PLCE',
 'HRES1',
 'ALDR1',
 'TRN1',
 'ADRA1A',
 'PIG9',
 'CNK',
 'MSE',
 'CT19',
 'OTX3',
 'CSS3',
 'HYAL3',
 'RZF',
 'MCT7',
 'CDW32',
 'FMR1',
 'TCEB1L',
 'LSK',
 'CT45-3',
 'CLK2',
 'RAC3',
 'ESG',
 'MCDR1',
 'NAPA',
 'IGHV3-11',
 'TMSA',
 'ARS',
 'PDZD5C',
 'PORC',
 'AP47B',
 'RWS',
 'CYP2D7BP',
 'ALDRP',
 'PS2',
 'PAT1',
 'PHERS',
 'MART2',
 'ST3GALA.2',
 'SIMP',
 'FAM10A4',
 'RAB42',
 'TTY11',
 'WS',
 'SUR2',
 'SBBI31',
 'TCRAV22S1',
 'ZAC1',
 'U8',
 'SCYA3L1',
 'TTTY8',
 'LCA10',
 'DIFF6',
 'MID1',
 'SDH2',
 'D2',
 'PIX1',
 'CD158B',
 'ERG-1',
 'E3',
 'HIST1H2BC',
 'MORF4LP4',
 'NPIPB',
 'CILD38',
 'SLC23A1',
 'HOKPP',
 'LPCAT4',
 'H4C8',
 'TC4',
 'MOR2',
 'FHOD3',
 'RNU1',
 'NG23',
 'FEB3B',
 'RD',
 'AQP9',
 'TRS-AGA2-1',
 'MASA',
 'C3PO',
 'DUP16P11.2',
 'PCN3',
 'ELOA3C',
 'PRDX6',
 'CT2',
 'ISO1',
 'SCC1',
 'CRP',
 'DHP',
 'IFNT1',
 'CL2',
 'KAT4',
 'QPS1',
 'PROTEASE',
 'HDAC7',
 'DA4',
 'P34',
 'DKFZP547P234',
 'CSP1',
 'TRT-AGT5-1',
 'SSAO',
 'PRH',
 'RRF',
 'U5B1',
 'CIP1',
 'BCL5',
 'MUM2',
 'TRC-GCA2-1',
 'SDH',
 'HBP-3',
 'UGT1E',
 'MOX1',
 'HPT',
 'IMPDH1',
 'FRAXA',
 'TAF2C2',
 'NAPOR',
 'ODC1L',
 'A15',
 'PTC',
 'GALNAC-T10',
 'EPF5',
 'PTH2',
 'ORP1',
 'PTX3',
 'TRAC-1',
 'TNDM1',
 'LRP1',
 'CT47',
 'MPP11',
 'P33',
 'POU5F1',
 'H-REV107',
 'PEX1',
 'P250',
 'PNMT',
 'CEP1',
 'HCGB',
 'AML1-EVI-1',
 'RS1',
 'TAN1',
 'NTT',
 'RAI',
 'ZWS',
 'LY75',
 'KSP37',
 'THM',
 'TRG-GCC2-3',
 'IGVH',
 'LRF',
 'MAGEE1',
 'H5',
 'TRP-TGG3-1',
 'GM2AP',
 'P8MTCP1',
 'CERS1',
 'CASP',
 'JP2',
 'BCD1',
 'EDHB17',
 'RP3',
 'HIST2H2BD',
 'IV',
 'SLIT3',
 'HSK1',
 'G13',
 'PTPRQ',
 'IK1',
 'CKB',
 'CDA1',
 'FCRI',
 'CT-2',
 'STRA13',
 'UBCH8',
 'OOMD',
 'PB',
 'TCRAV15S1',
 'GPX6',
 'CCL4L',
 'FAME',
 'D14S1460',
 'P32',
 'EK',
 'ZNF182',
 'KRTAP2-3',
 'TRG-CCC2-2',
 '464.2',
 'APE',
 'KRTAP2-4',
 'TAMO',
 'AIS1',
 'CEP110',
 'RPL7P',
 'GTB',
 'MCAP',
 'ODF',
 'UCHL2',
 'TTP',
 'MRP2',
 'PAPA1',
 'CA-RP',
 'MPP4',
 'CT45-4',
 'PI-PLC',
 'SOCS4',
 'BRF2',
 'TCRBV2S1',
 'SRGAP3',
 'FA1',
 'RBM',
 'RASSF3',
 'UGT-1C',
 'FKBP9',
 'AF',
 'SCAP',
 'P90',
 'BM600',
 'KRTAP2.4',
 'SCP-2',
 'NG2-6',
 'M6A',
 'NLK',
 'TSPY8',
 'G16',
 'DAP3',
 'GS2',
 'HZF3',
 'DIP1',
 'YRRM1',
 'LST-3TM12',
 'TMS',
 'NL1',
 'C11ORF5',
 'MRXS11',
 'VMA6',
 'TLP',
 'HOX1D',
 'MPD3',
 'PXMP1',
 'GLUT10',
 'GAGE-8',
 'GGT2',
 'GCP',
 'B29',
 'OR912-108',
 'DLG1',
 'RPML3',
 'LAN',
 'PGI',
 'OR11-1',
 'OR3A5P',
 'P97',
 'HHZ150',
 'CD158A',
 'NSCL2',
 'H2BFH',
 'CT12.1B',
 'PSF',
 'AAA1',
 'MEG1',
 'ING2',
 'RBP4',
 'SIRPB2',
 'A3',
 'EIF4F',
 'OA3',
 'TCRAV21S1',
 'PFHB1B',
 'ZNF581',
 'TRC-GCA2-4',
 'DLD',
 'MGF',
 'NBL1',
 'CH507-145C22.1',
 'BETA2',
 'NAF1',
 'BCDS1',
 'CRP2',
 'RALBP1',
 'DLP1',
 'RNAH',
 'OCT3',
 'PDX1',
 'FCCMS',
 'EA1',
 'CRP1',
 'PGII',
 'STRAP',
 'C9ORF36A',
 'PEMT',
 'APMR1',
 'TRK-CTT2-2',
 'SK1',
 'PBCRA',
 'DM1',
 'GK',
 'LCP1',
 'TCS1',
 'ABP-280',
 'ACA59',
 'SLIT1',
 'ADA2',
 'PDIP1',
 'TUBA2',
 'PWCR',
 'OR11H12',
 'MGC15397',
 'MAK',
 'SMIM11B',
 'SRA',
 'P45',
 'KAT1',
 'IFP1',
 'SES2',
 'NRF1',
 'HBB',
 'VSD1',
 'ARG',
 'TRP-AGG2-2',
 'LAGE-2',
 'TRK-CTT2-5',
 'TRK-TTT3-4',
 'CT45A7',
 'BOLA2B',
 'PARK21',
 'DNAJ',
 'POP1',
 'MSH',
 'GPB',
 'SMIM39',
 'CENP-S',
 'DPPA3',
 'EOS',
 'NRF2',
 'ZNF95',
 'TRNAV-CAC',
 'CAPZ',
 'CPT1B',
 'CAPC',
 'ARP4',
 'DNM1DN16@',
 'TCRBV25S1',
 'ALG10',
 'TPX1',
 'HTR',
 'TRP-TGG3-5',
 'H2B/L',
 'TCF6L1',
 'CG1',
 'LST-1',
 'ATP2B2',
 'TRY1',
 'RPL10P',
 'TSPY1',
 'UGD',
 'LIN-10',
 'A3B',
 'CN-IB',
 'ARTS',
 'OSM',
 'LY6G6D',
 'YRRM2',
 'TCRAV30S1',
 'ZBP1',
 'MLM',
 'LEPR',
 'BWS',
 'GAGED2',
 'NET',
 'SPANXE',
 'LTBP3',
 'PPYR1',
 'ECYT7',
 'NDR',
 'NT3',
 'MUC3',
 'CX30.2',
 'WBSCR20B',
 'DMTN',
 'TOMT',
 'S100A14',
 'TCRBV12S2',
 'LKN-1',
 'BTN1',
 'TRF-GAA1-4',
 'OR912-46',
 'C7ORF55',
 'DAGK6',
 'HBAB',
 'POLR1C',
 'PIRB',
 'SAS',
 'LIG3',
 'HYDINP1',
 'ATP6G',
 'FEB2',
 'MRAP',
 'FBS',
 'GRL',
 'SMAD1',
 'Y4',
 'ARPIN',
 'DIPP-2B',
 'C15ORF63',
 'FAM48B1',
 'HLP3',
 'PAM-1',
 'TIRAP3',
 'MRX92',
 'ARP11',
 'FBP',
 'NEU',
 'TSSK1',
 'GLUD2',
 'CAT1',
 'CRP3',
 ...}

In [123]:
ambiguous_symbol_set = set(item.strip() for item in ambiguous_symbol_set)

print(len(ambiguous_symbol_set))

5230

In [124]:
with open("created_files/ambiguous_symbol_set.txt", "w") as file:
    for item in ambiguous_symbol_set:
        file.write(f"{item.strip()}\n")

In [125]:
with open("created_files/ambiguous_symbol_set.txt", "r") as file:
    # read each line, strip newline characters, and convert to a set
    ambiguous_symbol_set = set(line.strip() for line in file)
len(ambiguous_symbol_set)

5230

In [126]:
ambiguous_symbol_set

{'C6ORF68',
 'ASP1',
 'APH2',
 'MAGI1',
 'UBL5',
 'PP2CB',
 'ASB',
 'TSSK4',
 'MIG7',
 'RIA1',
 'ZNF474',
 'NMTC1',
 'HSS',
 'KRTAP2.1A',
 'HG674',
 'DCR2',
 'LCA',
 'ACVRLK4',
 'TC1',
 'POM121',
 'LEU2',
 'BRCC1',
 'K35',
 'ALG2',
 'TCRAV2S1',
 'OCM',
 'CYP11B',
 'RBMXP1',
 'MLD',
 'MAM-3',
 'OR19-5',
 'IGHV3-3',
 'CHMP4A',
 'J2',
 'SAMS',
 'NLF1',
 'CA125',
 'PSBG-11',
 'NBC3',
 'NRK2',
 'PKR1',
 'HPC8',
 'TEX28P1',
 'IFI-4',
 'A3GALNT',
 'CRL1',
 'HN3',
 'EAP2',
 'KRTAP5-1',
 'PRH1',
 'SPC1',
 'NANOGP3',
 'NCC-3',
 'SG2NA',
 'KLK6',
 'OST',
 'H3C2',
 'GPR58',
 'DTD',
 'PRG',
 'UGT',
 'CLEC2B',
 'MCM',
 'PK3',
 'DEC-205',
 'CSA',
 'TRF-GAA1-2',
 'PAR',
 'SDH1',
 'TRG-GCC2-5',
 'FALDH',
 'HEPIS',
 'GPCR21',
 'DIP',
 'NKR',
 'MCDR2',
 'FACE',
 'OR17-24',
 'DRC1',
 'FRMPD2',
 'MIEF1',
 'PRAAS3',
 'P27',
 'MEIS3',
 'N2N',
 'WDR11',
 'VIP',
 'UGT-1A',
 'HPPD',
 'CMT1',
 'POTEB',
 'PRP4',
 'LAT2',
 'ALDH7',
 'BDP1',
 'TBL1',
 'DMC1',
 'CDK11',
 'PR',
 'FRP-2',
 'HCRN',
 'GAP',
 'POLD4',
 'F11',
 'TCEB1P26',
 'RIP2',
 'ESA',
 'DUP',
 'MCP',
 'SMAJ',
 'GPHR',
 'RNASEH1',
 'ATP5A',
 'NPY4-R',
 'DDX31',
 'TP',
 'MSS1',
 'RNA5-8S4',
 'OFC2',
 'OLF1',
 'MRD2',
 'SSB2',
 'KRTAP5-6',
 'CX58',
 'TEM',
 'C6ORF37',
 'NAP1',
 'DEFB3',
 'MICE',
 'PGK2',
 'BCRP1',
 'PH',
 'RSK',
 'BCH',
 'PAR4',
 'GPAT',
 'CT45A5',
 'KRTAP18-9',
 'ETL4',
 'ARCC2',
 'ECGF',
 'TCEA1',
 'HCCR-1',
 'P17',
 'ALS',
 'SKD2',
 'CHS1',
 'RNU1P1',
 'CT134',
 'ARP8',
 'FBL7',
 'OR17-16',
 'TTY9',
 'H2AC16',
 'DSP',
 'EBF3',
 'PRR',
 'CDF',
 'HCS',
 'FOXO3B',
 'EPM2A',
 'IGLC6',
 'NTN4',
 'PGDH',
 'PHP',
 'GLM1',
 'PSP-A',
 'BUB1A',
 'BRPF1',
 'L13',
 'MIP1',
 'FIRE',
 'U6',
 'TNNI3K',
 'FA',
 'D1',
 'SAC2',
 'HAP2',
 'MMAA',
 'CLNS1B',
 'CTPP5',
 'TCRGC1',
 'MCS',
 'ZNF688',
 'ERIS',
 'ZNF',
 'SAX2',
 'LGALS9B',
 'UNQ192',
 'UBC2',
 'P66',
 'SNF2',
 'NTE',
 'PAR-1',
 'MADH7',
 'SCYA2',
 'RARF',
 'CAB2',
 'PRMT9',
 'RPL36A',
 'PDK1',
 'CPN2',
 'PAP2',
 'SEA',
 'TRY-GTA5-3',
 'HEPN1',
 'CT24.2',
 'RPS26',
 'PTPRZ',
 'L15',
 'TRNP',
 'CSS1',
 'WC1',
 'TRX-CAT1-5',
 'KIAA1426',
 'GCL',
 'LILRA6',
 'GP135',
 'LRRC51',
 'FAH',
 'HIP3',
 'CCL28',
 'KCR1',
 'ALC1',
 'KRTAP5-11',
 'PC',
 'ALURBP',
 'AIM',
 'RSS',
 'ICBP90',
 'TCTEX4',
 'SCGB1C1',
 'PSF2',
 'P13',
 'CT1',
 'CARP2',
 'SEF',
 'MUHH',
 'PAR2',
 'GIF',
 'P18',
 'MRX',
 'CYP2C',
 'SPN',
 'LHR',
 'LARP',
 'TRIM80P',
 'LYSOPAFAT',
 'DEFB-11',
 'STZ',
 'SWS',
 'GJA11',
 'B5',
 'EBS3',
 'LPCAT',
 'PREP',
 'XAP3',
 'SSX',
 'ALP',
 'PACT',
 'GCAP-I',
 'PBP',
 'PRP2',
 'PVALB',
 'FIX',
 'BBP',
 'LSAMP-AS1',
 'SPANXC',
 'CTP9',
 'FLJ22167',
 'OI12',
 'ALDR1',
 'ADRA1A',
 'MSE',
 'CT19',
 'HYAL3',
 'FMR1',
 'CT45-3',
 'CLK2',
 'RAC3',
 'TMSA',
 'PDZD5C',
 'PORC',
 'RWS',
 'CYP2D7BP',
 'PS2',
 'PAT1',
 'FAM10A4',
 'TTY11',
 'U8',
 'ZAC1',
 'SUR2',
 'LCA10',
 'DIFF6',
 'CD158B',
 'ERG-1',
 'HIST1H2BC',
 'NPIPB',
 'HOKPP',
 'RNU1',
 'FEB3B',
 'RD',
 'AQP9',
 'TRS-AGA2-1',
 'C3PO',
 'PCN3',
 'ELOA3C',
 'ISO1',
 'SCC1',
 'KAT4',
 'QPS1',
 'PROTEASE',
 'DA4',
 'P34',
 'DKFZP547P234',
 'SSAO',
 'PRH',
 'RRF',
 'U5B1',
 'CIP1',
 'TRC-GCA2-1',
 'UGT1E',
 'HPT',
 'FRAXA',
 'ODC1L',
 'A15',
 'PTC',
 'GALNAC-T10',
 'ORP1',
 'TNDM1',
 'LRP1',
 'CT47',
 'MPP11',
 'P33',
 'POU5F1',
 'H-REV107',
 'PEX1',
 'CEP1',
 'HCGB',
 'RS1',
 'TAN1',
 'NTT',
 'RAI',
 'ZWS',
 'KSP37',
 'IGVH',
 'TRP-TGG3-1',
 'P8MTCP1',
 'BCD1',
 'EDHB17',
 'HSK1',
 'G13',
 'PTPRQ',
 'IK1',
 'CDA1',
 'FCRI',
 'CT-2',
 'STRA13',
 'UBCH8',
 'TCRAV15S1',
 'CCL4L',
 'FAME',
 'P32',
 'EK',
 'ZNF182',
 'TRG-CCC2-2',
 '464.2',
 'KRTAP2-4',
 'TAMO',
 'AIS1',
 'CEP110',
 'RPL7P',
 'MCAP',
 'ODF',
 'MRP2',
 'CA-RP',
 'MPP4',
 'CT45-4',
 'PI-PLC',
 'RASSF3',
 'FKBP9',
 'UGT-1C',
 'AF',
 'P90',
 'BM600',
 'KRTAP2.4',
 'SCP-2',
 'NG2-6',
 'M6A',
 'NLK',
 'TSPY8',
 'DAP3',
 'HZF3',
 'LST-3TM12',
 'NL1',
 'C11ORF5',
 'MRXS11',
 'HOX1D',
 'MPD3',
 'PXMP1',
 'GLUT10',
 'GAGE-8',
 'GGT2',
 'GCP',
 'B29',
 'DLG1',
 'RPML3',
 'PGI',
 'P97',
 'CD158A',
 'CT12.1B',
 'PSF',
 'AAA1',
 'MEG1',
 'RBP4',
 'A3',
 'EIF4F',
 'OA3',
 'PFHB1B',
 'NAF1',
 'BCDS1',
 'RALBP1',
 'DLP1',
 'RNAH',
 'PDX1',
 'FCCMS',
 'EA1',
 'CRP1',
 'PGII',
 'STRAP',
 'APMR1',
 'TRK-CTT2-2',
 'PBCRA',
 'DM1',
 'LCP1',
 'ABP-280',
 'ADA2',
 'TUBA2',
 'PWCR',
 'OR11H12',
 'MAK',
 'IFP1',
 'NRF1',
 'VSD1',
 'ARG',
 'TRK-TTT3-4',
 'PARK21',
 'DNAJ',
 'POP1',
 'EOS',
 'NRF2',
 'ZNF95',
 'TRNAV-CAC',
 'ARP4',
 'DNM1DN16@',
 'ALG10',
 'TRP-TGG3-5',
 'H2B/L',
 'TCF6L1',
 'LST-1',
 'TRY1',
 'TSPY1',
 'UGD',
 'ARTS',
 'OSM',
 'YRRM2',
 'ZBP1',
 'LEPR',
 'BWS',
 'SPANXE',
 'PPYR1',
 'ECYT7',
 'CX30.2',
 'WBSCR20B',
 'DMTN',
 'TOMT',
 'S100A14',
 'LKN-1',
 'BTN1',
 'OR912-46',
 'DAGK6',
 'HBAB',
 'PIRB',
 'SAS',
 'ATP6G',
 'MRAP',
 'DIPP-2B',
 'C15ORF63',
 'HLP3',
 'PAM-1',
 'MRX92',
 'FBP',
 'GLUD2',
 'CAT1',
 'PRG3',
 'CBG',
 'DYT17',
 'USP17L27',
 'PABP3',
 'PAGE-1',
 'RLF',
 '2F1',
 'YDR084C',
 'ATL1',
 'PCN',
 'RCN2',
 'RPL10',
 'BAL',
 'RNU1-7P',
 'GT334',
 'FRA10A',
 'LAMB2',
 'TRB',
 'NK3',
 'S12',
 'OR7E73P',
 'TNRC14',
 'SNF7',
 'FAM18B2',
 'C18ORF2',
 'DAGK',
 'ZNF187P1',
 'ME3',
 'H3C1',
 'MCRIP2P1',
 'PN1',
 'TBC1D3P1',
 'TRMT1',
 'TMSL8',
 'CD182',
 'GOP',
 'EPPK',
 'IL-1RA',
 'OR19-18',
 'COD5',
 'ALR',
 'CT45-6',
 'L22',
 'NBS',
 'CCTA',
 'OM',
 'HC6',
 'P450DB1',
 'LINC02815',
 'FRA11B',
 'AOH1',
 'PSGGA',
 'MAT',
 'JTK5',
 'EAP1',
 'COX',
 'TUBB2',
 'CPTI-M',
 'GRIN1',
 'EIF1AP1',
 'C15ORF1',
 'DYT23',
 'CIC',
 'SMG',
 'ROR1',
 'SAPL',
 'FKBP6',
 'TRQ-CTG1-3',
 'RBP5',
 'TIC',
 'UTA',
 'VWS1',
 'HEPTP',
 'MIO',
 'MRXSH',
 'PEN',
 'PMS2CL',
 'LILRA5',
 'DEFB136',
 'SIL',
 'NOTCH2NLR',
 'C2',
 'USP12',
 'TRK-TTT3-5',
 'H3C7',
 'KIR2DL5',
 'BHLHE38',
 'LCN5',
 'AP-1',
 'SPDYE9',
 'SOSS-B2',
 'OAZ',
 'TRD-GTC2-10',
 'HUG-BR1',
 'IGVPB',
 'H2B/K',
 'GIP',
 'RPML32',
 'ORC2',
 'PCDH2',
 'HHG',
 'RAY',
 'SAC3',
 'RNU6-6',
 'FCG3',
 'TRP-AGG2-3',
 'NOS3',
 'SNF2LB',
 'C1QTNF15',
 'SPH2',
 'HDMX',
 'GLYT1',
 'CAPH2',
 'TBC1D3F',
 'FAPP2',
 'RITA',
 'ASF',
 'PI',
 'BDPLT14',
 'DLG2',
 'MAT1',
 'C6ST',
 'PIMT',
 'AB14',
 'TRH-GTG1-8',
 'AH',
 'ARD1',
 'OR7E75P',
 'CFD1',
 'CAM1',
 'RTS',
 'H2AC14',
 'RN18S1',
 'DUSP13',
 'EF1B',
 'SMAP',
 'ISGF-3',
 'TCRAV7S1',
 'PFM2',
 'PDPK2P',
 'CAR1',
 'ERP60',
 'PYPAF7',
 'MER',
 'SOD2',
 'L-UBC',
 'HSP70-2',
 'IGHV4-4',
 'EEF1AKMT4',
 'CMS1D',
 'AHH',
 'GLK',
 'CBP',
 'A26B3',
 'NS3TP1',
 'SPC7',
 'FAM236C',
 'SLC23A2',
 'HBK',
 'ML1',
 'HCF2',
 'SIGLECL1',
 'USP12P2',
 'H2AC4',
 'TRNAE-UUC',
 'BCOX',
 'NUS1',
 'PC1',
 'ATDC',
 'UGT1A5',
 'HNT',
 'CBBM',
 'M130',
 'CDK11-P46',
 'LNP1',
 'NBPF',
 'EMT',
 'TAF',
 'HBD3',
 'CFD',
 'PDS',
 'MAP-2',
 'CLA3',
 'TCEAL3',
 'CEACAM3',
 'HP',
 'MST',
 'TRR-ACG1-2',
 'GSG1',
 'TCRAV28S1',
 'UGT1A1',
 'HB-1',
 'MELF2',
 'PABP1',
 'PSG9',
 'CCR9',
 'SPRK',
 'OR52I1',
 'S100',
 'LAGE2B',
 'ARMD14',
 'OR17-25',
 'PCDH11Y',
 'ANCO1',
 'U3A',
 'LRH-1',
 'PRP-1/PRP-2',
 'RN5-8S1',
 'GASP',
 'HNP-1',
 'NOD',
 'HRH1',
 'PPN',
 'DUSP27',
 'RHEB2',
 'TRM1',
 'EPO',
 'PPAT',
 'HIG1',
 'TRG-CCC2-1',
 'RUS',
 'MRS',
 'SMC2',
 'IMP',
 'DP1',
 'CNAP1',
 'RFC1',
 'OR19-12',
 'TRS-GCT4-2',
 'FB',
 'APOL3',
 'SIII',
 'BB2',
 'OSF-2',
 'SPG',
 'C4BP',
 'MRP-L14',
 'DFNB102',
 'TRX',
 'D6S230E',
 'SYT15B',
 'TR',
 'L6',
 'GEFSP7',
 'CYPD',
 'FIM1',
 'APOA2',
 'LAT1',
 'TCF-4',
 'TKT',
 'CNC',
 'MZF-1',
 'PGS2',
 'PEHO',
 'HXBL',
 'SPATA31D3',
 'PSMD1',
 'CCAT',
 'LINC00087',
 'CT5.2',
 'MN',
 'LAT',
 'TRPM2',
 'MAK3',
 'SSB1',
 'TRN',
 'A2M',
 'PXR1',
 'NMI',
 'CD3G',
 'CRN',
 'TRBP',
 'PDA2',
 'POP4',
 'OBP',
 'SCAR1',
 'MRX17',
 'MRPL22',
 'MDSP',
 'HSD17B7',
 'ENV',
 'TAP2',
 'UPA',
 'FCRIII',
 'HOS',
 'SNORA58B',
 'ADC',
 'H3.1',
 'L23',
 'CD1A',
 'HSJ2',
 'NCRNA00087',
 'TRR-CCG1-2',
 'LINC00470',
 'OCT4',
 'SPR',
 'FDH',
 'PGAM1',
 'NANOGP4',
 'ADCY3',
 'SCG2',
 'RANBP7',
 'USP16',
 'ARP',
 'LECD',
 'LNCR2',
 'MIF2',
 'RRP17',
 'HNK1ST',
 'CMC1',
 'HMSNP',
 'BOS1',
 'BIS',
 'LSS',
 'TL-PST',
 'RSC6P',
 'OAT6',
 'LRRC37A',
 'SIK1',
 'DSS',
 'H2AC18',
 'DJ388M5',
 'H3-3B',
 'SEDLP1',
 'HGL',
 'HEL2',
 'CHP',
 'ARHGAP10',
 'C15ORF38',
 'NBS1',
 'DRP3',
 'CFM2',
 'FBS1',
 'CAIN',
 'DAO',
 'LE',
 'FHL5',
 'TRP-TGG3-2',
 'PCDHX',
 'BOR',
 'GGT',
 'ELOA3B',
 'GAGE-9',
 'HSP40',
 'XLOC_000303',
 'MAP2',
 'CDY',
 'MPS1',
 'SNO',
 'ALTMIEF1',
 'RGR',
 'HPF1',
 'TSPY10',
 'CDS1',
 'ATR1',
 'FRA3B',
 'PP2C-DELTA',
 'TRIM6',
 'DP3',
 'OR25',
 'CAMB',
 'TRQ-CTG1-2',
 'TCRAV13S1',
 'TAM',
 'LEURS',
 'SCA8',
 'MRP-L15',
 'P0',
 'SNF1LK',
 'DUP17P13.3',
 'MRXSL',
 'RNF51',
 'LY-75',
 'RIF',
 'HES1',
 'RAR',
 'CS1',
 'TCEB3CL',
 'RNH1',
 'SIP-1',
 'SPAR',
 'MYPOP',
 'MVCD7',
 'NRP2',
 'AS',
 'TPP1',
 'SEN2',
 'CPX',
 'ATG8',
 'DSC2',
 'PERRS',
 'ECGF1',
 'HMS',
 'HK4',
 'DFNB26',
 'RDS',
 'SKI',
 'PI3K',
 'TRL-AAG2-1',
 'MED',
 'C10ORF77',
 'SYT14L',
 'SEPT2',
 'HYPP',
 'ADR',
 'TRI-AAT5-5',
 'TN-C',
 'CT58',
 'P49',
 'JDP1',
 'IMP3',
 'PKK',
 'KRTAP4-7',
 'BEX1',
 'L11',
 'FY',
 'IMD28',
 'LPD',
 'OFD1P1',
 'ATP5A1P9',
 'TOP',
 'SCAR3',
 'TRY4',
 'PI7',
 'P35',
 'BDK',
 'MIP-1-BETA',
 'SCT',
 'GRTH',
 'NBIA3',
 'RIT1',
 'DDC8',
 'CT45A3',
 'GABPB1',
 'SXI1',
 'OR19-7',
 'PRAF1',
 'HCG18',
 'TCRG',
 'CX59',
 'MIG6',
 'CAF1',
 'MHAC',
 'L14',
 'IL-25',
 'RPS17L2',
 'USE1',
 'MRP-L32',
 'CT64',
 'AK3L1',
 'PHF2',
 'RP8',
 'TTD',
 'MCAD',
 'H4C5',
 'PCP',
 'SOF1',
 'FBP2',
 'HN1',
 'GEMIN1',
 'MSAP',
 'TRY-GTA5-2',
 'BB1',
 'BD-4',
 'PKR2',
 'PRR4',
 'LEU1',
 'PIK3CD',
 'NIRF',
 'TCRAV4S1',
 'S10',
 'ED3',
 'DOK1',
 'AIDA',
 'MGL',
 'RBMY1D',
 'HHM',
 'FACL1',
 'CCL',
 'ANKRD33',
 'TAL',
 'RBM8B',
 'JP1',
 'NOTCH2NLA',
 'CCR4',
 'CLAN',
 'H3F3AP1',
 'TRR-ACG1-1',
 'H4C12',
 'KMS',
 'DD',
 'NOC4',
 'APOBEC1L',
 'EMILIN3',
 'PIN1',
 'U4',
 'HEP',
 'ARA',
 'LD78',
 'CHC',
 'BHLHE42',
 'COMT2',
 'CTRP5',
 'RP66',
 'LINC00444',
 ...}

### <a id='toc1_1_2_'></a>[Primary exploration of DGIdb gene content using collisions](#toc0_)

#### <a id='toc1_1_2_1_'></a>[Load gene claim data from DGIdb](#toc0_)

In [127]:
dgidb_gene_df = pd.read_csv(
    "downloaded_files/dgidb_genes_JUNE.tsv", sep="\t", na_values=["", "NULL"], keep_default_na=False
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17

In [128]:
num_total_claims = len(dgidb_gene_df)

In [129]:
dgidb_gene_df.loc[dgidb_gene_df["gene_claim_name"] == "HES1"]

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version
30772,HES1,Gene Symbol,hgnc:5192,HES1,Pharos,10-Apr-24
76844,HES1,Gene Symbol,hgnc:5192,HES1,HGNC,20240408
76845,HES1,Gene Symbol,hgnc:5192,HES1,NCBI,20240410
76846,HES1,Gene Symbol,hgnc:5192,HES1,Ensembl,111
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17

#### <a id='toc1_1_2_2_'></a>[How many claims are placed in a gene group with a different label?](#toc0_)

In [130]:
dgidb_gene_df.query("gene_name != gene_claim_name")

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
...,...,...,...,...,...,...
79999,SEPT5,Gene Symbol,hgnc:9164,SEPTIN5,FoundationOneGenes,9/3/20
80014,ENSEMBL:ENSG00000185821,Ensembl Gene ID,hgnc:31305,OR6C76,RussLampel,26-Jul-11
80053,SEPT5,Gene Symbol,hgnc:9164,SEPTIN5,CarisMolecularIntelligence,9/4/20
80166,SEPT6,Gene Symbol,hgnc:15848,SEPTIN6,CarisMolecularIntelligence,9/4/20
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20

#### <a id='toc1_1_2_3_'></a>[How many claims are not normalized?](#toc0_)

claims without a symbol/name/identifier
 (there shouldn't be any hooray)

In [131]:
no_claim_symbols_df = dgidb_gene_df[dgidb_gene_df["gene_claim_name"].isnull()]
no_claim_symbols_df

Empty DataFrame
Columns: [gene_claim_name, nomenclature, concept_id, gene_name, source_db_name, source_db_version]
Index: []

In [132]:
no_name_symbols_df = dgidb_gene_df[dgidb_gene_df["gene_name"].isnull()]
num_not_normalized_claims = len(no_name_symbols_df)
num_not_normalized_claims

2144

In [133]:
num_normalized_claims = num_total_claims - num_not_normalized_claims

#### <a id='toc1_1_2_4_'></a>[Create set of gene groups (gene_name) and gene claims (gene_claim_name)](#toc0_)

In [134]:
dgidb_name_set = set(dgidb_gene_df["gene_name"])
len(dgidb_name_set)

12001

In [135]:
dgidb_gene_claim_name_set = set(dgidb_gene_df["gene_claim_name"])
len(dgidb_gene_claim_name_set)

26739

#### <a id='toc1_1_2_5_'></a>[Load HGNC, Ensembl (ENSG), and NCBI gene and alias sets](#toc0_)

Input: mini_hgnc_df, mini_ensg_df, mini_ncbi_df (total_alias_gene_intersections.ipynb)

Output: x_gene_symbol_set, x_alias_symbol_set where x is ncbi, ensg or ncbi

In [136]:
mini_hgnc_df = pd.read_csv(
    "../created_files/mini_hgnc_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [137]:
mini_ensg_df = pd.read_csv(
    "../created_files/mini_ensg_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [138]:
mini_ncbi_df = pd.read_csv(
    "../created_files/mini_ncbi_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [139]:
hgnc_gene_symbol_set = set(mini_hgnc_df["gene_symbol"])
len(hgnc_gene_symbol_set)

45646

In [140]:
ensg_gene_symbol_set = set(mini_ensg_df["gene_symbol"])
len(ensg_gene_symbol_set)

41068

In [141]:
ncbi_gene_symbol_set = set(mini_ncbi_df["gene_symbol"])
len(ncbi_gene_symbol_set)

193303

In [142]:
hgnc_alias_symbol_set = set(mini_hgnc_df["alias_symbol"])
len(hgnc_alias_symbol_set)

43187

In [143]:
ensg_alias_symbol_set = set(mini_ensg_df["alias_symbol"])
len(ensg_alias_symbol_set)

55276

In [144]:
ncbi_alias_symbol_set = set(mini_ncbi_df["alias_symbol"])
len(ncbi_alias_symbol_set)

69158

#### <a id='toc1_1_2_6_'></a>[How many unique primary gene symbols are there b/w HGNC, Ensembl, and NCBI?](#toc0_)

In [145]:
hgnc_ensg_gene_symbol_set = hgnc_gene_symbol_set.union(ensg_gene_symbol_set)

In [146]:
hgnc_ensg_ncbi_gene_symbol_set = hgnc_ensg_gene_symbol_set.union(ncbi_gene_symbol_set)
len(hgnc_ensg_ncbi_gene_symbol_set)

194866

#### <a id='toc1_1_2_7_'></a>[How many unique alias symbols are there b/w HGNC, Ensembl, and NCBI?](#toc0_)

In [147]:
hgnc_ensg_alias_symbol_set = hgnc_alias_symbol_set.union(ensg_alias_symbol_set)

In [148]:
hgnc_ensg_ncbi_alias_symbol_set = hgnc_ensg_alias_symbol_set.union(
    ncbi_alias_symbol_set
)
len(hgnc_ensg_ncbi_alias_symbol_set)

93036

#### <a id='toc1_1_2_8_'></a>[How many unique group names are not primary gene symbols?](#toc0_)

In [149]:
name_ensg_notmatch = dgidb_name_set.difference(ensg_gene_symbol_set)
len(name_ensg_notmatch)

298

In [150]:
name_hgnc_notmatch = dgidb_name_set.difference(hgnc_gene_symbol_set)
len(name_hgnc_notmatch)

25

In [151]:
cleaned_name_hgnc_notmatch = [x for x in name_hgnc_notmatch if str(x) != "NaN"]
len(cleaned_name_hgnc_notmatch)

25

In [152]:
name_ncbi_notmatch = dgidb_name_set.difference(ncbi_gene_symbol_set)
len(name_ncbi_notmatch)

97

In [153]:
name_ncbi_hgnc_notmatch = name_ncbi_notmatch.difference(hgnc_gene_symbol_set)
len(name_ncbi_hgnc_notmatch)

9

How many groups are labeled with a symbol not found in the sets of primary symbols from HGNC, NCBI, or ENSG?

In [154]:
name_ncbi_hgnc_ensg_notmatch = name_ncbi_hgnc_notmatch.difference(ensg_gene_symbol_set)
len(name_ncbi_hgnc_ensg_notmatch)

8

In [155]:
name_ncbi_hgnc_ensg_notmatch

{'ACT', 'ATP5A2', 'BTNL1', 'CYB5P1', 'GAPDHL17', 'OA1', 'USP17L', 'mCR'}

In [156]:
len(dgidb_name_set)

12001

#### <a id='toc1_1_2_9_'></a>[How many unique claims are not primary gene symbols?](#toc0_)

In [157]:
gene_claim_name_ensg_notmatch = dgidb_gene_claim_name_set.difference(
    ensg_gene_symbol_set
)
len(gene_claim_name_ensg_notmatch)

15029

In [158]:
cleaned_gene_claim_name_ensg_notmatch = [
    x for x in gene_claim_name_ensg_notmatch if str(x) != "NaN"
]
len(cleaned_gene_claim_name_ensg_notmatch)

15029

In [159]:
gene_claim_name_hgnc_notmatch = dgidb_gene_claim_name_set.difference(
    hgnc_gene_symbol_set
)
len(gene_claim_name_hgnc_notmatch)

14755

In [160]:
gene_claim_name_ncbi_notmatch = dgidb_gene_claim_name_set.difference(
    ncbi_gene_symbol_set
)
len(gene_claim_name_ncbi_notmatch)

14828

In [161]:
gene_claim_name_ncbi_hngc_notmatch = gene_claim_name_ncbi_notmatch.difference(
    hgnc_gene_symbol_set
)
len(gene_claim_name_ncbi_hngc_notmatch)

14738

How many unique claims are not primary symbols

In [162]:
gene_claim_name_ncbi_hngc_ensg_notmatch = gene_claim_name_ncbi_hngc_notmatch.difference(
    ensg_gene_symbol_set
)
num_not_primary_claims = len(gene_claim_name_ncbi_hngc_ensg_notmatch)
num_not_primary_claims

14735

#### <a id='toc1_1_2_10_'></a>[Load the collision sets from each data source](#toc0_)

Input: aa_collision_x_df.csv (total_alis_overlap.ipynb)

Output: x_alias_alias_collision_set

In [163]:
aa_collision_hgnc_df = pd.read_csv(
    "../created_files/aa_collision_HGNC_count_df.csv",
    na_values=["", "NULL"],
    keep_default_na=False,
)

In [164]:
hgnc_alias_alias_collision_set = set(aa_collision_hgnc_df["collision"])
len(hgnc_alias_alias_collision_set)

1250

In [165]:
aa_collision_ncbi_df = pd.read_csv(
    "../created_files/aa_collision_NCBI_count_df.csv",
    na_values=["", "NULL"],
    keep_default_na=False,
)

In [166]:
ncbi_alias_alias_collision_set = set(aa_collision_ncbi_df["collision"])
len(ncbi_alias_alias_collision_set)

3711

In [167]:
aa_collision_ensg_df = pd.read_csv(
    "../created_files/aa_collision_ENSG_count_df.csv",
    na_values=["", "NULL"],
    keep_default_na=False,
)

In [168]:
ensg_alias_alias_collision_set = set(aa_collision_ensg_df["collision"])
len(ensg_alias_alias_collision_set)

1617

#### <a id='toc1_1_2_11_'></a>[How many unique group names are primary gene symbols?](#toc0_)

In [169]:
name_hgnc_match = dgidb_name_set.intersection(hgnc_gene_symbol_set)
len(name_hgnc_match)

11976

In [170]:
name_ensg_match = dgidb_name_set.intersection(ensg_gene_symbol_set)
len(name_ensg_match)

11703

In [171]:
name_ncbi_match = dgidb_name_set.intersection(ncbi_gene_symbol_set)
len(name_ncbi_match)

11904

In [172]:
name_ncbi_ensg_match = name_ncbi_match.intersection(ensg_gene_symbol_set)
len(name_ncbi_ensg_match)

11685

In [173]:
name_ncbi_ensg_hgnc_match = name_ncbi_ensg_match.intersection(hgnc_gene_symbol_set)
len(name_ncbi_ensg_hgnc_match)

11684

#### <a id='toc1_1_2_12_'></a>[How many of the groups that are labeled with a primary gene symbol are also alias-alias collisions?](#toc0_)

In [174]:
name_ncbi_match_aacollision = name_ncbi_match.intersection(
    ncbi_alias_alias_collision_set
)
len(name_ncbi_match_aacollision)

136

In [175]:
name_ensg_match_aacollision = name_ensg_match.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_match_aacollision)

42

In [176]:
name_ensg_notmatch_aacollision = name_ensg_notmatch.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_notmatch_aacollision)

3

#### <a id='toc1_1_2_13_'></a>[How many unique claim symbols are collisions?](#toc0_)

In [177]:
gene_claim_name_ensg_aacollision_match = dgidb_gene_claim_name_set.intersection(
    ensg_alias_alias_collision_set
)
len(gene_claim_name_ensg_aacollision_match)

98

In [178]:
gene_claim_name_hgnc_aacollision_match = dgidb_gene_claim_name_set.intersection(
    hgnc_alias_alias_collision_set
)
len(gene_claim_name_hgnc_aacollision_match)

77

In [179]:
gene_claim_name_ncbi_aacollision_match = dgidb_gene_claim_name_set.intersection(
    ncbi_alias_alias_collision_set
)
len(gene_claim_name_ncbi_aacollision_match)

240

#### <a id='toc1_1_2_14_'></a>[How many unique groups are labeled with collisions?](#toc0_)

In [180]:
name_ensg_aacollision_match = dgidb_name_set.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_aacollision_match)

45

In [181]:
name_hgnc_aacollision_match = dgidb_name_set.intersection(
    hgnc_alias_alias_collision_set
)
len(name_hgnc_aacollision_match)

42

In [182]:
name_ncbi_aacollision_match = dgidb_name_set.intersection(
    ncbi_alias_alias_collision_set
)
len(name_ncbi_aacollision_match)

138

#### <a id='toc1_1_2_15_'></a>[How many unique claims are not primary gene symbols?](#toc0_)

In [183]:
gene_claim_name_hgnc_notmatch = dgidb_gene_claim_name_set.difference(
    hgnc_gene_symbol_set
)
len(gene_claim_name_hgnc_notmatch)

14755

In [184]:
gene_claim_name_ensg_notmatch = dgidb_gene_claim_name_set.difference(
    ensg_gene_symbol_set
)
len(gene_claim_name_ensg_notmatch)

15029

In [185]:
gene_claim_name_ncbi_notmatch = dgidb_gene_claim_name_set.difference(
    ncbi_gene_symbol_set
)
len(gene_claim_name_ncbi_notmatch)

14828

#### <a id='toc1_1_2_16_'></a>[How many unique claims that were not primary symbols are collisions?](#toc0_)

In [186]:
gene_claim_name_hgnc_notmatch_aacollision = gene_claim_name_hgnc_notmatch.intersection(
    hgnc_alias_alias_collision_set
)
len(gene_claim_name_hgnc_notmatch_aacollision)

36

In [187]:
gene_claim_name_ncbi_notmatch_aacollision = gene_claim_name_ncbi_notmatch.intersection(
    ncbi_alias_alias_collision_set
)
len(gene_claim_name_ncbi_notmatch_aacollision)

104

In [188]:
gene_claim_name_ensg_notmatch_aacollision = gene_claim_name_ensg_notmatch.intersection(
    ensg_alias_alias_collision_set
)
len(gene_claim_name_ensg_notmatch_aacollision)

56

#### <a id='toc1_1_2_17_'></a>[How many unique claims that are primary gene symbols are also collisions?](#toc0_)

In [189]:
gene_claim_name_hgnc_match = dgidb_gene_claim_name_set.intersection(
    hgnc_gene_symbol_set
)
len(gene_claim_name_hgnc_match)

11984

In [190]:
gene_claim_name_hgnc_match_aacollision = gene_claim_name_hgnc_match.intersection(
    hgnc_alias_alias_collision_set
)
len(gene_claim_name_hgnc_match_aacollision)

41

In [191]:
gene_claim_name_ncbi_match = dgidb_gene_claim_name_set.intersection(
    ncbi_gene_symbol_set
)
len(gene_claim_name_ncbi_match)

11911

In [192]:
gene_claim_name_ncbi_match_aacollision = gene_claim_name_ncbi_match.intersection(
    ncbi_alias_alias_collision_set
)
len(gene_claim_name_ncbi_match_aacollision)

136

In [193]:
gene_claim_name_ensg_match = dgidb_gene_claim_name_set.intersection(
    ensg_gene_symbol_set
)
len(gene_claim_name_ensg_match)

11710

In [194]:
gene_claim_name_ensg_match_aacollision = gene_claim_name_ensg_match.intersection(
    ensg_alias_alias_collision_set
)
len(gene_claim_name_ensg_match_aacollision)

42

#### <a id='toc1_1_2_18_'></a>[How many of the gene groups that are not primary gene symbols are alias-alias collisions from HGNC?](#toc0_)

In [195]:
name_hngc_notmatch_aacollision = name_hgnc_notmatch.intersection(
    hgnc_alias_alias_collision_set
)
len(name_hngc_notmatch_aacollision)

1

In [196]:
name_ncbi_notmatch_aacollision = name_ncbi_notmatch.intersection(
    ncbi_alias_alias_collision_set
)
len(name_ncbi_notmatch_aacollision)

2

In [197]:
name_ensg_notmatch_aacollision = name_ensg_notmatch.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_notmatch_aacollision)

3

#### <a id='toc1_1_2_19_'></a>[How many claims are ambiguous symbols?](#toc0_)

In [198]:
dgidb_gene_df["claim_ambiguous_status"] = dgidb_gene_df["gene_claim_name"].isin(
    ambiguous_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False

In [199]:
dgidb_gene_df["claim_ambiguous_status"].value_counts()

claim_ambiguous_status
False    75358
True      4876
Name: count, dtype: int64

In [200]:
ambiguous_claim_df = dgidb_gene_df.loc[dgidb_gene_df["claim_ambiguous_status"]]
num_ambiguous_claim = len(ambiguous_claim_df)
num_ambiguous_claim

4876

In [201]:
ambiguous_claim_df.loc[ambiguous_claim_df["gene_claim_name"] == "TR2"]

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status
18,TR2,NCBI Gene Name,hgnc:7971,NR2C1,BaderLab,Feb-14,True

#### <a id='toc1_1_2_20_'></a>[How many gene group labels are ambiguous symbols?](#toc0_)

In [202]:
dgidb_gene_df["name_ambiguous_status"] = dgidb_gene_df["gene_name"].isin(
    ambiguous_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False

In [203]:
dgidb_gene_df["name_ambiguous_status"].value_counts()

name_ambiguous_status
False    74459
True      5775
Name: count, dtype: int64

In [204]:
ambiguous_name_df = dgidb_gene_df.loc[dgidb_gene_df["name_ambiguous_status"]]
num_ambiguous_name = len(ambiguous_name_df)
num_ambiguous_name

5775

#### <a id='toc1_1_2_21_'></a>[How many claims are primary symbols?](#toc0_)

In [205]:
dgidb_gene_df["claim_primary_status"] = dgidb_gene_df["gene_claim_name"].isin(
    hgnc_ensg_ncbi_gene_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True

In [206]:
dgidb_gene_df["claim_primary_status"].value_counts()

claim_primary_status
True     64209
False    16025
Name: count, dtype: int64

In [207]:
primary_claim_df = dgidb_gene_df.loc[dgidb_gene_df["claim_primary_status"]]
num_primary_claim = len(primary_claim_df)
num_primary_claim

64209

#### <a id='toc1_1_2_22_'></a>[How many gene group labels are primary symbols?](#toc0_)

In [208]:
dgidb_gene_df["name_primary_status"] = (
    dgidb_gene_df["gene_name"].astype(str).isin(hgnc_ensg_ncbi_gene_symbol_set)
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True,True
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True,True
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False,True
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True,True

In [209]:
dgidb_gene_df["name_primary_status"].value_counts()

name_primary_status
True     78074
False     2160
Name: count, dtype: int64

In [210]:
primary_name_df = dgidb_gene_df.loc[dgidb_gene_df["name_primary_status"]]
num_primary_name = len(primary_name_df)
num_primary_name

78074

In [211]:
not_primary_group_name_df = dgidb_gene_df.loc[~dgidb_gene_df["name_primary_status"]]
not_primary_group_name_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
57108,NCBIGENE:2614,NCBI Gene ID,ncbigene:2614,GAPDHL17,GuideToPharmacology,2024.1,False,False,False,False
57552,CYB5P1,Gene Symbol,ncbigene:1529,CYB5P1,NCBI,20240410,False,False,False,False
66195,OA1,Gene Symbol,ncbigene:474285,OA1,NCBI,20240410,False,False,False,False
66196,OA1,Gene Symbol,ncbigene:474285,OA1,dGene,27-Jun-13,False,False,False,False
74562,ATP5A2,Gene Symbol,ncbigene:499,ATP5A2,NCBI,20240410,False,False,False,False

#### <a id='toc1_1_2_23_'></a>[How many gene group labels are alias symbols?](#toc0_)

In [212]:
dgidb_gene_df["name_alias_status"] = dgidb_gene_df["gene_name"].isin(
    hgnc_ensg_ncbi_alias_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True,True,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True,True,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False,True,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True,True,False

In [213]:
dgidb_gene_df["name_alias_status"].value_counts()

name_alias_status
False    72260
True      7974
Name: count, dtype: int64

In [214]:
alias_name_df = dgidb_gene_df.loc[dgidb_gene_df["name_alias_status"]]
num_alias_name = len(alias_name_df)
num_alias_name

7974

In [215]:
print("Calmbp1" in hgnc_ensg_ncbi_alias_symbol_set)

True

#### <a id='toc1_1_2_24_'></a>[How many claims are alias symbols?](#toc0_)

In [216]:
dgidb_gene_df["claim_alias_status"] = dgidb_gene_df["gene_claim_name"].isin(
    hgnc_ensg_ncbi_alias_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status,claim_alias_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True,True,False,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True,True,False,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False,True,False,True
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True,True,False,False

In [217]:
dgidb_gene_df["claim_alias_status"].value_counts()

claim_alias_status
False    74684
True      5550
Name: count, dtype: int64

In [218]:
alias_claims_df = dgidb_gene_df.loc[dgidb_gene_df["claim_alias_status"]]
num_alias_claims = len(alias_claims_df)
num_alias_claims

5550

#### <a id='toc1_1_2_25_'></a>[How many claims that were normalized into non-primary symbol labeled groups are alias symbols?](#toc0_)

In [219]:
dgidb_gene_df["claim_alias_status"] = dgidb_gene_df["gene_claim_name"].isin(
    hgnc_ensg_ncbi_alias_symbol_set
)
alias_claim_not_primary_group_name_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_alias_status"] & ~dgidb_gene_df["name_primary_status"]
]
alias_claim_not_primary_group_name_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status,claim_alias_status
3251,USP17L,Gene Symbol,ncbigene:100862847,USP17L,dGene,27-Jun-13,False,False,False,False,True,True
38737,USP17L,Gene Symbol,ncbigene:100862847,USP17L,NCBI,20240410,False,False,False,False,True,True
55006,ACT,Gene Symbol,ncbigene:389036,ACT,NCBI,20240410,True,True,False,False,True,True
66195,OA1,Gene Symbol,ncbigene:474285,OA1,NCBI,20240410,False,False,False,False,True,True
66196,OA1,Gene Symbol,ncbigene:474285,OA1,dGene,27-Jun-13,False,False,False,False,True,True

#### <a id='toc1_1_2_26_'></a>[How many not normalized claims are alias symbols?](#toc0_)

In [220]:
alias_claim_null_name_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_alias_status"] & dgidb_gene_df["gene_name"].isnull()
]
len(alias_claim_null_name_df)

0

#### <a id='toc1_1_2_27_'></a>[How many gene group labels are not primary, alias symbols, or null?](#toc0_)

In [221]:
other_name_df = dgidb_gene_df.loc[
    ~dgidb_gene_df["name_alias_status"]
    & ~dgidb_gene_df["name_primary_status"]
    & ~dgidb_gene_df["gene_name"].isnull()
]
num_other_name = len(other_name_df)
num_other_name

10

#### <a id='toc1_1_2_28_'></a>[How many claims are not primary, alias symbols, or null?](#toc0_)

In [222]:
other_claim_df = dgidb_gene_df.loc[
    ~dgidb_gene_df["claim_alias_status"] & ~dgidb_gene_df["claim_primary_status"]
]
num_other_claim = len(other_claim_df)
num_other_claim

15270

#### <a id='toc1_1_2_29_'></a>[How many claims are primary and alias symbols?](#toc0_)

In [223]:
primaryandalias_claim_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_alias_status"] & dgidb_gene_df["claim_primary_status"]
]
num_primaryandalias_claim = len(primaryandalias_claim_df)
num_primaryandalias_claim

4795

#### <a id='toc1_1_2_30_'></a>[How many primary symbol claims are normalized into non-primary gene group labels?](#toc0_)

In [224]:
claim_true_name_false_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_primary_status"] & ~dgidb_gene_df["name_primary_status"]
]
claim_true_name_false_df

Empty DataFrame
Columns: [gene_claim_name, nomenclature, concept_id, gene_name, source_db_name, source_db_version, claim_ambiguous_status, name_ambiguous_status, claim_primary_status, name_primary_status, name_alias_status, claim_alias_status]
Index: []

In [225]:
len(claim_true_name_false_df)

0

### <a id='toc1_1_3_'></a>[Summary](#toc0_)

#### <a id='toc1_1_3_1_'></a>[Normalization Rates](#toc0_)

In [226]:
normalization_index = "Normalized", "Not Normalized", "Total"
normalization_summary = {
    "Number of Claims": [
        num_normalized_claims,
        num_not_normalized_claims,
        num_total_claims,
    ]
}
normalization_summary_df = pd.DataFrame(
    normalization_summary, index=normalization_index
)
normalization_summary_df

                Number of Claims
Normalized                 78090
Not Normalized              2144
Total                      80234

#### <a id='toc1_1_3_2_'></a>[Types of Claim Symbols](#toc0_)

- Primary and Alias symbols are not exclusive as some primary symbols are used as aliases (alias-primary collisions)
- Other does not include any Primary or Alias symbols
- Ambiguous symbols can be either Primary or Alias

In [227]:
claim_index = "Primary", "Alias", "Other", "Ambiguous", "Total"
claim_summary = {
    "Number of Claims": [
        num_primary_claim,
        num_alias_claims,
        num_other_claim,
        num_ambiguous_claim,
        num_total_claims,
    ]
}
claim_summary_df = pd.DataFrame(claim_summary, index=claim_index)
claim_summary_df

           Number of Claims
Primary               64209
Alias                  5550
Other                 15270
Ambiguous              4876
Total                 80234

#### <a id='toc1_1_3_3_'></a>[Types of Normalizations (gene group labels claims are being normliazed into)](#toc0_)

In [228]:
gene_group_index = "Primary", "Alias", "Null", "Other", "Ambiguous", "Total"
gene_group_summary = {
    "Number of Claims": [
        num_primary_name,
        num_alias_name,
        num_not_normalized_claims,
        num_other_name,
        num_ambiguous_name,
        num_total_claims,
    ]
}
gene_group_summary_df = pd.DataFrame(gene_group_summary, index=gene_group_index)
gene_group_summary_df

           Number of Claims
Primary               78074
Alias                  7974
Null                   2144
Other                    10
Ambiguous              5775
Total                 80234