# <a id='toc1_'></a>[DGIdb ambiguous claims](#toc0_)

**Table of contents**<a id='toc0_'></a>    
- [DGIdb ambiguous claims](#toc1_)    
    - [Analyzing similaritis b/w alias-primary and alias-alias collisions](#toc1_1_1_)    
      - [Load merged alias-alias and alias-priamry collision sets. Symbols are the ambiguous symbols.](#toc1_1_1_1_)    
      - [How many of the alias-primary collisions are also alias-alias collisions?](#toc1_1_1_2_)    
      - [How many unique ambiguous symbosl are there b/w alias-primary and alias-alias collisions?](#toc1_1_1_3_)    
    - [Primary exploration of DGIdb gene content using collisions](#toc1_1_2_)    
      - [Load gene claim data from DGIdb](#toc1_1_2_1_)    
      - [How many claims are placed in a gene group with a different label?](#toc1_1_2_2_)    
      - [How many claims are not normalized?](#toc1_1_2_3_)    
      - [Create set of gene groups (gene_name) and gene claims (gene_claim_name)](#toc1_1_2_4_)    
      - [Load HGNC, Ensembl (ENSG), and NCBI gene and alias sets](#toc1_1_2_5_)    
      - [How many unique primary gene symbols are there b/w HGNC, Ensembl, and NCBI?](#toc1_1_2_6_)    
      - [How many unique alias symbols are there b/w HGNC, Ensembl, and NCBI?](#toc1_1_2_7_)    
      - [How many unique group names are not primary gene symbols?](#toc1_1_2_8_)    
      - [How many unique claims are not primary gene symbols?](#toc1_1_2_9_)    
      - [Load the collision sets from each data source](#toc1_1_2_10_)    
      - [How many unique group names are primary gene symbols?](#toc1_1_2_11_)    
      - [How many of the groups that are labeled with a primary gene symbol are also alias-alias collisions?](#toc1_1_2_12_)    
      - [How many unique claim symbols are collisions?](#toc1_1_2_13_)    
      - [How many unique groups are labeled with collisions?](#toc1_1_2_14_)    
      - [How many unique claims are not primary gene symbols?](#toc1_1_2_15_)    
      - [How many unique claims that were not primary symbols are collisions?](#toc1_1_2_16_)    
      - [How many unique claims that are primary gene symbols are also collisions?](#toc1_1_2_17_)    
      - [How many of the gene groups that are not primary gene symbols are alias-alias collisions from HGNC?](#toc1_1_2_18_)    
      - [How many claims are ambiguous symbols?](#toc1_1_2_19_)    
      - [How many gene group labels are ambiguous symbols?](#toc1_1_2_20_)    
      - [How many claims are primary symbols?](#toc1_1_2_21_)    
      - [How many gene group labels are primary symbols?](#toc1_1_2_22_)    
      - [How many gene group labels are alias symbols?](#toc1_1_2_23_)    
      - [How many claims are alias symbols?](#toc1_1_2_24_)    
      - [How many claims that were normalized into non-primary symbol labeled groups are alias symbols?](#toc1_1_2_25_)    
      - [How many not normalized claims are alias symbols?](#toc1_1_2_26_)    
      - [How many gene group labels are not primary, alias symbols, or null?](#toc1_1_2_27_)    
      - [How many claims are not primary, alias symbols, or null?](#toc1_1_2_28_)    
      - [How many claims are primary and alias symbols?](#toc1_1_2_29_)    
      - [How many primary symbol claims are normalized into non-primary gene group labels?](#toc1_1_2_30_)    
    - [Summary](#toc1_1_3_)    
      - [Normalization Rates](#toc1_1_3_1_)    
      - [Types of Claim Symbols](#toc1_1_3_2_)    
      - [Types of Normalizations (gene group labels claims are being normliazed into)](#toc1_1_3_3_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

In [241]:
import pandas as pd
import numpy as np
import plotly.express as px

### <a id='toc1_1_1_'></a>[Analyzing similaritis b/w alias-primary and alias-alias collisions](#toc0_)

#### <a id='toc1_1_1_1_'></a>[Load merged alias-alias and alias-priamry collision sets. Symbols are the ambiguous symbols.](#toc0_)

Input: merged_alias_gene_intersections.csv (total_alias_gene_intersections.ipynb), merged_alias_overlap_df_2.csv (total_alias_overlap.ipynb)

Output: merged_alias_primary_collision_set, merged_alias_alias_collision_set

In [242]:
merged_alias_primary_collisions_df = pd.read_csv(
    "../created_files/merged_alias_primary_collisions_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [243]:
merged_alias_primary_collision_set = set(
    merged_alias_primary_collisions_df["collision"]
)
len(merged_alias_primary_collision_set)

1677

In [244]:
merged_alias_alias_collisions_df = pd.read_csv(
    "../created_files/merged_aa_collision_alias_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [245]:
merged_alias_alias_collision_set = set(
    merged_alias_alias_collisions_df["collision"].tolist()
)
len(merged_alias_alias_collision_set)

3824

#### <a id='toc1_1_1_2_'></a>[How many of the alias-primary collisions are also alias-alias collisions?](#toc0_)

In [246]:
print(
    len(
        merged_alias_alias_collision_set.intersection(
            merged_alias_primary_collision_set
        )
    )
)

271

#### <a id='toc1_1_1_3_'></a>[How many unique ambiguous symbosl are there b/w alias-primary and alias-alias collisions?](#toc0_)

In [247]:
ambiguous_symbol_set = merged_alias_alias_collision_set.union(
    merged_alias_primary_collision_set
)
print(len(ambiguous_symbol_set))

5230

In [248]:
ambiguous_symbol_set

{'TAT',
 'SAR',
 'DELTA',
 'PFD',
 'MK2',
 'CAC1',
 'DAND1',
 'CAP3',
 'SPC3',
 'NKHC',
 'PAC1',
 'HBAB',
 'ZNF20',
 'PCT',
 'ELP1',
 'NRF2',
 'PAK5',
 'CEP1',
 'FAM90A17P',
 'PCGF4',
 'DEF6',
 'GAR1',
 'HXBL',
 'MRT1',
 'AIS1',
 'BIG3',
 'PHR1',
 'FOP',
 'TCRAV11S1',
 'NBPF',
 'MIO',
 'EFTUD1',
 'MCSP',
 'MIP-1-BETA',
 'GR',
 'CBS',
 'ELF1',
 'GCP-1',
 'TAT1',
 'CRAM',
 'CANP',
 'MGAT1',
 'ME2',
 'YMR292W',
 'TTL',
 'HL-2',
 'CT4.7',
 'TRB',
 'TCRAV24S1',
 'SMILE',
 'SPACDR',
 'HGPS',
 'NPIPA8',
 'FAM18B2',
 'CNIH2',
 'CBLC',
 'CPAD',
 'OR17-16',
 'AST',
 'KIR',
 'WDR82',
 'ADAM18',
 'NSCL2',
 'MUC5',
 'D3',
 'HSD11',
 'NET4',
 'TSPY8',
 'SES2',
 'POP1',
 'SCYL3',
 'OR11H12',
 'U7',
 'ECGP',
 'TRR-TCT3-1',
 'E3',
 'KRTAP4-7',
 'COAS3',
 'NOS',
 'HMCS',
 'TRP-AGG2-5',
 'HCAP',
 'AMD1',
 'OR2A7',
 'TARG1',
 'OS4',
 'ARG',
 'CDS1',
 'ECA2',
 'POLG',
 'MIHC',
 'SMUC',
 'OCC-1',
 'TM',
 'SFPQ',
 'BMH',
 'CRP1',
 'PFHB1',
 'CHAMP',
 'COD1',
 'PRP',
 'DEL16P11.2',
 'MYT1',
 'EFA6R',
 'NY-REN-2',
 'NET',
 'TNRC14',
 'FAE',
 'FADS1',
 'MS4A8',
 'GS2',
 'GL',
 'SPANX',
 'TC2',
 'MD1',
 'SLC23A1',
 'PLAP-1',
 'CRD',
 'AZI',
 'DGCR6',
 'H3',
 'TDE2',
 'MLN',
 'SNT2',
 'APT2',
 'SPK',
 'HAS1',
 'SSB2',
 'P160',
 'HPIP',
 'MRX92',
 'GSG1',
 'BPAD',
 'GATD6',
 'POTE2BETA',
 'GABPB2',
 'TFQTL2',
 'ILT5',
 'ICBP90',
 'SEMA',
 'MPD3',
 'CDH20',
 'PAP-ALPHA',
 'EXOC1',
 'SAC3',
 'TBC1D3L',
 'CAP2',
 'LCAD',
 'CYP2D7AP',
 'OR21-1',
 'PTC',
 'AD10',
 'OR7E75P',
 'PIG5',
 'HCG',
 'CSBS',
 'DLP1',
 'SCC1',
 'TRE',
 'IBP1',
 'ZBP1',
 'TSPY1',
 'AK3L2',
 'SMG',
 'TRNAI-AAU',
 'EDH17B2',
 'TIM',
 'TAK1',
 'RRF',
 'PSS3',
 'TP2',
 'ZNF688',
 'DRP3',
 'AG2',
 'CK20',
 'UGT1E',
 'GAL3ST2',
 'PBG1',
 'MET',
 'DAR',
 'TRD',
 'TRNAV22',
 'GT1',
 'CDR1AS',
 'ARH1',
 'LPSAT',
 '2F1',
 'MRPS12',
 'RIP5',
 'MORF4LP4',
 'NOD',
 'PSM',
 'ADCY3',
 'FABP5P1',
 'GST1',
 'LBP',
 'CPP',
 'TSH2',
 'OF',
 'MN',
 'SIK1',
 'AMDD',
 'SOD2',
 'UBL5',
 'THG1',
 'MB1',
 'TCF3',
 'MCT1',
 'HRG',
 'NLF1',
 'PK3',
 'SMA4',
 'PAD',
 'RAM',
 'GLUC',
 'I1',
 'PRIP',
 'KNO2',
 'MUC3A',
 'SRGAP2',
 'CLG',
 'CSF',
 'PPIAL4F',
 'SPP1',
 'SIGLECP2',
 'MGC45441',
 'RNTMI2',
 'NRP',
 'B37',
 'DDX11L1',
 'H4C12',
 'ZNF183',
 'S13',
 'NTN4',
 'RIT1',
 'CGB5',
 'SCL',
 'GPR136',
 'SSF1',
 'A15',
 'TAO1',
 'C6ORF68',
 'DAP1',
 'CT5.2',
 'P51',
 'COX2',
 'IP',
 'RP1',
 'SAN',
 'GAL7',
 'CKMT1',
 'CYK4',
 'CYP1',
 'FKBP9',
 'TRBP',
 'SNAPA',
 'MIC1',
 'BST1',
 'HLA-DRB',
 'ARSB',
 'AF-1',
 'BEDP',
 'ASC2',
 'IFN-ALPHAI',
 'LBNBG',
 '5PTASE',
 'LPD',
 'GBF1',
 'BXDC3',
 'MIR17HG',
 'HIES6',
 'GCAP-I',
 'E4TF1B',
 'SP110',
 'LCA',
 'VCF',
 'MACS',
 'GH',
 'FRP',
 'TP53TG3E',
 'BRF2',
 'P33',
 'ALDA',
 'IRT1',
 'NALD',
 'CIR',
 'PRPH',
 'ULG4',
 'TOF',
 'HC8',
 'HLP',
 'ZNF474',
 'INCA',
 'LCP1',
 'SCAR3',
 'RP3',
 'IGHM',
 'MBD1',
 'HIS',
 'MYPOP',
 'L22',
 'ART1',
 'CHN',
 'PGS2',
 'SET7',
 'RGR',
 'ATP1A1',
 'ADA1',
 'MIP2',
 'APC2',
 'GPX6',
 'TCRGV5P',
 'CLK1',
 'ACTP1',
 'RAP1GA1',
 'PRH',
 'SIL',
 'CX30.2',
 'TFP',
 'GCB',
 'C7ORF55',
 'HML',
 'CSS3',
 'MRX82',
 'CCL4L',
 'ESG1',
 'GP135',
 'SCYA4L',
 'PAIS',
 'ATP6C',
 'RBMY1A1',
 'P97',
 'AMCN',
 'IGHV3-3',
 'PRK1',
 'OR7E72P',
 'PK',
 'HSST2',
 'POST',
 'IGHV4-4',
 'SAD1',
 'LAD',
 'DAGK',
 'RNU1P2',
 'POLH',
 'OFD1P2',
 'OR11-104',
 'TKT',
 'FCCMS',
 'PCA1',
 'TAAR2',
 'ROX',
 'FCRLB',
 'TRF',
 'UP2',
 'HLP2',
 'PAI',
 'GPHR',
 'HMAT1',
 'RWS',
 'HAP40',
 'TRK',
 'MYP4',
 'RAB7',
 'SIRPB2',
 'TBC1D3A',
 'LAGE-2',
 'HPCA',
 'PHS',
 'ARB1',
 'SPANX-E',
 'OR19-6',
 'MLT',
 'PDI',
 'R51H3',
 'FPP',
 'P62',
 'RIP-1',
 'UGT-1C',
 'PRR20D',
 'IMP-3',
 'RETSDR2',
 'RPL36A',
 'SPS2',
 'NCC-3',
 'CEP4',
 'PIUS',
 'MELF2',
 'L8',
 'DC7',
 'BD-3',
 'C7',
 'DEFB-5',
 'KOX31',
 'DFNB35',
 'SYN1A',
 'ROR1',
 'TRYP2',
 'NIRF',
 'HI',
 'NRP2',
 'TP1',
 'SK2',
 'PTX1',
 'INPP5F',
 'SMA3-L',
 'SULT1A3',
 'HRCA1',
 'Z18',
 'STAG3L2',
 'ATS2',
 'FBL5',
 'PACER',
 'SH120',
 'CRT',
 'TRAP-1',
 'CSD',
 'ADA2',
 'RIA1',
 'RIF1',
 'TSBP',
 'ABC1',
 'TRX',
 'EIF4F',
 'SAP',
 'HSP70.1',
 'TRAMP',
 'APMR1',
 'SPR',
 'LRRC51',
 'BACH1',
 'FAAP16',
 'COII',
 'HEL-75',
 'UBC4/5',
 'SF1',
 'TCTEX4',
 'SPATA31C2',
 'CMT1',
 'SPRK',
 'TAL',
 'H2BFA',
 'KAT',
 'HBII-52-46',
 'FADS',
 'CAM1',
 'CBWD3',
 'D3F15S2',
 'MAS1',
 'CCTB',
 'NEK8',
 'TFIIH',
 'TCEB1L',
 'TP53TG3B',
 'ATF',
 'SUT2',
 'OR6-1',
 'RNU1P1',
 'ZIP4',
 'H2B/S',
 'CDR',
 'FCRIII',
 'CDC14B2',
 'HRS',
 'XAP3',
 'ASPRS',
 'PYPAF7',
 'PRR20A',
 'QARS',
 'MLC2',
 'HEBP1',
 'ELOA3CP',
 'SEMAL',
 'COX7AL',
 'PRR4',
 'TCP11X2',
 'RP8',
 'GUSBP9',
 'STK7',
 'CCR4',
 'KV10.1',
 'M-FABP',
 'ELP4',
 'BTN1',
 'TTG1',
 'R1',
 'CLNS1B',
 'UGT1A3',
 'P100',
 'TLL',
 'TUBA2',
 'KRTAP5-3',
 'MS4A4',
 'MSH',
 'TAN1',
 'TRG-GCC2-3',
 'CPBHM',
 'NF1L6',
 'KLIP1',
 'CYP2B',
 'P240',
 'CRP',
 'OI4',
 'ARX',
 'MPP6',
 'PIG8',
 'DLD',
 'RPN2',
 'TASP',
 'PIG9',
 'PRG',
 'APM-1',
 'ZSCAN31',
 'FJHN',
 'HH',
 'MST',
 'COAS2',
 'TTY6',
 'PMF1',
 'CT45-2',
 'M130',
 'HMS',
 'CL-6',
 'PAM-1',
 'ASB3',
 'RSC6P',
 'UGT2',
 'P22',
 'NAC',
 'VDAC3',
 'TRY-GTA5-3',
 'TRAP',
 'BAL',
 'P25',
 'EBS4',
 'TCRGC1',
 'EFG',
 'EGLN2',
 'USP17L26',
 'P34',
 'SLEB6',
 'M-ABC1',
 'CHED',
 'NIDDM1',
 'MAD3',
 'MLCK',
 'DUP',
 'AOH1',
 'LDB1',
 'NPHP3',
 'FBS1',
 'CDD',
 'TRAV11',
 'RNA5-8SP',
 'PST',
 'ML-1',
 'U5B1',
 'MINT',
 'SMAC3L',
 'GLCT1',
 'ARG1',
 'RFT1',
 'S3',
 'MIG7',
 'GPRASP3',
 'NKIR',
 'TRX-CAT1-6',
 'INT2',
 'PAFAH',
 'GST2',
 'BRF-1',
 'CRL1',
 'MMAA',
 'SPO',
 'WRS',
 'RU2',
 'TEBP',
 'DSH',
 'ACAT',
 'RYR',
 'CMT2T',
 'RASSF5',
 'ATDC',
 'FCT3A',
 'SPINT3',
 'TRD-GTC2-7',
 'AIRP',
 'SAE2',
 'ESO1',
 'GLUD1',
 'H3.1',
 'MIR-129B',
 'APO-CIV',
 'CGRP',
 'BDPLT2',
 'ARP10',
 'PPT2',
 'ANT',
 'TAZ',
 'CAPS1',
 'ANG1',
 'DNM1DN3@',
 'H-REV107',
 'NBS',
 'VPH1',
 'OR4M2',
 'FADS2',
 'MBP-1',
 'CSRP2BP',
 'P26',
 'CXDELQ22.3',
 'TP53TG3',
 'ETK',
 'PSF2',
 'HPF1',
 'WSS',
 'KIR2DL5B',
 'CRIP',
 'TRP2',
 'CD98',
 'RZF',
 'OAT1',
 'ANKRD30BP3',
 'PAR-4',
 'ARP2',
 'TLX',
 'GALNT15',
 'CD32',
 'MSF',
 'EZH1',
 'P50',
 'HP1',
 'FAM28A',
 'TTTY9A',
 'MRPL27',
 'OR912-108',
 'IFNT1',
 'ETL1',
 'C9ORF2',
 'IBGC2',
 'RANBP7',
 'CAF1A',
 'ALS19',
 'HCA1',
 'ST3',
 'L11',
 'CYP2D',
 'RCD1',
 'NEUROPSIN',
 'TRM1',
 'ACC',
 'LTBP3',
 'SPAG11A',
 'SRGAP3',
 'APOC-IV',
 'SEMG',
 'MUC9',
 'CTLA1',
 'DAGK6',
 'SAT3',
 'SDH1',
 'CPA6',
 'MCT5',
 'TCRBV12S2',
 'SPN',
 'F2',
 'VMA10',
 'KGA',
 'ST7',
 'MIR1',
 'COPS7B',
 'AAT1',
 'ASPS',
 'MAP-2',
 'SCARNA17',
 'KAT3',
 'DCR2',
 'EIF3-P110',
 'EDM4',
 'CFC1B',
 'NRP1',
 'OCP2',
 'PAN2',
 'FIG',
 'MED24',
 'PRP4',
 'CLL1',
 'LRH-1',
 'CLA3',
 'DMC1',
 'PDA2',
 'STD',
 'CT1.5',
 'DBI',
 'LEU2',
 'USP17',
 'FA1',
 'LGL1',
 'MADM',
 'NOR1',
 'DRS1',
 'ASB-3',
 'DJ222E13.1',
 'CMT2A',
 'CSTP1',
 'RNA18SP',
 'GPD',
 'KAT4',
 'SCKL4',
 'TRIP',
 'TRH-GTG1-9',
 'KIR2DL3',
 'CCA1',
 'FAN1',
 'NR6',
 'COPD',
 'RH4',
 'AIB3',
 'SCP3',
 'H3C12',
 'NAT1',
 'NG2',
 'G2',
 'HN1L',
 'MUM1',
 'EHK1',
 'ZNF322',
 'B5',
 'GTF2IRD2A',
 'P38',
 'PCDH22',
 'NANOGP1',
 'TTLL5',
 'GDN',
 'GGTA1P',
 'PRL3',
 'DLG1',
 'DEFB4',
 'GPIBB',
 'CSB',
 'MONA',
 'TRP-AGG2-6',
 'MENA',
 'EK',
 'LGMD1D',
 'CORO7',
 'DUSP24',
 'CAP',
 'DFNA42',
 'GNT1',
 'BAM',
 'IGSF13',
 'OTSC12',
 'RPT5',
 'GP',
 'IFI-4',
 'TIC',
 'MAT1',
 'NT3',
 'MGA',
 'STA',
 'TBC1D3D',
 'CAR1',
 'P20-ARC',
 'SP5',
 'EIT6',
 'OP-2',
 'TRF-GAA1-5',
 'OCM',
 'BTF3',
 'HSD17',
 'NSR1',
 'CPT',
 'HSP72',
 'EIF1AP1',
 'S6',
 'TRK1',
 'CLIM1',
 'CD182',
 'FBL2',
 'POM121',
 'MIR8069',
 'CCR9',
 'A1B',
 'NKH',
 'ODCP',
 'FCGR3',
 'BDNF',
 'EIF2B',
 'RAR2',
 'AIB1',
 'CT45A4',
 'PEPC',
 'POD1',
 'ANXA8',
 'FKBP51',
 'TBC1D3P1',
 'HARC',
 'LAMR',
 'BBP',
 'NBIA4',
 'ATP6G',
 'GJE1',
 'PAGB',
 'MROH7',
 'STIP-1',
 'CACNA1C-IT2',
 'TTF1',
 'DNAJ',
 'PRPS1',
 'CTPP5',
 'PAF1',
 'BEX1',
 'SF',
 'UTR',
 'GLUT9',
 'EDG-2',
 'LPP1',
 'HLS2',
 'GX',
 'ADRA1',
 'RNA18S5',
 'MRT4',
 'IAP',
 'C9ORF36A',
 'APPL2',
 'MSPS',
 'ATD',
 'RED',
 'LPL',
 'MRX17',
 'PPCD',
 'NAT5P',
 'SODF',
 'SCHAD',
 'UBCH8',
 'C7ORF70',
 'CT58',
 'PIG2',
 'WBSCR20B',
 'RDS',
 'TOMM6',
 'FETA',
 'CAMC',
 'PIG6',
 'CMT2B2',
 'P1',
 'PIM1',
 'AUTS2',
 'BHLHE38',
 'MHAC',
 'CCR10',
 'OCT3',
 'FBL4',
 'CATCH22',
 'POM121L1',
 'RSS',
 'CD14',
 'CRIPTO',
 'HP',
 'H2AC8',
 'MLX',
 'SNRNP65',
 'APH2',
 'H2B/L',
 'XGPY',
 'PAK1',
 'A6',
 'GEM',
 'HS3ST5',
 'PTPRQ',
 'MAP1A',
 'IL-23',
 'NTT',
 'TDGF2',
 'MCP',
 'KCR1',
 'CXXC11',
 'AB14',
 'NPH1',
 'HBH',
 'KAP10.9',
 'FB',
 'PAR-1',
 'SHP1',
 'L21',
 'TRIM49D2P',
 'SLC62A1',
 'CLAC',
 'GBA',
 'ICIS',
 'SCCMS',
 'PXR1',
 'MMP21',
 'P19',
 'PLGLA1',
 'CYP3A7',
 'OCC1',
 'STIP',
 'ESP',
 'ZSCAN30',
 'SST1',
 'ODA6',
 'ANT1',
 'RPF1',
 'APY',
 'PSG10',
 'DNAL1',
 'BRCC2',
 'PHF2',
 'SCAP',
 'K-REV',
 'TRFP',
 'RUS',
 'PLSCR3',
 'PDE4DIP',
 'ISGF-3',
 '10Q23DEL',
 'SDH',
 'ORM',
 'CYP-M',
 'PPR1',
 'PE-1',
 'H9',
 'DJ221C16.8',
 'GPAT',
 'C1QTNF5',
 'C17',
 'GPI',
 'TCRA',
 'TERA',
 'HBP',
 'MEGT1',
 'TRX-CAT1-7',
 'UGT1A5',
 'RNU6-6',
 'PTX2',
 'AUTL1',
 'MOX1',
 'HRH1',
 'AMY1',
 'RTP',
 'CBF-B',
 'T1',
 'NP1',
 'CLC2',
 'CHL',
 'HL2',
 'TRGC1',
 'FRITZ',
 'TRY-GTA5-1',
 'MTR1',
 'DDH2',
 'DEFB-3',
 'UBC',
 'TTTY23B',
 'HPH-1',
 'HRMT1L3',
 'GAL',
 'SCYL2',
 'RPS17L2',
 'RPP20',
 'CAS',
 'KRTAP5-5',
 'MMGL',
 'TTTY23',
 'CMS4C',
 'L9',
 'RAR',
 'H3C8',
 'ZYG11',
 'H4C15',
 'BCAP',
 'PFM2',
 'SPDYE9',
 'RPL10P',
 'TRK-TTT3-5',
 'USP17L27',
 'REX1',
 'IA4',
 'JP1',
 'EIF4A',
 'LNCR2',
 'TRX1',
 'CDC14B',
 'ZFP91',
 'MGC5228',
 'CNP',
 'MIG-2',
 'OSCP',
 'FCGAMMARIA',
 'KRTHA3A',
 'ZIP',
 'H3F3AP1',
 '35DAG',
 'CDA1',
 'CARDINAL',
 'PUMA-G',
 'AAC2',
 'LAS1',
 ...}

In [249]:
ambiguous_symbol_set = set(item.strip() for item in ambiguous_symbol_set)

print(len(ambiguous_symbol_set))

5230

In [250]:
with open("created_files/ambiguous_symbol_set.txt", "w") as file:
    for item in ambiguous_symbol_set:
        file.write(f"{item.strip()}\n")

In [251]:
with open("created_files/ambiguous_symbol_set.txt", "r") as file:
    # Read each line, strip newline characters, and convert to a set
    ambiguous_symbol_set = set(line.strip() for line in file)
len(ambiguous_symbol_set)

5230

In [252]:
ambiguous_symbol_set

{'TAT',
 'SAR',
 'PFD',
 'DAND1',
 'CAC1',
 'CAP3',
 'SPC3',
 'PAC1',
 'ZNF20',
 'PCT',
 'ELP1',
 'NRF2',
 'PAK5',
 'PCGF4',
 'HXBL',
 'MRT1',
 'AIS1',
 'FOP',
 'EFTUD1',
 'MIO',
 'MIP-1-BETA',
 'ELF1',
 'TAT1',
 'CRAM',
 'MGAT1',
 'ME2',
 'SMILE',
 'HGPS',
 'FAM18B2',
 'CNIH2',
 'CBLC',
 'CPAD',
 'WDR82',
 'AST',
 'ADAM18',
 'MUC5',
 'D3',
 'HSD11',
 'SCYL3',
 'ECGP',
 'TRR-TCT3-1',
 'E3',
 'COAS3',
 'TRP-AGG2-5',
 'HCAP',
 'AMD1',
 'OR2A7',
 'MIHC',
 'OCC-1',
 'TM',
 'BMH',
 'CRP1',
 'PFHB1',
 'CHAMP',
 'COD1',
 'PRP',
 'DEL16P11.2',
 'MYT1',
 'NY-REN-2',
 'FADS1',
 'MS4A8',
 'GL',
 'SPANX',
 'PLAP-1',
 'CRD',
 'DGCR6',
 'APT2',
 'HAS1',
 'SSB2',
 'P160',
 'MRX92',
 'BPAD',
 'POTE2BETA',
 'GABPB2',
 'ILT5',
 'ICBP90',
 'PAP-ALPHA',
 'EXOC1',
 'CAP2',
 'LCAD',
 'CYP2D7AP',
 'AD10',
 'OR7E75P',
 'HCG',
 'IBP1',
 'ZBP1',
 'TSPY1',
 'AK3L2',
 'TRNAI-AAU',
 'TIM',
 'PSS3',
 'TP2',
 'DRP3',
 'AG2',
 'CK20',
 'GT1',
 '2F1',
 'MRPS12',
 'MORF4LP4',
 'PSM',
 'ADCY3',
 'FABP5P1',
 'GST1',
 'CPP',
 'SIK1',
 'MN',
 'UBL5',
 'THG1',
 'MB1',
 'MCT1',
 'NLF1',
 'PK3',
 'GLUC',
 'PRIP',
 'CLG',
 'CSF',
 'PPIAL4F',
 'SPP1',
 'DDX11L1',
 'H4C12',
 'CGB5',
 'SSF1',
 'DAP1',
 'CT5.2',
 'P51',
 'IP',
 'SAN',
 'FKBP9',
 'CYP1',
 'BST1',
 'HLA-DRB',
 'AF-1',
 '5PTASE',
 'LPD',
 'BXDC3',
 'MIR17HG',
 'GCAP-I',
 'SP110',
 'GH',
 'MACS',
 'BRF2',
 'ALDA',
 'PRPH',
 'CIR',
 'HC8',
 'HLP',
 'INCA',
 'LCP1',
 'SCAR3',
 'RP3',
 'MBD1',
 'MYPOP',
 'ART1',
 'PGS2',
 'RGR',
 'APC2',
 'CLK1',
 'RAP1GA1',
 'PRH',
 'CX30.2',
 'TFP',
 'CSS3',
 'CCL4L',
 'ATP6C',
 'AMCN',
 'P97',
 'PRK1',
 'OR7E72P',
 'PK',
 'HSST2',
 'IGHV4-4',
 'SAD1',
 'DAGK',
 'RNU1P2',
 'POLH',
 'TAAR2',
 'ROX',
 'FCRLB',
 'TRF',
 'UP2',
 'HLP2',
 'GPHR',
 'RWS',
 'HAP40',
 'MYP4',
 'RAB7',
 'SIRPB2',
 'LAGE-2',
 'HPCA',
 'ARB1',
 'SPANX-E',
 'MLT',
 'PDI',
 'FPP',
 'P62',
 'RPL36A',
 'CEP4',
 'MELF2',
 'L8',
 'BD-3',
 'C7',
 'DEFB-5',
 'DFNB35',
 'SYN1A',
 'TRYP2',
 'NIRF',
 'HI',
 'SK2',
 'PTX1',
 'SMA3-L',
 'SULT1A3',
 'HRCA1',
 'Z18',
 'PACER',
 'CRT',
 'TRAP-1',
 'CSD',
 'ADA2',
 'TSBP',
 'ABC1',
 'EIF4F',
 'SAP',
 'TRAMP',
 'SPR',
 'COII',
 'HEL-75',
 'SPATA31C2',
 'H2BFA',
 'KAT',
 'CAM1',
 'CBWD3',
 'D3F15S2',
 'NEK8',
 'TP53TG3B',
 'SUT2',
 'OR6-1',
 'RNU1P1',
 'CDR',
 'CDC14B2',
 'XAP3',
 'ASPRS',
 'PYPAF7',
 'PRR20A',
 'QARS',
 'ELOA3CP',
 'SEMAL',
 'COX7AL',
 'PRR4',
 'TCP11X2',
 'GUSBP9',
 'KV10.1',
 'M-FABP',
 'ELP4',
 'UGT1A3',
 'P100',
 'TLL',
 'MSH',
 'TAN1',
 'CPBHM',
 'NF1L6',
 'KLIP1',
 'CYP2B',
 'CRP',
 'OI4',
 'ARX',
 'PIG8',
 'RPN2',
 'TASP',
 'APM-1',
 'ZSCAN31',
 'MST',
 'PMF1',
 'CT45-2',
 'M130',
 'CL-6',
 'PAM-1',
 'ASB3',
 'UGT2',
 'TRY-GTA5-3',
 'P25',
 'TCRGC1',
 'SLEB6',
 'MLCK',
 'LDB1',
 'AOH1',
 'TRAV11',
 'MINT',
 'S3',
 'MIG7',
 'GPRASP3',
 'NKIR',
 'TRX-CAT1-6',
 'PAFAH',
 'GST2',
 'BRF-1',
 'CRL1',
 'MMAA',
 'SPO',
 'RYR',
 'FCT3A',
 'TRD-GTC2-7',
 'AIRP',
 'SAE2',
 'GLUD1',
 'H3.1',
 'MIR-129B',
 'APO-CIV',
 'BDPLT2',
 'TAZ',
 'ANG1',
 'H-REV107',
 'NBS',
 'OR4M2',
 'CSRP2BP',
 'CXDELQ22.3',
 'ETK',
 'HPF1',
 'KIR2DL5B',
 'CRIP',
 'TLX',
 'GALNT15',
 'MSF',
 'EZH1',
 'TTTY9A',
 'MRPL27',
 'IFNT1',
 'C9ORF2',
 'IBGC2',
 'CAF1A',
 'HCA1',
 'ST3',
 'L11',
 'NEUROPSIN',
 'ACC',
 'SPAG11A',
 'SRGAP3',
 'APOC-IV',
 'SEMG',
 'CTLA1',
 'CPA6',
 'MCT5',
 'TCRBV12S2',
 'ST7',
 'COPS7B',
 'ASPS',
 'MAP-2',
 'EIF3-P110',
 'EDM4',
 'CFC1B',
 'NRP1',
 'OCP2',
 'PAN2',
 'FIG',
 'PRP4',
 'CLL1',
 'CLA3',
 'CT1.5',
 'ASB-3',
 'USP17',
 'LGL1',
 'DRS1',
 'DJ222E13.1',
 'CSTP1',
 'RNA18SP',
 'KAT4',
 'SCKL4',
 'TRH-GTG1-9',
 'KIR2DL3',
 'CCA1',
 'NR6',
 'COPD',
 'RH4',
 'NAT1',
 'G2',
 'MUM1',
 'EHK1',
 'ZNF322',
 'TTLL5',
 'P38',
 'GDN',
 'PRL3',
 'DEFB4',
 'MONA',
 'EK',
 'DUSP24',
 'CAP',
 'GNT1',
 'IGSF13',
 'OTSC12',
 'GP',
 'MAT1',
 'NT3',
 'MGA',
 'STA',
 'CAR1',
 'P20-ARC',
 'SP5',
 'EIT6',
 'OP-2',
 'HSD17',
 'NSR1',
 'HSP72',
 'S6',
 'CD182',
 'FBL2',
 'POM121',
 'MIR8069',
 'A1B',
 'NKH',
 'BDNF',
 'RAR2',
 'AIB1',
 'CT45A4',
 'PEPC',
 'ANXA8',
 'FKBP51',
 'BBP',
 'NBIA4',
 'ATP6G',
 'GJE1',
 'PAGB',
 'STIP-1',
 'CACNA1C-IT2',
 'TTF1',
 'DNAJ',
 'CTPP5',
 'UTR',
 'GX',
 'RNA18S5',
 'APPL2',
 'MSPS',
 'ATD',
 'MRX17',
 'NAT5P',
 'SODF',
 'CT58',
 'WBSCR20B',
 'RDS',
 'CAMC',
 'PIG6',
 'CMT2B2',
 'P1',
 'BHLHE38',
 'MHAC',
 'CCR10',
 'OCT3',
 'FBL4',
 'POM121L1',
 'RSS',
 'MLX',
 'CRIPTO',
 'SNRNP65',
 'H2B/L',
 'PAK1',
 'PTPRQ',
 'MAP1A',
 'NTT',
 'TDGF2',
 'MCP',
 'CXXC11',
 'AB14',
 'KAP10.9',
 'FB',
 'SHP1',
 'TRIM49D2P',
 'CLAC',
 'GBA',
 'ICIS',
 'SCCMS',
 'PXR1',
 'P19',
 'PLGLA1',
 'CYP3A7',
 'ESP',
 'ZSCAN30',
 'SST1',
 'ODA6',
 'PSG10',
 'DNAL1',
 'BRCC2',
 'SCAP',
 'RUS',
 'ISGF-3',
 '10Q23DEL',
 'SDH',
 'ORM',
 'DJ221C16.8',
 'GPAT',
 'GPI',
 'MEGT1',
 'TRX-CAT1-7',
 'PTX2',
 'AUTL1',
 'HRH1',
 'T1',
 'NP1',
 'CLC2',
 'HL2',
 'FRITZ',
 'DDH2',
 'DEFB-3',
 'UBC',
 'TTTY23B',
 'HRMT1L3',
 'GAL',
 'RPS17L2',
 'KRTAP5-5',
 'MMGL',
 'CMS4C',
 'H3C8',
 'BCAP',
 'TRK-TTT3-5',
 'USP17L27',
 'CDC14B',
 'MIG-2',
 'KRTHA3A',
 'ZIP',
 'H3F3AP1',
 '35DAG',
 'CDA1',
 'CARDINAL',
 'AAC2',
 'CGB7',
 'GTF2H2C_2',
 'GDF1',
 'AP2',
 'MRS',
 'PTEN2',
 '9G8',
 'DAC',
 'S12',
 'HSD2',
 'BED',
 'TTF2',
 'HZF',
 'AK3L1',
 'SRBC',
 'GLM7',
 'DYT17',
 'DGS',
 'DPPIV',
 'GLYT1',
 'GPCR',
 'PSEUDO-ICE',
 'TCRAV32S1',
 'ELK',
 'LD78',
 'ASE1',
 'RHEB2',
 'ABL',
 'MAL',
 'PAP',
 'NPC1',
 'COM1',
 'TTTY6',
 'IGHV4',
 'PRF1',
 'ZNF32',
 'RGS9',
 'MLL4',
 'ERG1',
 'SL1',
 'TRP3',
 'PROTEINASE',
 'ACHRD',
 'OR19-18',
 'ALDC',
 'TBC1D3F',
 'PSS1',
 'PAPPAS',
 'CT47',
 'OR11-1',
 'HOAT4',
 'TTTY1',
 'GBP3',
 'CCTA',
 'HOX4',
 'HK3',
 'RASA1',
 'KOX5',
 'NLS1',
 'RILP',
 'CD1',
 'AZ1',
 'TAKR',
 'NAT5',
 'GUCA2',
 'OR19-8',
 'TCRAV26S1',
 'TRQ-CTG1-5',
 'LRRN4',
 'RP42',
 'NET7',
 'FBI1',
 'SYT14L',
 'MIFR',
 'LAM',
 'KIR2DS3',
 'PIG-U',
 'PTE2',
 'VP',
 'LIPH',
 'CNG4',
 'DAO',
 'H4F5',
 'FX',
 'L4',
 'P-PST',
 'LAN',
 'XBP1',
 'PTGES3P',
 'AK3',
 'DTR',
 'ZIP2',
 'BDPLT16',
 'MGAT3',
 'MIG2',
 'BS',
 'TTF-1',
 'G6PT',
 'MSK1',
 'SHMT',
 'ZNF264',
 'METRS',
 'DELXQ22.3',
 'RP2',
 'PN-II',
 'PMP22',
 'PTB',
 'AQP9',
 'CKS1',
 'UGT1A',
 'EBN',
 'FAAH',
 'H4C3',
 'CPSQ3',
 'SP3',
 'NS3TP1',
 'H2AB2',
 'SNT1',
 'PARK21',
 'FCRL1',
 'ZRC1',
 'CORD5',
 'CAMK',
 'GPXL2',
 'SPRING',
 'LOR',
 'C14ORF67',
 'LPLAT',
 'DP1',
 'CARK',
 'APR',
 'AITD3',
 'L10A',
 'L5',
 'MMP25',
 'GT334',
 'CRHSP24',
 'L15MT',
 'VIT1',
 'PAC-1',
 'SLC35E2',
 'TRY-GTA5-2',
 'C10ORF2',
 'CLCP1',
 'TRI-AAT5-5',
 'ARPIN',
 'LINC02921',
 'XAP4',
 'F5F8D',
 'SEP1',
 'RNU1-8P',
 'L3',
 'MIR',
 'SMAD1',
 'PPIASE',
 'MIC-1',
 'HEPN1',
 'PSP',
 'REF1',
 'MAD2',
 'NEDBA',
 'ARCC2',
 'ROCHIS',
 'LEURS',
 'ESG',
 'MS4A7',
 'ECE2',
 'BTR',
 'CLMF',
 'MYNN',
 'EMAP2',
 'PSG11',
 'RPS12',
 'P40',
 'MSP',
 'WTS',
 'CAPC',
 'TCRBV12S3',
 'AT744.2',
 'HLF',
 'ATR',
 'TTY11',
 'MK',
 'MIG6',
 'ARP6',
 'PAMP',
 'FAT',
 'FCR-10',
 'LINC00087',
 'RNU3',
 'CT24.2',
 'SMIM11B',
 'P180',
 'NPH2',
 'HIST1H2BC',
 'ACTBL1',
 'LAT1',
 'IK1',
 'BMI1',
 'HDC',
 'SNRPB1',
 'TP53TG3F',
 'CAST',
 'TVP23C',
 'LINC00086',
 'CGA',
 'HADH',
 'AGT',
 'MRX15',
 'NOS1',
 'PRR2',
 'FAPP2',
 'PTH',
 'H3C3',
 'FBXO31',
 'USP16',
 'H3C6',
 'MFRP',
 'TRI-AAT5-4',
 'SCAR1',
 'B3GN-T1',
 'KRTAP2-1',
 'RD',
 'CTF',
 'HCC',
 'RGPD2',
 'PKL',
 'RNAH',
 'COX11',
 'FLIP',
 'PISD',
 'ASP',
 'MAP-1',
 'RCP',
 'PAR3',
 'UGT1A1',
 'KAP2.4',
 'CPA3',
 'CLAMP',
 'FLJ20375',
 'OPG',
 'HB2',
 'HKPX1',
 'ADC',
 'ALG10',
 'RNU1-7P',
 'MT1K',
 'RGP3',
 'MCM',
 'NCA',
 'DJ388M5',
 'NPR2',
 'MPP11',
 'PTPN20CP',
 'CAIN',
 'A2M',
 'IGHV4-38-2',
 'TAP1',
 'US2',
 'HSP70.2',
 'PTX3',
 'BAT1',
 'PLAC8',
 'ALS',
 'UFM1P1',
 'REN',
 'DUSP13',
 'CCNL1',
 'P75',
 'C4B_2',
 'SGS',
 'PDP1',
 'PARF',
 'SLC24A2',
 'DSK2',
 'APT1',
 'GST3',
 'ZRS',
 'MSK2',
 'HOX3',
 'L23A',
 'DIA1',
 'SGT2',
 'UDPGT 1-1',
 'ST3GALII',
 'COX11P',
 'RPS27AP',
 'ACTB',
 'BRCC1',
 'H4C2',
 'RITA',
 'CTF5',
 'MCPH4',
 'ODC1',
 'ZNF141',
 'TRP-TGG3-2',
 'NOV',
 'COP',
 'L-UBC',
 'TCEB3CL',
 'P120',
 'RPL13',
 'MIR198',
 'EIF-4C',
 'CYPD',
 'HES1',
 'BCGF1',
 'LRRC37',
 'HHM',
 'RAB41',
 'CXORF11',
 'BA548K23.1',
 'GAGE-12B',
 'TCRBV21S1',
 'RS',
 'GPCR21',
 'DHX40P1',
 'HMR',
 'CCBP2',
 'XCE',
 'TRG-CCC6-1',
 'DNM1DN4@',
 'CHIF',
 'TAMO',
 'METTL2',
 'KLK7',
 'UBXD10',
 'UCN2',
 'EP2',
 'TNT',
 'SG2NA',
 'ASP1',
 'HZF1',
 'GCCD2',
 'EKV',
 'CDH14',
 'MPDZ',
 'KIAA0563',
 'UNR',
 'CCD1',
 'WT2',
 'LCN5',
 'H2A.BBD',
 'CAPB',
 'TMS',
 'VMA2',
 'AIP',
 'ING2',
 'GUSBP1',
 'NOL1',
 'LCA10',
 'THC2',
 'GCAP',
 'STAR',
 'SIK',
 'PNMT',
 'HARP',
 'ASAP',
 'GLUR7',
 'ARP8',
 'RHO',
 'TSARG1',
 'CAC',
 'BFNC',
 'MRP7',
 'PRR23D2',
 'IGHV',
 'LMO4',
 'DEFB-4',
 'HL',
 'TRIM49D1',
 'P2',
 'BRWD2',
 'NEU1',
 'TRAD',
 'AIS',
 'DEC1',
 'DP',
 'DSP',
 'MIG12',
 'FRAXE',
 'CEP2',
 'SNF2LB',
 'CAR2',
 'PAO',
 'SMIM10L3',
 'NCAM2',
 'NAP2',
 'GGT2',
 'HBP-3',
 'AIM',
 'CPX2',
 'STN1',
 'IPS',
 'IGVH',
 'HLP3',
 'CO4',
 'DOC1',
 'PTPRO',
 'PP17',
 'MRXSL',
 'HAS',
 'NOTCH2NL',
 'MDSP',
 'SPANX-A',
 'WBS',
 'A26B3',
 'CLU1',
 'HIST2H2BD',
 'ELK3',
 'OA3',
 'HRES1',
 'BSC',
 'FCRI',
 'DELXP11.3',
 'NOD5',
 'TRS-AGA2-4',
 'DQA1',
 'HPR',
 'DUPXP11.22',
 'ISWI',
 'PRR20E',
 'FH',
 'POLK',
 'TTTY8',
 'TRPC7',
 'PCTAIRE',
 'HRES-1',
 'CBLB',
 'COP1',
 'TYRO4',
 'PGAM-B',
 'BRIGHT',
 'FHL1',
 'ARAP',
 'GOT1B',
 'CD25',
 'UBH1',
 'RCA1',
 'VIP',
 'RWDD4A',
 'FCGR2',
 'HCCA2',
 'CLE',
 'C20ORF37',
 'DAT1',
 'PKD3',
 'POTE22',
 'PTH1',
 'UNG2',
 'PILRB',
 'DBP',
 'CYC1',
 'ZIP3',
 'SCA2',
 'CT90',
 'HYPK',
 'SIP1',
 'RHA',
 'DFNB6',
 'LRF',
 'SIK1B',
 'KCNJN1',
 'L30',
 'SCCA1',
 'RBMXP1',
 'ACS3',
 'TDH',
 'HSM',
 'HIST1H2BG',
 'IGHEP1',
 'VR1',
 'HD7',
 'MAP2',
 'RIG1',
 'NSP',
 'CRF',
 'TEN1',
 ...}

### <a id='toc1_1_2_'></a>[Primary exploration of DGIdb gene content using collisions](#toc0_)

#### <a id='toc1_1_2_1_'></a>[Load gene claim data from DGIdb](#toc0_)

In [253]:
dgidb_gene_df = pd.read_csv(
    "downloaded_files/dgidb_genes_JUNE.tsv", sep="\t", na_values=["", "NULL"], keep_default_na=False
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17

In [254]:
num_total_claims = len(dgidb_gene_df)

In [255]:
dgidb_gene_df.loc[dgidb_gene_df["gene_claim_name"] == "HES1"]

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version
30772,HES1,Gene Symbol,hgnc:5192,HES1,Pharos,10-Apr-24
76844,HES1,Gene Symbol,hgnc:5192,HES1,HGNC,20240408
76845,HES1,Gene Symbol,hgnc:5192,HES1,NCBI,20240410
76846,HES1,Gene Symbol,hgnc:5192,HES1,Ensembl,111
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17

#### <a id='toc1_1_2_2_'></a>[How many claims are placed in a gene group with a different label?](#toc0_)

In [256]:
dgidb_gene_df.query("gene_name != gene_claim_name")

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
...,...,...,...,...,...,...
79999,SEPT5,Gene Symbol,hgnc:9164,SEPTIN5,FoundationOneGenes,9/3/20
80014,ENSEMBL:ENSG00000185821,Ensembl Gene ID,hgnc:31305,OR6C76,RussLampel,26-Jul-11
80053,SEPT5,Gene Symbol,hgnc:9164,SEPTIN5,CarisMolecularIntelligence,9/4/20
80166,SEPT6,Gene Symbol,hgnc:15848,SEPTIN6,CarisMolecularIntelligence,9/4/20
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20

#### <a id='toc1_1_2_3_'></a>[How many claims are not normalized?](#toc0_)

claims without a symbol/name/identifier
 (there shouldn't be any hooray)

In [257]:
no_claim_symbols_df = dgidb_gene_df[dgidb_gene_df["gene_claim_name"].isnull()]
no_claim_symbols_df

Empty DataFrame
Columns: [gene_claim_name, nomenclature, concept_id, gene_name, source_db_name, source_db_version]
Index: []

In [258]:
no_name_symbols_df = dgidb_gene_df[dgidb_gene_df["gene_name"].isnull()]
num_not_normalized_claims = len(no_name_symbols_df)
num_not_normalized_claims

2144

In [259]:
num_normalized_claims = num_total_claims - num_not_normalized_claims

#### <a id='toc1_1_2_4_'></a>[Create set of gene groups (gene_name) and gene claims (gene_claim_name)](#toc0_)

In [260]:
dgidb_name_set = set(dgidb_gene_df["gene_name"])
len(dgidb_name_set)

12001

In [261]:
dgidb_gene_claim_name_set = set(dgidb_gene_df["gene_claim_name"])
len(dgidb_gene_claim_name_set)

26739

#### <a id='toc1_1_2_5_'></a>[Load HGNC, Ensembl (ENSG), and NCBI gene and alias sets](#toc0_)

Input: mini_hgnc_df, mini_ensg_df, mini_ncbi_df (total_alias_gene_intersections.ipynb)

Output: x_gene_symbol_set, x_alias_symbol_set where x is ncbi, ensg or ncbi

In [262]:
mini_hgnc_df = pd.read_csv(
    "../created_files/mini_hgnc_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [263]:
mini_ensg_df = pd.read_csv(
    "../created_files/mini_ensg_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [264]:
mini_ncbi_df = pd.read_csv(
    "../created_files/mini_ncbi_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [265]:
hgnc_gene_symbol_set = set(mini_hgnc_df["gene_symbol"])
len(hgnc_gene_symbol_set)

45646

In [266]:
ensg_gene_symbol_set = set(mini_ensg_df["gene_symbol"])
len(ensg_gene_symbol_set)

41068

In [267]:
ncbi_gene_symbol_set = set(mini_ncbi_df["gene_symbol"])
len(ncbi_gene_symbol_set)

193303

In [268]:
hgnc_alias_symbol_set = set(mini_hgnc_df["alias_symbol"])
len(hgnc_alias_symbol_set)

43187

In [269]:
ensg_alias_symbol_set = set(mini_ensg_df["alias_symbol"])
len(ensg_alias_symbol_set)

55276

In [270]:
ncbi_alias_symbol_set = set(mini_ncbi_df["alias_symbol"])
len(ncbi_alias_symbol_set)

69158

#### <a id='toc1_1_2_6_'></a>[How many unique primary gene symbols are there b/w HGNC, Ensembl, and NCBI?](#toc0_)

In [271]:
hgnc_ensg_gene_symbol_set = hgnc_gene_symbol_set.union(ensg_gene_symbol_set)

In [272]:
hgnc_ensg_ncbi_gene_symbol_set = hgnc_ensg_gene_symbol_set.union(ncbi_gene_symbol_set)
len(hgnc_ensg_ncbi_gene_symbol_set)

194866

#### <a id='toc1_1_2_7_'></a>[How many unique alias symbols are there b/w HGNC, Ensembl, and NCBI?](#toc0_)

In [273]:
hgnc_ensg_alias_symbol_set = hgnc_alias_symbol_set.union(ensg_alias_symbol_set)

In [274]:
hgnc_ensg_ncbi_alias_symbol_set = hgnc_ensg_alias_symbol_set.union(
    ncbi_alias_symbol_set
)
len(hgnc_ensg_ncbi_alias_symbol_set)

93036

#### <a id='toc1_1_2_8_'></a>[How many unique group names are not primary gene symbols?](#toc0_)

In [275]:
name_ensg_notmatch = dgidb_name_set.difference(ensg_gene_symbol_set)
len(name_ensg_notmatch)

298

In [276]:
name_hgnc_notmatch = dgidb_name_set.difference(hgnc_gene_symbol_set)
len(name_hgnc_notmatch)

25

In [277]:
cleaned_name_hgnc_notmatch = [x for x in name_hgnc_notmatch if str(x) != "NaN"]
len(cleaned_name_hgnc_notmatch)

25

In [278]:
name_ncbi_notmatch = dgidb_name_set.difference(ncbi_gene_symbol_set)
len(name_ncbi_notmatch)

97

In [279]:
name_ncbi_hgnc_notmatch = name_ncbi_notmatch.difference(hgnc_gene_symbol_set)
len(name_ncbi_hgnc_notmatch)

9

How many groups are labeled with a symbol not found in the sets of primary symbols from HGNC, NCBI, or ENSG?

In [280]:
name_ncbi_hgnc_ensg_notmatch = name_ncbi_hgnc_notmatch.difference(ensg_gene_symbol_set)
len(name_ncbi_hgnc_ensg_notmatch)

8

In [281]:
len(dgidb_name_set)

12001

#### <a id='toc1_1_2_9_'></a>[How many unique claims are not primary gene symbols?](#toc0_)

In [282]:
gene_claim_name_ensg_notmatch = dgidb_gene_claim_name_set.difference(
    ensg_gene_symbol_set
)
len(gene_claim_name_ensg_notmatch)

15029

In [283]:
cleaned_gene_claim_name_ensg_notmatch = [
    x for x in gene_claim_name_ensg_notmatch if str(x) != "NaN"
]
len(cleaned_gene_claim_name_ensg_notmatch)

15029

In [284]:
gene_claim_name_hgnc_notmatch = dgidb_gene_claim_name_set.difference(
    hgnc_gene_symbol_set
)
len(gene_claim_name_hgnc_notmatch)

14755

In [285]:
gene_claim_name_ncbi_notmatch = dgidb_gene_claim_name_set.difference(
    ncbi_gene_symbol_set
)
len(gene_claim_name_ncbi_notmatch)

14828

In [286]:
gene_claim_name_ncbi_hngc_notmatch = gene_claim_name_ncbi_notmatch.difference(
    hgnc_gene_symbol_set
)
len(gene_claim_name_ncbi_hngc_notmatch)

14738

How many unique claims are not primary symbols

In [287]:
gene_claim_name_ncbi_hngc_ensg_notmatch = gene_claim_name_ncbi_hngc_notmatch.difference(
    ensg_gene_symbol_set
)
num_not_primary_claims = len(gene_claim_name_ncbi_hngc_ensg_notmatch)
num_not_primary_claims

14735

#### <a id='toc1_1_2_10_'></a>[Load the collision sets from each data source](#toc0_)

Input: aa_collision_x_df.csv (total_alis_overlap.ipynb)

Output: x_alias_alias_collision_set

In [288]:
aa_collision_hgnc_df = pd.read_csv(
    "../created_files/aa_collision_HGNC_count_df.csv",
    na_values=["", "NULL"],
    keep_default_na=False,
)

In [289]:
hgnc_alias_alias_collision_set = set(aa_collision_hgnc_df["collision"])
len(hgnc_alias_alias_collision_set)

1250

In [290]:
aa_collision_ncbi_df = pd.read_csv(
    "../created_files/aa_collision_NCBI_count_df.csv",
    na_values=["", "NULL"],
    keep_default_na=False,
)

In [291]:
ncbi_alias_alias_collision_set = set(aa_collision_ncbi_df["collision"])
len(ncbi_alias_alias_collision_set)

3711

In [292]:
aa_collision_ensg_df = pd.read_csv(
    "../created_files/aa_collision_ENSG_count_df.csv",
    na_values=["", "NULL"],
    keep_default_na=False,
)

In [293]:
ensg_alias_alias_collision_set = set(aa_collision_ensg_df["collision"])
len(ensg_alias_alias_collision_set)

1617

#### <a id='toc1_1_2_11_'></a>[How many unique group names are primary gene symbols?](#toc0_)

In [294]:
name_hgnc_match = dgidb_name_set.intersection(hgnc_gene_symbol_set)
len(name_hgnc_match)

11976

In [295]:
name_ensg_match = dgidb_name_set.intersection(ensg_gene_symbol_set)
len(name_ensg_match)

11703

In [296]:
name_ncbi_match = dgidb_name_set.intersection(ncbi_gene_symbol_set)
len(name_ncbi_match)

11904

In [297]:
name_ncbi_ensg_match = name_ncbi_match.intersection(ensg_gene_symbol_set)
len(name_ncbi_ensg_match)

11685

In [298]:
name_ncbi_ensg_hgnc_match = name_ncbi_ensg_match.intersection(hgnc_gene_symbol_set)
len(name_ncbi_ensg_hgnc_match)

11684

#### <a id='toc1_1_2_12_'></a>[How many of the groups that are labeled with a primary gene symbol are also alias-alias collisions?](#toc0_)

In [299]:
name_ncbi_match_aacollision = name_ncbi_match.intersection(
    ncbi_alias_alias_collision_set
)
len(name_ncbi_match_aacollision)

136

In [300]:
name_ensg_match_aacollision = name_ensg_match.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_match_aacollision)

42

In [301]:
name_ensg_notmatch_aacollision = name_ensg_notmatch.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_notmatch_aacollision)

3

#### <a id='toc1_1_2_13_'></a>[How many unique claim symbols are collisions?](#toc0_)

In [302]:
gene_claim_name_ensg_aacollision_match = dgidb_gene_claim_name_set.intersection(
    ensg_alias_alias_collision_set
)
len(gene_claim_name_ensg_aacollision_match)

98

In [303]:
gene_claim_name_hgnc_aacollision_match = dgidb_gene_claim_name_set.intersection(
    hgnc_alias_alias_collision_set
)
len(gene_claim_name_hgnc_aacollision_match)

77

In [304]:
gene_claim_name_ncbi_aacollision_match = dgidb_gene_claim_name_set.intersection(
    ncbi_alias_alias_collision_set
)
len(gene_claim_name_ncbi_aacollision_match)

240

#### <a id='toc1_1_2_14_'></a>[How many unique groups are labeled with collisions?](#toc0_)

In [305]:
name_ensg_aacollision_match = dgidb_name_set.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_aacollision_match)

45

In [306]:
name_hgnc_aacollision_match = dgidb_name_set.intersection(
    hgnc_alias_alias_collision_set
)
len(name_hgnc_aacollision_match)

42

In [307]:
name_ncbi_aacollision_match = dgidb_name_set.intersection(
    ncbi_alias_alias_collision_set
)
len(name_ncbi_aacollision_match)

138

#### <a id='toc1_1_2_15_'></a>[How many unique claims are not primary gene symbols?](#toc0_)

In [308]:
gene_claim_name_hgnc_notmatch = dgidb_gene_claim_name_set.difference(
    hgnc_gene_symbol_set
)
len(gene_claim_name_hgnc_notmatch)

14755

In [309]:
gene_claim_name_ensg_notmatch = dgidb_gene_claim_name_set.difference(
    ensg_gene_symbol_set
)
len(gene_claim_name_ensg_notmatch)

15029

In [310]:
gene_claim_name_ncbi_notmatch = dgidb_gene_claim_name_set.difference(
    ncbi_gene_symbol_set
)
len(gene_claim_name_ncbi_notmatch)

14828

#### <a id='toc1_1_2_16_'></a>[How many unique claims that were not primary symbols are collisions?](#toc0_)

In [311]:
gene_claim_name_hgnc_notmatch_aacollision = gene_claim_name_hgnc_notmatch.intersection(
    hgnc_alias_alias_collision_set
)
len(gene_claim_name_hgnc_notmatch_aacollision)

36

In [312]:
gene_claim_name_ncbi_notmatch_aacollision = gene_claim_name_ncbi_notmatch.intersection(
    ncbi_alias_alias_collision_set
)
len(gene_claim_name_ncbi_notmatch_aacollision)

104

In [313]:
gene_claim_name_ensg_notmatch_aacollision = gene_claim_name_ensg_notmatch.intersection(
    ensg_alias_alias_collision_set
)
len(gene_claim_name_ensg_notmatch_aacollision)

56

#### <a id='toc1_1_2_17_'></a>[How many unique claims that are primary gene symbols are also collisions?](#toc0_)

In [314]:
gene_claim_name_hgnc_match = dgidb_gene_claim_name_set.intersection(
    hgnc_gene_symbol_set
)
len(gene_claim_name_hgnc_match)

11984

In [315]:
gene_claim_name_hgnc_match_aacollision = gene_claim_name_hgnc_match.intersection(
    hgnc_alias_alias_collision_set
)
len(gene_claim_name_hgnc_match_aacollision)

41

In [316]:
gene_claim_name_ncbi_match = dgidb_gene_claim_name_set.intersection(
    ncbi_gene_symbol_set
)
len(gene_claim_name_ncbi_match)

11911

In [317]:
gene_claim_name_ncbi_match_aacollision = gene_claim_name_ncbi_match.intersection(
    ncbi_alias_alias_collision_set
)
len(gene_claim_name_ncbi_match_aacollision)

136

In [318]:
gene_claim_name_ensg_match = dgidb_gene_claim_name_set.intersection(
    ensg_gene_symbol_set
)
len(gene_claim_name_ensg_match)

11710

In [319]:
gene_claim_name_ensg_match_aacollision = gene_claim_name_ensg_match.intersection(
    ensg_alias_alias_collision_set
)
len(gene_claim_name_ensg_match_aacollision)

42

#### <a id='toc1_1_2_18_'></a>[How many of the gene groups that are not primary gene symbols are alias-alias collisions from HGNC?](#toc0_)

In [320]:
name_hngc_notmatch_aacollision = name_hgnc_notmatch.intersection(
    hgnc_alias_alias_collision_set
)
len(name_hngc_notmatch_aacollision)

1

In [321]:
name_ncbi_notmatch_aacollision = name_ncbi_notmatch.intersection(
    ncbi_alias_alias_collision_set
)
len(name_ncbi_notmatch_aacollision)

2

In [322]:
name_ensg_notmatch_aacollision = name_ensg_notmatch.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_notmatch_aacollision)

3

#### <a id='toc1_1_2_19_'></a>[How many claims are ambiguous symbols?](#toc0_)

In [323]:
dgidb_gene_df["claim_ambiguous_status"] = dgidb_gene_df["gene_claim_name"].isin(
    ambiguous_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False

In [324]:
dgidb_gene_df["claim_ambiguous_status"].value_counts()

claim_ambiguous_status
False    75358
True      4876
Name: count, dtype: int64

In [325]:
ambiguous_claim_df = dgidb_gene_df.loc[dgidb_gene_df["claim_ambiguous_status"]]
num_ambiguous_claim = len(ambiguous_claim_df)
num_ambiguous_claim

4876

In [326]:
ambiguous_claim_df.loc[ambiguous_claim_df["gene_claim_name"] == "TR2"]

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status
18,TR2,NCBI Gene Name,hgnc:7971,NR2C1,BaderLab,Feb-14,True

#### <a id='toc1_1_2_20_'></a>[How many gene group labels are ambiguous symbols?](#toc0_)

In [327]:
dgidb_gene_df["name_ambiguous_status"] = dgidb_gene_df["gene_name"].isin(
    ambiguous_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False

In [328]:
dgidb_gene_df["name_ambiguous_status"].value_counts()

name_ambiguous_status
False    74459
True      5775
Name: count, dtype: int64

In [329]:
ambiguous_name_df = dgidb_gene_df.loc[dgidb_gene_df["name_ambiguous_status"]]
num_ambiguous_name = len(ambiguous_name_df)
num_ambiguous_name

5775

#### <a id='toc1_1_2_21_'></a>[How many claims are primary symbols?](#toc0_)

In [330]:
dgidb_gene_df["claim_primary_status"] = dgidb_gene_df["gene_claim_name"].isin(
    hgnc_ensg_ncbi_gene_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True

In [331]:
dgidb_gene_df["claim_primary_status"].value_counts()

claim_primary_status
True     64209
False    16025
Name: count, dtype: int64

In [332]:
primary_claim_df = dgidb_gene_df.loc[dgidb_gene_df["claim_primary_status"]]
num_primary_claim = len(primary_claim_df)
num_primary_claim

64209

#### <a id='toc1_1_2_22_'></a>[How many gene group labels are primary symbols?](#toc0_)

In [333]:
dgidb_gene_df["name_primary_status"] = (
    dgidb_gene_df["gene_name"].astype(str).isin(hgnc_ensg_ncbi_gene_symbol_set)
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True,True
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True,True
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False,True
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True,True

In [334]:
dgidb_gene_df["name_primary_status"].value_counts()

name_primary_status
True     78074
False     2160
Name: count, dtype: int64

In [335]:
primary_name_df = dgidb_gene_df.loc[dgidb_gene_df["name_primary_status"]]
num_primary_name = len(primary_name_df)
num_primary_name

78074

In [336]:
not_primary_group_name_df = dgidb_gene_df.loc[~dgidb_gene_df["name_primary_status"]]
not_primary_group_name_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
57108,NCBIGENE:2614,NCBI Gene ID,ncbigene:2614,GAPDHL17,GuideToPharmacology,2024.1,False,False,False,False
57552,CYB5P1,Gene Symbol,ncbigene:1529,CYB5P1,NCBI,20240410,False,False,False,False
66195,OA1,Gene Symbol,ncbigene:474285,OA1,NCBI,20240410,False,False,False,False
66196,OA1,Gene Symbol,ncbigene:474285,OA1,dGene,27-Jun-13,False,False,False,False
74562,ATP5A2,Gene Symbol,ncbigene:499,ATP5A2,NCBI,20240410,False,False,False,False

#### <a id='toc1_1_2_23_'></a>[How many gene group labels are alias symbols?](#toc0_)

In [337]:
dgidb_gene_df["name_alias_status"] = dgidb_gene_df["gene_name"].isin(
    hgnc_ensg_ncbi_alias_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True,True,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True,True,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False,True,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True,True,False

In [338]:
dgidb_gene_df["name_alias_status"].value_counts()

name_alias_status
False    72260
True      7974
Name: count, dtype: int64

In [339]:
alias_name_df = dgidb_gene_df.loc[dgidb_gene_df["name_alias_status"]]
num_alias_name = len(alias_name_df)
num_alias_name

7974

In [340]:
print("Calmbp1" in hgnc_ensg_ncbi_alias_symbol_set)

True

#### <a id='toc1_1_2_24_'></a>[How many claims are alias symbols?](#toc0_)

In [341]:
dgidb_gene_df["claim_alias_status"] = dgidb_gene_df["gene_claim_name"].isin(
    hgnc_ensg_ncbi_alias_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status,claim_alias_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True,True,False,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True,True,False,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False,True,False,True
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True,True,False,False

In [342]:
dgidb_gene_df["claim_alias_status"].value_counts()

claim_alias_status
False    74684
True      5550
Name: count, dtype: int64

In [343]:
alias_claims_df = dgidb_gene_df.loc[dgidb_gene_df["claim_alias_status"]]
num_alias_claims = len(alias_claims_df)
num_alias_claims

5550

#### <a id='toc1_1_2_25_'></a>[How many claims that were normalized into non-primary symbol labeled groups are alias symbols?](#toc0_)

In [344]:
dgidb_gene_df["claim_alias_status"] = dgidb_gene_df["gene_claim_name"].isin(
    hgnc_ensg_ncbi_alias_symbol_set
)
alias_claim_not_primary_group_name_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_alias_status"] & ~dgidb_gene_df["name_primary_status"]
]
alias_claim_not_primary_group_name_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status,claim_alias_status
3251,USP17L,Gene Symbol,ncbigene:100862847,USP17L,dGene,27-Jun-13,False,False,False,False,True,True
38737,USP17L,Gene Symbol,ncbigene:100862847,USP17L,NCBI,20240410,False,False,False,False,True,True
55006,ACT,Gene Symbol,ncbigene:389036,ACT,NCBI,20240410,True,True,False,False,True,True
66195,OA1,Gene Symbol,ncbigene:474285,OA1,NCBI,20240410,False,False,False,False,True,True
66196,OA1,Gene Symbol,ncbigene:474285,OA1,dGene,27-Jun-13,False,False,False,False,True,True

#### <a id='toc1_1_2_26_'></a>[How many not normalized claims are alias symbols?](#toc0_)

In [345]:
alias_claim_null_name_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_alias_status"] & dgidb_gene_df["gene_name"].isnull()
]
len(alias_claim_null_name_df)

0

#### <a id='toc1_1_2_27_'></a>[How many gene group labels are not primary, alias symbols, or null?](#toc0_)

In [346]:
other_name_df = dgidb_gene_df.loc[
    ~dgidb_gene_df["name_alias_status"]
    & ~dgidb_gene_df["name_primary_status"]
    & ~dgidb_gene_df["gene_name"].isnull()
]
num_other_name = len(other_name_df)
num_other_name

10

#### <a id='toc1_1_2_28_'></a>[How many claims are not primary, alias symbols, or null?](#toc0_)

In [347]:
other_claim_df = dgidb_gene_df.loc[
    ~dgidb_gene_df["claim_alias_status"] & ~dgidb_gene_df["claim_primary_status"]
]
num_other_claim = len(other_claim_df)
num_other_claim

15270

#### <a id='toc1_1_2_29_'></a>[How many claims are primary and alias symbols?](#toc0_)

In [348]:
primaryandalias_claim_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_alias_status"] & dgidb_gene_df["claim_primary_status"]
]
num_primaryandalias_claim = len(primaryandalias_claim_df)
num_primaryandalias_claim

4795

#### <a id='toc1_1_2_30_'></a>[How many primary symbol claims are normalized into non-primary gene group labels?](#toc0_)

In [349]:
claim_true_name_false_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_primary_status"] & ~dgidb_gene_df["name_primary_status"]
]
claim_true_name_false_df

Empty DataFrame
Columns: [gene_claim_name, nomenclature, concept_id, gene_name, source_db_name, source_db_version, claim_ambiguous_status, name_ambiguous_status, claim_primary_status, name_primary_status, name_alias_status, claim_alias_status]
Index: []

In [350]:
len(claim_true_name_false_df)

0

### <a id='toc1_1_3_'></a>[Summary](#toc0_)

#### <a id='toc1_1_3_1_'></a>[Normalization Rates](#toc0_)

In [351]:
normalization_index = "Normalized", "Not Normalized", "Total"
normalization_summary = {
    "Number of Claims": [
        num_normalized_claims,
        num_not_normalized_claims,
        num_total_claims,
    ]
}
normalization_summary_df = pd.DataFrame(
    normalization_summary, index=normalization_index
)
normalization_summary_df

                Number of Claims
Normalized                 78090
Not Normalized              2144
Total                      80234

#### <a id='toc1_1_3_2_'></a>[Types of Claim Symbols](#toc0_)

- Primary and Alias symbols are not exclusive as some primary symbols are used as aliases (alias-primary collisions)
- Other does not include any Primary or Alias symbols
- Ambiguous symbols can be either Primary or Alias

In [352]:
claim_index = "Primary", "Alias", "Other", "Ambiguous", "Total"
claim_summary = {
    "Number of Claims": [
        num_primary_claim,
        num_alias_claims,
        num_other_claim,
        num_ambiguous_claim,
        num_total_claims,
    ]
}
claim_summary_df = pd.DataFrame(claim_summary, index=claim_index)
claim_summary_df

           Number of Claims
Primary               64209
Alias                  5550
Other                 15270
Ambiguous              4876
Total                 80234

#### <a id='toc1_1_3_3_'></a>[Types of Normalizations (gene group labels claims are being normliazed into)](#toc0_)

In [353]:
gene_group_index = "Primary", "Alias", "Null", "Other", "Ambiguous", "Total"
gene_group_summary = {
    "Number of Claims": [
        num_primary_name,
        num_alias_name,
        num_not_normalized_claims,
        num_other_name,
        num_ambiguous_name,
        num_total_claims,
    ]
}
gene_group_summary_df = pd.DataFrame(gene_group_summary, index=gene_group_index)
gene_group_summary_df

           Number of Claims
Primary               78074
Alias                  7974
Null                   2144
Other                    10
Ambiguous              5775
Total                 80234