# <a id='toc1_'></a>[DGIdb ambiguous claims](#toc0_)

**Table of contents**<a id='toc0_'></a>    
- [DGIdb ambiguous claims](#toc1_)    
    - [Analyzing similaritis b/w alias-primary and alias-alias collisions](#toc1_1_1_)    
      - [Load merged alias-alias and alias-priamry collision sets. Symbols are the ambiguous symbols.](#toc1_1_1_1_)    
      - [How many of the alias-primary collisions are also alias-alias collisions?](#toc1_1_1_2_)    
      - [How many unique ambiguous symbosl are there b/w alias-primary and alias-alias collisions?](#toc1_1_1_3_)    
    - [Primary exploration of DGIdb gene content using collisions](#toc1_1_2_)    
      - [Load gene claim data from DGIdb](#toc1_1_2_1_)    
      - [How many claims are placed in a gene group with a different label?](#toc1_1_2_2_)    
      - [How many claims are not normalized?](#toc1_1_2_3_)    
      - [Create set of gene groups (gene_name) and gene claims (gene_claim_name)](#toc1_1_2_4_)    
      - [Load HGNC, Ensembl (ENSG), and NCBI gene and alias sets](#toc1_1_2_5_)    
      - [How many unique primary gene symbols are there b/w HGNC, Ensembl, and NCBI?](#toc1_1_2_6_)    
      - [How many unique alias symbols are there b/w HGNC, Ensembl, and NCBI?](#toc1_1_2_7_)    
      - [How many unique group names are not primary gene symbols?](#toc1_1_2_8_)    
      - [How many unique claims are not primary gene symbols?](#toc1_1_2_9_)    
      - [Load the collision sets from each data source](#toc1_1_2_10_)    
      - [How many unique group names are primary gene symbols?](#toc1_1_2_11_)    
      - [How many of the groups that are labeled with a primary gene symbol are also alias-alias collisions?](#toc1_1_2_12_)    
      - [How many unique claim symbols are collisions?](#toc1_1_2_13_)    
      - [How many unique groups are labeled with collisions?](#toc1_1_2_14_)    
      - [How many unique claims are not primary gene symbols?](#toc1_1_2_15_)    
      - [How many unique claims that were not primary symbols are collisions?](#toc1_1_2_16_)    
      - [How many unique claims that are primary gene symbols are also collisions?](#toc1_1_2_17_)    
      - [How many of the gene groups that are not primary gene symbols are alias-alias collisions from HGNC?](#toc1_1_2_18_)    
      - [How many claims are ambiguous symbols?](#toc1_1_2_19_)    
      - [How many gene group labels are ambiguous symbols?](#toc1_1_2_20_)    
      - [How many claims are primary symbols?](#toc1_1_2_21_)    
      - [How many gene group labels are primary symbols?](#toc1_1_2_22_)    
      - [How many gene group labels are alias symbols?](#toc1_1_2_23_)    
      - [How many claims are alias symbols?](#toc1_1_2_24_)    
      - [How many claims that were normalized into non-primary symbol labeled groups are alias symbols?](#toc1_1_2_25_)    
      - [How many not normalized claims are alias symbols?](#toc1_1_2_26_)    
      - [How many gene group labels are not primary, alias symbols, or null?](#toc1_1_2_27_)    
      - [How many claims are not primary, alias symbols, or null?](#toc1_1_2_28_)    
      - [How many claims are primary and alias symbols?](#toc1_1_2_29_)    
      - [How many primary symbol claims are normalized into non-primary gene group labels?](#toc1_1_2_30_)    
    - [Summary](#toc1_1_3_)    
      - [Normalization Rates](#toc1_1_3_1_)    
      - [Types of Claim Symbols](#toc1_1_3_2_)    
      - [Types of Normalizations (gene group labels claims are being normliazed into)](#toc1_1_3_3_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

### <a id='toc1_1_1_'></a>[Analyzing similarities b/w alias-primary and alias-alias collisions](#toc0_)

#### <a id='toc1_1_1_1_'></a>[Load merged alias-alias and alias-priamry collision sets. Symbols are the ambiguous symbols.](#toc0_)

Input: merged_alias_gene_intersections.csv (total_alias_gene_intersections.ipynb), merged_alias_overlap_df_2.csv (total_alias_overlap.ipynb)

Output: merged_alias_primary_collision_set, merged_alias_alias_collision_set

In [2]:
merged_alias_primary_collisions_df = pd.read_csv(
    "../output/merged_alias_primary_collisions_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [3]:
merged_alias_primary_collision_set = set(
    merged_alias_primary_collisions_df["collision"]
)
len(merged_alias_primary_collision_set)

1444

In [4]:
merged_alias_alias_collisions_df = pd.read_csv(
    "../output/merged_aa_collision_alias_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [5]:
merged_alias_alias_collision_set = set(
    merged_alias_alias_collisions_df["collision"].tolist()
)
len(merged_alias_alias_collision_set)

3809

In [6]:
merged_alias_alias_collision_list = merged_alias_alias_collisions_df["collision"].tolist()

In [7]:
merged_alias_alias_collision_list[1]

'H4-16'

#### <a id='toc1_1_1_2_'></a>[How many of the alias-primary collisions are also alias-alias collisions?](#toc0_)

In [8]:
print(
    len(
        merged_alias_alias_collision_set.intersection(
            merged_alias_primary_collision_set
        )
    )
)

184

#### <a id='toc1_1_1_3_'></a>[How many unique ambiguous symbols are there b/w alias-primary and alias-alias collisions?](#toc0_)

In [9]:
ambiguous_symbol_set = merged_alias_alias_collision_set.union(
    merged_alias_primary_collision_set
)
print(len(ambiguous_symbol_set))

5069

In [10]:
ambiguous_symbol_set

{'PHLP3',
 'CIA',
 'SPLA2',
 'TR-1',
 'P7',
 'GC',
 'D14S1460',
 'SERPINA11',
 'MADD',
 'M-ABC1',
 'L4',
 'DJ760C5.1',
 'MRPS35',
 'COAS2',
 'ELK2',
 'L30',
 'MRCL',
 'APP1',
 'P25',
 'INCA',
 'MTR1',
 'H2BC7',
 'G6PD',
 'TRW-CCA3-1',
 'NET1',
 'PN1',
 'GST1',
 'CLGN',
 'HPH2',
 'AD1',
 'GF1',
 'SLAP',
 'PAR2',
 'ATP5A1P9',
 'LINC02785',
 'GEF',
 'TTMA',
 'IL-25',
 'PRM1',
 'TRC-GCA2-1',
 'FAM21A',
 'MT2',
 'CCBP2',
 'RPL36A',
 'TRQ-CTG1-5',
 'KNO2',
 'MRK',
 'HGPS',
 'TPO',
 'LINC01844',
 'HK3',
 'OR912-109',
 'GLUD1',
 'OR19-4',
 'NBC3',
 'ST2L',
 'FADS6',
 'OR21-1',
 'CDR3',
 'FAM236C',
 'PERRS',
 'BRIGHT',
 'OR1D4',
 'MED25',
 'TRAF2',
 'COMT2',
 'HOX3',
 'TIG1',
 'RECQL2',
 'PAN3',
 'MDP1',
 'EAF2',
 'BD-5',
 'TRD-GTC2-10',
 'FPRH1',
 'B29',
 'RAB42',
 'AK3L1',
 'SIP-1',
 'OR25',
 'MSS1',
 'RGL1',
 'OCM',
 'STIP',
 'PCDH19',
 'MIRH1',
 'MED24',
 'SNAPA',
 'TRX-CAT1-3',
 'P62',
 'CYPL1',
 'TOP',
 'HIST1H2BC',
 'MCS',
 'HPS2',
 'HSP72',
 'CAR2',
 'TRE-TTC1-1',
 'DTL',
 'CENP-S',
 'SI',
 'GCKR',
 'II',
 'DDX26',
 'TRIF',
 'PKB',
 'ZIP',
 'FCG2',
 'PGP',
 'TRD-GTC2-9',
 'LPAP',
 'NBP',
 'SCA31',
 'EPM2A',
 'MEIS3',
 'TR3',
 'HSD17',
 'HTR2B',
 'IGHV4-3',
 'MYH14',
 'FLJ37712',
 'UGT1',
 'CT45-6',
 'FA',
 'DLG4',
 'PRL3',
 'QARS',
 'P40',
 'TR2',
 'OR17-23',
 'SPRING',
 'M1',
 'P18',
 'CDH20',
 'CHSY2',
 'WBSCR20B',
 'HSP27',
 'DIA',
 'TRX-CAT1-5',
 'LASS1',
 'KLC2',
 'GRIP1',
 'NAT2',
 'CDR1-AS',
 'UGT1E',
 'PTAR',
 'RLF',
 'PC4',
 'MYNN',
 'CD34',
 'PAR4',
 'LAP2',
 'ND1',
 'SCOX',
 'PC2',
 'HCR',
 'SAR',
 'CART1',
 'DMRV',
 'ADPRTL3',
 'S100A16',
 'HLAL',
 'SNO',
 'CAS',
 'V1S5P',
 'COX2',
 'C2',
 'GS',
 'STRAP',
 'FAD',
 'TRM1',
 'DRF1',
 'FCG1',
 'NCC3',
 'PEHO',
 'CMT1',
 'GP150',
 'TMSA',
 'EIF5A',
 'CYC1',
 'NAA38',
 'HCA3',
 'RAB39',
 'FAM90A19P',
 'GP130',
 'H3C3',
 'PTGES3P',
 'MGC45441',
 'OSF2',
 'BRWD1-AS2',
 'KRTAP2-1',
 'CEP68',
 'PB',
 'PHLP',
 'K-REV',
 'SCAR2',
 'MAGEA4',
 'PCGF4',
 'TP2',
 'CHM',
 'POTE22',
 'LIMS3L',
 'ERP1',
 'CEACAM3',
 'XLOC_000303',
 'SLC4A5',
 'ARSC',
 'LKN-1',
 'H4C15',
 'AGPAT8',
 'PRR4',
 'PSS1',
 'LHR',
 'TRS-AGA2-1',
 'FIP3',
 'RFC1',
 'TTTY23B',
 'SERS',
 'MDC',
 'RPL17',
 'L9',
 'CD182',
 'ULG5',
 'EF1B',
 '20-ALPHA-HSD',
 'OR11-13',
 'IRT1',
 'JP',
 'AMY1',
 'ABP-280',
 'FCRL2',
 'GUP1',
 'HOX4E',
 'EP2',
 'GAL',
 'HGF',
 'PRL1',
 'DAN',
 'SODF',
 'CTH',
 'TYR-TRNA',
 'UNR',
 'H-REV107',
 'TUBB1',
 'TMEM123',
 'ACTB',
 'GPR42',
 '60B8AG',
 'FADS',
 'RCD1',
 'KIR',
 'C6ORF37',
 'CD205',
 'HDAC7',
 'NET6',
 'TRX-CAT1-8',
 'SNORD115-48',
 'TLP',
 'MTF',
 'OI4',
 'ASAP',
 'LSS',
 'KCNA8',
 'TCRAV32S1',
 'KOX5',
 'HIF1A-AS3',
 'ANT1',
 'CERS1',
 'XDH',
 'RS',
 'ZETA',
 'RPP20',
 'HOM-MEL-40',
 'CPLA2-BETA',
 'REN',
 'MLL4',
 'CCTA',
 'PIT-1',
 'ATR1',
 'RBM14',
 'ADAMTS-2',
 'CORO7',
 'CLAN',
 'P78',
 'SELP',
 'CA-RP',
 'KAP10.9',
 'UBXD10',
 'RPD3',
 'RIC8',
 'CMM8',
 'HK2',
 'WDR11',
 'AGPAT10',
 'ZNF474',
 'ISY1',
 'KMT3F',
 'CD97',
 'LAGE2A',
 'EK',
 'MRP-L18',
 'PBX2',
 'OM',
 'GNT1',
 'NEM1',
 'CALM',
 'UPA',
 'ACSM2',
 'SIP1',
 'DNAJ',
 'RLP1',
 'DR4',
 'CRABP-I',
 'P120',
 'TRP3',
 'TS',
 'PN-II',
 'COL6A4',
 'ACAT2',
 'CXORF49B',
 'TRG-GCC2-2',
 'PFD',
 'RNU1P2',
 'CLP1',
 'BART',
 'TRY-GTA5-5',
 'T6BP',
 'ODC',
 'NMB',
 'CILD28',
 'EMT',
 'DEFB3',
 'HD7',
 'TRX-CAT1-4',
 'TRNAMI2',
 'RBM5-AS1',
 'L1',
 'GL',
 'RSRFR2',
 'NF1L4',
 'CLRN1-AS1',
 'FAM25B',
 'PSMD15',
 'LMO7B',
 'TRX-CAT1-7',
 'AT1',
 'NDR',
 'TRA',
 'LAM',
 'DNM1DN11@',
 'P2X5',
 'CRN',
 'KAP2.3',
 'DELTA',
 'H4C8',
 'ZNF183',
 'RCN3',
 'MOB1',
 'TPTPS',
 'L19',
 'SAP1',
 'RPL7A',
 'IGNT',
 'RIP5',
 'ARK',
 'CLK1',
 'BCRP2',
 'JP2',
 'ZNF422',
 'TRNE',
 'UBH1',
 'GNAO1-AS1',
 'ANG2',
 'MLN',
 'MS4A7',
 'TCRAV5S1',
 'EHK2',
 'NPH1',
 'KCP1',
 'ALS6',
 'UGT1A',
 'GUSBP9',
 'ERG1',
 'G0S19-2',
 'MAFG-AS1',
 'OR2T29',
 'MEF',
 'GARS',
 'BHLHE38',
 'DEFB109',
 'OR7E73P',
 'NIPA2',
 'VWS2',
 'ARP8',
 'LSK',
 'TAZ',
 'DRG-1',
 'NSE1',
 'DCR',
 'TRN2',
 'PORMIN',
 'EKV',
 'TCRAV9S1',
 'IGFR2',
 'KPNA7',
 'TRX',
 'CST6',
 'HU-1',
 'MDSP',
 'OR17-24',
 'TCRAV10S1',
 'INPP5E',
 'SGT2',
 'IP',
 'SCAR1',
 'SMIM39',
 'NTN4',
 'VPS55',
 'ILWEQ',
 'MCT5',
 'ZNF286C',
 'BRCC1',
 'SIT1',
 'AAA',
 'RBMY2',
 'H2BFL',
 'MYLK-AS2',
 'TCRAV13S1',
 'DSP',
 'LINC00298',
 'P58',
 'RBM',
 'TCF-3',
 'PAL',
 'FAE',
 'UBC4',
 'NCMAP-DT',
 'J2',
 'ARF1P2',
 'LYSOPAFAT',
 'SLT',
 'HC',
 'MACS',
 'STX',
 'RING2',
 'Z18',
 'ECE2',
 'J3',
 'AN',
 'MEF2B',
 'SNRPD1',
 'CLIP4',
 'NOTCH2NL',
 'KV6.3',
 'CLAC',
 'AD2',
 'SPN',
 'FBL3',
 'PRP',
 'ARHGAP19',
 'OCT-3',
 'ZNF408',
 'LAK',
 'SEMAF',
 'MAD2',
 'C9',
 'CD158K',
 'MGR',
 'SAC2',
 'EPPK1',
 'RINZF',
 'GDA',
 'BOR',
 'CAPG',
 'LSAMP-AS1',
 'CHE1',
 'HARP',
 'HCC-4',
 'BWS',
 'DLC1',
 'L7',
 'CELL',
 'C3PO',
 'CNC',
 'CP11',
 'HBP',
 'E4TF1B',
 'MD1',
 'FCERI',
 'PCN',
 'HIS1',
 'HEATR8',
 'CLK2',
 'PRG2',
 'CLK-1',
 'PAP-ALPHA',
 'NPYR',
 'ADPN',
 'UGT2B11',
 'TTP',
 'AGT1',
 'RNU6-6',
 'PHS2',
 'H2BFG',
 'RAF1',
 'CDK11-P46',
 'CRT1',
 'SWS',
 'TCEA1',
 'LINC01731',
 'PP2CA',
 'HHG',
 'CD1A',
 'RFC',
 'YRRM2',
 'ATXN8',
 'APOA2',
 'KRTHA3A',
 'ARH1',
 'STAG3L1',
 'MTTK',
 'P4',
 'MPP4',
 'TNFRSF11B',
 'RPL29P3',
 'MSE',
 'HNF4A',
 'GSS',
 'ZIN',
 'MMP25',
 'KRTAP5-3',
 'HG523',
 'AGPS',
 'APC',
 'FRAXE',
 'L15',
 'TRNP1',
 'MINK',
 'FRP1',
 'DADR',
 'HIST1H2BE',
 'H4C12',
 'CTP9',
 'TER',
 'NPIPB5',
 'PMP22',
 'CT4.7',
 'URP',
 'TCRBV21S1',
 'BCAM',
 'RAE1',
 'TMS-1',
 'TCRAV25S1',
 'PEMT',
 'NAC',
 'SIGLECP1',
 'LAMP',
 'SMILE',
 'GCOM2',
 'IFNA13',
 'SCP3',
 'PEP',
 'SPH2',
 'RNU12P',
 'AIP',
 'UGD',
 'M-PST',
 'TRP2',
 'MGAT2',
 'DLG2',
 'HRES-1',
 'GATD6',
 'HRMT1L3',
 'MLT',
 'CG1',
 'SLX9',
 'XCE',
 'S7',
 'MME',
 'CLL1',
 'PRPH',
 'GSG1',
 'TGR',
 'APM1',
 'PEPP-2',
 'LIM1',
 'L13A',
 'BSC',
 'POLK',
 'C2ORF47',
 'LNP1',
 'OR11-12',
 'PER1',
 'RP1',
 'MIP-1-BETA',
 'MLL2',
 'FRAG1',
 'GPIV',
 'MOR2',
 'CT45A9',
 'CIRS-7',
 'HSPA1',
 'MIR17HG',
 'IGER',
 'P29',
 'PSM',
 'TCRAV30S1',
 'MTR2',
 'NACT',
 'FBI1',
 'F5F8D',
 'OLFRA06',
 'NT5',
 'MDS',
 'MZF-1',
 'C10ORF77',
 'NCRNA00257',
 'CSTP1',
 'MCSP',
 'PRP-1/PRP-2',
 'C10ORF50',
 'HC3',
 'C17ORF112',
 'PIG5',
 'DRG1',
 'GCAP-I',
 'FADS4',
 'GAGE4',
 'MLCK2',
 'PAIS',
 'NKX-1.1',
 'TGS1',
 'LINC02234',
 'APE',
 'HL-1',
 'GLA',
 'KIP1',
 'APS1',
 'ERF',
 'YDR084C',
 'BMH',
 'ASIP',
 'AZFA',
 'IPP1',
 'PE-1',
 'PTPN20CP',
 'ZNF197-AS1',
 'TRAPPC2B',
 'IA4',
 'GR3',
 'SMIM10L2A',
 'MOS',
 'SCC1',
 'SAX1',
 'KLIP1',
 'GLUC',
 'REGL',
 'AQP9',
 'ODA6',
 'P51',
 'NOV',
 'MAK',
 'CLP',
 'LINC01974',
 'DIP1',
 'PLA2',
 'ASE1',
 'GC1',
 'CLC2',
 'BRF1',
 'USP12P3',
 'AL4',
 'TRP-TGG3-2',
 'H2A',
 'C5A',
 'ETL1',
 'GLP-1',
 'KLHL6',
 'TRK-TTT3-5',
 'PIN1',
 'TCRG',
 'NP',
 'LHFPL3-AS2',
 'MRLC2',
 'SRA1',
 'APOC4',
 'TRP-TGG3-5',
 'PP2CB',
 'ALS19',
 'MTTF1',
 'P65',
 'PRAMEF25',
 'LINC02921',
 'TRB1',
 'BAM',
 'PGS1',
 'SUP',
 'TRT-AGT5-1',
 'CREB3',
 'APR',
 'CMPD2',
 'MAGOH',
 'TIRP',
 'MADA',
 'C2ORF74-DT',
 'ELP1',
 'GTF2IRD2',
 'EDSC',
 'HK4',
 'DPK',
 'KRTAP2.3',
 'HCGB',
 'CS-1',
 'KV10.1',
 'TCRBV12S3',
 'HST16992',
 'C2ORF27B',
 'P0',
 'OLFR42B',
 'TC4',
 'NMI',
 'ANXA8',
 'MUC9',
 'MGAT3',
 'FS',
 'MAM-2',
 'SPC3',
 'EWSR2',
 'PDZD5C',
 'LINC00087',
 'ALDRP',
 'SRC2',
 'KIP2',
 'FBL7',
 'D3',
 'SCYA2',
 'KAR',
 'TERA',
 'MAM-3',
 'SEMG',
 'TRQ-CTG1-4',
 'FAAH',
 'PPIAL4F',
 'MRPL15',
 'AZ1',
 'CAK1',
 'IPO3',
 'ST1A3',
 'ADH4',
 'TE2',
 'A3A',
 'IGFR1',
 'PGD2',
 'HERO20',
 'HRG4',
 'HIST2H2BD',
 'HPR1',
 'MRG',
 'MAP-2',
 'ZNF757',
 'MOP',
 'DBP',
 'PRX1',
 'MIR499A',
 'TAX1BP2',
 'BAP-1',
 'AMAP1',
 'ACAT',
 'HNRPA3',
 'KLK3',
 'LINC01358',
 'GEF720',
 'POM121L1',
 'SLIT1',
 'ANCR',
 'CHRNA7',
 'NAC3',
 'C7ORF55',
 'TRAP-1',
 'HC5',
 'GAT3',
 'CRA',
 'HCG',
 'P2Y11',
 'P15',
 'GJA9',
 'H3C11',
 'SPT2',
 'LINC02797',
 'NAP1L',
 'LPP1',
 'FKBP6',
 'STK22D',
 'SMT3B',
 'IBP',
 'NTN',
 'TRB',
 'ASP',
 'PXR1',
 'OR19-5',
 'LNCR2',
 'PRP4',
 'DMP1',
 'DJ221C16.8',
 'FKBP12',
 'NS',
 'HAI',
 'SIGLECL1',
 'XAGE1',
 'DAC',
 'PABP4',
 'GABPB2',
 'FBW6',
 'CFHL3',
 'PLAC8',
 'RNF3',
 'P66',
 'TRN1',
 'CT12.1',
 'EGLN2',
 'H2AB2',
 'U2AF1L4',
 'LAG-1',
 'BRIP1',
 'FAM25A',
 'TIP39',
 'SPGF52',
 'PRP8',
 'NBS1',
 'CHIF',
 'MER',
 'PLGLA1',
 'IAN6',
 'TP',
 'MIG7',
 'SRC1',
 'KRTAP2.4',
 'B3GNT8',
 'SCA8',
 'GAS7',
 'RBMXP1',
 'CSA',
 'MIEF1-MP',
 'PCDH22',
 'CRIP',
 'HB6',
 'TRH-GTG1-9',
 'IDP',
 'ARP2',
 'IPLA1A',
 'TSSK4',
 'LPP2',
 'FAM48B1',
 'TRIM49D1',
 'DESI1',
 'PRSSL1',
 'UTA',
 'LINC02696',
 'TRIP',
 'BAR',
 'GPHR',
 'CDKN1A',
 'GP135',
 'HIES6',
 'FIB2',
 'TRAC1',
 'GPX6',
 'TFIIH',
 'MRX15',
 'EDM4',
 'NIP1',
 'MORF4LP4',
 'PAR-1',
 'CLE',
 'TBC1D3D',
 'MMP21',
 'C15ORF1',
 'P54',
 'PAP-II',
 'NAT3',
 'POP1',
 'KMT3G',
 'DEFB4',
 'DDT',
 'CDF',
 'CT4.4',
 'NAPA',
 'GCP2',
 'TRNAN-GUU',
 'HCRN',
 'TRI-AAT5-2',
 'FOXO3B',
 'TYRO4',
 'TPH2',
 'LGL1',
 'HPC8',
 'GCD10',
 'HOPS',
 'HCRTR2',
 'FETA',
 'D2',
 'PRX2',
 'CXORF2',
 'IFP1',
 'FLJ43692',
 'TCRAV27S1',
 'FIL1',
 'PAR-6',
 'CRL2',
 'TOMM6',
 'TRP-TGG3-3',
 'MTHFS',
 'PRR',
 'MCAF',
 'SPDYE13',
 'RUS',
 'TRC-GCA2-4',
 'RALBP1',
 'ARAP',
 'MGF',
 'DAGK6',
 'TMEFF1',
 'NRF1',
 'P76',
 'DLG1',
 'H2AC11',
 'PIUS',
 'EPP',
 'EAP1',
 'U1',
 'MED',
 'NDPP1',
 'TAK1',
 'DEFB-4',
 'IRBP',
 'G3PP',
 'US2',
 'HAP2',
 'R51H3',
 'GCP3',
 'ERG3',
 'SCD',
 'PRR2',
 'ARC34',
 'ZNF20',
 'XBP1',
 'HE2',
 'TBC1D3L',
 'METTL2',
 'CT4.2',
 'SYM1',
 'CNG4',
 'CLDN21',
 'CCNYL1B',
 'TRIM34',
 'HLA-DR1B',
 'PAK5',
 'RSS',
 'TAF2C2',
 'IL8RA',
 'TSPEAR-AS2',
 'U3A',
 'DAP1',
 'DEC1',
 'FNTB',
 'L18',
 'TRP-AGG2-5',
 'HK',
 'NPIPA7',
 'PC1',
 'LINC02910',
 'CPLA2',
 'IL17A',
 'TTF2',
 'HZF-3',
 'UGAT',
 'CSN1',
 'LINC01357',
 'RP8',
 'ARIP1',
 'ICR',
 'APG1',
 'L21',
 'DDX21',
 'DDC8',
 'SAT3',
 'CEBPZ',
 'CYP2D6',
 'SST1',
 'P20',
 'VMA10',
 'DSK2',
 'KRT6C',
 'ATP1A1',
 'L10',
 'LAG1',
 'TRNAV22',
 'HRAS1',
 'ASPRS',
 '7SK',
 ...}

In [11]:
ambiguous_symbol_set = set(item.strip() for item in ambiguous_symbol_set)

print(len(ambiguous_symbol_set))

5069

In [12]:
with open("../output/ambiguous_symbol_set.txt", "w") as file:
    for item in ambiguous_symbol_set:
        file.write(f"{item.strip()}\n")

In [13]:
with open("../output/ambiguous_symbol_set.txt", "r") as file:
    # read each line, strip newline characters, and convert to a set
    ambiguous_symbol_set = set(line.strip() for line in file)
len(ambiguous_symbol_set)

5069

In [14]:
ambiguous_symbol_set

{'PHLP3',
 'CIA',
 'TR-1',
 'GC',
 'MADD',
 'DJ760C5.1',
 'APP1',
 'P25',
 'G6PD',
 'TRW-CCA3-1',
 'NET1',
 'AD1',
 'PAR2',
 'LINC02785',
 'GEF',
 'TTMA',
 'TRC-GCA2-1',
 'MT2',
 'MRK',
 'HGPS',
 'TPO',
 'LINC01844',
 'OR19-4',
 'OR21-1',
 'CDR3',
 'HOX3',
 'TIG1',
 'MDP1',
 'BD-5',
 'TRD-GTC2-10',
 'RAB42',
 'AK3L1',
 'PCDH19',
 'TRX-CAT1-3',
 'P62',
 'HIST1H2BC',
 'MCS',
 'HPS2',
 'CAR2',
 'DTL',
 'CENP-S',
 'GCKR',
 'II',
 'PKB',
 'FCG2',
 'LPAP',
 'SCA31',
 'MEIS3',
 'TR3',
 'HTR2B',
 'IGHV4-3',
 'CT45-6',
 'DLG4',
 'TR2',
 'M1',
 'CDH20',
 'CHSY2',
 'DIA',
 'KLC2',
 'GRIP1',
 'UGT1E',
 'PTAR',
 'MYNN',
 'PAR4',
 'ND1',
 'SCOX',
 'PC2',
 'HCR',
 'SAR',
 'CART1',
 'DMRV',
 'SNO',
 'CAS',
 'V1S5P',
 'C2',
 'GS',
 'STRAP',
 'TRM1',
 'FCG1',
 'NCC3',
 'PEHO',
 'CMT1',
 'TMSA',
 'EIF5A',
 'RAB39',
 'FAM90A19P',
 'GP130',
 'H3C3',
 'PTGES3P',
 'CEP68',
 'PB',
 'PHLP',
 'CHM',
 'CEACAM3',
 'XLOC_000303',
 'H4C15',
 'AGPAT8',
 'PRR4',
 'PSS1',
 'SERS',
 'MDC',
 'RPL17',
 'CD182',
 'ULG5',
 'EF1B',
 '20-ALPHA-HSD',
 'JP',
 'FCRL2',
 'GUP1',
 'GAL',
 'HGF',
 'DAN',
 'TYR-TRNA',
 'UNR',
 'H-REV107',
 'TUBB1',
 'TMEM123',
 'ACTB',
 'GPR42',
 '60B8AG',
 'FADS',
 'C6ORF37',
 'TRX-CAT1-8',
 'NET6',
 'SNORD115-48',
 'KCNA8',
 'TCRAV32S1',
 'KOX5',
 'ZETA',
 'RPP20',
 'HOM-MEL-40',
 'MLL4',
 'PIT-1',
 'ATR1',
 'RBM14',
 'CLAN',
 'SELP',
 'CA-RP',
 'KAP10.9',
 'UBXD10',
 'RPD3',
 'RIC8',
 'CMM8',
 'HK2',
 'AGPAT10',
 'ISY1',
 'LAGE2A',
 'EK',
 'PBX2',
 'OM',
 'GNT1',
 'CALM',
 'ACSM2',
 'SIP1',
 'DNAJ',
 'P120',
 'TS',
 'PN-II',
 'CXORF49B',
 'PFD',
 'TRY-GTA5-5',
 'NMB',
 'CILD28',
 'EMT',
 'TRX-CAT1-4',
 'TRNAMI2',
 'RBM5-AS1',
 'L1',
 'GL',
 'RSRFR2',
 'NF1L4',
 'CLRN1-AS1',
 'PSMD15',
 'LMO7B',
 'TRX-CAT1-7',
 'LAM',
 'DNM1DN11@',
 'P2X5',
 'KAP2.3',
 'RCN3',
 'MOB1',
 'SAP1',
 'IGNT',
 'RIP5',
 'ARK',
 'CLK1',
 'UBH1',
 'MLN',
 'MS4A7',
 'TCRAV5S1',
 'EHK2',
 'ALS6',
 'UGT1A',
 'MAFG-AS1',
 'OR2T29',
 'MEF',
 'DEFB109',
 'OR7E73P',
 'NIPA2',
 'VWS2',
 'LSK',
 'DRG-1',
 'TRN2',
 'EKV',
 'TCRAV9S1',
 'IGFR2',
 'KPNA7',
 'TRX',
 'CST6',
 'HU-1',
 'SGT2',
 'SMIM39',
 'VPS55',
 'MCT5',
 'SIT1',
 'AAA',
 'RBMY2',
 'H2BFL',
 'MYLK-AS2',
 'TCRAV13S1',
 'LINC00298',
 'PAL',
 'UBC4',
 'NCMAP-DT',
 'ARF1P2',
 'LYSOPAFAT',
 'MACS',
 'Z18',
 'ECE2',
 'AN',
 'CLIP4',
 'CLAC',
 'KV6.3',
 'SPN',
 'FBL3',
 'ARHGAP19',
 'ZNF408',
 'LAK',
 'MAD2',
 'MGR',
 'GDA',
 'CHE1',
 'CELL',
 'C3PO',
 'CNC',
 'E4TF1B',
 'MD1',
 'HEATR8',
 'CLK-1',
 'NPYR',
 'ADPN',
 'UGT2B11',
 'PHS2',
 'CDK11-P46',
 'TCEA1',
 'YRRM2',
 'KRTHA3A',
 'ARH1',
 'STAG3L1',
 'MTTK',
 'RPL29P3',
 'GSS',
 'HG523',
 'APC',
 'FRAXE',
 'L15',
 'DADR',
 'HIST1H2BE',
 'H4C12',
 'TER',
 'NPIPB5',
 'URP',
 'BCAM',
 'RAE1',
 'TCRAV25S1',
 'PEMT',
 'SIGLECP1',
 'RNU12P',
 'PEP',
 'AIP',
 'UGD',
 'M-PST',
 'DLG2',
 'HRES-1',
 'GATD6',
 'MLT',
 'XCE',
 'S7',
 'MME',
 'CLL1',
 'PRPH',
 'GSG1',
 'TGR',
 'APM1',
 'PEPP-2',
 'L13A',
 'BSC',
 'POLK',
 'C2ORF47',
 'LNP1',
 'RP1',
 'MLL2',
 'GPIV',
 'CT45A9',
 'CIRS-7',
 'MIR17HG',
 'IGER',
 'NACT',
 'TCRAV30S1',
 'FBI1',
 'OLFRA06',
 'MDS',
 'NCRNA00257',
 'MCSP',
 'PRP-1/PRP-2',
 'DRG1',
 'PIG5',
 'GAGE4',
 'GCAP-I',
 'PAIS',
 'NKX-1.1',
 'HL-1',
 'KIP1',
 'APS1',
 'ERF',
 'YDR084C',
 'BMH',
 'ASIP',
 'AZFA',
 'PE-1',
 'PTPN20CP',
 'TRAPPC2B',
 'IA4',
 'GR3',
 'SMIM10L2A',
 'MOS',
 'SCC1',
 'AQP9',
 'P51',
 'NOV',
 'MAK',
 'LINC01974',
 'PLA2',
 'ASE1',
 'H2A',
 'C5A',
 'KLHL6',
 'GLP-1',
 'PIN1',
 'TCRG',
 'LHFPL3-AS2',
 'APOC4',
 'TRP-TGG3-5',
 'PP2CB',
 'ALS19',
 'CREB3',
 'TIRP',
 'ELP1',
 'EDSC',
 'TC4',
 'NMI',
 'MGAT3',
 'MAM-2',
 'EWSR2',
 'PDZD5C',
 'KIP2',
 'FBL7',
 'KAR',
 'TERA',
 'TRQ-CTG1-4',
 'SEMG',
 'FAAH',
 'PPIAL4F',
 'CAK1',
 'IPO3',
 'ADH4',
 'TE2',
 'A3A',
 'HERO20',
 'HIST2H2BD',
 'ZNF757',
 'DBP',
 'MIR499A',
 'LINC01358',
 'HNRPA3',
 'POM121L1',
 'SLIT1',
 'CHRNA7',
 'C7ORF55',
 'TRAP-1',
 'CRA',
 'P2Y11',
 'P15',
 'H3C11',
 'LINC02797',
 'NAP1L',
 'LPP1',
 'SMT3B',
 'NTN',
 'TRB',
 'OR19-5',
 'DMP1',
 'XAGE1',
 'DAC',
 'CFHL3',
 'TRN1',
 'LAG-1',
 'BRIP1',
 'TIP39',
 'PRP8',
 'CHIF',
 'MER',
 'PLGLA1',
 'SRC1',
 'SCA8',
 'PCDH22',
 'HB6',
 'IDP',
 'ARP2',
 'TRIM49D1',
 'PRSSL1',
 'LINC02696',
 'BAR',
 'CDKN1A',
 'TRAC1',
 'GPX6',
 'TFIIH',
 'MRX15',
 'CLE',
 'TBC1D3D',
 'MMP21',
 'PAP-II',
 'NAT3',
 'POP1',
 'DDT',
 'DEFB4',
 'CDF',
 'CT4.4',
 'GCP2',
 'TRNAN-GUU',
 'TPH2',
 'HOPS',
 'HCRTR2',
 'PRX2',
 'IFP1',
 'TOMM6',
 'TCRAV27S1',
 'FIL1',
 'PRR',
 'MCAF',
 'RUS',
 'TRC-GCA2-4',
 'RALBP1',
 'MGF',
 'TMEFF1',
 'PIUS',
 'EAP1',
 'MED',
 'G3PP',
 'US2',
 'R51H3',
 'XBP1',
 'TBC1D3L',
 'CLDN21',
 'HLA-DR1B',
 'TSPEAR-AS2',
 'U3A',
 'DEC1',
 'TRP-AGG2-5',
 'HK',
 'LINC02910',
 'CPLA2',
 'HZF-3',
 'UGAT',
 'CSN1',
 'LINC01357',
 'RP8',
 'ARIP1',
 'L21',
 'DDX21',
 'CEBPZ',
 'SST1',
 'DSK2',
 'KRT6C',
 'ATP1A1',
 'L10',
 'LAG1',
 '7SK',
 'SHP1',
 'HCG18',
 'MR1',
 'LRP10',
 'MPI',
 'UOG1',
 'HOX2',
 'TRY-GTA5-3',
 'DLG3',
 'HN3',
 'MMP20',
 'DUP',
 'S31I125',
 'LRRC37',
 'CDR1AS',
 'PDE4DIP',
 'IL25',
 'MFT',
 'LGALS9B',
 'C2TA',
 'EFTUD1',
 'VSD1',
 'SCAP',
 'RGS13',
 'KRAS',
 'IFITMD8',
 'PCDHX',
 'OBP',
 'GA',
 'ESA1',
 'H2B/K',
 'SLC16A4-AS1',
 'WSS',
 'MBP1',
 'SCA2',
 'PP1C',
 'MAGEA2',
 'SAS',
 'PDI',
 'RAB7',
 'PI-PLC',
 'SMA4',
 'FAP',
 'OBTP',
 'PRKACA',
 'RNAH',
 'CKR-1',
 'CIP1',
 'GARP',
 'STRA13',
 'AC079630.2',
 'FAM90A16P',
 'I1',
 'BDP1',
 'NTNG1',
 'POLH',
 'CDKN2',
 'LPD',
 'GLP1',
 'MARS',
 'NKH',
 'IGFBP3R',
 'REG-III',
 'PAR3',
 'TIM',
 'CBG',
 'PRDX6',
 'HCNP',
 'LDB1',
 'EL32',
 'CBWD3',
 'PCD',
 'STK7',
 'SAP130',
 'SNF2LB',
 'MIR1',
 'ED3',
 'PD1',
 'PN-I',
 'GS2',
 'ADHR',
 'DYT14',
 'SOCS7',
 'DGPT',
 'C11ORF52',
 'ALB',
 'CYP2D7BP',
 'CAPB',
 'AP47B',
 'LEU1',
 'SOHLH2',
 'CRN7',
 'HET',
 'NNX3',
 'TSC',
 'MHF1',
 'TTTY8',
 'SA',
 'GTK',
 'HIST1H2BI',
 'C6ORF147',
 'PAC-1',
 'NBIA4',
 'HP1',
 'CLC',
 'TCRAV4S1',
 'BTHLM1',
 'SNT1',
 'ACC2',
 'SPG',
 'LST1',
 'ZAC1',
 'CAK',
 'SCN1',
 'PARF',
 'CXORF49',
 'CDS1',
 'SDH',
 'IGLV',
 'P240',
 'ATDC',
 'HCP',
 'PH2A/F',
 '61E3.4',
 'RDC1',
 'LINC00407',
 'AMDD',
 'PLAP-1',
 'PLEKHA8',
 'SSF1',
 'C15ORF63',
 'DDX11L1',
 'ST3GALA.2',
 'SARS',
 'LIG3',
 'MICE',
 'MCT3',
 'TCF-4',
 'C1ORF175',
 'LPCAT4',
 'EF1A',
 'TTY9',
 'P90',
 'HARC',
 'TRP-AGG2-2',
 'TP53TG3C',
 'NDK',
 'OI6',
 '12-LOX',
 'LINC01374',
 'MIF',
 'H3C15',
 'KLK6',
 'H2AC4',
 'H2B/G',
 'HCLP1',
 'CTRP5',
 'SPAP1',
 'FCHL2',
 'TSK4',
 'IL-21',
 'PPCD1',
 'HLA-DQB1',
 'HOS',
 'U3B2',
 'A1B',
 'ZFP91',
 'CT47',
 'LINC00683',
 'GCP-1',
 'AAC2',
 'LINC03081',
 'IGLC',
 'SIL',
 'CXXC11',
 'U5B1',
 'EIF-4C',
 'CYP2B7',
 'FAM18B2',
 'FEB3B',
 'HS3ST5',
 'D-X',
 'H4C4',
 'HS1',
 'TBC1D3C',
 'H2B.1',
 'MGC5228',
 'CDG1P',
 'SPANX-C',
 'LCA',
 'MRT1',
 'FCGR2',
 'PSAP',
 'POP4',
 'NT3',
 'TCRAV28S1',
 'ECGF1',
 'PCN3',
 'CAMC',
 'NR1',
 'DNM1DN15@',
 'IFN-ALPHAI',
 'SYN',
 'CRL1',
 'AK6',
 'NK3',
 'CDP',
 'RAC3',
 'MAGEA6',
 'PROX',
 'L1AG',
 'PAT1',
 'TCRAV3S1',
 'PGD',
 'TRK-TTT3-3',
 'DIA1',
 'TRY4',
 'TSH1',
 'CS1',
 'HCP1',
 'GPR58',
 'DA1',
 'MLP1',
 'CL1',
 'MCAP',
 'J1',
 'SP1',
 'CALML2',
 'KIAA1426',
 'ASB-3',
 'ASC2',
 'RP7',
 'TSP1',
 'ADAM23',
 'CN-IB',
 'HL-2',
 'OCT-4',
 'LAGE2B',
 'CHS1',
 'CA11',
 'GDN',
 'HDC',
 'AMAC1',
 'SEP2',
 'STA',
 'HMS',
 'SPR',
 'AGS4',
 'TC2',
 'MIR-199-S',
 'CXORF52',
 'ASH2',
 'SCAF1',
 'RNH1',
 'FSIP2-AS2',
 'P180',
 'CED4',
 'BAP18',
 'TCRBV15S1',
 'PNUTL3',
 'SN',
 'SDR25C1',
 'SLA',
 'CEP1',
 'RRP',
 'P2',
 'PIG11',
 'LOAS',
 'AMPK',
 'PMI1',
 'PAPPAS',
 'HBD-4',
 'M33',
 'NPL3',
 'KLF14',
 'TTTY6',
 'SBP1',
 'NACHRA7',
 'NKIR',
 'ALOX12-AS1',
 'CARD2',
 'SRM',
 'TRX-CAT1-2',
 'CHD2',
 'NBPF9',
 'FAPP2',
 'OR912-46',
 'FOLR1',
 'CED12',
 'OR7E71P',
 'EST',
 'HUB1',
 'GALNT16',
 'GLUT9',
 'PARC',
 'SPP2',
 'GAL-NAC6S',
 'KNTC1AP',
 'U13',
 'HDLC1',
 'PSISSX8',
 'TTF-1',
 'FAH',
 'P52',
 'PPP1R6',
 'CED-12',
 'PCP',
 'LIS2',
 'SIGLECP2',
 'FOXD4B',
 'YRRM1',
 'CDA12',
 'P80',
 'KAP2.4',
 'NEDSMBA',
 'ALIEN',
 'INFE1',
 'CKLF',
 'PAC2',
 'GAGE-7',
 'H2B/H',
 'HCCA2',
 'APC2',
 'GAGE2',
 'CAD',
 'OCT6',
 'FAME2',
 'NME1',
 'RN5-8S1',
 'LINC01995',
 'CGB5',
 'USP21',
 'BEC1',
 'GEM',
 'XAGE1B',
 'ADA1',
 'TNDM1',
 'CYP1',
 'MAD3',
 'E1',
 'CXDELQ22.3',
 'PABP3',
 'GRTH',
 'BOP',
 'APRIL',
 'SLC17A2',
 'HSP70.1',
 'TAL-H',
 'RP2',
 'AMY2',
 'FPP',
 'HSP70.2',
 'TMSL8',
 'CEA',
 'RNU1-8',
 'SPANXC',
 'DGS',
 'BPAD',
 'HSD2',
 'NLK',
 'H2',
 'CMS1A',
 'IGHV3-3',
 'MST',
 'NABC1',
 'RNASE4',
 'HH',
 'BDNF',
 'PSK',
 'ODC1L',
 'QPC',
 'PTPRO',
 'MST1',
 'TNNI3K',
 'AAC1',
 'TGM6',
 'SF',
 'MSL1',
 'RAET1L',
 'ATF1',
 'LINC01799',
 'DRC1',
 'TLN',
 'RH',
 'SMF',
 'CYP2G2P',
 'GAGE7B',
 'REF1',
 'C12ORF2',
 'SCNM1',
 'CCNL1',
 'SARA',
 'TFI',
 'TRE-TTC1-2',
 'KGA',
 'RAR',
 'CCAT',
 'IL-20',
 'DGCR6',
 'DIVA',
 'RANBP2L2',
 'UGT1.3',
 'TDE2',
 'MRG1',
 'UIP1',
 'ALS',
 'NKHC',
 'CT45A4',
 'LINC01238',
 'FDH',
 'P120(CAS)',
 'HSPG',
 'UBC6',
 'P11',
 'ALG10',
 'SCARNA17',
 'CDK4I',
 'TRP-AGG2-6',
 'OPT',
 'ZWS',
 'LTBP3',
 'TRP1',
 'ADORA2',
 'TN',
 'H2A.1',
 'EBN1',
 'RNU1-6P',
 'RNU6-373P',
 'CATL',
 'CDK11',
 'TCTEX4',
 'HDMX',
 'MTCP1',
 'MIR1291',
 'CMC1',
 'KIAA0705',
 'FZD3',
 'SPRK',
 'CNIL',
 '10Q23DEL',
 'SD',
 'RRP4',
 'SES2',
 'EPO',
 'KIR2DL3',
 'SPC1',
 'CGB',
 'SYT',
 'SPEN',
 'EDHB17',
 'WDR82',
 'U19',
 'CRP3',
 'UGT-1A',
 'FBS',
 'ZNF705C',
 'ARC',
 'ODF',
 'HRH1',
 'U86',
 'LRP2BP',
 'L23',
 'D1',
 'RN18S1',
 'VPP3',
 'TRS-AGA2-5',
 'CDC14B',
 'MN',
 'UNG2',
 'PP2CE',
 'CYP3A7',
 'PCL1',
 'BD-3',
 'RRP17',
 'PRR3',
 'HP3',
 'RGP3',
 'PLA2L',
 'LY-75',
 'ZFP-91',
 'CYK4',
 'RP3',
 'OPA1',
 'S9',
 'ICE',
 'SAMS',
 'KSR',
 'P68',
 'BAP',
 'PPT',
 'GX',
 'NSE2',
 'PC3',
 'MB1',
 'DNM1DN16@',
 'P5',
 'ALP',
 'SFD',
 'B17',
 'ADC',
 'CD20',
 'RETSDR2',
 'OR17-2',
 'DLEU2',
 'U2',
 'LPLAT',
 'MPP',
 'CAM',
 'FZD5',
 'OCP2',
 'DFNA2',
 'HML',
 ...}

### <a id='toc1_1_2_'></a>[Primary exploration of DGIdb gene content using collisions](#toc0_)

#### <a id='toc1_1_2_1_'></a>[Load gene claim data from DGIdb](#toc0_)

In [15]:
dgidb_gene_df = pd.read_csv(
    "../input/dgidb_genes_JUNE.tsv", sep="\t", na_values=["", "NULL"], keep_default_na=False
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17

In [16]:
num_total_claims = len(dgidb_gene_df)

In [17]:
dgidb_gene_df.loc[dgidb_gene_df["gene_claim_name"] == "HES1"]

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version
30772,HES1,Gene Symbol,hgnc:5192,HES1,Pharos,10-Apr-24
76844,HES1,Gene Symbol,hgnc:5192,HES1,HGNC,20240408
76845,HES1,Gene Symbol,hgnc:5192,HES1,NCBI,20240410
76846,HES1,Gene Symbol,hgnc:5192,HES1,Ensembl,111
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17

#### <a id='toc1_1_2_2_'></a>[How many claims are placed in a gene group with a different label?](#toc0_)

In [18]:
dgidb_gene_df.query("gene_name != gene_claim_name")

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
...,...,...,...,...,...,...
79999,SEPT5,Gene Symbol,hgnc:9164,SEPTIN5,FoundationOneGenes,9/3/20
80014,ENSEMBL:ENSG00000185821,Ensembl Gene ID,hgnc:31305,OR6C76,RussLampel,26-Jul-11
80053,SEPT5,Gene Symbol,hgnc:9164,SEPTIN5,CarisMolecularIntelligence,9/4/20
80166,SEPT6,Gene Symbol,hgnc:15848,SEPTIN6,CarisMolecularIntelligence,9/4/20
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20

#### <a id='toc1_1_2_3_'></a>[How many claims are not normalized?](#toc0_)

claims without a symbol/name/identifier
 (there shouldn't be any hooray)

In [19]:
no_claim_symbols_df = dgidb_gene_df[dgidb_gene_df["gene_claim_name"].isnull()]
no_claim_symbols_df

Empty DataFrame
Columns: [gene_claim_name, nomenclature, concept_id, gene_name, source_db_name, source_db_version]
Index: []

In [20]:
no_name_symbols_df = dgidb_gene_df[dgidb_gene_df["gene_name"].isnull()]
num_not_normalized_claims = len(no_name_symbols_df)
num_not_normalized_claims

2144

In [21]:
num_normalized_claims = num_total_claims - num_not_normalized_claims

#### <a id='toc1_1_2_4_'></a>[Create set of gene groups (gene_name) and gene claims (gene_claim_name)](#toc0_)

In [22]:
dgidb_name_set = set(dgidb_gene_df["gene_name"])
len(dgidb_name_set)

12001

In [23]:
dgidb_gene_claim_name_set = set(dgidb_gene_df["gene_claim_name"])
len(dgidb_gene_claim_name_set)

26739

#### <a id='toc1_1_2_5_'></a>[Load HGNC, Ensembl (ENSG), and NCBI gene and alias sets](#toc0_)

Input: mini_hgnc_df, mini_ensg_df, mini_ncbi_df (total_alias_gene_intersections.ipynb)

Output: x_gene_symbol_set, x_alias_symbol_set where x is ncbi, ensg or ncbi

In [24]:
mini_hgnc_df = pd.read_csv(
    "../output/mini_hgnc_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [25]:
mini_ensg_df = pd.read_csv(
    "../output/mini_ensg_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [26]:
mini_ncbi_df = pd.read_csv(
    "../output/mini_ncbi_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [27]:
hgnc_gene_symbol_set = set(mini_hgnc_df["gene_symbol"])
len(hgnc_gene_symbol_set)

44235

In [28]:
ensg_gene_symbol_set = set(mini_ensg_df["gene_symbol"])
len(ensg_gene_symbol_set)

41164

In [29]:
ncbi_gene_symbol_set = set(mini_ncbi_df["gene_symbol"])
len(ncbi_gene_symbol_set)

44541

In [30]:
hgnc_alias_symbol_set = set(mini_hgnc_df["alias_symbol"])
len(hgnc_alias_symbol_set)

43076

In [31]:
ensg_alias_symbol_set = set(mini_ensg_df["alias_symbol"])
len(ensg_alias_symbol_set)

55413

In [32]:
ncbi_alias_symbol_set = set(mini_ncbi_df["alias_symbol"])
len(ncbi_alias_symbol_set)

69229

#### <a id='toc1_1_2_6_'></a>[How many unique primary gene symbols are there b/w HGNC, Ensembl, and NCBI?](#toc0_)

In [33]:
hgnc_ensg_gene_symbol_set = hgnc_gene_symbol_set.union(ensg_gene_symbol_set)

In [34]:
hgnc_ensg_ncbi_gene_symbol_set = hgnc_ensg_gene_symbol_set.union(ncbi_gene_symbol_set)
len(hgnc_ensg_ncbi_gene_symbol_set)

44797

#### <a id='toc1_1_2_7_'></a>[How many unique alias symbols are there b/w HGNC, Ensembl, and NCBI?](#toc0_)

In [35]:
hgnc_ensg_alias_symbol_set = hgnc_alias_symbol_set.union(ensg_alias_symbol_set)

In [36]:
hgnc_ensg_ncbi_alias_symbol_set = hgnc_ensg_alias_symbol_set.union(
    ncbi_alias_symbol_set
)
len(hgnc_ensg_ncbi_alias_symbol_set)

93014

#### <a id='toc1_1_2_8_'></a>[How many unique group names are not primary gene symbols?](#toc0_)

In [37]:
name_ensg_notmatch = dgidb_name_set.difference(ensg_gene_symbol_set)
len(name_ensg_notmatch)

297

In [38]:
name_hgnc_notmatch = dgidb_name_set.difference(hgnc_gene_symbol_set)
len(name_hgnc_notmatch)

173

In [39]:
cleaned_name_hgnc_notmatch = [x for x in name_hgnc_notmatch if str(x) != "NaN"]
len(cleaned_name_hgnc_notmatch)

173

In [40]:
name_ncbi_notmatch = dgidb_name_set.difference(ncbi_gene_symbol_set)
len(name_ncbi_notmatch)

184

In [41]:
name_ncbi_hgnc_notmatch = name_ncbi_notmatch.difference(hgnc_gene_symbol_set)
len(name_ncbi_hgnc_notmatch)

166

How many groups are labeled with a symbol not found in the sets of primary symbols from HGNC, NCBI, or ENSG?

In [42]:
name_ncbi_hgnc_ensg_notmatch = name_ncbi_hgnc_notmatch.difference(ensg_gene_symbol_set)
len(name_ncbi_hgnc_ensg_notmatch)

147

In [43]:
name_ncbi_hgnc_ensg_notmatch

{'A12M1',
 'A12M2',
 'A12M3',
 'A12M4',
 'ACT',
 'ACTBP5',
 'ACTL4',
 'ACTL5',
 'ADAL',
 'ADFN',
 'AGTRL2',
 'ALDRL2',
 'ALS3',
 'AMCN',
 'ANOP1',
 'ANTP2',
 'ANTP4',
 'APOBER1',
 'ARCN2',
 'ARVD3',
 'ARVD4',
 'ASD1',
 'ATD',
 'ATHS',
 'ATP3',
 'ATP5A2',
 'ATP5BL2',
 'AZF1',
 'AZF2',
 'BCGF1',
 'BCHEL1',
 'BCHEL3',
 'BCL5',
 'BDM',
 'BEVI',
 'BRAFPS1',
 'BTNL1',
 'BTS1',
 'CATHL1L',
 'CCA1',
 'CDB2',
 'CHR',
 'CMM',
 'CMR1A',
 'CMR3A',
 'CMTX3',
 'CNA1',
 'CNC2',
 'COD2',
 'CORD1',
 'CORD4',
 'CSNKA2IP',
 'CTAA1',
 'CTAA2',
 'CTD',
 'CYB5P1',
 'CYP3A',
 'DBIL3',
 'DFNA19',
 'DFNB13',
 'DFNB14',
 'DFNB5',
 'DYT7',
 'E11S',
 'EBM',
 'EBR3',
 'EBR4',
 'EEGV1',
 'EGI',
 'ELNL1',
 'ENUR1',
 'ENUR2',
 'ERCM1',
 'ERPL1',
 'ERPL2',
 'ERV1',
 'ERVK2',
 'ERVK3',
 'ERVT1',
 'ERVT3',
 'ERVT4',
 'ERVT5',
 'EXT3',
 'F13A3',
 'F2L',
 'F7R',
 'FAUNA@',
 'FCP1',
 'FEB1',
 'FEB2',
 'FNL1',
 'FNTBL1',
 'FNZ',
 'FOLR2L',
 'FRA4E',
 'FRA8F',
 'FRDA2',
 'FRV1',
 'FRV3',
 'FSHMD1A',
 'FSHMD1B',
 'FUSE',
 'GAPDHL17',
 'GCF1',
 'GGTL1',
 'GGTL2',
 'GKP4',
 'GKP5',
 'GLC#',
 'GLC1B',
 'GLC1C',
 'GLC1D',
 'GLC3B',
 'GMFA',
 'GPR34P',
 'GSK1',
 'GSM1',
 'GUSM',
 'H4F3',
 'HCA1',
 'HCL2',
 'HCVS',
 'HEMC',
 'HMAA',
 'HMAB',
 'HMG1P',
 'HMS1',
 'HPE1',
 'HPFH2',
 'HPRTP1',
 'HPT',
 'LOC102723996',
 'LOC102724428',
 'LOC105376944',
 'LOC112268384',
 'LOC112694756',
 'LOC344967',
 'LOC408186',
 'LOC653303',
 'MRSD',
 'OA1',
 'PAND1',
 'UGT2B@',
 'USP17L',
 'XS',
 'mCR',
 nan}

In [44]:
len(dgidb_name_set)

12001

#### <a id='toc1_1_2_9_'></a>[How many unique claims are not primary gene symbols?](#toc0_)

In [45]:
gene_claim_name_ensg_notmatch = dgidb_gene_claim_name_set.difference(
    ensg_gene_symbol_set
)
len(gene_claim_name_ensg_notmatch)

15030

In [46]:
cleaned_gene_claim_name_ensg_notmatch = [
    x for x in gene_claim_name_ensg_notmatch if str(x) != "NaN"
]
len(cleaned_gene_claim_name_ensg_notmatch)

15030

In [47]:
gene_claim_name_hgnc_notmatch = dgidb_gene_claim_name_set.difference(
    hgnc_gene_symbol_set
)
len(gene_claim_name_hgnc_notmatch)

14905

In [48]:
gene_claim_name_ncbi_notmatch = dgidb_gene_claim_name_set.difference(
    ncbi_gene_symbol_set
)
len(gene_claim_name_ncbi_notmatch)

14916

In [49]:
gene_claim_name_ncbi_hngc_notmatch = gene_claim_name_ncbi_notmatch.difference(
    hgnc_gene_symbol_set
)
len(gene_claim_name_ncbi_hngc_notmatch)

14898

How many unique claims are not primary symbols

In [50]:
gene_claim_name_ncbi_hngc_ensg_notmatch = gene_claim_name_ncbi_hngc_notmatch.difference(
    ensg_gene_symbol_set
)
num_not_primary_claims = len(gene_claim_name_ncbi_hngc_ensg_notmatch)
num_not_primary_claims

14879

#### <a id='toc1_1_2_10_'></a>[Load the collision sets from each data source](#toc0_)

Input: aa_collision_x_df.csv (total_alis_overlap.ipynb)

Output: x_alias_alias_collision_set

In [52]:
merged_alias_aa_collision_hgnc_df = pd.read_csv(
    "../output/merged_alias_aa_collision_hgnc_df.csv",
    na_values=["", "NULL"],
    keep_default_na=False,
)

In [53]:
hgnc_alias_alias_collision_set = set(merged_alias_aa_collision_hgnc_df["collision"])
len(hgnc_alias_alias_collision_set)

1083

In [54]:
merged_alias_aa_collision_ncbi_df = pd.read_csv(
    "../output/merged_alias_aa_collision_ncbi_df.csv",
    na_values=["", "NULL"],
    keep_default_na=False,
)

In [55]:
ncbi_alias_alias_collision_set = set(merged_alias_aa_collision_ncbi_df["collision"])
len(ncbi_alias_alias_collision_set)

3414

In [56]:
merged_alias_aa_collision_ensg_df = pd.read_csv(
    "../output/merged_alias_aa_collision_ensg_df.csv",
    na_values=["", "NULL"],
    keep_default_na=False,
)

In [57]:
ensg_alias_alias_collision_set = set(merged_alias_aa_collision_ensg_df["collision"])
len(ensg_alias_alias_collision_set)

1614

#### <a id='toc1_1_2_11_'></a>[How many unique group names are primary gene symbols?](#toc0_)

In [58]:
name_hgnc_match = dgidb_name_set.intersection(hgnc_gene_symbol_set)
len(name_hgnc_match)

11828

In [59]:
name_ensg_match = dgidb_name_set.intersection(ensg_gene_symbol_set)
len(name_ensg_match)

11704

In [60]:
name_ncbi_match = dgidb_name_set.intersection(ncbi_gene_symbol_set)
len(name_ncbi_match)

11817

In [61]:
name_ncbi_ensg_match = name_ncbi_match.intersection(ensg_gene_symbol_set)
len(name_ncbi_ensg_match)

11669

In [62]:
name_ncbi_ensg_hgnc_match = name_ncbi_ensg_match.intersection(hgnc_gene_symbol_set)
len(name_ncbi_ensg_hgnc_match)

11668

#### <a id='toc1_1_2_12_'></a>[How many of the groups that are labeled with a primary gene symbol are also alias-alias collisions?](#toc0_)

In [63]:
name_ncbi_match_aacollision = name_ncbi_match.intersection(
    ncbi_alias_alias_collision_set
)
len(name_ncbi_match_aacollision)

120

In [64]:
name_ensg_match_aacollision = name_ensg_match.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_match_aacollision)

41

In [65]:
name_ensg_notmatch_aacollision = name_ensg_notmatch.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_notmatch_aacollision)

3

#### <a id='toc1_1_2_13_'></a>[How many unique claim symbols are collisions?](#toc0_)

In [66]:
gene_claim_name_ensg_aacollision_match = dgidb_gene_claim_name_set.intersection(
    ensg_alias_alias_collision_set
)
len(gene_claim_name_ensg_aacollision_match)

98

In [67]:
gene_claim_name_hgnc_aacollision_match = dgidb_gene_claim_name_set.intersection(
    hgnc_alias_alias_collision_set
)
len(gene_claim_name_hgnc_aacollision_match)

65

In [68]:
gene_claim_name_ncbi_aacollision_match = dgidb_gene_claim_name_set.intersection(
    ncbi_alias_alias_collision_set
)
len(gene_claim_name_ncbi_aacollision_match)

216

#### <a id='toc1_1_2_14_'></a>[How many unique groups are labeled with collisions?](#toc0_)

In [69]:
name_ensg_aacollision_match = dgidb_name_set.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_aacollision_match)

44

In [70]:
name_hgnc_aacollision_match = dgidb_name_set.intersection(
    hgnc_alias_alias_collision_set
)
len(name_hgnc_aacollision_match)

34

In [71]:
name_ncbi_aacollision_match = dgidb_name_set.intersection(
    ncbi_alias_alias_collision_set
)
len(name_ncbi_aacollision_match)

125

#### <a id='toc1_1_2_15_'></a>[How many unique claims are not primary gene symbols?](#toc0_)

In [72]:
gene_claim_name_hgnc_notmatch = dgidb_gene_claim_name_set.difference(
    hgnc_gene_symbol_set
)
len(gene_claim_name_hgnc_notmatch)

14905

In [73]:
gene_claim_name_ensg_notmatch = dgidb_gene_claim_name_set.difference(
    ensg_gene_symbol_set
)
len(gene_claim_name_ensg_notmatch)

15030

In [74]:
gene_claim_name_ncbi_notmatch = dgidb_gene_claim_name_set.difference(
    ncbi_gene_symbol_set
)
len(gene_claim_name_ncbi_notmatch)

14916

#### <a id='toc1_1_2_16_'></a>[How many unique claims that were not primary symbols are collisions?](#toc0_)

In [75]:
gene_claim_name_hgnc_notmatch_aacollision = gene_claim_name_hgnc_notmatch.intersection(
    hgnc_alias_alias_collision_set
)
len(gene_claim_name_hgnc_notmatch_aacollision)

33

In [76]:
gene_claim_name_ncbi_notmatch_aacollision = gene_claim_name_ncbi_notmatch.intersection(
    ncbi_alias_alias_collision_set
)
len(gene_claim_name_ncbi_notmatch_aacollision)

96

In [77]:
gene_claim_name_ensg_notmatch_aacollision = gene_claim_name_ensg_notmatch.intersection(
    ensg_alias_alias_collision_set
)
len(gene_claim_name_ensg_notmatch_aacollision)

57

#### <a id='toc1_1_2_17_'></a>[How many unique claims that are primary gene symbols are also collisions?](#toc0_)

In [78]:
gene_claim_name_hgnc_match = dgidb_gene_claim_name_set.intersection(
    hgnc_gene_symbol_set
)
len(gene_claim_name_hgnc_match)

11834

In [79]:
gene_claim_name_hgnc_match_aacollision = gene_claim_name_hgnc_match.intersection(
    hgnc_alias_alias_collision_set
)
len(gene_claim_name_hgnc_match_aacollision)

32

In [80]:
gene_claim_name_ncbi_match = dgidb_gene_claim_name_set.intersection(
    ncbi_gene_symbol_set
)
len(gene_claim_name_ncbi_match)

11823

In [81]:
gene_claim_name_ncbi_match_aacollision = gene_claim_name_ncbi_match.intersection(
    ncbi_alias_alias_collision_set
)
len(gene_claim_name_ncbi_match_aacollision)

120

In [82]:
gene_claim_name_ensg_match = dgidb_gene_claim_name_set.intersection(
    ensg_gene_symbol_set
)
len(gene_claim_name_ensg_match)

11709

In [83]:
gene_claim_name_ensg_match_aacollision = gene_claim_name_ensg_match.intersection(
    ensg_alias_alias_collision_set
)
len(gene_claim_name_ensg_match_aacollision)

41

#### <a id='toc1_1_2_18_'></a>[How many of the gene groups that are not primary gene symbols are alias-alias collisions from HGNC?](#toc0_)

In [84]:
name_hngc_notmatch_aacollision = name_hgnc_notmatch.intersection(
    hgnc_alias_alias_collision_set
)
len(name_hngc_notmatch_aacollision)

2

In [85]:
name_ncbi_notmatch_aacollision = name_ncbi_notmatch.intersection(
    ncbi_alias_alias_collision_set
)
len(name_ncbi_notmatch_aacollision)

5

In [86]:
name_ensg_notmatch_aacollision = name_ensg_notmatch.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_notmatch_aacollision)

3

#### <a id='toc1_1_2_19_'></a>[How many claims are ambiguous symbols?](#toc0_)

In [87]:
dgidb_gene_df["claim_ambiguous_status"] = dgidb_gene_df["gene_claim_name"].isin(
    ambiguous_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False

In [88]:
dgidb_gene_df["claim_ambiguous_status"].value_counts()

claim_ambiguous_status
False    75573
True      4661
Name: count, dtype: int64

In [89]:
ambiguous_claim_df = dgidb_gene_df.loc[dgidb_gene_df["claim_ambiguous_status"]]
num_ambiguous_claim = len(ambiguous_claim_df)
num_ambiguous_claim

4661

In [90]:
ambiguous_claim_df.loc[ambiguous_claim_df["gene_claim_name"] == "TR2"]

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status
18,TR2,NCBI Gene Name,hgnc:7971,NR2C1,BaderLab,Feb-14,True

#### <a id='toc1_1_2_20_'></a>[How many gene group labels are ambiguous symbols?](#toc0_)

In [91]:
dgidb_gene_df["name_ambiguous_status"] = dgidb_gene_df["gene_name"].isin(
    ambiguous_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False

In [92]:
dgidb_gene_df["name_ambiguous_status"].value_counts()

name_ambiguous_status
False    74708
True      5526
Name: count, dtype: int64

In [93]:
ambiguous_name_df = dgidb_gene_df.loc[dgidb_gene_df["name_ambiguous_status"]]
num_ambiguous_name = len(ambiguous_name_df)
num_ambiguous_name

5526

#### <a id='toc1_1_2_21_'></a>[How many claims are primary symbols?](#toc0_)

In [94]:
dgidb_gene_df["claim_primary_status"] = dgidb_gene_df["gene_claim_name"].isin(
    hgnc_ensg_ncbi_gene_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True

In [95]:
dgidb_gene_df["claim_primary_status"].value_counts()

claim_primary_status
True     64040
False    16194
Name: count, dtype: int64

In [96]:
primary_claim_df = dgidb_gene_df.loc[dgidb_gene_df["claim_primary_status"]]
num_primary_claim = len(primary_claim_df)
num_primary_claim

64040

#### <a id='toc1_1_2_22_'></a>[How many gene group labels are primary symbols?](#toc0_)

In [97]:
dgidb_gene_df["name_primary_status"] = (
    dgidb_gene_df["gene_name"].astype(str).isin(hgnc_ensg_ncbi_gene_symbol_set)
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True,True
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True,True
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False,True
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True,True

In [98]:
dgidb_gene_df["name_primary_status"].value_counts()

name_primary_status
True     77787
False     2447
Name: count, dtype: int64

In [99]:
primary_name_df = dgidb_gene_df.loc[dgidb_gene_df["name_primary_status"]]
num_primary_name = len(primary_name_df)
num_primary_name

77787

In [100]:
not_primary_group_name_df = dgidb_gene_df.loc[~dgidb_gene_df["name_primary_status"]]
not_primary_group_name_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
75376,LOC102723996,Gene Symbol,ncbigene:102723996,LOC102723996,GO,10-Apr-24,False,False,False,False
78051,CSNKA2IP,Gene Symbol,hgnc:53637,CSNKA2IP,HGNC,20240408,False,False,False,False
78052,CSNKA2IP,Gene Symbol,hgnc:53637,CSNKA2IP,Ensembl,111,False,False,False,False
78053,CSNKA2IP,Gene Symbol,hgnc:53637,CSNKA2IP,NCBI,20240410,False,False,False,False
78054,CSNKA2IP,Gene Symbol,hgnc:53637,CSNKA2IP,Pharos,10-Apr-24,False,False,False,False

#### <a id='toc1_1_2_23_'></a>[How many gene group labels are alias symbols?](#toc0_)

In [101]:
dgidb_gene_df["name_alias_status"] = dgidb_gene_df["gene_name"].isin(
    hgnc_ensg_ncbi_alias_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True,True,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True,True,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False,True,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True,True,False

In [102]:
dgidb_gene_df["name_alias_status"].value_counts()

name_alias_status
False    72203
True      8031
Name: count, dtype: int64

In [103]:
alias_name_df = dgidb_gene_df.loc[dgidb_gene_df["name_alias_status"]]
num_alias_name = len(alias_name_df)
num_alias_name

8031

In [104]:
print("Calmbp1" in hgnc_ensg_ncbi_alias_symbol_set)

True

#### <a id='toc1_1_2_24_'></a>[How many claims are alias symbols?](#toc0_)

In [105]:
dgidb_gene_df["claim_alias_status"] = dgidb_gene_df["gene_claim_name"].isin(
    hgnc_ensg_ncbi_alias_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status,claim_alias_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True,True,False,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True,True,False,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False,True,False,True
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True,True,False,False

In [106]:
dgidb_gene_df["claim_alias_status"].value_counts()

claim_alias_status
False    74635
True      5599
Name: count, dtype: int64

In [107]:
alias_claims_df = dgidb_gene_df.loc[dgidb_gene_df["claim_alias_status"]]
num_alias_claims = len(alias_claims_df)
num_alias_claims

5599

#### <a id='toc1_1_2_25_'></a>[How many claims that were normalized into non-primary symbol labeled groups are alias symbols?](#toc0_)

In [108]:
dgidb_gene_df["claim_alias_status"] = dgidb_gene_df["gene_claim_name"].isin(
    hgnc_ensg_ncbi_alias_symbol_set
)
alias_claim_not_primary_group_name_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_alias_status"] & ~dgidb_gene_df["name_primary_status"]
]
alias_claim_not_primary_group_name_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status,claim_alias_status
2249,HCA1,Gene Symbol,ncbigene:266790,HCA1,dGene,27-Jun-13,True,True,False,False,True,True
3251,USP17L,Gene Symbol,ncbigene:100862847,USP17L,dGene,27-Jun-13,False,False,False,False,True,True
5920,ALDA,Gene Name,ncbigene:112694756,LOC112694756,DrugBank,5.1.12,False,False,False,False,False,True
15424,CYP3A,Gene Name,ncbigene:1574,CYP3A,NCI,14-Sep-17,False,False,False,False,True,True
16482,CYP3A,Gene Name,ncbigene:1574,CYP3A,PharmGKB,4/5/24,False,False,False,False,True,True
27217,SIK1B,Gene Symbol,ncbigene:102724428,LOC102724428,GO,10-Apr-24,False,False,False,False,False,True
31884,SIK1B,Gene Symbol,ncbigene:102724428,LOC102724428,Pharos,10-Apr-24,False,False,False,False,False,True
36686,HCA1,Gene Symbol,ncbigene:266790,HCA1,NCBI,20240410,True,True,False,False,True,True
38737,USP17L,Gene Symbol,ncbigene:100862847,USP17L,NCBI,20240410,False,False,False,False,True,True
42309,HPT,Gene Symbol,ncbigene:3258,HPT,NCBI,20240410,False,False,False,False,True,True
42310,HPT,Gene Name,ncbigene:3258,HPT,DrugBank,5.1.12,False,False,False,False,True,True
49186,ADAL,Gene Symbol,hgnc:31853,ADAL,HGNC,20240408,False,False,False,False,True,True
49187,ADAL,Gene Symbol,hgnc:31853,ADAL,Ensembl,111,False,False,False,False,True,True
49188,ADAL,Gene Symbol,hgnc:31853,ADAL,NCBI,20240410,False,False,False,False,True,True
51788,CYP3A,Gene Symbol,ncbigene:1574,CYP3A,NCBI,20240410,False,False,False,False,True,True
55006,ACT,Gene Symbol,ncbigene:389036,ACT,NCBI,20240410,True,True,False,False,True,True
56883,CNA1,Gene Symbol,ncbigene:1255,CNA1,NCBI,20240410,False,False,False,False,True,True
57009,BCL5,Gene Symbol,ncbigene:603,BCL5,NCBI,20240410,False,False,False,False,True,True
57053,CCA1,Gene Symbol,ncbigene:878,CCA1,NCBI,20240410,False,False,False,False,True,True
57147,AMCN,Gene Symbol,ncbigene:261,AMCN,NCBI,20240410,False,False,False,False,True,True
57279,COD2,Gene Symbol,ncbigene:1275,COD2,NCBI,20240410,False,False,False,False,True,True
57327,ERV1,Gene Symbol,ncbigene:2085,ERV1,NCBI,20240410,True,True,False,False,True,True
57390,ATD,Gene Symbol,ncbigene:465,ATD,NCBI,20240410,True,True,False,False,True,True
66195,OA1,Gene Symbol,ncbigene:474285,OA1,NCBI,20240410,False,False,False,False,True,True
66196,OA1,Gene Symbol,ncbigene:474285,OA1,dGene,27-Jun-13,False,False,False,False,True,True
73831,FNZ,Gene Symbol,ncbigene:2345,FNZ,NCBI,20240410,False,False,False,False,True,True
74494,FCP1,Gene Symbol,ncbigene:2221,FCP1,NCBI,20240410,False,False,False,False,True,True
74536,FEB2,Gene Symbol,ncbigene:2234,FEB2,NCBI,20240410,False,False,False,False,True,True
74541,BCGF1,Gene Symbol,ncbigene:588,BCGF1,NCBI,20240410,False,False,False,False,True,True
78051,CSNKA2IP,Gene Symbol,hgnc:53637,CSNKA2IP,HGNC,20240408,False,False,False,False,True,True
78052,CSNKA2IP,Gene Symbol,hgnc:53637,CSNKA2IP,Ensembl,111,False,False,False,False,True,True
78053,CSNKA2IP,Gene Symbol,hgnc:53637,CSNKA2IP,NCBI,20240410,False,False,False,False,True,True
78054,CSNKA2IP,Gene Symbol,hgnc:53637,CSNKA2IP,Pharos,10-Apr-24,False,False,False,False,True,True

#### <a id='toc1_1_2_26_'></a>[How many not normalized claims are alias symbols?](#toc0_)

In [109]:
alias_claim_null_name_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_alias_status"] & dgidb_gene_df["gene_name"].isnull()
]
len(alias_claim_null_name_df)

0

#### <a id='toc1_1_2_27_'></a>[How many gene group labels are not primary, alias symbols, or null?](#toc0_)

In [110]:
other_name_df = dgidb_gene_df.loc[
    ~dgidb_gene_df["name_alias_status"]
    & ~dgidb_gene_df["name_primary_status"]
    & ~dgidb_gene_df["gene_name"].isnull()
]
num_other_name = len(other_name_df)
num_other_name

258

#### <a id='toc1_1_2_28_'></a>[How many claims are not primary, alias symbols, or null?](#toc0_)

In [111]:
other_claim_df = dgidb_gene_df.loc[
    ~dgidb_gene_df["claim_alias_status"] & ~dgidb_gene_df["claim_primary_status"]
]
num_other_claim = len(other_claim_df)
num_other_claim

15403

#### <a id='toc1_1_2_29_'></a>[How many claims are primary and alias symbols?](#toc0_)

In [112]:
primaryandalias_claim_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_alias_status"] & dgidb_gene_df["claim_primary_status"]
]
num_primaryandalias_claim = len(primaryandalias_claim_df)
num_primaryandalias_claim

4808

#### <a id='toc1_1_2_30_'></a>[How many primary symbol claims are normalized into non-primary gene group labels?](#toc0_)

In [113]:
claim_true_name_false_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_primary_status"] & ~dgidb_gene_df["name_primary_status"]
]
claim_true_name_false_df

Empty DataFrame
Columns: [gene_claim_name, nomenclature, concept_id, gene_name, source_db_name, source_db_version, claim_ambiguous_status, name_ambiguous_status, claim_primary_status, name_primary_status, name_alias_status, claim_alias_status]
Index: []

In [114]:
len(claim_true_name_false_df)

0

### <a id='toc1_1_3_'></a>[Summary](#toc0_)

#### <a id='toc1_1_3_1_'></a>[Normalization Rates](#toc0_)

In [115]:
normalization_index = "Normalized", "Not Normalized", "Total"
normalization_summary = {
    "Number of Claims": [
        num_normalized_claims,
        num_not_normalized_claims,
        num_total_claims,
    ]
}
normalization_summary_df = pd.DataFrame(
    normalization_summary, index=normalization_index
)
normalization_summary_df

                Number of Claims
Normalized                 78090
Not Normalized              2144
Total                      80234

#### <a id='toc1_1_3_2_'></a>[Types of Claim Symbols](#toc0_)

- Primary and Alias symbols are not exclusive as some primary symbols are used as aliases (alias-primary collisions)
- Other does not include any Primary or Alias symbols
- Ambiguous symbols can be either Primary or Alias

In [116]:
claim_index = "Primary", "Alias", "Other", "Ambiguous", "Total"
claim_summary = {
    "Number of Claims": [
        num_primary_claim,
        num_alias_claims,
        num_other_claim,
        num_ambiguous_claim,
        num_total_claims,
    ]
}
claim_summary_df = pd.DataFrame(claim_summary, index=claim_index)
claim_summary_df

           Number of Claims
Primary               64040
Alias                  5599
Other                 15403
Ambiguous              4661
Total                 80234

#### <a id='toc1_1_3_3_'></a>[Types of Normalizations (gene group labels claims are being normliazed into)](#toc0_)

In [117]:
gene_group_index = "Primary", "Alias", "Null", "Other", "Ambiguous", "Total"
gene_group_summary = {
    "Number of Claims": [
        num_primary_name,
        num_alias_name,
        num_not_normalized_claims,
        num_other_name,
        num_ambiguous_name,
        num_total_claims,
    ]
}
gene_group_summary_df = pd.DataFrame(gene_group_summary, index=gene_group_index)
gene_group_summary_df

           Number of Claims
Primary               77787
Alias                  8031
Null                   2144
Other                   258
Ambiguous              5526
Total                 80234