# <a id='toc1_'></a>[DGIdb ambiguous claims](#toc0_)

**Table of contents**<a id='toc0_'></a>    
- [DGIdb ambiguous claims](#toc1_)    
    - [Analyzing similaritis b/w alias-primary and alias-alias collisions](#toc1_1_1_)    
      - [Load merged alias-alias and alias-priamry collision sets. Symbols are the ambiguous symbols.](#toc1_1_1_1_)    
      - [How many of the alias-primary collisions are also alias-alias collisions?](#toc1_1_1_2_)    
      - [How many unique ambiguous symbosl are there b/w alias-primary and alias-alias collisions?](#toc1_1_1_3_)    
    - [Primary exploration of DGIdb gene content using collisions](#toc1_1_2_)    
      - [Load gene claim data from DGIdb](#toc1_1_2_1_)    
      - [How many claims are placed in a gene group with a different label?](#toc1_1_2_2_)    
      - [How many claims are not normalized?](#toc1_1_2_3_)    
      - [Create set of gene groups (gene_name) and gene claims (gene_claim_name)](#toc1_1_2_4_)    
      - [Load HGNC, Ensembl (ENSG), and NCBI gene and alias sets](#toc1_1_2_5_)    
      - [How many unique primary gene symbols are there b/w HGNC, Ensembl, and NCBI?](#toc1_1_2_6_)    
      - [How many unique alias symbols are there b/w HGNC, Ensembl, and NCBI?](#toc1_1_2_7_)    
      - [How many unique group names are not primary gene symbols?](#toc1_1_2_8_)    
      - [How many unique claims are not primary gene symbols?](#toc1_1_2_9_)    
      - [Load the collision sets from each data source](#toc1_1_2_10_)    
      - [How many unique group names are primary gene symbols?](#toc1_1_2_11_)    
      - [How many of the groups that are labeled with a primary gene symbol are also alias-alias collisions?](#toc1_1_2_12_)    
      - [How many unique claim symbols are collisions?](#toc1_1_2_13_)    
      - [How many unique groups are labeled with collisions?](#toc1_1_2_14_)    
      - [How many unique claims are not primary gene symbols?](#toc1_1_2_15_)    
      - [How many unique claims that were not primary symbols are collisions?](#toc1_1_2_16_)    
      - [How many unique claims that are primary gene symbols are also collisions?](#toc1_1_2_17_)    
      - [How many of the gene groups that are not primary gene symbols are alias-alias collisions from HGNC?](#toc1_1_2_18_)    
      - [How many claims are ambiguous symbols?](#toc1_1_2_19_)    
      - [How many gene group labels are ambiguous symbols?](#toc1_1_2_20_)    
      - [How many claims are primary symbols?](#toc1_1_2_21_)    
      - [How many gene group labels are primary symbols?](#toc1_1_2_22_)    
      - [How many gene group labels are alias symbols?](#toc1_1_2_23_)    
      - [How many claims are alias symbols?](#toc1_1_2_24_)    
      - [How many claims that were normalized into non-primary symbol labeled groups are alias symbols?](#toc1_1_2_25_)    
      - [How many not normalized claims are alias symbols?](#toc1_1_2_26_)    
      - [How many gene group labels are not primary, alias symbols, or null?](#toc1_1_2_27_)    
      - [How many claims are not primary, alias symbols, or null?](#toc1_1_2_28_)    
      - [How many claims are primary and alias symbols?](#toc1_1_2_29_)    
      - [How many primary symbol claims are normalized into non-primary gene group labels?](#toc1_1_2_30_)    
    - [Summary](#toc1_1_3_)    
      - [Normalization Rates](#toc1_1_3_1_)    
      - [Types of Claim Symbols](#toc1_1_3_2_)    
      - [Types of Normalizations (gene group labels claims are being normliazed into)](#toc1_1_3_3_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

### <a id='toc1_1_1_'></a>[Analyzing similarities b/w alias-primary and alias-alias collisions](#toc0_)

#### <a id='toc1_1_1_1_'></a>[Load merged alias-alias and alias-priamry collision sets. Symbols are the ambiguous symbols.](#toc0_)

Input: merged_alias_gene_intersections.csv (total_alias_gene_intersections.ipynb), merged_alias_overlap_df_2.csv (total_alias_overlap.ipynb)

Output: merged_alias_primary_collision_set, merged_alias_alias_collision_set

In [2]:
merged_alias_primary_collisions_df = pd.read_csv(
    "../output/merged_alias_primary_collisions_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [3]:
merged_alias_primary_collision_set = set(
    merged_alias_primary_collisions_df["collision"]
)
len(merged_alias_primary_collision_set)

1651

In [4]:
merged_alias_alias_collisions_df = pd.read_csv(
    "../output/merged_aa_collision_alias_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [5]:
merged_alias_alias_collision_set = set(
    merged_alias_alias_collisions_df["collision"].tolist()
)
len(merged_alias_alias_collision_set)

3786

In [6]:
merged_alias_alias_collision_list = merged_alias_alias_collisions_df["collision"].tolist()

In [7]:
merged_alias_alias_collision_list[1]

'H4-16'

#### <a id='toc1_1_1_2_'></a>[How many of the alias-primary collisions are also alias-alias collisions?](#toc0_)

In [8]:
print(
    len(
        merged_alias_alias_collision_set.intersection(
            merged_alias_primary_collision_set
        )
    )
)

265

#### <a id='toc1_1_1_3_'></a>[How many unique ambiguous symbols are there b/w alias-primary and alias-alias collisions?](#toc0_)

In [9]:
ambiguous_symbol_set = merged_alias_alias_collision_set.union(
    merged_alias_primary_collision_set
)
print(len(ambiguous_symbol_set))

5172

In [10]:
ambiguous_symbol_set

{'NABC1',
 'KIP2',
 'NUS1',
 'DMT1',
 'DA2B',
 'MIP-1-BETA',
 'NCAM2',
 'AFP',
 'NOC2',
 'SAG',
 'ZNF688',
 'SRM',
 'BMD',
 'NRP2',
 'GLUT8',
 'B2',
 'OB',
 'P600',
 'LD78BETA',
 'HS1',
 'TDGF2',
 'KRTAP2.4',
 'USP17L25',
 'SDS',
 'ARSB',
 'TBC1D3I',
 'RP66',
 'FRAG1',
 'NOV',
 'CAMIII',
 'GABPB2',
 'MTCP1',
 'IGFR2',
 'NSP',
 'AD1',
 'SMIM10L2B',
 'PIG6',
 'SMAD1',
 'PPYR1',
 'FAM236D',
 'ZNF286C',
 'IGHER',
 'CPA3',
 'OM',
 'EMAP2',
 'MCM',
 'IDP',
 'CA-RP',
 'TRA1',
 'U82',
 'OP-2',
 'FLJ20375',
 'RLF',
 'TRR-ACG1-3',
 'MRP1',
 'NP1',
 'PAGE-1',
 'LPSAT',
 'B12',
 'CT4.8',
 'TRPC7',
 'NEDBA',
 'NS3TP1',
 'DPK',
 'HSFY',
 'IK1',
 'CDH16',
 'SDH1',
 'TCRAV17S1',
 'PLGLA1',
 'TTP1',
 'CDG1P',
 'RBM2',
 'KRTAP5-3',
 'HCS',
 'LARP',
 'IPS-1',
 'UT2',
 'NSL1',
 'CDC14B',
 'TRG-CCC2-2',
 'D2',
 'DFNA40',
 'PARF',
 'SD',
 'ALS19',
 'OCIF',
 'TNDM1',
 'DMP1',
 'IGHM',
 'VMA5',
 'HL',
 'ADORA2',
 'NCA',
 'DKFZP547P234',
 'CED-12',
 'OP2',
 'CL2',
 'ABL',
 'QARS',
 'ALDH4',
 'P47',
 'UGT-1A',
 'CKLF',
 'DEC1',
 'GPCR21',
 'TRR-ACG1-1',
 'TMEM123',
 'XBP1',
 'HS3ST5',
 'PEX1',
 'UBH1',
 'DDH2',
 'TTD',
 'MRP-L14',
 'NC',
 'CMT2T',
 'FCGR3A',
 'HLA-DPB1',
 'SPC3',
 'CD205',
 'ANG1',
 'CSE',
 'ASPRS',
 'PMS2L2',
 'PN-II',
 'POGZ',
 'MIRH1',
 'DYT17',
 'FMC1',
 'HSJ2',
 'CYP-M',
 'P80',
 'HPH-3',
 'GLUD1',
 'PRR20C',
 'CER1',
 'P1',
 'HTRA3',
 'AP-1',
 'PKR2',
 'AK3',
 'MBP-1',
 'CMYA2',
 'AK3L1',
 'BOP',
 'PC4',
 'TER',
 'MPP',
 'TRP2',
 'TRD-GTC2-11',
 'KLHL6',
 'CHAMP',
 'EF1A',
 'HOX1D',
 'NBC2',
 'TMP-21-I',
 'CYP2D7BP',
 'RNU3',
 'MCL',
 'LPL',
 'TRA-TGC3-2',
 'DSC2',
 'EIF3A',
 'PRR',
 'PTA',
 'DM2',
 'MIC12',
 'EBN',
 'PTEN2',
 'DEC-205',
 'P11',
 'MT2',
 'PDIP1',
 'MCT3',
 'KGA',
 'VCF',
 'OR19-7',
 'GATD6',
 'IF',
 'TCEB1P26',
 'BFNC',
 'ASIP',
 'XAGE1',
 'HHL',
 'OLF1',
 'PBP',
 'CAP',
 'E1',
 'IL27',
 'IGO1',
 'PIP',
 'FCRIII',
 'CMT2D',
 'P16',
 'LAGE2A',
 'NNX3',
 'P97',
 'TCRGC2',
 'ACTB',
 'L8',
 'TRL-AAG2-4',
 'GUP1',
 'OR7-21',
 'IL1RA',
 'TCS3',
 'STAG1',
 'HARC',
 'GRIN1',
 'CINAP',
 'SLC6A5',
 'SPIN',
 'BMI1',
 'PMS2CL',
 'TRN',
 'UCMD1',
 'ESA1',
 'EDH17B2',
 'LRP10',
 'PMS2L11',
 'CDK11-P110',
 'TBC1D3L',
 'CLK-1',
 'GTF2A1L',
 'CLAMP',
 'HBM',
 'WASH',
 'MOX1',
 'SMIM39',
 'DDT',
 'TBC1D3D',
 'ARC34',
 'MAD3',
 'NET4',
 'XIST',
 'PIG1',
 'PEO',
 'C11ORF2',
 '464.2',
 'PDC',
 'TAF2A',
 'ART1',
 'HIES2',
 'ATP6G',
 'CLP1',
 'SLIM',
 'SP-A',
 'PWCR',
 'ADIR2',
 'KRTAP18-9',
 'URP',
 'MAFG-AS1',
 'KIAA0172',
 'RBMY2',
 'PD1',
 'PGS1',
 'UBC4/5',
 'PRG2',
 'HCC-4',
 'HSP40',
 'CHMP3',
 'IDH',
 'ALX',
 'H4C8',
 'SGII',
 'TCEB1L',
 'BDP1',
 'SLC24A2',
 'BRIGHT',
 'S3',
 'LAT3',
 'MGC5228',
 'LIPA',
 'RBAK',
 'TTG1',
 'ARH2',
 'VPP2',
 'BCD1',
 'POLD4',
 'ING2',
 'TBC1D3',
 'NRXN4',
 'MP44',
 'CCL4L',
 'TRK1',
 'BHLHE42',
 'ETK',
 'SPH1',
 'MGC15397',
 'WRS',
 'CLIC5',
 'GALNT15',
 'U6',
 'TF',
 'CNA2',
 'PUMAG',
 'EDHB17',
 'IV',
 'TRX-CAT1-3',
 'PRG1',
 'TEP1',
 'ACCA',
 'H2A.2',
 'OAT6',
 'RNASEH1',
 'H2B/H',
 'AD3',
 'LIG3',
 'VIP21',
 'PUR1',
 'CRIPTO',
 'TRPM2',
 'RAD1',
 'ATR',
 'SK2',
 'CATMANS',
 'KOP',
 'UBC2',
 'ELOA3C',
 'MSC',
 'HLA-DRB',
 'NBPF9',
 'GOLGA8B',
 'G6PT',
 'TCRBV3S1',
 'SPX1',
 'ARTC1',
 'DHP',
 'P115',
 'CYP2C',
 'CAMB',
 'CTRP5',
 'ARFGAP1',
 'USE1',
 'RNF3',
 'WD',
 'IGHV',
 'ICIS',
 'KRTHB1',
 'MPP4',
 'PIN1',
 'ICR',
 'PAP-ALPHA',
 'ZNF183',
 'EBN1',
 'MER',
 'CTSO',
 'NANOGP3',
 'RBP3',
 'LSAMP-AS1',
 'NEU1',
 'PTPN20CP',
 'CLIM1',
 'NOP9',
 'YRRM1',
 'CLA1',
 'LTBP2',
 'MCS',
 'CYP3A7',
 'CSS3',
 'H2BC10',
 'EFTUD1',
 'FAM25G',
 'FY',
 'ODF',
 'CLPSMCR',
 'P26',
 'CT45A7',
 'FZD3',
 'GAGE-7',
 'SCKL4',
 'RNA18S5',
 'DEFB3',
 'RDP',
 'ABP-280',
 'L3',
 'CMT4E',
 'MMP23A',
 'ATG8',
 'MAST1',
 'MS',
 'MIR-129B',
 'P3',
 'RN18S1',
 'UNG2',
 'CK1',
 'MRF1',
 'SIL',
 'GAGE-2',
 'ES1',
 'CNR2',
 'FP',
 'MZF-1',
 'MST1',
 'OR3A5P',
 'TAP1',
 'TRN2',
 'DLK',
 'B17',
 'PGI',
 'TTY11',
 'LINC00086',
 'CMPD2',
 'TRB1',
 'TCRAV3S1',
 'CR',
 'IGHD1B',
 'ODCP',
 'MPP1',
 'PAN2',
 'GTB',
 'NKR',
 'FOXD4L4',
 'KIAA0229',
 'HPH2',
 'PTPA',
 'TAX1BP2',
 'MSF',
 'MMAA',
 'FCG2',
 'CDK11-P58',
 'STAP',
 'UGD',
 'RED',
 'CTF5',
 'CMT1',
 'LRP2BP',
 'CLGN',
 'TRQ-CTG1-2',
 'WWP4',
 'P42',
 'FBL7',
 'IL14',
 'NPIPA8',
 'CT',
 'DSP',
 'CTAGE4',
 'OFC4',
 'TEN1',
 'ACP1',
 'HST16992',
 'NRF1',
 'UFD2',
 'RPML32',
 'RBP5',
 'TRAP2',
 'CBWD3',
 'HRS',
 'A3A',
 'DLEU2',
 'PIUS',
 'HC6',
 'H2B/L',
 'DBM',
 'AOS1',
 'CRP1',
 'ASC2',
 'RCCP2',
 'USP17',
 'GDH',
 'LILRA6',
 'GPR42',
 'PSPA',
 'ZIP2',
 'PPD',
 'LINC00087',
 'ATP6C',
 'ZNF',
 'UP2',
 'TCRG',
 'AHRR',
 'TCRBV14S1',
 'PSG10',
 'SAA',
 'MBL',
 'PRM1',
 'CUPID1',
 'ZNF182',
 'MED',
 'PH2A/F',
 'HCP',
 'TOMT',
 'RPL7P',
 'AQP1',
 'BTN1',
 'HOP',
 'C2',
 'RIT1',
 'DNM1DN11@',
 'NBIA4',
 'CNR1',
 'MELF2',
 'AMPK',
 'MRP2',
 'AMY2',
 'ARC',
 'DP1',
 'CPT',
 '9G8',
 'LRP4',
 'SWI2',
 'MRLC2',
 'PROTEASE',
 'AD2',
 'NET5',
 'MDK',
 'LRH-1',
 'GR',
 'LPH',
 'HAPIP',
 'SERPINA11',
 'RCP',
 'P29',
 'THAS',
 'PTPRQ',
 'TRAM',
 'PAK1',
 'SIMP',
 'PILRB',
 'SHAP',
 'TPX1',
 '12-LOX',
 'PA',
 'P160',
 'GAT2',
 'PRG',
 'GTF2IRD2',
 'TUBB4',
 'G10',
 'OI6',
 'INT4',
 'SAP130',
 'LCA',
 'CT64',
 'GCD',
 'PRH2',
 'POTE22',
 'CPAD',
 'DVL1',
 'U4',
 'HD7',
 'VPS55',
 'EPR-1',
 'TCEB3CL',
 'OR7E75P',
 'SMF',
 'EDG2',
 'RWS',
 'DIP',
 'DLC1',
 'NAC',
 'PRSSL1',
 'H2BFL',
 'CARP-2',
 'U3',
 'RIS1',
 'A15',
 'PSBG-9',
 'PL',
 'CLL1',
 'MED25',
 'RMD1',
 'CILD38',
 'OR6-1',
 'KAT1',
 'NCC3',
 'ERP1',
 'DPPIV',
 'HADH',
 'DRP',
 'DNM1DN10@',
 'RDS',
 'SAA1',
 'OF',
 'ML1',
 'CNG4',
 'MEGT1',
 'MAP-1',
 'ANG2',
 'CX30.2',
 'DERPC',
 'R51H3',
 'BTD',
 'ATD',
 'CGRP',
 'UBP',
 'NDPP1',
 'HAP1',
 'UBXD10',
 'LD',
 'DLG4',
 'ACS2',
 'HLF',
 'GALNAC-T5L',
 'ST1A3',
 'GCL',
 'PTPU2',
 'GALNT4',
 'VDR',
 'MYM',
 'TYR-TRNA',
 'H2A.B.1',
 'MTFR2P1',
 'BDK',
 'ARD1',
 'PTA1',
 'H4-16',
 'ACRP',
 'HK1',
 'SDH',
 'P7',
 'P22',
 'DOC2',
 'MAP-2',
 'ACC',
 'AN',
 'CYPH',
 'EBS4',
 'GCP2',
 'ZNF225',
 'ANKRD33',
 'ANXA8',
 'SNORD115-48',
 'MSANTD7',
 'MLCK',
 'PIGF',
 'EEG1',
 'LOXL',
 'SA',
 'NOR1',
 'GLP1',
 'ZNF757',
 'GPIV',
 'SGT2',
 'MSAP',
 'COD1',
 'FALDH',
 'BCD541',
 'MIZ',
 'IMP4',
 'CREB3',
 'RGS13',
 'MADH6',
 'AGC1',
 'AGMX2',
 'Z18',
 'SUT2',
 'HSJ-2',
 'RAM2',
 'TIRAP3',
 'ARP1',
 'P65',
 'LRP9',
 'RGPD2',
 'COMT2',
 'GRIK2',
 'TCRBV15S1',
 'RNAH',
 'FAME3',
 'USP31',
 'NPIPB',
 'EDG1',
 'NIF',
 'TCRD',
 'SHFM3',
 'SIP',
 'FADS4',
 'GAGED2',
 'MGR',
 'NOTCH2NLA',
 'NL1',
 'SP110',
 'LYSOPAFAT',
 'SBP',
 'SYT',
 'PDA2',
 'P68',
 'DELTA',
 'BDPLT1',
 'RFC1',
 'TRN1',
 'PSK-1',
 'MEL',
 'EIF3-P110',
 'TBC1D3G',
 'ADA1',
 'MRCL3',
 'ARG',
 'HH1',
 'D17S1718',
 'DIO1',
 'PRP4',
 'FOXD4B',
 'HL2',
 'CAK1',
 'HSF2L',
 'KAL',
 'TRR-ACG1-2',
 'TEM',
 'SCYL1',
 'NKAT',
 'LIM1',
 'TH2-LCR',
 'RAY',
 'CSP2',
 'SCCA1',
 'ADAM18',
 'PPK',
 'POTE2BETA',
 'HGPS',
 'THRA1',
 'CPTI-M',
 'GP200-MR6',
 'WS',
 'FBL2',
 'ADRA1A',
 'CAPC',
 'RCD1',
 'PAG',
 'EL',
 'DBI',
 'SPO',
 'OSF-2',
 'CED',
 'EB1',
 'NLS1',
 'HP-1',
 'BRF1',
 'RPL13',
 'CP27',
 'EOS',
 'MIG2',
 'HEL-75',
 'OR11-22',
 'CTHM',
 'ODC',
 'CEP4',
 'U1',
 'MIEF1-MP',
 'SCG3',
 'TRY3',
 'PCA1',
 '87U6',
 'ODF2',
 'OCTD',
 'SOSS-B1',
 'EHK2',
 'PIR-B',
 'KCP1',
 'AMN',
 'MRP-L22',
 'SHEP1',
 'NPIPA1',
 'GOT1B',
 'GCD10',
 'RIP5',
 'SNURF',
 'CAPH2',
 'HCI',
 'FKBP51',
 'SYT14L',
 'CD85',
 'FAM48B1',
 'ADR',
 'SLC23A2',
 'A2M',
 'VMA4',
 'MAK3',
 'LGL2',
 'H2BFA',
 'BTF3',
 'MGC45441',
 'FBP2',
 'PN-I',
 '37LRP',
 'HGFL',
 'MART2',
 'C10ORF2',
 'CPN1',
 'ASM',
 'ATP5A1P9',
 'S9',
 'CT12.1',
 'MME',
 'CENP-S',
 'S100A15',
 'CTRCT42',
 'CYK4',
 'BSP1',
 'SWAP',
 'TKT',
 'PAI',
 'TRAP-1',
 'SEDLP1',
 'NOL1',
 'RCAD',
 'CT45A4',
 'TIP39',
 'TCRAV30S1',
 'CAM2',
 'RHPI',
 'GAGE8',
 'DIA1',
 'REGL',
 'DUPXP11.22',
 'PAR4',
 'ZNF474',
 'AIBP',
 'C53',
 'FPS',
 'FGF-13',
 'NAA38',
 'DFNA2',
 'SPS1',
 'HM1',
 'LGTN',
 'WT2',
 'HOX4',
 'MTTP',
 'SMA4',
 'PH',
 'BCS1',
 'MOSP',
 'ZFP91',
 'CDK11-P46',
 'SMG',
 'APOC-IV',
 'ADCY3',
 'LGS',
 'STAG3L1',
 'SOCS4',
 'CAF1',
 'HCC-1',
 'PBX2',
 'VPH1',
 'PP17',
 'SCA8',
 'DAP',
 'HIST1H2BE',
 'PNR',
 'SCOX',
 'MRPL2',
 'SSB1',
 'FANCD',
 'C82',
 'MIP2A',
 'TCRAV16S1',
 'NEDMEBA',
 'FBXO31',
 'RCN3',
 'BST1',
 'F379',
 'LGALS2',
 'EVR1',
 'SULT1A3',
 'RTP',
 'GARI-L1',
 'DEFB-6',
 'MLT',
 'L12',
 'BACH1',
 'HLS',
 'RIP-1',
 'IFITMD8',
 'APS',
 'DGS',
 'TRP-TGG3-5',
 'NR1',
 'CRF',
 'NEPPK',
 'FAL1',
 'AMP',
 'HBB',
 'ALURBP',
 'SCAF1',
 'PAM',
 'IRT1',
 'SPS',
 'DRC3',
 'H3-3A',
 'LIG2',
 'SHLD3',
 'DD3',
 'TRIF',
 'ALTMIEF1',
 'CLA20',
 'C11ORF5',
 'CNA1',
 'STK7',
 'GAGE-12B',
 'HH',
 'SPDYE9',
 'RASSF5',
 'LAS1',
 'NEK8',
 'TCRAV18S1',
 'CMT2B2',
 'RTS',
 'FAM10A4',
 'CD97',
 'ERK',
 'MCT1',
 'TAMO',
 'TCEAL3',
 'SPG',
 'ECA2',
 'KRTAP2-1',
 'CARD2',
 'CLP',
 'CCN1',
 'S4',
 'DJ388M5',
 'PACT',
 'HU-2',
 'PFM2',
 'POP1',
 'LIP2',
 'POMP',
 'KAP2.3',
 'APE',
 'EIF-2B',
 'VDAC3',
 'A8',
 'ARGRS',
 'MOP',
 'C18ORF53',
 'HNRNPCL2',
 'TRA',
 'NACHRA7',
 'NK3',
 'MCH2',
 'PIGX',
 'LST3',
 'CMM8',
 'CG1',
 'MU2',
 'PAK5',
 'MIP-2A',
 'ARP3',
 'H4C9',
 'C10ORF101',
 'SIRPB2',
 'EFL1',
 'NOTCH2NL',
 'CGI-141',
 'FEZ',
 'CBL-3',
 'LEURS',
 'UGT1A1',
 'TSBP',
 'FADS3',
 'FADS6',
 'P02',
 'MGC22679',
 'SRGAP3',
 'C18ORF2',
 'NG2-6',
 'ERF1',
 '67LR',
 'KS',
 'DCT1',
 'MLC1',
 'OPLL',
 'HRMT1L3',
 'CAD',
 'HRCA1',
 'CS1',
 'TCRAV13S1',
 'BOR',
 'KLF14',
 'SXI1',
 'RBM',
 'TRI-AAT5-5',
 'PK1',
 'SAS',
 'FACE',
 'NOS1',
 'LNP',
 'LAGE-2',
 'EZH1',
 'PIT1',
 'NOC',
 'SNF2',
 'INPP5E',
 'GCR2',
 'PAAT',
 'BDA2',
 'TRBP',
 'KIR2DL5B',
 'U2AF1L4',
 'SAA2',
 'TRAV11',
 'M-ABC1',
 'A3',
 'LRRN1',
 'QPC',
 'TRD-GTC2-6',
 'SERPINB11',
 'TRS-AGA2-2',
 'FNTB',
 ...}

In [11]:
ambiguous_symbol_set = set(item.strip() for item in ambiguous_symbol_set)

print(len(ambiguous_symbol_set))

5172

In [12]:
with open("../output/ambiguous_symbol_set.txt", "w") as file:
    for item in ambiguous_symbol_set:
        file.write(f"{item.strip()}\n")

In [13]:
with open("../output/ambiguous_symbol_set.txt", "r") as file:
    # read each line, strip newline characters, and convert to a set
    ambiguous_symbol_set = set(line.strip() for line in file)
len(ambiguous_symbol_set)

5172

In [14]:
ambiguous_symbol_set

{'MIP-1-BETA',
 'ZNF688',
 'BMD',
 'NRP2',
 'B2',
 'OB',
 'SDS',
 'ARSB',
 'TBC1D3I',
 'NOV',
 'CAMIII',
 'GABPB2',
 'MTCP1',
 'IGFR2',
 'NSP',
 'AD1',
 'PIG6',
 'SMAD1',
 'FAM236D',
 'CPA3',
 'IDP',
 'U82',
 'FLJ20375',
 'RLF',
 'NP1',
 'PAGE-1',
 'LPSAT',
 'B12',
 'TRPC7',
 'NS3TP1',
 'HSFY',
 'CDH16',
 'TTP1',
 'CDG1P',
 'KRTAP5-3',
 'UT2',
 'NSL1',
 'CDC14B',
 'TRG-CCC2-2',
 'D2',
 'PARF',
 'TNDM1',
 'IGHM',
 'VMA5',
 'HL',
 'ADORA2',
 'DKFZP547P234',
 'CED-12',
 'OP2',
 'ABL',
 'UGT-1A',
 'CKLF',
 'TRR-ACG1-1',
 'TMEM123',
 'XBP1',
 'PEX1',
 'DDH2',
 'NC',
 'CMT2T',
 'FCGR3A',
 'HLA-DPB1',
 'SPC3',
 'CD205',
 'ANG1',
 'PN-II',
 'FMC1',
 'CYP-M',
 'P80',
 'P1',
 'BOP',
 'KLHL6',
 'CHAMP',
 'NBC2',
 'TMP-21-I',
 'CYP2D7BP',
 'RNU3',
 'LPL',
 'DSC2',
 'EIF3A',
 'DM2',
 'EBN',
 'PTEN2',
 'MT2',
 'PDIP1',
 'VCF',
 'OR19-7',
 'GATD6',
 'HHL',
 'OLF1',
 'E1',
 'CAP',
 'PIP',
 'FCRIII',
 'CMT2D',
 'P16',
 'LAGE2A',
 'ACTB',
 'TRL-AAG2-4',
 'GUP1',
 'HARC',
 'CINAP',
 'SLC6A5',
 'BMI1',
 'TRN',
 'ESA1',
 'CDK11-P110',
 'TBC1D3L',
 'WASH',
 'ARC34',
 'MAD3',
 'PEO',
 'PDC',
 'TAF2A',
 'ART1',
 'ATP6G',
 'SP-A',
 'KRTAP18-9',
 'URP',
 'KIAA0172',
 'RBMY2',
 'PRG2',
 'HCC-4',
 'CHMP3',
 'ALX',
 'H4C8',
 'SGII',
 'TCEB1L',
 'BDP1',
 'BRIGHT',
 'LIPA',
 'ARH2',
 'VPP2',
 'TBC1D3',
 'NRXN4',
 'MP44',
 'TRK1',
 'CLIC5',
 'TF',
 'PRG1',
 'H2A.2',
 'OAT6',
 'AD3',
 'LIG3',
 'VIP21',
 'PUR1',
 'TRPM2',
 'RAD1',
 'CATMANS',
 'KOP',
 'ELOA3C',
 'MSC',
 'NBPF9',
 'TCRBV3S1',
 'SPX1',
 'DHP',
 'CAMB',
 'USE1',
 'RNF3',
 'WD',
 'IGHV',
 'MPP4',
 'ZNF183',
 'MER',
 'NOP9',
 'CLA1',
 'LTBP2',
 'MCS',
 'CYP3A7',
 'EFTUD1',
 'ODF',
 'P26',
 'CT45A7',
 'SCKL4',
 'RDP',
 'CMT4E',
 'MAST1',
 'MS',
 'MIR-129B',
 'RN18S1',
 'SIL',
 'DLK',
 'PGI',
 'TRB1',
 'TCRAV3S1',
 'ODCP',
 'MPP1',
 'PAN2',
 'NKR',
 'PTPA',
 'MSF',
 'MMAA',
 'CDK11-P58',
 'STAP',
 'UGD',
 'RED',
 'CTF5',
 'CMT1',
 'LRP2BP',
 'P42',
 'FBL7',
 'DSP',
 'TEN1',
 'NRF1',
 'UFD2',
 'CBWD3',
 'DBM',
 'AOS1',
 'ASC2',
 'RCCP2',
 'USP17',
 'ZNF',
 'UP2',
 'AHRR',
 'TCRBV14S1',
 'PSG10',
 'SAA',
 'TOMT',
 'AQP1',
 'HOP',
 'RIT1',
 'DNM1DN11@',
 'NBIA4',
 'CNR1',
 'MELF2',
 'ARC',
 'DP1',
 'CPT',
 'SWI2',
 'AD2',
 'LPH',
 'HAPIP',
 'RCP',
 'P29',
 'THAS',
 'PTPRQ',
 'PAK1',
 'SIMP',
 'PILRB',
 'SHAP',
 'TPX1',
 '12-LOX',
 'P160',
 'GTF2IRD2',
 'OI6',
 'INT4',
 'SAP130',
 'LCA',
 'CT64',
 'PRH2',
 'DVL1',
 'HD7',
 'VPS55',
 'OR7E75P',
 'EDG2',
 'DLC1',
 'PRSSL1',
 'H2BFL',
 'CARP-2',
 'RIS1',
 'A15',
 'CLL1',
 'MED25',
 'CILD38',
 'KAT1',
 'ERP1',
 'HADH',
 'DRP',
 'DNM1DN10@',
 'OF',
 'CNG4',
 'ANG2',
 'CX30.2',
 'DERPC',
 'R51H3',
 'BTD',
 'ATD',
 'UBP',
 'NDPP1',
 'HAP1',
 'ST1A3',
 'GCL',
 'GALNT4',
 'MTFR2P1',
 'BDK',
 'HK1',
 'SDH',
 'DOC2',
 'MAP-2',
 'CYPH',
 'EBS4',
 'ZNF225',
 'ANXA8',
 'SNORD115-48',
 'PIGF',
 'GLP1',
 'FALDH',
 'BCD541',
 'MIZ',
 'AGC1',
 'AGMX2',
 'SUT2',
 'HSJ-2',
 'TIRAP3',
 'ARP1',
 'P65',
 'LRP9',
 'RGPD2',
 'GRIK2',
 'RNAH',
 'FAME3',
 'NPIPB',
 'SHFM3',
 'SIP',
 'GAGED2',
 'SYT',
 'DELTA',
 'TRN1',
 'MEL',
 'EIF3-P110',
 'TBC1D3G',
 'MRCL3',
 'D17S1718',
 'PRP4',
 'FOXD4B',
 'HL2',
 'KAL',
 'TEM',
 'SCYL1',
 'NKAT',
 'LIM1',
 'TH2-LCR',
 'RAY',
 'CSP2',
 'HGPS',
 'THRA1',
 'CPTI-M',
 'WS',
 'FBL2',
 'ADRA1A',
 'SPO',
 'OSF-2',
 'HP-1',
 'BRF1',
 'CP27',
 'OR11-22',
 'CTHM',
 'TRY3',
 'SOSS-B1',
 'KCP1',
 'AMN',
 'SHEP1',
 'NPIPA1',
 'GCD10',
 'RIP5',
 'CAPH2',
 'FKBP51',
 'CD85',
 'ADR',
 'VMA4',
 'MAK3',
 'BTF3',
 'HGFL',
 'MART2',
 'C10ORF2',
 'CT12.1',
 'S9',
 'MME',
 'CTRCT42',
 'TKT',
 'PAI',
 'CT45A4',
 'TCRAV30S1',
 'RHPI',
 'REGL',
 'DUPXP11.22',
 'PAR4',
 'AIBP',
 'C53',
 'DFNA2',
 'SPS1',
 'HM1',
 'LGTN',
 'WT2',
 'HOX4',
 'SMA4',
 'PH',
 'APOC-IV',
 'ADCY3',
 'VPH1',
 'PP17',
 'SCA8',
 'HIST1H2BE',
 'PNR',
 'MRPL2',
 'MIP2A',
 'RCN3',
 'LGALS2',
 'GARI-L1',
 'MLT',
 'L12',
 'IFITMD8',
 'DGS',
 'NR1',
 'NEPPK',
 'FAL1',
 'SPS',
 'DD3',
 'TRIF',
 'CNA1',
 'GAGE-12B',
 'SPDYE9',
 'CMT2B2',
 'FAM10A4',
 'CD97',
 'ERK',
 'TCEAL3',
 'KRTAP2-1',
 'CLP',
 'CCN1',
 'S4',
 'HU-2',
 'POP1',
 'KAP2.3',
 'EIF-2B',
 'VDAC3',
 'ARGRS',
 'HNRNPCL2',
 'MCH2',
 'CMM8',
 'MU2',
 'PAK5',
 'MIP-2A',
 'H4C9',
 'C10ORF101',
 'EFL1',
 'FEZ',
 'UGT1A1',
 'TSBP',
 'NG2-6',
 'ERF1',
 '67LR',
 'KS',
 'DCT1',
 'HRMT1L3',
 'CAD',
 'HRCA1',
 'CS1',
 'TCRAV13S1',
 'KLF14',
 'SXI1',
 'TRI-AAT5-5',
 'PK1',
 'SAS',
 'NOS1',
 'LNP',
 'LAGE-2',
 'PIT1',
 'NOC',
 'SNF2',
 'M-ABC1',
 'A3',
 'LRRN1',
 'QPC',
 'TRD-GTC2-6',
 'SERPINB11',
 'TRS-AGA2-2',
 'H4C16',
 'TCRAV7S1',
 'GR3',
 'HRG1',
 'AMAP1',
 'RH',
 'RGS2',
 'COX4',
 'TRR-CCG1-1',
 'BAM',
 'MAM-2',
 'PLD1',
 'TRS-AGA2-6',
 'RAI1',
 'BAP18',
 'PGD2',
 'HXBL',
 'H3.1',
 'GUCA1A',
 'GT1',
 'CSN2',
 'CMC1',
 'PCH3',
 'UPP',
 'STK1',
 'DYT23',
 'MENA',
 'HRES1',
 'FRA3B',
 'TMSB15A',
 'TRP-TGG3-2',
 'FAM25B',
 'TRI-AAT5-4',
 'DEFB-11',
 'BMND12',
 'AUTS2',
 'TRAPPC2B',
 'COP',
 'TRAF2',
 'ZNF475',
 'JBS',
 'BHLHB9',
 'TEB1',
 'CXORF52',
 'MM1',
 'PPAT',
 'EIF4F',
 'EIF1AP1',
 'J3',
 'KIR',
 'USP12P2',
 'TSPY10',
 'CACNA1I',
 'XAGE1B',
 'DCP1',
 'HB-1',
 'PAP-II',
 'CT45-2',
 'MP1',
 'RF1',
 'CEP2',
 'PCP',
 'HYDIN2',
 'MTB',
 'TPRKB',
 'CHK',
 'PRX1',
 'CT1',
 'HLA-DQB1',
 'FHOD3',
 'FBRNP',
 'FOP',
 'TRD',
 'IL-7',
 'HIES6',
 'MOP3',
 'AAT1',
 'GLUR3',
 'PGK2',
 'NEURL3',
 'CL-6',
 'TRS-AGA2-5',
 'EST',
 'AH',
 'NIRF',
 'VINC',
 'TRS-AGA2-1',
 'ZNF233',
 'TP2',
 'P13',
 'HCG1',
 'HBLRR',
 'MLM',
 'TRF-GAA1-1',
 'SF3B1',
 'NT',
 'PLEKHA8',
 'CHS1',
 'SSS1',
 'PPIAL4F',
 'TMS-1',
 'TRC-GCA2-4',
 'ASPS',
 'ND1',
 'AAAT',
 'HPCA',
 'CYP1',
 'T6BP',
 'ATX1',
 'OR912-108',
 'H2AB2',
 'CARP',
 'P120',
 'RZF',
 'NALD',
 'PYPAF7',
 'SLP1',
 'SCYL3',
 'MCDR2',
 'BIG3',
 'TRH-GTG1-5',
 'TRG-GCC2-5',
 'IMP5',
 'TRE',
 'DFNB83',
 'TCP11X2',
 'TIH1',
 'RBM1',
 'P52',
 'CDC2',
 'NOS',
 'GPCR1',
 'GJA10',
 'TTY9',
 'H2BFK',
 'LRRN4',
 'CL-11',
 'FCRLB',
 'ZNF581',
 'MSK2',
 'RGL1',
 'PKB',
 'TCF-4',
 'CT5.2',
 'LP',
 'OTF-3',
 'HHZ150',
 'VWS1',
 'ISGF-3',
 'MICE',
 'PUM',
 'CK',
 'OR4M2',
 'HLA-HA2',
 'PSA',
 'SLC9A6',
 'FLG',
 'LIPH',
 'C10ORF50',
 'EMB',
 'SIT1',
 'GCS',
 'AIS1',
 'HOM-MEL-40',
 'GPI',
 'GLC1M',
 'PNP',
 'SMS',
 'RDC-1',
 'PREP',
 'PPP1R6',
 'TRK-CTT2-3',
 'FRA16D',
 'TRA-TGC3-1',
 'KRTAP5-11',
 'CSS1',
 'CHD2',
 'PRR20',
 'INPP5F',
 'NRK2',
 'ARHGAP10',
 'CRA',
 'L23',
 'GFAT',
 'ALPI',
 'LST-3TM12',
 'ZNF102',
 'ODC1L',
 'MYH14',
 'TRC-GCA2-1',
 'RNU6-840P',
 'RNU1P1',
 'C11ORF48',
 'NSPLII',
 'HC3',
 'DLG3',
 'FAM21A',
 'GLUR7',
 'ZWS',
 'MARS',
 'ARIA',
 'TCRAV31S1',
 'MRX31',
 'KRTAP5-5',
 'MLC2B',
 'FOLR1',
 'TP55',
 'RNU6-373P',
 'TRI-AAT5-1',
 'GLYT1',
 'TRMT1',
 'CT45-4',
 'ET',
 'ELK3',
 'L5',
 'POD1',
 'TRP-TGG3-1',
 'AZI1',
 'TEX28P1',
 'P110',
 'OR912-110',
 'TL-PST',
 'GUCY2B',
 'BCAM',
 'UGT1E',
 'MAD1',
 'NOC4',
 'P6',
 'AZ1',
 'OCT-4',
 'TCRAV11S1',
 'CP11',
 'AIB1',
 'FOXL3',
 'CRHSP24',
 'H2AC8',
 'SPMD',
 'RSC8',
 'ARHGAP19',
 'LST-1',
 'PTMA',
 'FGQTL3',
 'THC2',
 'CIT',
 'GEP',
 'CES2',
 'TEBP',
 'MD1',
 'CYP2B7',
 'GALNAC-T4',
 'SRC1',
 'BRIP1',
 'CDKN2',
 'TRNAV22',
 'CRP3',
 'IA4',
 'HSP27',
 'CT45A3',
 'DIA',
 'TBC1D3C',
 'CDA1',
 'UBC',
 'IP',
 'CDG2T',
 'LAG-1',
 'HA2',
 'BEX2',
 'RECQL3',
 'OSF2',
 'MTTK',
 'SMUC',
 'GGT',
 'CCR4',
 'RAET1L',
 'TCS1',
 'JP1',
 'SAST',
 'ARIP1',
 'TAL',
 'AIRP',
 'DAP4',
 'HN1',
 'PAN3',
 'COX7AL',
 'KLHL35',
 'NSE1',
 'RPL23',
 'GST2',
 'SMIM10L3',
 'PPAN',
 'MRPS35',
 'PIMT',
 'CAV',
 'MTR1',
 'PCDH2',
 'V1S5P',
 'CT45A8',
 'TR',
 'SCP1',
 'SHP1',
 'LACS2',
 'SMAP-1',
 'MIA2',
 'TRK-TTT3-4',
 'GP39',
 'PSEUDO-ICE',
 'HB2',
 'ZNF422',
 'F2',
 'RNU1-6',
 'NBL1',
 'KOX5',
 'GCE',
 'CEH',
 'H3C11',
 'CBLB',
 'PGP',
 'CPP',
 'NPIPA7',
 'CMPD1',
 'MVCD7',
 'STN1',
 'AM',
 'DOR',
 'MES',
 'TRX-CAT1-7',
 'AP3AASE',
 'HLA-DR1B',
 'M33',
 'RAC3',
 'RASSF3',
 '2F1',
 'DJ222E13.1',
 'CHIF',
 'DIP1',
 'SCAR3',
 'GLUC',
 'NUDT10',
 'OR21-1',
 'RPL36A',
 'TXN',
 'P55',
 'TRIM49D2P',
 'RGR',
 'PR1/PR2',
 'CRL2',
 'ACSM2',
 'CAP3',
 'SLX9',
 'P2Y11',
 'KAP1',
 'HSD3B',
 'HYPK',
 'SL1',
 'CMS1A',
 'LOAS',
 'SEP',
 'OA3',
 'NA88A',
 'CYP2B',
 'OR11-104',
 'TRNAN-GUU',
 'TCF6L3',
 'SM25H2',
 'RCA1',
 'PAB1',
 'NCL',
 'GAGE7B',
 'RAX',
 'S11',
 'H4C3',
 'FCHL2',
 'HCG18',
 'TIM1',
 '5PTASE',
 'LINC00516',
 'OR17-16',
 'OR1D4',
 'SKIP1',
 'P15',
 'TCRAV4S1',
 'L30',
 'CERS1',
 'CDS1',
 'CSN3',
 'CLM',
 'KAP1.6',
 'GEM',
 'AAA1',
 'M130',
 'GX',
 'UGT1-03',
 'HLAL',
 'PE',
 'ZNF408',
 'HGL',
 'SPTBN1-AS2',
 'PAC1',
 'MRT4',
 'BCAP',
 'FAN1',
 'MACS',
 'PGDH',
 'GEFSP7',
 'RDC1',
 'ZRC1',
 'KSP37',
 'NAT2',
 'CCK',
 'DEFB-4',
 'UBCH8',
 'SIII',
 'SCP-2',
 'D3',
 'CMK',
 'GPR136',
 'SLURP2',
 'RS1',
 'PAFAH',
 'R1',
 'TPS2',
 'C2TA',
 'PIGU',
 'FXYD6',
 'TRP1',
 'MINERVA',
 'STZ',
 'SPA1',
 'SAN',
 'BG',
 'REG-III',
 'DHX40P1',
 'AGPAT8',
 'SRPSMCR',
 'LBP',
 'FAE',
 'AUTL1',
 'PSF3',
 'HBD3',
 'PROTEINASE',
 'CHC',
 'IHG1',
 'DJ760C5.1',
 'NAAGS',
 'STY',
 'CTPP5',
 'ZBP1',
 'P20',
 'DEFB108B',
 'TRAMP',
 'TRE-TTC1-2',
 'SAP1',
 'GPR89',
 'BRF2',
 'NKIR',
 'TMP21',
 'DGCR6',
 'DHFRP2',
 'NAP1',
 'TRNAG-CCC',
 'SCAR1',
 'GRP',
 'MRAP',
 'MRP-L18',
 'PTPRO',
 'TE2',
 'NEM1',
 'H3F3AP1',
 'ZNF576',
 'EPO',
 'HEP',
 'MCPH4',
 'RNA28S4',
 'TP53TG3C',
 'POB1',
 'PK3',
 'PGS2',
 'DRP-2',
 'SAE2',
 'FRA11B',
 'SELP',
 'CFD1',
 'RNA5-8S4',
 'CDH7',
 'LDB1',
 'ASF',
 'POLH',
 'FOXO3B',
 'P41',
 'ST7',
 'ME2',
 'CX59',
 'HIP',
 'TRK',
 'BRCC3',
 'DADR',
 'SCGB1C1',
 'C6ORF68',
 'SYT12',
 'CORO7',
 'TSARG1',
 'ASB3',
 'T6',
 'U7',
 'NOTCH2NLR',
 'M1',
 'P84',
 'PRR20B',
 'NATD',
 'CHE1',
 'MSP',
 'OAT1',
 'ME1',
 'NAT6',
 'AMY1',
 'AIR',
 'EL32',
 'DRP1',
 'ACTBP2',
 'DRP3',
 'GLP',
 'H2-ALPHA',
 'UDPGT 1-1',
 'TADA1',
 'HHS',
 'EXOC1',
 'ARG1',
 'MONA',
 'TAR-5',
 'PGII',
 'CBG',
 'NPR3',
 'TUBB2',
 'KID',
 ...}

### <a id='toc1_1_2_'></a>[Primary exploration of DGIdb gene content using collisions](#toc0_)

#### <a id='toc1_1_2_1_'></a>[Load gene claim data from DGIdb](#toc0_)

In [15]:
dgidb_gene_df = pd.read_csv(
    "../input/dgidb_genes_JUNE.tsv", sep="\t", na_values=["", "NULL"], keep_default_na=False
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17

In [16]:
num_total_claims = len(dgidb_gene_df)

In [17]:
dgidb_gene_df.loc[dgidb_gene_df["gene_claim_name"] == "HES1"]

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version
30772,HES1,Gene Symbol,hgnc:5192,HES1,Pharos,10-Apr-24
76844,HES1,Gene Symbol,hgnc:5192,HES1,HGNC,20240408
76845,HES1,Gene Symbol,hgnc:5192,HES1,NCBI,20240410
76846,HES1,Gene Symbol,hgnc:5192,HES1,Ensembl,111
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17

#### <a id='toc1_1_2_2_'></a>[How many claims are placed in a gene group with a different label?](#toc0_)

In [18]:
dgidb_gene_df.query("gene_name != gene_claim_name")

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14
...,...,...,...,...,...,...
79999,SEPT5,Gene Symbol,hgnc:9164,SEPTIN5,FoundationOneGenes,9/3/20
80014,ENSEMBL:ENSG00000185821,Ensembl Gene ID,hgnc:31305,OR6C76,RussLampel,26-Jul-11
80053,SEPT5,Gene Symbol,hgnc:9164,SEPTIN5,CarisMolecularIntelligence,9/4/20
80166,SEPT6,Gene Symbol,hgnc:15848,SEPTIN6,CarisMolecularIntelligence,9/4/20
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20

#### <a id='toc1_1_2_3_'></a>[How many claims are not normalized?](#toc0_)

claims without a symbol/name/identifier
 (there shouldn't be any hooray)

In [19]:
no_claim_symbols_df = dgidb_gene_df[dgidb_gene_df["gene_claim_name"].isnull()]
no_claim_symbols_df

Empty DataFrame
Columns: [gene_claim_name, nomenclature, concept_id, gene_name, source_db_name, source_db_version]
Index: []

In [20]:
no_name_symbols_df = dgidb_gene_df[dgidb_gene_df["gene_name"].isnull()]
num_not_normalized_claims = len(no_name_symbols_df)
num_not_normalized_claims

2144

In [21]:
num_normalized_claims = num_total_claims - num_not_normalized_claims

#### <a id='toc1_1_2_4_'></a>[Create set of gene groups (gene_name) and gene claims (gene_claim_name)](#toc0_)

In [22]:
dgidb_name_set = set(dgidb_gene_df["gene_name"])
len(dgidb_name_set)

12001

In [23]:
dgidb_gene_claim_name_set = set(dgidb_gene_df["gene_claim_name"])
len(dgidb_gene_claim_name_set)

26739

#### <a id='toc1_1_2_5_'></a>[Load HGNC, Ensembl (ENSG), and NCBI gene and alias sets](#toc0_)

Input: mini_hgnc_df, mini_ensg_df, mini_ncbi_df (total_alias_gene_intersections.ipynb)

Output: x_gene_symbol_set, x_alias_symbol_set where x is ncbi, ensg or ncbi

In [24]:
mini_hgnc_df = pd.read_csv(
    "../output/mini_hgnc_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [25]:
mini_ensg_df = pd.read_csv(
    "../output/mini_ensg_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [26]:
mini_ncbi_df = pd.read_csv(
    "../output/mini_ncbi_df.csv", na_values=["", "NULL"], keep_default_na=False
)

In [27]:
hgnc_gene_symbol_set = set(mini_hgnc_df["gene_symbol"])
len(hgnc_gene_symbol_set)

45646

In [28]:
ensg_gene_symbol_set = set(mini_ensg_df["gene_symbol"])
len(ensg_gene_symbol_set)

41068

In [29]:
ncbi_gene_symbol_set = set(mini_ncbi_df["gene_symbol"])
len(ncbi_gene_symbol_set)

45390

In [30]:
hgnc_alias_symbol_set = set(mini_hgnc_df["alias_symbol"])
len(hgnc_alias_symbol_set)

43187

In [31]:
ensg_alias_symbol_set = set(mini_ensg_df["alias_symbol"])
len(ensg_alias_symbol_set)

55276

In [32]:
ncbi_alias_symbol_set = set(mini_ncbi_df["alias_symbol"])
len(ncbi_alias_symbol_set)

69016

#### <a id='toc1_1_2_6_'></a>[How many unique primary gene symbols are there b/w HGNC, Ensembl, and NCBI?](#toc0_)

In [33]:
hgnc_ensg_gene_symbol_set = hgnc_gene_symbol_set.union(ensg_gene_symbol_set)

In [34]:
hgnc_ensg_ncbi_gene_symbol_set = hgnc_ensg_gene_symbol_set.union(ncbi_gene_symbol_set)
len(hgnc_ensg_ncbi_gene_symbol_set)

46953

#### <a id='toc1_1_2_7_'></a>[How many unique alias symbols are there b/w HGNC, Ensembl, and NCBI?](#toc0_)

In [35]:
hgnc_ensg_alias_symbol_set = hgnc_alias_symbol_set.union(ensg_alias_symbol_set)

In [36]:
hgnc_ensg_ncbi_alias_symbol_set = hgnc_ensg_alias_symbol_set.union(
    ncbi_alias_symbol_set
)
len(hgnc_ensg_ncbi_alias_symbol_set)

92895

#### <a id='toc1_1_2_8_'></a>[How many unique group names are not primary gene symbols?](#toc0_)

In [37]:
name_ensg_notmatch = dgidb_name_set.difference(ensg_gene_symbol_set)
len(name_ensg_notmatch)

298

In [38]:
name_hgnc_notmatch = dgidb_name_set.difference(hgnc_gene_symbol_set)
len(name_hgnc_notmatch)

25

In [39]:
cleaned_name_hgnc_notmatch = [x for x in name_hgnc_notmatch if str(x) != "NaN"]
len(cleaned_name_hgnc_notmatch)

25

In [40]:
name_ncbi_notmatch = dgidb_name_set.difference(ncbi_gene_symbol_set)
len(name_ncbi_notmatch)

105

In [41]:
name_ncbi_hgnc_notmatch = name_ncbi_notmatch.difference(hgnc_gene_symbol_set)
len(name_ncbi_hgnc_notmatch)

17

How many groups are labeled with a symbol not found in the sets of primary symbols from HGNC, NCBI, or ENSG?

In [42]:
name_ncbi_hgnc_ensg_notmatch = name_ncbi_hgnc_notmatch.difference(ensg_gene_symbol_set)
len(name_ncbi_hgnc_ensg_notmatch)

16

In [43]:
name_ncbi_hgnc_ensg_notmatch

{'ACT',
 'ATP5A2',
 'BTNL1',
 'CYB5P1',
 'GAPDHL17',
 'LOC102723996',
 'LOC102724428',
 'LOC105376944',
 'LOC112268384',
 'LOC112694756',
 'LOC344967',
 'LOC408186',
 'LOC653303',
 'OA1',
 'USP17L',
 'mCR'}

In [44]:
len(dgidb_name_set)

12001

#### <a id='toc1_1_2_9_'></a>[How many unique claims are not primary gene symbols?](#toc0_)

In [45]:
gene_claim_name_ensg_notmatch = dgidb_gene_claim_name_set.difference(
    ensg_gene_symbol_set
)
len(gene_claim_name_ensg_notmatch)

15029

In [46]:
cleaned_gene_claim_name_ensg_notmatch = [
    x for x in gene_claim_name_ensg_notmatch if str(x) != "NaN"
]
len(cleaned_gene_claim_name_ensg_notmatch)

15029

In [47]:
gene_claim_name_hgnc_notmatch = dgidb_gene_claim_name_set.difference(
    hgnc_gene_symbol_set
)
len(gene_claim_name_hgnc_notmatch)

14755

In [48]:
gene_claim_name_ncbi_notmatch = dgidb_gene_claim_name_set.difference(
    ncbi_gene_symbol_set
)
len(gene_claim_name_ncbi_notmatch)

14836

In [49]:
gene_claim_name_ncbi_hngc_notmatch = gene_claim_name_ncbi_notmatch.difference(
    hgnc_gene_symbol_set
)
len(gene_claim_name_ncbi_hngc_notmatch)

14746

How many unique claims are not primary symbols

In [50]:
gene_claim_name_ncbi_hngc_ensg_notmatch = gene_claim_name_ncbi_hngc_notmatch.difference(
    ensg_gene_symbol_set
)
num_not_primary_claims = len(gene_claim_name_ncbi_hngc_ensg_notmatch)
num_not_primary_claims

14743

#### <a id='toc1_1_2_10_'></a>[Load the collision sets from each data source](#toc0_)

Input: aa_collision_x_df.csv (total_alis_overlap.ipynb)

Output: x_alias_alias_collision_set

In [51]:
aa_collision_hgnc_df = pd.read_csv(
    "../output/aa_collision_gene_hgnc_df.csv",
    na_values=["", "NULL"],
    keep_default_na=False,
)

In [52]:
hgnc_alias_alias_collision_set = set(aa_collision_hgnc_df["collision"])
len(hgnc_alias_alias_collision_set)

1250

In [53]:
aa_collision_ncbi_df = pd.read_csv(
    "../output/aa_collision_gene_ncbi_df.csv",
    na_values=["", "NULL"],
    keep_default_na=False,
)

In [54]:
ncbi_alias_alias_collision_set = set(aa_collision_ncbi_df["collision"])
len(ncbi_alias_alias_collision_set)

3673

In [55]:
aa_collision_ensg_df = pd.read_csv(
    "../output/aa_collision_gene_ensg_df.csv",
    na_values=["", "NULL"],
    keep_default_na=False,
)

In [56]:
ensg_alias_alias_collision_set = set(aa_collision_ensg_df["collision"])
len(ensg_alias_alias_collision_set)

1617

#### <a id='toc1_1_2_11_'></a>[How many unique group names are primary gene symbols?](#toc0_)

In [57]:
name_hgnc_match = dgidb_name_set.intersection(hgnc_gene_symbol_set)
len(name_hgnc_match)

11976

In [58]:
name_ensg_match = dgidb_name_set.intersection(ensg_gene_symbol_set)
len(name_ensg_match)

11703

In [59]:
name_ncbi_match = dgidb_name_set.intersection(ncbi_gene_symbol_set)
len(name_ncbi_match)

11896

In [60]:
name_ncbi_ensg_match = name_ncbi_match.intersection(ensg_gene_symbol_set)
len(name_ncbi_ensg_match)

11685

In [61]:
name_ncbi_ensg_hgnc_match = name_ncbi_ensg_match.intersection(hgnc_gene_symbol_set)
len(name_ncbi_ensg_hgnc_match)

11684

#### <a id='toc1_1_2_12_'></a>[How many of the groups that are labeled with a primary gene symbol are also alias-alias collisions?](#toc0_)

In [62]:
name_ncbi_match_aacollision = name_ncbi_match.intersection(
    ncbi_alias_alias_collision_set
)
len(name_ncbi_match_aacollision)

135

In [63]:
name_ensg_match_aacollision = name_ensg_match.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_match_aacollision)

42

In [64]:
name_ensg_notmatch_aacollision = name_ensg_notmatch.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_notmatch_aacollision)

3

#### <a id='toc1_1_2_13_'></a>[How many unique claim symbols are collisions?](#toc0_)

In [65]:
gene_claim_name_ensg_aacollision_match = dgidb_gene_claim_name_set.intersection(
    ensg_alias_alias_collision_set
)
len(gene_claim_name_ensg_aacollision_match)

98

In [66]:
gene_claim_name_hgnc_aacollision_match = dgidb_gene_claim_name_set.intersection(
    hgnc_alias_alias_collision_set
)
len(gene_claim_name_hgnc_aacollision_match)

77

In [67]:
gene_claim_name_ncbi_aacollision_match = dgidb_gene_claim_name_set.intersection(
    ncbi_alias_alias_collision_set
)
len(gene_claim_name_ncbi_aacollision_match)

236

#### <a id='toc1_1_2_14_'></a>[How many unique groups are labeled with collisions?](#toc0_)

In [68]:
name_ensg_aacollision_match = dgidb_name_set.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_aacollision_match)

45

In [69]:
name_hgnc_aacollision_match = dgidb_name_set.intersection(
    hgnc_alias_alias_collision_set
)
len(name_hgnc_aacollision_match)

42

In [70]:
name_ncbi_aacollision_match = dgidb_name_set.intersection(
    ncbi_alias_alias_collision_set
)
len(name_ncbi_aacollision_match)

137

#### <a id='toc1_1_2_15_'></a>[How many unique claims are not primary gene symbols?](#toc0_)

In [71]:
gene_claim_name_hgnc_notmatch = dgidb_gene_claim_name_set.difference(
    hgnc_gene_symbol_set
)
len(gene_claim_name_hgnc_notmatch)

14755

In [72]:
gene_claim_name_ensg_notmatch = dgidb_gene_claim_name_set.difference(
    ensg_gene_symbol_set
)
len(gene_claim_name_ensg_notmatch)

15029

In [73]:
gene_claim_name_ncbi_notmatch = dgidb_gene_claim_name_set.difference(
    ncbi_gene_symbol_set
)
len(gene_claim_name_ncbi_notmatch)

14836

#### <a id='toc1_1_2_16_'></a>[How many unique claims that were not primary symbols are collisions?](#toc0_)

In [74]:
gene_claim_name_hgnc_notmatch_aacollision = gene_claim_name_hgnc_notmatch.intersection(
    hgnc_alias_alias_collision_set
)
len(gene_claim_name_hgnc_notmatch_aacollision)

36

In [75]:
gene_claim_name_ncbi_notmatch_aacollision = gene_claim_name_ncbi_notmatch.intersection(
    ncbi_alias_alias_collision_set
)
len(gene_claim_name_ncbi_notmatch_aacollision)

101

In [76]:
gene_claim_name_ensg_notmatch_aacollision = gene_claim_name_ensg_notmatch.intersection(
    ensg_alias_alias_collision_set
)
len(gene_claim_name_ensg_notmatch_aacollision)

56

#### <a id='toc1_1_2_17_'></a>[How many unique claims that are primary gene symbols are also collisions?](#toc0_)

In [77]:
gene_claim_name_hgnc_match = dgidb_gene_claim_name_set.intersection(
    hgnc_gene_symbol_set
)
len(gene_claim_name_hgnc_match)

11984

In [78]:
gene_claim_name_hgnc_match_aacollision = gene_claim_name_hgnc_match.intersection(
    hgnc_alias_alias_collision_set
)
len(gene_claim_name_hgnc_match_aacollision)

41

In [79]:
gene_claim_name_ncbi_match = dgidb_gene_claim_name_set.intersection(
    ncbi_gene_symbol_set
)
len(gene_claim_name_ncbi_match)

11903

In [80]:
gene_claim_name_ncbi_match_aacollision = gene_claim_name_ncbi_match.intersection(
    ncbi_alias_alias_collision_set
)
len(gene_claim_name_ncbi_match_aacollision)

135

In [81]:
gene_claim_name_ensg_match = dgidb_gene_claim_name_set.intersection(
    ensg_gene_symbol_set
)
len(gene_claim_name_ensg_match)

11710

In [82]:
gene_claim_name_ensg_match_aacollision = gene_claim_name_ensg_match.intersection(
    ensg_alias_alias_collision_set
)
len(gene_claim_name_ensg_match_aacollision)

42

#### <a id='toc1_1_2_18_'></a>[How many of the gene groups that are not primary gene symbols are alias-alias collisions from HGNC?](#toc0_)

In [83]:
name_hngc_notmatch_aacollision = name_hgnc_notmatch.intersection(
    hgnc_alias_alias_collision_set
)
len(name_hngc_notmatch_aacollision)

1

In [84]:
name_ncbi_notmatch_aacollision = name_ncbi_notmatch.intersection(
    ncbi_alias_alias_collision_set
)
len(name_ncbi_notmatch_aacollision)

2

In [85]:
name_ensg_notmatch_aacollision = name_ensg_notmatch.intersection(
    ensg_alias_alias_collision_set
)
len(name_ensg_notmatch_aacollision)

3

#### <a id='toc1_1_2_19_'></a>[How many claims are ambiguous symbols?](#toc0_)

In [86]:
dgidb_gene_df["claim_ambiguous_status"] = dgidb_gene_df["gene_claim_name"].isin(
    ambiguous_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False
...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False

In [87]:
dgidb_gene_df["claim_ambiguous_status"].value_counts()

claim_ambiguous_status
False    75412
True      4822
Name: count, dtype: int64

In [88]:
ambiguous_claim_df = dgidb_gene_df.loc[dgidb_gene_df["claim_ambiguous_status"]]
num_ambiguous_claim = len(ambiguous_claim_df)
num_ambiguous_claim

4822

In [89]:
ambiguous_claim_df.loc[ambiguous_claim_df["gene_claim_name"] == "TR2"]

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status
18,TR2,NCBI Gene Name,hgnc:7971,NR2C1,BaderLab,Feb-14,True

#### <a id='toc1_1_2_20_'></a>[How many gene group labels are ambiguous symbols?](#toc0_)

In [90]:
dgidb_gene_df["name_ambiguous_status"] = dgidb_gene_df["gene_name"].isin(
    ambiguous_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False
...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False

In [91]:
dgidb_gene_df["name_ambiguous_status"].value_counts()

name_ambiguous_status
False    74512
True      5722
Name: count, dtype: int64

In [92]:
ambiguous_name_df = dgidb_gene_df.loc[dgidb_gene_df["name_ambiguous_status"]]
num_ambiguous_name = len(ambiguous_name_df)
num_ambiguous_name

5722

#### <a id='toc1_1_2_21_'></a>[How many claims are primary symbols?](#toc0_)

In [93]:
dgidb_gene_df["claim_primary_status"] = dgidb_gene_df["gene_claim_name"].isin(
    hgnc_ensg_ncbi_gene_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False
...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True

In [94]:
dgidb_gene_df["claim_primary_status"].value_counts()

claim_primary_status
True     64198
False    16036
Name: count, dtype: int64

In [95]:
primary_claim_df = dgidb_gene_df.loc[dgidb_gene_df["claim_primary_status"]]
num_primary_claim = len(primary_claim_df)
num_primary_claim

64198

#### <a id='toc1_1_2_22_'></a>[How many gene group labels are primary symbols?](#toc0_)

In [96]:
dgidb_gene_df["name_primary_status"] = (
    dgidb_gene_df["gene_name"].astype(str).isin(hgnc_ensg_ncbi_gene_symbol_set)
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True,True
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True,True
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False,True
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True,True

In [97]:
dgidb_gene_df["name_primary_status"].value_counts()

name_primary_status
True     78057
False     2177
Name: count, dtype: int64

In [98]:
primary_name_df = dgidb_gene_df.loc[dgidb_gene_df["name_primary_status"]]
num_primary_name = len(primary_name_df)
num_primary_name

78057

In [99]:
not_primary_group_name_df = dgidb_gene_df.loc[~dgidb_gene_df["name_primary_status"]]
not_primary_group_name_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
74562,ATP5A2,Gene Symbol,ncbigene:499,ATP5A2,NCBI,20240410,False,False,False,False
74841,LOC112268384,Gene Symbol,ncbigene:112268384,LOC112268384,NCBI,20240410,False,False,False,False
74842,LOC112268384,Gene Symbol,ncbigene:112268384,LOC112268384,GO,10-Apr-24,False,False,False,False
75375,LOC102723996,Gene Symbol,ncbigene:102723996,LOC102723996,NCBI,20240410,False,False,False,False
75376,LOC102723996,Gene Symbol,ncbigene:102723996,LOC102723996,GO,10-Apr-24,False,False,False,False

#### <a id='toc1_1_2_23_'></a>[How many gene group labels are alias symbols?](#toc0_)

In [100]:
dgidb_gene_df["name_alias_status"] = dgidb_gene_df["gene_name"].isin(
    hgnc_ensg_ncbi_alias_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True,True,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True,True,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False,True,False
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True,True,False

In [101]:
dgidb_gene_df["name_alias_status"].value_counts()

name_alias_status
False    72313
True      7921
Name: count, dtype: int64

In [102]:
alias_name_df = dgidb_gene_df.loc[dgidb_gene_df["name_alias_status"]]
num_alias_name = len(alias_name_df)
num_alias_name

7921

In [103]:
print("Calmbp1" in hgnc_ensg_ncbi_alias_symbol_set)

True

#### <a id='toc1_1_2_24_'></a>[How many claims are alias symbols?](#toc0_)

In [104]:
dgidb_gene_df["claim_alias_status"] = dgidb_gene_df["gene_claim_name"].isin(
    hgnc_ensg_ncbi_alias_symbol_set
)
dgidb_gene_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status,claim_alias_status
0,NGFIBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
1,NGFIBB,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
2,DAX,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
3,REV-ERBA,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
4,COUP2,NCBI Gene Name,NaN,NaN,BaderLab,Feb-14,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
80229,KIT,Gene Symbol,hgnc:6342,KIT,Oncomine,v3,False,False,True,True,False,False
80230,HES1,Gene Name,hgnc:5192,HES1,NCI,14-Sep-17,True,True,True,True,True,True
80231,IRF1,Gene Symbol,hgnc:6116,IRF1,Tempus,11-Nov-18,False,False,True,True,False,False
80232,SHFM1,Gene Name,hgnc:10845,SEM1,DTC,9/2/20,True,False,False,True,False,True
80233,NEUROD1,Gene Name,hgnc:7762,NEUROD1,NCI,14-Sep-17,False,False,True,True,False,False

In [105]:
dgidb_gene_df["claim_alias_status"].value_counts()

claim_alias_status
False    74734
True      5500
Name: count, dtype: int64

In [106]:
alias_claims_df = dgidb_gene_df.loc[dgidb_gene_df["claim_alias_status"]]
num_alias_claims = len(alias_claims_df)
num_alias_claims

5500

#### <a id='toc1_1_2_25_'></a>[How many claims that were normalized into non-primary symbol labeled groups are alias symbols?](#toc0_)

In [107]:
dgidb_gene_df["claim_alias_status"] = dgidb_gene_df["gene_claim_name"].isin(
    hgnc_ensg_ncbi_alias_symbol_set
)
alias_claim_not_primary_group_name_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_alias_status"] & ~dgidb_gene_df["name_primary_status"]
]
alias_claim_not_primary_group_name_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status,claim_alias_status
3251,USP17L,Gene Symbol,ncbigene:100862847,USP17L,dGene,27-Jun-13,False,False,False,False,True,True
5920,ALDA,Gene Name,ncbigene:112694756,LOC112694756,DrugBank,5.1.12,False,False,False,False,False,True
27217,SIK1B,Gene Symbol,ncbigene:102724428,LOC102724428,GO,10-Apr-24,False,False,True,False,False,True
31884,SIK1B,Gene Symbol,ncbigene:102724428,LOC102724428,Pharos,10-Apr-24,False,False,True,False,False,True
38737,USP17L,Gene Symbol,ncbigene:100862847,USP17L,NCBI,20240410,False,False,False,False,True,True
55006,ACT,Gene Symbol,ncbigene:389036,ACT,NCBI,20240410,True,True,False,False,True,True
66195,OA1,Gene Symbol,ncbigene:474285,OA1,NCBI,20240410,False,False,False,False,True,True
66196,OA1,Gene Symbol,ncbigene:474285,OA1,dGene,27-Jun-13,False,False,False,False,True,True

#### <a id='toc1_1_2_26_'></a>[How many not normalized claims are alias symbols?](#toc0_)

In [108]:
alias_claim_null_name_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_alias_status"] & dgidb_gene_df["gene_name"].isnull()
]
len(alias_claim_null_name_df)

0

#### <a id='toc1_1_2_27_'></a>[How many gene group labels are not primary, alias symbols, or null?](#toc0_)

In [109]:
other_name_df = dgidb_gene_df.loc[
    ~dgidb_gene_df["name_alias_status"]
    & ~dgidb_gene_df["name_primary_status"]
    & ~dgidb_gene_df["gene_name"].isnull()
]
num_other_name = len(other_name_df)
num_other_name

27

#### <a id='toc1_1_2_28_'></a>[How many claims are not primary, alias symbols, or null?](#toc0_)

In [110]:
other_claim_df = dgidb_gene_df.loc[
    ~dgidb_gene_df["claim_alias_status"] & ~dgidb_gene_df["claim_primary_status"]
]
num_other_claim = len(other_claim_df)
num_other_claim

15283

#### <a id='toc1_1_2_29_'></a>[How many claims are primary and alias symbols?](#toc0_)

In [111]:
primaryandalias_claim_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_alias_status"] & dgidb_gene_df["claim_primary_status"]
]
num_primaryandalias_claim = len(primaryandalias_claim_df)
num_primaryandalias_claim

4747

#### <a id='toc1_1_2_30_'></a>[How many primary symbol claims are normalized into non-primary gene group labels?](#toc0_)

In [112]:
claim_true_name_false_df = dgidb_gene_df.loc[
    dgidb_gene_df["claim_primary_status"] & ~dgidb_gene_df["name_primary_status"]
]
claim_true_name_false_df

,gene_claim_name,nomenclature,concept_id,gene_name,source_db_name,source_db_version,claim_ambiguous_status,name_ambiguous_status,claim_primary_status,name_primary_status,name_alias_status,claim_alias_status
27217,SIK1B,Gene Symbol,ncbigene:102724428,LOC102724428,GO,10-Apr-24,False,False,True,False,False,True
31884,SIK1B,Gene Symbol,ncbigene:102724428,LOC102724428,Pharos,10-Apr-24,False,False,True,False,False,True

In [113]:
len(claim_true_name_false_df)

2

### <a id='toc1_1_3_'></a>[Summary](#toc0_)

#### <a id='toc1_1_3_1_'></a>[Normalization Rates](#toc0_)

In [114]:
normalization_index = "Normalized", "Not Normalized", "Total"
normalization_summary = {
    "Number of Claims": [
        num_normalized_claims,
        num_not_normalized_claims,
        num_total_claims,
    ]
}
normalization_summary_df = pd.DataFrame(
    normalization_summary, index=normalization_index
)
normalization_summary_df

                Number of Claims
Normalized                 78090
Not Normalized              2144
Total                      80234

#### <a id='toc1_1_3_2_'></a>[Types of Claim Symbols](#toc0_)

- Primary and Alias symbols are not exclusive as some primary symbols are used as aliases (alias-primary collisions)
- Other does not include any Primary or Alias symbols
- Ambiguous symbols can be either Primary or Alias

In [115]:
claim_index = "Primary", "Alias", "Other", "Ambiguous", "Total"
claim_summary = {
    "Number of Claims": [
        num_primary_claim,
        num_alias_claims,
        num_other_claim,
        num_ambiguous_claim,
        num_total_claims,
    ]
}
claim_summary_df = pd.DataFrame(claim_summary, index=claim_index)
claim_summary_df

           Number of Claims
Primary               64198
Alias                  5500
Other                 15283
Ambiguous              4822
Total                 80234

#### <a id='toc1_1_3_3_'></a>[Types of Normalizations (gene group labels claims are being normliazed into)](#toc0_)

In [116]:
gene_group_index = "Primary", "Alias", "Null", "Other", "Ambiguous", "Total"
gene_group_summary = {
    "Number of Claims": [
        num_primary_name,
        num_alias_name,
        num_not_normalized_claims,
        num_other_name,
        num_ambiguous_name,
        num_total_claims,
    ]
}
gene_group_summary_df = pd.DataFrame(gene_group_summary, index=gene_group_index)
gene_group_summary_df

           Number of Claims
Primary               78057
Alias                  7921
Null                   2144
Other                    27
Ambiguous              5722
Total                 80234