### Import

In [1026]:
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [1027]:
def create_ap_collision_df(mini_xxxx_df: pd.DataFrame, source: str) -> pd.DataFrame:
    """Create a df of alias-primary collision symbols 

    :param mini_xxxx_df: Processed df of gene records
    :param source: Representation of the source of the gene records
    :param split_on_character: Character that is used to seperate alias symbols in the mini_xxxx_df
    :return: A df of genes that share an alias with another gene
    """

    #Strip "HGNC" from HGNC ID
    mini_xxxx_df["HGNC_ID"] = mini_xxxx_df["HGNC_ID"].str.lstrip("HGNC:")

    #Remove placeholder gene records (those with no primary gene symbol)
    mini_xxxx_df = mini_xxxx_df.replace(" ", np.nan)
    mini_xxxx_df = mini_xxxx_df.replace("", np.nan)
    mini_xxxx_df = mini_xxxx_df.replace("-", np.nan)
    mini_xxxx_df = mini_xxxx_df.dropna(subset=["gene_symbol"])

    #Remove placeholder LOC genes
    mini_xxxx_df = mini_xxxx_df[~mini_xxxx_df['gene_symbol'].str.startswith('LOC', na=False)]

    #mini_xxx_df
    ## no LOC genes (only present in NCBI)
    ## no records with no primary symbols (only present in ENSG)
    #Convert the df into a csv and save
    mini_xxxx_df.to_csv(f'../output/mini_{source.lower()}_df.csv', index=True) 

    #Make a new df where the alias symbols are merged together for each record
    merged_alias_xxxx_df = mini_xxxx_df.copy()
    merged_alias_xxxx_df["alias_symbol"] = merged_alias_xxxx_df["alias_symbol"].fillna("").astype(str)
    merged_alias_xxxx_df = (
    merged_alias_xxxx_df.groupby(
        ["ENSG_ID", "gene_symbol", "HGNC_ID"], dropna=False
    )["alias_symbol"]
    .apply(lambda x: ",".join(x.dropna())).reset_index())

    #Convert the df into a csv and save
    merged_alias_xxxx_df.to_csv(f'../output/merged_alias_{source}_df.csv', index=True) 

    #Make a set of the primary gene symbols
    xxxx_gene_symbol_set = set(mini_xxxx_df["gene_symbol"])
    uppercased_xxxx_gene_symbol_set = {s.upper() for s in xxxx_gene_symbol_set}

    
    subset_genes_xxxx_df = mini_xxxx_df.copy()

    # #Drop genes without any aliases
    # subset_genes_xxxx_df = subset_genes_xxxx_df.dropna(subset=["alias_symbol"])

    # # Remove duplicate instances of primary gene symbol- alias pairs
    # # (occur because the same primary gene symbol may have multiple different ENSG IDs, 
    # # see gene RFLNB for example)
    # subset_genes_xxxx_df["gene_symbol"] = subset_genes_xxxx_df["gene_symbol"].str.upper()
    # subset_genes_xxxx_df["alias_symbol"] = subset_genes_xxxx_df["alias_symbol"].str.upper()
    # subset_genes_xxxx_df = subset_genes_xxxx_df.drop_duplicates(subset=['gene_symbol', 'alias_symbol'], keep='first')

    #Remove alias symbols that are an exact match to their respective primary gene symbol
    subset_genes_xxxx_df = subset_genes_xxxx_df[subset_genes_xxxx_df['gene_symbol'] != subset_genes_xxxx_df['alias_symbol']]

    #Convert the df into a csv and save
    subset_genes_xxxx_df.to_csv(f'../output/subset_genes_{source}_df.csv', index=True) 

    #Create df with genes that have an alias that can be found as another gene's primary gene symbol
    ap_collision_xxxx_df = subset_genes_xxxx_df.copy()
    ap_collision_xxxx_df["alias_symbol_upper"] = ap_collision_xxxx_df["alias_symbol"].str.upper()
    ap_collision_xxxx_df.loc[:, "alias_symbol_upper"] = ap_collision_xxxx_df["alias_symbol_upper"].apply(lambda x: {x})
    ap_collision_xxxx_df.loc[:, "collision"] = ap_collision_xxxx_df["alias_symbol_upper"].apply(
        lambda x: x & uppercased_xxxx_gene_symbol_set
    )
    ap_collision_xxxx_df = ap_collision_xxxx_df.drop("alias_symbol_upper", axis=1)
    ap_collision_xxxx_df = ap_collision_xxxx_df[ap_collision_xxxx_df["collision"].apply(lambda x: len(x) > 0)]
    ap_collision_xxxx_df = ap_collision_xxxx_df.applymap(lambda x: ', '.join(map(str, x)) if isinstance(x, set) else x)
    ap_collision_xxxx_df['NCBI_ID'] = ap_collision_xxxx_df['NCBI_ID'].fillna(0).astype(int)
    ap_collision_xxxx_df = ap_collision_xxxx_df.sort_values("collision")

    #Add a source tag for future merging efforts
    ap_collision_xxxx_df["source"] = str(source.upper())

    #Convert the df into a csv
    ap_collision_xxxx_df.to_csv(f'../output/single_alias_ap_collision_{source.lower()}_df.csv', index=True)

    #Create a secondary collision df that merges the alias symbols for each record
    merged_alias_ap_collision_xxxx_df = ap_collision_xxxx_df.drop(columns=['alias_symbol'])
    merged_alias_ap_collision_xxxx_df = pd.merge(merged_alias_ap_collision_xxxx_df, merged_alias_xxxx_df, on=["ENSG_ID", "gene_symbol", "HGNC_ID"], how="left")
    merged_alias_ap_collision_xxxx_df = merged_alias_ap_collision_xxxx_df[["gene_symbol","alias_symbol","ENSG_ID","HGNC_ID","NCBI_ID","collision","source"]]
    merged_alias_ap_collision_xxxx_df = merged_alias_ap_collision_xxxx_df.drop_duplicates(subset=[f"{source}_ID"])

    #Test to make sure all collisions are in the alias list for the record
    test_ap_collision_xxxx_df = merged_alias_ap_collision_xxxx_df.copy()
    test_ap_collision_xxxx_df['alias_symbol'] = test_ap_collision_xxxx_df['alias_symbol'].apply(lambda x: x if isinstance(x, list) else [x])
    test_ap_collision_xxxx_df['collision_in_alias'] = test_ap_collision_xxxx_df.apply(lambda row: row['collision'] in test_ap_collision_xxxx_df['alias_symbol'].values, axis=1)
    true_count = test_ap_collision_xxxx_df['collision_in_alias'].sum()

    if true_count == 0:
        #Convert the df into a csv and save
        merged_alias_ap_collision_xxxx_df.to_csv(f'../output/merged_alias_ap_collision_{source.lower()}_df.csv', index=True)
        print("All collisions are present in gene alias lists.")
    else:
        print("Some collisions are not present in gene alias lists.")

    return mini_xxxx_df.head(), subset_genes_xxxx_df.head(), ap_collision_xxxx_df.head()

# Ensembl

In [1028]:
mini_ensg_df = pd.read_csv(
    "../input/ensg_biomart_gene20250625.txt", sep="\t",dtype={"NCBI gene (formerly Entrezgene) ID": pd.Int64Dtype()}
)
mini_ensg_df = mini_ensg_df.rename(
    columns={
        "HGNC ID": "HGNC_ID",
        "Gene Synonym": "alias_symbol",
        "Gene name": "gene_symbol",
        "Gene stable ID": "ENSG_ID",
        "NCBI gene (formerly Entrezgene) ID": "NCBI_ID",
    }
)
mini_ensg_df

                ENSG_ID  NCBI_ID     HGNC_ID alias_symbol gene_symbol
0       ENSG00000210049     <NA>   HGNC:7481         MTTF       MT-TF
1       ENSG00000210049     <NA>   HGNC:7481         TRNF       MT-TF
2       ENSG00000211459     <NA>   HGNC:7470          12S     MT-RNR1
3       ENSG00000211459     <NA>   HGNC:7470       MOTS-C     MT-RNR1
4       ENSG00000211459     <NA>   HGNC:7470       MTRNR1     MT-RNR1
...                 ...      ...         ...          ...         ...
133060  ENSG00000229388     <NA>  HGNC:52502    LINC01715    TAF12-DT
133061  ENSG00000289291     <NA>         NaN          NaN         NaN
133062  ENSG00000274978    26824  HGNC:10108      RNU11-1       RNU11
133063  ENSG00000274978    26824  HGNC:10108          U11       RNU11
133064  ENSG00000296488     <NA>         NaN          NaN         NaN

[133065 rows x 5 columns]

In [1029]:
len(set(mini_ensg_df['ENSG_ID']))

86364

In [1030]:
len(set(mini_ensg_df['gene_symbol']))

41165

In [1031]:
len(set(mini_ensg_df['alias_symbol']))

55413

In [1032]:
len(set(mini_ensg_df['gene_symbol']) | set(mini_ensg_df['alias_symbol']))

95942

In [1033]:
mini_ensg_df = mini_ensg_df.replace(" ", np.nan)
mini_ensg_df = mini_ensg_df.replace("", np.nan)
mini_ensg_df = mini_ensg_df.replace("-", np.nan)

unique_ensg_df = mini_ensg_df[mini_ensg_df['ENSG_ID'].duplicated(keep=False) == False]

# Count rows with missing gene symbols before dropping
no_symbol_count = mini_ensg_df["gene_symbol"].isna().sum()
no_symbol_count

38041

In [1034]:
# Now count rows in that subset where 'alias_symbol' is missing
no_alias_symbol_count = unique_ensg_df["alias_symbol"].isna().sum()
no_alias_symbol_count

57009

In [1035]:
orf_rows = mini_ensg_df[
    mini_ensg_df['gene_symbol']
    .str.contains(r'^C.*ORF', case=False, na=False) &
    ~mini_ensg_df['gene_symbol']
    .str.contains('-', na=False)
]
len(orf_rows)

420

In [1036]:
count_loc = mini_ensg_df['gene_symbol'].str.startswith('LOC', na=False).sum()
count_loc

0

In [1037]:
count_FAM = mini_ensg_df['gene_symbol'].str.startswith('FAM', na=False).sum()
count_FAM

738

In [1038]:
count_KIAA = mini_ensg_df['gene_symbol'].str.startswith('KIAA', na=False).sum()
count_KIAA

51

In [1039]:
# groupby name and return a boolean of whether each has more than 1 unique ENSG ID
multi_primary = mini_ensg_df.groupby(["gene_symbol"]).ENSG_ID.nunique().gt(1)

# use loc to only see those values that have `True` in `multi_primary`:
mini_ensg_df.loc[mini_ensg_df.gene_symbol.isin(multi_primary[multi_primary].index)].sort_values(by='gene_symbol').iloc[6000:6060]

                ENSG_ID  NCBI_ID     HGNC_ID alias_symbol gene_symbol
92891   ENSG00000138641     8916   HGNC:4876     KIAA0032       HERC3
92878   ENSG00000287542     8916         NaN          NaN       HERC3
52117   ENSG00000273529   388585  HGNC:19764      BHLHB38        HES5
14696   ENSG00000197921   388585  HGNC:19764      BHLHB38        HES5
4416    ENSG00000280680    55733  HGNC:18270       MART-2        HHAT
4421    ENSG00000280680    55733  HGNC:18270          SKN        HHAT
4418    ENSG00000280680    55733  HGNC:18270         RASP        HHAT
4417    ENSG00000280680    55733  HGNC:18270        MART2        HHAT
43282   ENSG00000054392    55733  HGNC:18270        MART2        HHAT
43285   ENSG00000054392    55733  HGNC:18270          SKI        HHAT
4415    ENSG00000280680    55733  HGNC:18270         GUP2        HHAT
4414    ENSG00000280680    55733  HGNC:18270     FLJ10724        HHAT
4419    ENSG00000280680    55733  HGNC:18270          SIT        HHAT
43284   ENSG00000054392    55733  HGNC:18270          SIT        HHAT
43283   ENSG00000054392    55733  HGNC:18270         RASP        HHAT
43281   ENSG00000054392    55733  HGNC:18270       MART-2        HHAT
43280   ENSG00000054392    55733  HGNC:18270         GUP2        HHAT
43279   ENSG00000054392    55733  HGNC:18270     FLJ10724        HHAT
43286   ENSG00000054392    55733  HGNC:18270          SKN        HHAT
4420    ENSG00000280680    55733  HGNC:18270          SKI        HHAT
72820   ENSG00000235657     3105   HGNC:4931          NaN       HLA-A
68794   ENSG00000224320     3105   HGNC:4931          NaN       HLA-A
66867   ENSG00000227715     3105   HGNC:4931          NaN       HLA-A
76339   ENSG00000231834     3105   HGNC:4931          NaN       HLA-A
101068  ENSG00000206503     3105   HGNC:4931          NaN       HLA-A
67552   ENSG00000206505     3105   HGNC:4931          NaN       HLA-A
79893   ENSG00000223980     3105   HGNC:4931          NaN       HLA-A
66597   ENSG00000229215     3105   HGNC:4931          NaN       HLA-A
79909   ENSG00000224608     3106   HGNC:4932           AS       HLA-B
71168   ENSG00000234745     3106   HGNC:4932           AS       HLA-B
66216   ENSG00000206450     3106   HGNC:4932           AS       HLA-B
70494   ENSG00000232126     3106   HGNC:4932           AS       HLA-B
79186   ENSG00000223532     3106   HGNC:4932           AS       HLA-B
81469   ENSG00000228964     3106   HGNC:4932           AS       HLA-B
62689   ENSG00000204525     3107   HGNC:4933       D6S204       HLA-C
78388   ENSG00000228299     3107   HGNC:4933       PSORS1       HLA-C
78387   ENSG00000228299     3107   HGNC:4933      HLA-JY3       HLA-C
78774   ENSG00000233841     3107   HGNC:4933       PSORS1       HLA-C
76516   ENSG00000206452     3107   HGNC:4933      HLA-JY3       HLA-C
78386   ENSG00000228299     3107   HGNC:4933       D6S204       HLA-C
78773   ENSG00000233841     3107   HGNC:4933      HLA-JY3       HLA-C
70213   ENSG00000225691     3107   HGNC:4933       PSORS1       HLA-C
80918   ENSG00000206435     3107   HGNC:4933       PSORS1       HLA-C
76515   ENSG00000206452     3107   HGNC:4933       D6S204       HLA-C
80917   ENSG00000206435     3107   HGNC:4933      HLA-JY3       HLA-C
81311   ENSG00000237022     3107   HGNC:4933       PSORS1       HLA-C
81310   ENSG00000237022     3107   HGNC:4933      HLA-JY3       HLA-C
70211   ENSG00000225691     3107   HGNC:4933       D6S204       HLA-C
76517   ENSG00000206452     3107   HGNC:4933       PSORS1       HLA-C
80916   ENSG00000206435     3107   HGNC:4933       D6S204       HLA-C
62691   ENSG00000204525     3107   HGNC:4933       PSORS1       HLA-C
70212   ENSG00000225691     3107   HGNC:4933      HLA-JY3       HLA-C
62690   ENSG00000204525     3107   HGNC:4933      HLA-JY3       HLA-C
81309   ENSG00000237022     3107   HGNC:4933       D6S204       HLA-C
78772   ENSG00000233841     3107   HGNC:4933       D6S204       HLA-C
76137   ENSG00000242685     3108   HGNC:4934      D6S222E     HLA-DMA
75324   ENSG00000243189     3108   HGNC:4934      D6S222E     HLA-DMA
83537   ENSG00000243215     3108   HGNC:4934      D6S222E     HLA-DMA
74916   ENSG00000243719     3108   HGNC:4934      D6S222E     HLA-DMA
75325   ENSG00000243189     3108   HGNC:4934        RING6     HLA-DMA

In [1040]:
create_ap_collision_df(mini_ensg_df, "ENSG")

All collisions are present in gene alias lists.

/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/1363854315.py:69: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ap_collision_xxxx_df = ap_collision_xxxx_df.applymap(lambda x: ', '.join(map(str, x)) if isinstance(x, set) else x)

(           ENSG_ID  NCBI_ID HGNC_ID alias_symbol gene_symbol
 0  ENSG00000210049     <NA>    7481         MTTF       MT-TF
 1  ENSG00000210049     <NA>    7481         TRNF       MT-TF
 2  ENSG00000211459     <NA>    7470          12S     MT-RNR1
 3  ENSG00000211459     <NA>    7470       MOTS-C     MT-RNR1
 4  ENSG00000211459     <NA>    7470       MTRNR1     MT-RNR1,
            ENSG_ID  NCBI_ID HGNC_ID alias_symbol gene_symbol
 0  ENSG00000210049     <NA>    7481         MTTF       MT-TF
 1  ENSG00000210049     <NA>    7481         TRNF       MT-TF
 2  ENSG00000211459     <NA>    7470          12S     MT-RNR1
 3  ENSG00000211459     <NA>    7470       MOTS-C     MT-RNR1
 4  ENSG00000211459     <NA>    7470       MTRNR1     MT-RNR1,
                ENSG_ID  NCBI_ID HGNC_ID alias_symbol gene_symbol collision  \
 24761  ENSG00000283293   125050   10037          7SK       RN7SK       7SK
 37365  ENSG00000057252     6646   11177        ACAT1       SOAT1     ACAT1
 17666  ENSG00000167780     8435   11178        ACAT2       SOAT2     ACAT2
 35063  ENSG00000004779     4706    7694         ACP1     NDUFAB1      ACP1
 47647  ENSG00000220267        0     141       ACTBP2      ACTBP8    ACTBP2

       source
 24761   ENSG
 37365   ENSG
 17666   ENSG
 35063   ENSG
 47647   ENSG  )

In [1041]:
mini_ensg_df= pd.read_csv(
    "../output/mini_ensg_df.csv", index_col=[0])
mini_ensg_df

                ENSG_ID  NCBI_ID  HGNC_ID alias_symbol gene_symbol
0       ENSG00000210049      NaN   7481.0         MTTF       MT-TF
1       ENSG00000210049      NaN   7481.0         TRNF       MT-TF
2       ENSG00000211459      NaN   7470.0          12S     MT-RNR1
3       ENSG00000211459      NaN   7470.0       MOTS-C     MT-RNR1
4       ENSG00000211459      NaN   7470.0       MTRNR1     MT-RNR1
...                 ...      ...      ...          ...         ...
133058  ENSG00000197989  85028.0  30062.0    LINC00100      SNHG12
133059  ENSG00000197989  85028.0  30062.0     PNAS-123      SNHG12
133060  ENSG00000229388      NaN  52502.0    LINC01715    TAF12-DT
133062  ENSG00000274978  26824.0  10108.0      RNU11-1       RNU11
133063  ENSG00000274978  26824.0  10108.0          U11       RNU11

[95024 rows x 5 columns]

In [1042]:
subset_genes_ensg_df = pd.read_csv(
    "../output/subset_genes_ensg_df.csv", index_col=[0])
subset_genes_ensg_df

                ENSG_ID  NCBI_ID  HGNC_ID alias_symbol gene_symbol
0       ENSG00000210049      NaN   7481.0         MTTF       MT-TF
1       ENSG00000210049      NaN   7481.0         TRNF       MT-TF
2       ENSG00000211459      NaN   7470.0          12S     MT-RNR1
3       ENSG00000211459      NaN   7470.0       MOTS-C     MT-RNR1
4       ENSG00000211459      NaN   7470.0       MTRNR1     MT-RNR1
...                 ...      ...      ...          ...         ...
133058  ENSG00000197989  85028.0  30062.0    LINC00100      SNHG12
133059  ENSG00000197989  85028.0  30062.0     PNAS-123      SNHG12
133060  ENSG00000229388      NaN  52502.0    LINC01715    TAF12-DT
133062  ENSG00000274978  26824.0  10108.0      RNU11-1       RNU11
133063  ENSG00000274978  26824.0  10108.0          U11       RNU11

[95006 rows x 5 columns]

In [1043]:
mini_ensg_df.loc[mini_ensg_df["gene_symbol"] == "HLA-DQB2"]

               ENSG_ID  NCBI_ID  HGNC_ID alias_symbol gene_symbol
45334  ENSG00000232629   3120.0   4945.0      HLA-DXB    HLA-DQB2
68189  ENSG00000230675   3120.0   4945.0      HLA-DXB    HLA-DQB2
73816  ENSG00000228813   3120.0   4945.0      HLA-DXB    HLA-DQB2
74541  ENSG00000224305   3120.0   4945.0      HLA-DXB    HLA-DQB2
76050  ENSG00000228254   3120.0   4945.0      HLA-DXB    HLA-DQB2
76102  ENSG00000229493   3120.0   4945.0      HLA-DXB    HLA-DQB2
77670  ENSG00000196610   3120.0   4945.0      HLA-DXB    HLA-DQB2
78251  ENSG00000226165   3120.0   4945.0      HLA-DXB    HLA-DQB2

In [1044]:
subset_genes_ensg_df.loc[
    subset_genes_ensg_df["gene_symbol"] == "ARK2C"
]

              ENSG_ID   NCBI_ID  HGNC_ID alias_symbol gene_symbol
4202  ENSG00000141622  494470.0  31696.0        ARKL2       ARK2C
4203  ENSG00000141622  494470.0  31696.0      LNCAMPC       ARK2C
4204  ENSG00000141622  494470.0  31696.0     RNF111L2       ARK2C
4205  ENSG00000141622  494470.0  31696.0       RNF165       ARK2C

In [1045]:
merged_alias_ap_collision_ensg_df = pd.read_csv(
    "../output/merged_alias_ap_collision_ensg_df.csv", index_col=[0])
merged_alias_ap_collision_ensg_df

,gene_symbol,alias_symbol,ENSG_ID,HGNC_ID,NCBI_ID,collision,source
0,RN7SK,7SK,ENSG00000283293,10037.0,125050,7SK,ENSG
1,SOAT1,"ACAT,ACAT1,SOAT,STAT",ENSG00000057252,11177.0,6646,ACAT1,ENSG
2,SOAT2,ACAT2,ENSG00000167780,11178.0,8435,ACAT2,ENSG
3,NDUFAB1,"ACP,ACP1,FASN2A,SDAP",ENSG00000004779,7694.0,4706,ACP1,ENSG
4,ACTBP8,ACTBP2,ENSG00000220267,141.0,0,ACTBP2,ENSG
...,...,...,...,...,...,...,...
807,ZNF121,"D19S204,ZHC32,ZNF20",ENSG00000197961,12904.0,7675,ZNF20,ENSG
808,RNF141,"ZFP26,ZNF230",ENSG00000110315,21159.0,50862,ZNF230,ENSG
809,ZNF322P1,"ZNF322,ZNF322B",ENSG00000188801,14003.0,0,ZNF322,ENSG
810,ZNF106,"SH3BP3,ZFP106,ZNF474",ENSG00000103994,12886.0,64397,ZNF474,ENSG
811,ZFP1,"FLJ34243,ZNF475",ENSG00000184517,23328.0,162239,ZNF475,ENSG

In [1046]:
merged_alias_ap_collision_ensg_df.head(60)

,gene_symbol,alias_symbol,ENSG_ID,HGNC_ID,NCBI_ID,collision,source
0,RN7SK,7SK,ENSG00000283293,10037.0,125050,7SK,ENSG
1,SOAT1,"ACAT,ACAT1,SOAT,STAT",ENSG00000057252,11177.0,6646,ACAT1,ENSG
2,SOAT2,ACAT2,ENSG00000167780,11178.0,8435,ACAT2,ENSG
3,NDUFAB1,"ACP,ACP1,FASN2A,SDAP",ENSG00000004779,7694.0,4706,ACP1,ENSG
4,ACTBP8,ACTBP2,ENSG00000220267,141.0,0,ACTBP2,ENSG
5,TADA2A,"ADA2,ADA2A,HADA2,TADA2L",ENSG00000277104,11531.0,6871,ADA2,ENSG
6,TADA2A,"ADA2,ADA2A,HADA2,TADA2L",ENSG00000276234,11531.0,6871,ADA2,ENSG
7,ADAM28,"ADAM23,EMDCII,MDC-LM,MDC-LS",ENSG00000042980,206.0,10863,ADAM23,ENSG
8,ADCY8,"AC8,ADCY3,HBAC1",ENSG00000155897,239.0,114,ADCY3,ENSG
9,ADRA1D,"ADRA1,ADRA1A,ADRA1R",ENSG00000171873,280.0,146,ADRA1A,ENSG
10,AGXT,"AGT,AGT1,AGXT1,PH1,SER-PYRAT,SPAT,SPT,TLH6",ENSG00000172482,341.0,189,AGT,ENSG
11,AURKAIP1,"AIP,AKIP,FLJ20608,MS38",ENSG00000175756,24114.0,54998,AIP,ENSG
12,AK4,"AK3,AK3L1",ENSG00000162433,363.0,205,AK3,ENSG
13,AK3,"AK3L1,AK6,AKL3L1",ENSG00000147853,17376.0,50808,AK6,ENSG
14,FBF1,"ALB,FBF-1,FLJ00103,KIAA1863",ENSG00000188878,24674.0,85302,ALB,ENSG
15,ABCD1,"ADRENOLEUKODYSTROPHY,ALD,ALDP,AMN",ENSG00000101986,61.0,215,AMN,ENSG
16,ANKRD30BL,"ANKRD30BP3,NCRNA00164",ENSG00000163046,35167.0,554226,ANKRD30BP3,ENSG
17,ANAPC2,"APC2,KIAA1406",ENSG00000176248,19989.0,29882,APC2,ENSG
18,SLC25A23,"APC2,FLJ30339,MGC2615",ENSG00000125648,19375.0,79085,APC2,ENSG
19,APLP2,"APPH,APPL2",ENSG00000084234,598.0,334,APPL2,ENSG
20,AQP7,"AQP7L,AQP9,AQPAP",ENSG00000165269,640.0,364,AQP9,ENSG
21,AREG,"AR,AREGB,CRDGF,SDGF",ENSG00000109321,651.0,374,AR,ENSG
22,AKR1B1,"ALDR1,AR",ENSG00000085662,381.0,231,AR,ENSG
23,FDXR,"ADR,ADXR,AR",ENSG00000161513,3642.0,2232,AR,ENSG
24,NOL3,"ARC,CARD2,MYP,NOP30",ENSG00000140939,7869.0,8996,ARC,ENSG
25,ARL17A,"ARF1P2,ARL17P1,ARF1P2,ARL17P1",ENSG00000185829,24096.0,51326,ARF1P2,ENSG
27,ARFGAP3,ARFGAP1,ENSG00000242247,661.0,26286,ARFGAP1,ENSG
28,TINAGL1,"ARG1,LCN7,LIECG3,P3ECSL,TINAGRP",ENSG00000142910,19168.0,64129,ARG1,ENSG
29,ARHGAP21,"ARHGAP10,KIAA1424",ENSG00000107863,23725.0,57584,ARHGAP10,ENSG
30,AKR1B10,"AKR1B11,AKR1B12,ALDRLN,ARL-1,ARL1,HIS,HSI",ENSG00000198074,382.0,57016,ARL1,ENSG
31,SLURP1,"ANUP,ARS,ARSB,LY6-MT,LY6LS,MDM",ENSG00000126233,18746.0,57152,ARSB,ENSG
32,PARD3,"ASIP,BAZ,BAZOOKA,PAR3,PARD3A,PPP1R118",ENSG00000148498,16051.0,56288,ASIP,ENSG
33,GDNF,"ATF1,ATF2,HFB1-GDNF",ENSG00000168621,4232.0,2668,ATF1,ENSG
35,ATP2B4,"ATP2B2,MXRA1,PMCA4",ENSG00000058668,817.0,493,ATP2B2,ENSG
36,SERPINA2,"ARGS,ATR,PIL,SERPINA2P",ENSG00000258597,8985.0,390502,ATR,ENSG
37,SERPINA2,"ARGS,ATR,PIL,SERPINA2P",ENSG00000274821,8985.0,390502,ATR,ENSG
38,ANTXR1,"ATR,FLJ10601,FLJ21776,TEM8",ENSG00000169604,21014.0,84168,ATR,ENSG
39,NLRP3,"AGTAVPRL,AII,AVP,C1ORF7,CIAS1,CLR1.1,DFNA34,FC...",ENSG00000162711,16400.0,114548,AVP,ENSG
40,B4GAT1,"B3GN-T1,B3GNT1,B3GNT6,BETA3GNTI,IGAT,IGNT",ENSG00000174684,15685.0,11041,B3GNT6,ENSG
41,B3GNTL1,"B3GNT8,B3GNT8",ENSG00000175711,21727.0,128966610,B3GNT8,ENSG
42,B3GNTL1,"B3GNT8,B3GNT8",ENSG00000277033,21727.0,128966610,B3GNT8,ENSG
45,BRIP1,"BACH1,FANCJ,OF",ENSG00000136492,20473.0,83990,BACH1,ENSG
46,RNF2,"BAP-1,BAP1,DING,HIPI3,RING1B,RING2",ENSG00000121481,10061.0,6045,BAP1,ENSG
47,MAGI1,"AIP3,BAIAP1,BAP1,MAGI-1,TNRC19,WWP3",ENSG00000151276,946.0,9223,BAP1,ENSG
48,BCAT2,"BCAM,BCATM,BCT2",ENSG00000105552,977.0,587,BCAM,ENSG
49,BANF1P1,"BCRG1,BCRP1,D14S1460,D14S1460E",ENSG00000258531,20252.0,0,BCRP1,ENSG
50,DCAF5,"BCRG2,BCRP2,D14S1461E,KIAA1824,WDR22",ENSG00000139990,20224.0,8816,BCRP2,ENSG
51,PTPN18,BDP1,ENSG00000072135,9649.0,26469,BDP1,ENSG
52,ASIC2,"ACCN,ACCN1,ASIC2A,BNAC1,BNC1,HBNAC1,MDEG",ENSG00000108684,99.0,40,BNC1,ENSG
53,C6orf89,"BRAP,FLJ25357",ENSG00000198663,21114.0,221477,BRAP,ENSG
54,DEPDC1B,"BRCC3,XTP1",ENSG00000035499,24902.0,55789,BRCC3,ENSG
55,ZFP36L1,"BERG36,BRF1,CMG1,ERF1,RNF162B,TIS11B",ENSG00000185650,1107.0,677,BRF1,ENSG
56,ZFP36L2,"BRF2,ERF2,RNF162C,TIS11D",ENSG00000152518,1108.0,678,BRF2,ENSG
57,ITM2C,"BRI3,BRICD2C,E25,HRPC.1050_D_4,ITM3",ENSG00000135916,6175.0,81618,BRI3,ENSG
58,BRMS1L,"BRMS1,FLJ39177,MGC11296,P40",ENSG00000100916,20512.0,84312,BRMS1,ENSG
59,PGAP1,"BST1,FLJ12377,SPG67",ENSG00000197121,25712.0,80055,BST1,ENSG
60,BTN3A3,"BTF3,BTN3.3",ENSG00000111801,1140.0,10384,BTF3,ENSG
61,MFRP,"C1QTNF5,FLJ30570,NNO2,RD6",ENSG00000235718,18121.0,83552,C1QTNF5,ENSG
62,C2orf72,"C2ORF72,LOC257407",ENSG00000204128,27418.0,257407,C2ORF72,ENSG
63,C4A,"C4,C4A2,C4A3,C4A4,C4A6,C4B,C4S,CO4,CPAMD2,RG,C...",ENSG00000244207,1323.0,720,C4B,ENSG

In [1047]:
len(set(merged_alias_ap_collision_ensg_df["gene_symbol"]))

677

In [1048]:
len(set(merged_alias_ap_collision_ensg_df["ENSG_ID"]))

768

### Make a set of the primary gene symbols

In [1049]:
ensg_gene_symbol_set = set(mini_ensg_df["gene_symbol"])

In [1050]:
total_number_ensg_gene_symbols = len(ensg_gene_symbol_set)
total_number_ensg_gene_symbols

41164

How many collisions are there? How many records are involved in one?

In [1051]:
ensg_alias_primary_collision_set = set(merged_alias_ap_collision_ensg_df["collision"])
len(ensg_alias_primary_collision_set)

607

In [1052]:
ensg_alias_primary_collision_primary_symbol_set = set(merged_alias_ap_collision_ensg_df["gene_symbol"])
len(ensg_alias_primary_collision_primary_symbol_set)

677

1. Why is the alias-gene collision set not the same length as the set of primary symbols with collisions ?
2. Why is the length of the alias-gene collison set shorter?
 - A priamry gene symbol with an alias-gene collision has an alias that matches a different gene's primary gene symbol.
 - Multiple genes can share a single alias (alias-alias collision)
 - If that shared alias is an alias-gene collision, then there will be more unique gene symbols in the set of primary symbols with collisions than the set of alias-gene collisions.

# HGNC

## Set up table

In [1053]:
file_path = "../input/hgnc_biomart_gene20240626.txt"

mini_hgnc_df = pd.read_csv(
    file_path, sep="\t"
)

# Rename columns
mini_hgnc_df = mini_hgnc_df.rename(
    columns={
        "HGNC ID": "HGNC_ID",
        "Approved symbol": "gene_symbol",
        "Alias symbols": "alias_symbol",
        "Ensembl gene ID": "ENSG_ID",
    }
)

#structure and labeling in HGNC download files changed between 2024 amd 2025
if "Alias symbol" in mini_hgnc_df.columns:
    mini_hgnc_df = mini_hgnc_df.rename(columns={"Alias symbol": "alias_symbol"})
elif "Alias symbols" in mini_hgnc_df.columns:
    mini_hgnc_df = mini_hgnc_df.rename(columns={"Alias symbols": "alias_symbol"})
else:
    mini_hgnc_df["alias_symbol"] = pd.NA

if "NCBI gene ID" in mini_hgnc_df.columns:
    mini_hgnc_df = mini_hgnc_df.rename(columns={"NCBI gene ID": "NCBI_ID"})
elif "NCBI Gene ID" in mini_hgnc_df.columns:
    mini_hgnc_df = mini_hgnc_df.rename(columns={"NCBI Gene ID": "NCBI_ID"})
else:
    mini_hgnc_df["NCBI_ID"] = pd.NA   

mini_hgnc_df["NCBI_ID"] = mini_hgnc_df["NCBI_ID"].astype(pd.Int64Dtype())

# Extract date from filename and check if it is before June 25, 2025
match = re.search(r'(\d{8})', file_path)
file_date = datetime.strptime(match.group(1), "%Y%m%d") if match else None
cutoff_date = datetime.strptime("20250625", "%Y%m%d")

# Apply list-splitting logic for newer files
if file_date and file_date >= cutoff_date:
    mini_hgnc_df['alias_symbol'] = (
        mini_hgnc_df['alias_symbol']
        .fillna('')
        .str.split(',')
        .apply(lambda x: [a.strip() for a in x if a.strip()])
    )
    mini_hgnc_df = mini_hgnc_df.explode('alias_symbol')

mini_hgnc_df

          HGNC_ID  alias_symbol  NCBI_ID          ENSG_ID gene_symbol
0          HGNC:5           NaN        1  ENSG00000121410        A1BG
1      HGNC:37133      FLJ23569   503538  ENSG00000268895    A1BG-AS1
2      HGNC:24086           ACF    29974  ENSG00000148584        A1CF
3      HGNC:24086           ASP    29974  ENSG00000148584        A1CF
4      HGNC:24086         ACF64    29974  ENSG00000148584        A1CF
...           ...           ...      ...              ...         ...
67578  HGNC:29027      KIAA0399    23140  ENSG00000074755       ZZEF1
67579  HGNC:29027          ZZZ4    23140  ENSG00000074755       ZZEF1
67580  HGNC:29027      FLJ10821    23140  ENSG00000074755       ZZEF1
67581  HGNC:24523  DKFZP564I052    26009  ENSG00000036549        ZZZ3
67582  HGNC:24523         ATAC1    26009  ENSG00000036549        ZZZ3

[67583 rows x 5 columns]

In [1054]:
len(set(mini_hgnc_df['HGNC_ID']))

45646

In [1055]:
len(set(mini_hgnc_df['gene_symbol']))

45646

In [1056]:
len(set(mini_hgnc_df['alias_symbol']))

43187

In [1057]:
len(set(mini_hgnc_df['gene_symbol']) | set(mini_hgnc_df['alias_symbol']))

88307

In [1058]:
mini_hgnc_df = mini_hgnc_df.replace(" ", np.nan)
mini_hgnc_df = mini_hgnc_df.replace("", np.nan)
mini_hgnc_df = mini_hgnc_df.replace("-", np.nan)
unique_hcng_df = mini_hgnc_df[mini_hgnc_df['HGNC_ID'].duplicated(keep=False) == False]
# Count rows with missing gene symbols before dropping
no_symbol_count = mini_hgnc_df["gene_symbol"].isna().sum()
no_symbol_count

0

In [1059]:
no_alias_symbol_count = unique_hcng_df["alias_symbol"].isna().sum()
no_alias_symbol_count

22999

In [1060]:
orf_rows = mini_hgnc_df[
    mini_hgnc_df['gene_symbol']
    .str.contains(r'^C.*ORF', case=False, na=False) &
    ~mini_hgnc_df['gene_symbol']
    .str.contains('-', na=False)
]
len(orf_rows)

470

In [1061]:
count_loc = mini_hgnc_df['gene_symbol'].str.startswith('LOC', na=False).sum()
count_loc

0

In [1062]:
count_FAM = mini_hgnc_df['gene_symbol'].str.startswith('FAM', na=False).sum()
count_FAM

494

In [1063]:
count_KIAA = mini_hgnc_df['gene_symbol'].str.startswith('KIAA', na=False).sum()
count_KIAA

46

In [1064]:
mask = mini_hgnc_df['gene_symbol'].str.contains('CCV', na=False) 

# Use the boolean mask to filter the DataFrame
filtered_df = mini_hgnc_df[mask]
filtered_df

        HGNC_ID alias_symbol  NCBI_ID ENSG_ID gene_symbol
6727  HGNC:1624       CTRCT8     <NA>     NaN         CCV

In [1065]:
create_ap_collision_df(mini_hgnc_df, "HGNC")

All collisions are present in gene alias lists.

/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/1363854315.py:69: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ap_collision_xxxx_df = ap_collision_xxxx_df.applymap(lambda x: ', '.join(map(str, x)) if isinstance(x, set) else x)

(  HGNC_ID alias_symbol  NCBI_ID          ENSG_ID gene_symbol
 0       5          NaN        1  ENSG00000121410        A1BG
 1   37133     FLJ23569   503538  ENSG00000268895    A1BG-AS1
 2   24086          ACF    29974  ENSG00000148584        A1CF
 3   24086          ASP    29974  ENSG00000148584        A1CF
 4   24086        ACF64    29974  ENSG00000148584        A1CF,
   HGNC_ID alias_symbol  NCBI_ID          ENSG_ID gene_symbol
 0       5          NaN        1  ENSG00000121410        A1BG
 1   37133     FLJ23569   503538  ENSG00000268895    A1BG-AS1
 2   24086          ACF    29974  ENSG00000148584        A1CF
 3   24086          ASP    29974  ENSG00000148584        A1CF
 4   24086        ACF64    29974  ENSG00000148584        A1CF,
       HGNC_ID alias_symbol  NCBI_ID          ENSG_ID gene_symbol collision  \
 42104   14947        AAVS1    54776  ENSG00000125503    PPP1R12C     AAVS1
 56627   11177        ACAT1     6646  ENSG00000057252       SOAT1     ACAT1
 56628   11178        ACAT2     8435  ENSG00000167780       SOAT2     ACAT2
 17689    4319         ACLS     2737  ENSG00000106571        GLI3      ACLS
 35323    7694         ACP1     4706  ENSG00000004779     NDUFAB1      ACP1

       source
 42104   HGNC
 56627   HGNC
 56628   HGNC
 17689   HGNC
 35323   HGNC  )

In [1066]:
mini_hgnc_df= pd.read_csv(
    "../output/mini_hgnc_df.csv", index_col=[0])
mini_hgnc_df

       HGNC_ID  alias_symbol   NCBI_ID          ENSG_ID gene_symbol
0            5           NaN       1.0  ENSG00000121410        A1BG
1        37133      FLJ23569  503538.0  ENSG00000268895    A1BG-AS1
2        24086           ACF   29974.0  ENSG00000148584        A1CF
3        24086           ASP   29974.0  ENSG00000148584        A1CF
4        24086         ACF64   29974.0  ENSG00000148584        A1CF
...        ...           ...       ...              ...         ...
67578    29027      KIAA0399   23140.0  ENSG00000074755       ZZEF1
67579    29027          ZZZ4   23140.0  ENSG00000074755       ZZEF1
67580    29027      FLJ10821   23140.0  ENSG00000074755       ZZEF1
67581    24523  DKFZP564I052   26009.0  ENSG00000036549        ZZZ3
67582    24523         ATAC1   26009.0  ENSG00000036549        ZZZ3

[67583 rows x 5 columns]

In [1067]:
# groupby name and return a boolean of whether each has more than 1 unique Country
multi_primary = mini_hgnc_df.groupby(["gene_symbol"]).HGNC_ID.nunique().gt(1)

# use loc to only see those values that have `True` in `multi_primary`:
mini_hgnc_df.loc[mini_hgnc_df.gene_symbol.isin(multi_primary[multi_primary].index)].sort_values(by='gene_symbol').head(50)

Empty DataFrame
Columns: [HGNC_ID, alias_symbol, NCBI_ID, ENSG_ID, gene_symbol]
Index: []

In [1068]:
subset_genes_hgnc_df = pd.read_csv(
    "../output/subset_genes_hgnc_df.csv", index_col=[0])
subset_genes_hgnc_df

       HGNC_ID  alias_symbol   NCBI_ID          ENSG_ID gene_symbol
0            5           NaN       1.0  ENSG00000121410        A1BG
1        37133      FLJ23569  503538.0  ENSG00000268895    A1BG-AS1
2        24086           ACF   29974.0  ENSG00000148584        A1CF
3        24086           ASP   29974.0  ENSG00000148584        A1CF
4        24086         ACF64   29974.0  ENSG00000148584        A1CF
...        ...           ...       ...              ...         ...
67578    29027      KIAA0399   23140.0  ENSG00000074755       ZZEF1
67579    29027          ZZZ4   23140.0  ENSG00000074755       ZZEF1
67580    29027      FLJ10821   23140.0  ENSG00000074755       ZZEF1
67581    24523  DKFZP564I052   26009.0  ENSG00000036549        ZZZ3
67582    24523         ATAC1   26009.0  ENSG00000036549        ZZZ3

[67583 rows x 5 columns]

In [1069]:
subset_genes_hgnc_df.loc[
    subset_genes_hgnc_df["gene_symbol"] == "ARK2C"
]

      HGNC_ID alias_symbol   NCBI_ID          ENSG_ID gene_symbol
2708    31696        ARKL2  494470.0  ENSG00000141622       ARK2C
2709    31696     RNF111L2  494470.0  ENSG00000141622       ARK2C
2710    31696        Ark2C  494470.0  ENSG00000141622       ARK2C
2711    31696      lncAMPC  494470.0  ENSG00000141622       ARK2C

In [1070]:
merged_alias_ap_collision_hgnc_df = pd.read_csv(
    "../output/merged_alias_ap_collision_hgnc_df.csv", index_col=[0])
merged_alias_ap_collision_hgnc_df

,gene_symbol,alias_symbol,ENSG_ID,HGNC_ID,NCBI_ID,collision,source
0,PPP1R12C,"DKFZP434D0412,p84,MBS85,p85,AAVS1",ENSG00000125503,14947,54776,AAVS1,HGNC
1,SOAT1,"ACAT,ACAT1",ENSG00000057252,11177,6646,ACAT1,HGNC
2,SOAT2,ACAT2,ENSG00000167780,11178,8435,ACAT2,HGNC
3,GLI3,"PAP-A,PAPA,PAPA1,PAPB,ACLS,PPDIV",ENSG00000106571,4319,2737,ACLS,HGNC
4,NDUFAB1,"SDAP,FASN2A,ACP,ACP1",ENSG00000004779,7694,4706,ACP1,HGNC
...,...,...,...,...,...,...,...
655,ZNF121,"ZHC32,ZNF20",ENSG00000197961,12904,7675,ZNF20,HGNC
656,RNF141,"ZFP26,ZNF230",ENSG00000110315,21159,50862,ZNF230,HGNC
657,ZNF106,"ZNF474,SH3BP3",ENSG00000103994,12886,64397,ZNF474,HGNC
658,ZFP1,"FLJ34243,ZNF475",ENSG00000184517,23328,162239,ZNF475,HGNC
659,ZNF208,"PMIDP,ZNF95",ENSG00000160321,12999,7757,ZNF95,HGNC

### Make a set of the primary gene symbols

In [1071]:
hgnc_gene_symbol_set = set(mini_hgnc_df["gene_symbol"])
# all_gene_symbols_set

In [1072]:
total_number_hgnc_gene_symbols = len(hgnc_gene_symbol_set)
total_number_hgnc_gene_symbols

45646

How many collisions are there? How many records are involved in one?

In [1073]:
hgnc_alias_primary_collision_set = set(merged_alias_ap_collision_hgnc_df["collision"])
len(hgnc_alias_primary_collision_set)

568

In [1074]:
hgnc_alias_primary_collision_primary_symbol_set = set(merged_alias_ap_collision_hgnc_df["gene_symbol"])
len(hgnc_alias_primary_collision_primary_symbol_set)

644

# NCBI Info

In [1075]:
file_path = "../input/Homo_sapiens.gene_info20250625"

mini_ncbi_df = pd.read_csv(file_path, sep="\t")
# Drop all columns besides ENSG_ID, gene_symbol, and alias_symbol
mini_ncbi_df = mini_ncbi_df[
["GeneID", "Symbol", "Synonyms", "dbXrefs"]
]
mini_ncbi_df = mini_ncbi_df.rename(
    columns={"GeneID": "NCBI_ID", "Symbol": "gene_symbol", "Synonyms": "alias_symbol"})

Split dbXrefs into individual columns

In [1076]:
mini_ncbi_df = mini_ncbi_df.assign(
    MIM=np.nan,
    HGNC_ID=np.nan,
    ENSG_ID=np.nan,
    AllianceGenome=np.nan,
    MIRbase=np.nan,
    IMGTgene_db=np.nan,
    dash=np.nan,
    unknown=np.nan,
)

In [1077]:
index_pos = 0

print(len(mini_ncbi_df))
while index_pos < len(mini_ncbi_df):
    xrefs = mini_ncbi_df["dbXrefs"][index_pos].split("|")

    for xref in xrefs:
        xref = xref.lower()
        if xref.startswith("mim:"):
            xref = xref.replace("mim:", "")
            mini_ncbi_df["MIM"][index_pos] = xref
        elif xref.startswith("hgnc:hgnc:"):
            xref = xref.replace("hgnc:hgnc:", "")
            mini_ncbi_df["HGNC_ID"][index_pos] = xref
        elif xref.startswith("ensembl:"):
            xref = xref.replace("ensembl:", "")
            mini_ncbi_df["ENSG_ID"][index_pos] = xref
        elif xref.startswith("alliancegenome:"):
            xref = xref.replace("alliancegenome:", "")
            mini_ncbi_df["AllianceGenome"][index_pos] = xref
        elif xref.startswith("mirbase"):
            xref = xref.replace("mirbase:", "")
            mini_ncbi_df["MIRbase"][index_pos] = xref
        elif xref.startswith("imgt/gene-db:"):
            xref = xref.replace("imgt/gene-db:", "")
            mini_ncbi_df["IMGTgene_db"][index_pos] = xref
        elif xref.startswith("-"):
            mini_ncbi_df["dash"][index_pos] = xref
        else:
            mini_ncbi_df["unknown"][index_pos] = xref

    index_pos += 1
    pass

print(index_pos)

193580

/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  mini_ncbi_df["MIM"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df["MIM"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '138670' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mini_ncbi_df["MIM"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:14: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  mini_ncbi_df["HGNC_ID"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df["HGNC_ID"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mini_ncbi_df["HGNC_ID"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:17: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  mini_ncbi_df["ENSG_ID"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df["ENSG_ID"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'ensg00000121410' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mini_ncbi_df["ENSG_ID"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:20: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  mini_ncbi_df["AllianceGenome"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df["AllianceGenome"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'hgnc:5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mini_ncbi_df["AllianceGenome"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:26: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  mini_ncbi_df["IMGTgene_db"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df["IMGTgene_db"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'cd1d' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mini_ncbi_df["IMGTgene_db"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:28: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  mini_ncbi_df["dash"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df["dash"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mini_ncbi_df["dash"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:23: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  mini_ncbi_df["MIRbase"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df["MIRbase"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'mi0000060' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mini_ncbi_df["MIRbase"][index_pos] = xref

193580

In [1078]:
mini_ncbi_df["ENSG_ID"] = mini_ncbi_df["ENSG_ID"].str.replace("ensg", "ENSG", 1)

In [1079]:
mini_ncbi_df = mini_ncbi_df.drop(
    [
        "AllianceGenome",
        "MIRbase",
        "IMGTgene_db",
        "dash",
        "unknown",
        "dbXrefs",
        "MIM",
    ],
    axis=1,
)
mini_ncbi_df

,NCBI_ID,gene_symbol,alias_symbol,HGNC_ID,ENSG_ID
0,1,A1BG,A1B|ABG|GAB|HYST2477,5,ENSG00000121410
1,2,A2M,A2MD|CPAMD5|FWP007|S863-7,7,ENSG00000175899
2,9,NAT1,AAC1|MNAT|NAT-1|NATI,7645,ENSG00000171428
3,10,NAT2,AAC2|NAT-2|PNAT,7646,ENSG00000156006
4,11,NATP,AACP|NATP1,15,NaN
...,...,...,...,...,...
193575,8923215,trnD,-,NaN,NaN
193576,8923216,trnP,-,NaN,NaN
193577,8923217,trnA,-,NaN,NaN
193578,8923218,COX1,-,NaN,NaN
193579,8923219,16S rRNA,-,NaN,NaN

In [1080]:
len(set(mini_ncbi_df['NCBI_ID']))

193580

In [1081]:
len(set(mini_ncbi_df['gene_symbol']))

193427

In [1082]:
len(set(mini_ncbi_df['alias_symbol']))

27600

In [1083]:
len(set(mini_ncbi_df['gene_symbol']) | set(mini_ncbi_df['alias_symbol']))

220799

In [1084]:
mini_ncbi_df = mini_ncbi_df.replace(" ", np.nan)
mini_ncbi_df = mini_ncbi_df.replace("", np.nan)
mini_ncbi_df = mini_ncbi_df.replace("-", np.nan)

unique_ncbi_df = mini_ncbi_df[mini_ncbi_df['NCBI_ID'].duplicated(keep=False) == False]

# Count rows with missing gene symbols before dropping
no_symbol_count = mini_ncbi_df["gene_symbol"].isna().sum()
no_symbol_count

0

In [1085]:
no_alias_symbol_count = unique_ncbi_df["alias_symbol"].isna().sum()
no_alias_symbol_count

165885

In [1086]:
orf_rows = mini_ncbi_df[
    mini_ncbi_df['gene_symbol']
    .str.contains(r'^C.*ORF', case=False, na=False) &
    ~mini_ncbi_df['gene_symbol']
    .str.contains('-', na=False)
]
len(orf_rows)

248

In [1087]:
count_loc = mini_ncbi_df['gene_symbol'].str.startswith('LOC', na=False).sum()
count_loc

147700

In [1088]:
count_FAM = mini_ncbi_df['gene_symbol'].str.startswith('FAM', na=False).sum()
count_FAM

396

In [1089]:
count_KIAA = mini_ncbi_df['gene_symbol'].str.startswith('KIAA', na=False).sum()
count_KIAA

37

In [1090]:
# groupby name and return a boolean of whether each has more than 1 unique Country
multi_primary = mini_ncbi_df.groupby(["gene_symbol"]).NCBI_ID.nunique().gt(1)

# use loc to only see those values that have `True` in `multi_country`:
mini_ncbi_df.loc[mini_ncbi_df.gene_symbol.isin(multi_primary[multi_primary].index)].sort_values(by='gene_symbol').head(60)

          NCBI_ID gene_symbol    alias_symbol HGNC_ID          ENSG_ID
193532    6775087    12S rRNA             NaN     NaN              NaN
193573    8923213    12S rRNA             NaN     NaN              NaN
193548    8923188        ATP6             NaN     NaN              NaN
3522         4508        ATP6  ATPase6|MTATP6    7414              NaN
193519    6775074        ATP6             NaN     NaN              NaN
3523         4509        ATP8  ATPase8|MTATP8    7415              NaN
193522    6775077        ATP8             NaN     NaN              NaN
193571    8923211        ATP8             NaN     NaN              NaN
193528    6775083        COX1             NaN     NaN              NaN
193578    8923218        COX1             NaN     NaN              NaN
3525         4512        COX1       COI|MTCO1    7419              NaN
193562    8923202        COX2             NaN     NaN              NaN
193524    6775079        COX2             NaN     NaN              NaN
3526         4513        COX2      COII|MTCO2    7421              NaN
193547    8923187        COX3             NaN     NaN              NaN
3527         4514        COX3     COIII|MTCO3    7422              NaN
193518    6775073        COX3             NaN     NaN              NaN
3529         4519        CYTB           MTCYB    7427              NaN
193510    6775065        CYTB             NaN     NaN              NaN
193565    8923205        CYTB             NaN     NaN              NaN
52286   107648861    DEL11P13       C11DELp13     NaN              NaN
36284   100528024    DEL11P13  C11DELp13|WAGR     NaN              NaN
31435   100240737     DEL1P36        C1DELp36     NaN              NaN
63076   123670537     DEL1P36        C1DELp36     NaN              NaN
2459         3045         HBD             HBK    4829  ENSG00000223609
30652   100187828         HBD             NaN     NaN              NaN
35568   100505381        MMD2             NaN     NaN              NaN
19942      221938        MMD2          PAQR10   30133  ENSG00000136297
3538         4535         ND1           MTND1    7455              NaN
193569    8923209         ND1             NaN     NaN              NaN
193543    6775098         ND1             NaN     NaN              NaN
193539    6775094         ND2             NaN     NaN              NaN
3539         4536         ND2           MTND2    7456              NaN
193572    8923212         ND2             NaN     NaN              NaN
193566    8923206         ND3             NaN     NaN              NaN
3540         4537         ND3           MTND3    7458              NaN
193521    6775076         ND3             NaN     NaN              NaN
193517    6775072         ND4             NaN     NaN              NaN
3541         4538         ND4           MTND4    7459              NaN
193557    8923197         ND4             NaN     NaN              NaN
193516    6775071        ND4L             NaN     NaN              NaN
193561    8923201        ND4L             NaN     NaN              NaN
3542         4539        ND4L          MTND4L    7460              NaN
193511    6775066         ND5             NaN     NaN              NaN
3543         4540         ND5           MTND5    7461              NaN
193570    8923210         ND5             NaN     NaN              NaN
193508    6775063         ND6             NaN     NaN              NaN
3544         4541         ND6           MTND6    7462              NaN
193558    8923198         ND6             NaN     NaN              NaN
3550         4549        RNR1          MTRNR1    7470              NaN
4762         6052        RNR1             NaN   10082              NaN
3551         4550        RNR2          MTRNR2    7471              NaN
4763         6053        RNR2             NaN   10083              NaN
5560         7006         TEC          PSCTK4   11719  ENSG00000135605
28617   100124696         TEC             NaN     NaN              NaN
65888   124901561   TRNAA-AGC             NaN     NaN              NaN
65889   124901562   TRNAA-AGC             NaN     NaN              NaN
70782   124906586   TRNAA-AGC             NaN     NaN              NaN
65891   124901564   TRNAA-AGC             NaN     NaN              NaN
65892   124901565   TRNAA-AGC             NaN     NaN              NaN

In [1091]:
mini_ncbi_df['alias_symbol'] = mini_ncbi_df['alias_symbol'].str.split('|')
mini_ncbi_df = mini_ncbi_df.explode('alias_symbol')
mini_ncbi_df

        NCBI_ID gene_symbol alias_symbol HGNC_ID          ENSG_ID
0             1        A1BG          A1B       5  ENSG00000121410
0             1        A1BG          ABG       5  ENSG00000121410
0             1        A1BG          GAB       5  ENSG00000121410
0             1        A1BG     HYST2477       5  ENSG00000121410
1             2         A2M         A2MD       7  ENSG00000175899
...         ...         ...          ...     ...              ...
193575  8923215        trnD          NaN     NaN              NaN
193576  8923216        trnP          NaN     NaN              NaN
193577  8923217        trnA          NaN     NaN              NaN
193578  8923218        COX1          NaN     NaN              NaN
193579  8923219    16S rRNA          NaN     NaN              NaN

[240508 rows x 5 columns]

In [1092]:
create_ap_collision_df(mini_ncbi_df, "NCBI")

All collisions are present in gene alias lists.

/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/1363854315.py:69: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ap_collision_xxxx_df = ap_collision_xxxx_df.applymap(lambda x: ', '.join(map(str, x)) if isinstance(x, set) else x)

(   NCBI_ID gene_symbol alias_symbol HGNC_ID          ENSG_ID
 0        1        A1BG          A1B       5  ENSG00000121410
 0        1        A1BG          ABG       5  ENSG00000121410
 0        1        A1BG          GAB       5  ENSG00000121410
 0        1        A1BG     HYST2477       5  ENSG00000121410
 1        2         A2M         A2MD       7  ENSG00000175899,
    NCBI_ID gene_symbol alias_symbol HGNC_ID          ENSG_ID
 0        1        A1BG          A1B       5  ENSG00000121410
 0        1        A1BG          ABG       5  ENSG00000121410
 0        1        A1BG          GAB       5  ENSG00000121410
 0        1        A1BG     HYST2477       5  ENSG00000121410
 1        2         A2M         A2MD       7  ENSG00000175899,
        NCBI_ID gene_symbol alias_symbol HGNC_ID          ENSG_ID collision  \
 2809      3494       IGHA2          A2M    5479  ENSG00000211890       A2M
 24213   404744   NPSR1-AS1         AAA1   22128  ENSG00000197085      AAA1
 16372    89876      CFAP91         AAT1   24010  ENSG00000183833      AAT1
 2307      2875         GPT         AAT1    4552  ENSG00000167701      AAT1
 12222    54776    PPP1R12C        AAVS1   14947  ENSG00000125503     AAVS1

       source
 2809    NCBI
 24213   NCBI
 16372   NCBI
 2307    NCBI
 12222   NCBI  )

In [1093]:
mini_ncbi_df= pd.read_csv(
    "../output/mini_ncbi_df.csv", index_col=[0])
mini_ncbi_df

        NCBI_ID gene_symbol alias_symbol  HGNC_ID          ENSG_ID
0             1        A1BG          A1B      5.0  ENSG00000121410
0             1        A1BG          ABG      5.0  ENSG00000121410
0             1        A1BG          GAB      5.0  ENSG00000121410
0             1        A1BG     HYST2477      5.0  ENSG00000121410
1             2         A2M         A2MD      7.0  ENSG00000175899
...         ...         ...          ...      ...              ...
193575  8923215        trnD          NaN      NaN              NaN
193576  8923216        trnP          NaN      NaN              NaN
193577  8923217        trnA          NaN      NaN              NaN
193578  8923218        COX1          NaN      NaN              NaN
193579  8923219    16S rRNA          NaN      NaN              NaN

[92719 rows x 5 columns]

In [1094]:
mini_ncbi_df[mini_ncbi_df['gene_symbol'].str.startswith('LOC')]

Empty DataFrame
Columns: [NCBI_ID, gene_symbol, alias_symbol, HGNC_ID, ENSG_ID]
Index: []

In [1095]:
subset_genes_ncbi_df = pd.read_csv(
    "../output/subset_genes_ncbi_df.csv", index_col=[0])
subset_genes_ncbi_df

        NCBI_ID gene_symbol alias_symbol  HGNC_ID          ENSG_ID
0             1        A1BG          A1B      5.0  ENSG00000121410
0             1        A1BG          ABG      5.0  ENSG00000121410
0             1        A1BG          GAB      5.0  ENSG00000121410
0             1        A1BG     HYST2477      5.0  ENSG00000121410
1             2         A2M         A2MD      7.0  ENSG00000175899
...         ...         ...          ...      ...              ...
193575  8923215        trnD          NaN      NaN              NaN
193576  8923216        trnP          NaN      NaN              NaN
193577  8923217        trnA          NaN      NaN              NaN
193578  8923218        COX1          NaN      NaN              NaN
193579  8923219    16S rRNA          NaN      NaN              NaN

[92719 rows x 5 columns]

In [1096]:
merged_alias_ap_collision_ncbi_df = pd.read_csv(
    "../output/merged_alias_ap_collision_ncbi_df.csv", index_col=[0])
merged_alias_ap_collision_ncbi_df

,gene_symbol,alias_symbol,ENSG_ID,HGNC_ID,NCBI_ID,collision,source
0,IGHA2,A2M,ENSG00000211890,5479.0,3494,A2M,NCBI
1,NPSR1-AS1,AAA1,ENSG00000197085,22128.0,404744,AAA1,NCBI
2,CFAP91,"AAT1,AAT1alpha,C3orf15,CaM-IP2,MAATS1,SPATA26,...",ENSG00000183833,24010.0,89876,AAT1,NCBI
3,GPT,"AAT1,ALT,ALT1,GPT1,SGPT",ENSG00000167701,4552.0,2875,AAT1,NCBI
4,PPP1R12C,"AAVS1,LENG3,MBS85,p84,p85",ENSG00000125503,14947.0,54776,AAVS1,NCBI
...,...,...,...,...,...,...,...
2167,CCDC106,"HSU79303,ZNF581",ENSG00000173581,30181.0,29903,ZNF581,NCBI
2168,ZNF785,ZNF688,ENSG00000197162,26496.0,146540,ZNF688,NCBI
2169,ZP4,"ZBP,ZP1,ZP1B,ZPB,ZPB2,Zp-4",ENSG00000116996,15770.0,57829,ZP1,NCBI
2171,ZNF446,"ZKSCAN20,ZSCAN30,ZSCAN52",ENSG00000083838,21036.0,55663,ZSCAN30,NCBI
2172,ZKSCAN2,"ZNF694,ZSCAN31,ZSCAN34",ENSG00000155592,25677.0,342357,ZSCAN31,NCBI

### Make a set of primary gene symbols

In [1097]:
ncbi_gene_symbol_set = set(mini_ncbi_df["gene_symbol"])

In [1098]:
total_number_ncbi_gene_symbols = len(ncbi_gene_symbol_set)
total_number_ncbi_gene_symbols

45727

How many collisions are there? How many records are involved in one?

In [1099]:
ncbi_alias_primary_collision_set = set(
    merged_alias_ap_collision_ncbi_df["collision"]
)
len(ncbi_alias_primary_collision_set)

1490

TODO: make the records set based on ID not symbol

In [1100]:
ncbi_alias_primary_collision_primary_symbol_set = set(
    merged_alias_ap_collision_ncbi_df["gene_symbol"]
)
len(ncbi_alias_primary_collision_primary_symbol_set)

1735

# Merge 3 sets together

In [1101]:
merged_alias_primary_collisions_df = pd.concat(
    [
        merged_alias_ap_collision_hgnc_df[
            ["gene_symbol", "alias_symbol", "collision", "source"]
        ],
        merged_alias_ap_collision_ncbi_df[
            ["gene_symbol", "alias_symbol", "collision", "source"]
        ],
        merged_alias_ap_collision_ensg_df[
            ["gene_symbol", "alias_symbol", "collision", "source"]
        ],
    ]
)
merged_alias_primary_collisions_df

    gene_symbol                       alias_symbol collision source
0      PPP1R12C  DKFZP434D0412,p84,MBS85,p85,AAVS1     AAVS1   HGNC
1         SOAT1                         ACAT,ACAT1     ACAT1   HGNC
2         SOAT2                              ACAT2     ACAT2   HGNC
3          GLI3   PAP-A,PAPA,PAPA1,PAPB,ACLS,PPDIV      ACLS   HGNC
4       NDUFAB1               SDAP,FASN2A,ACP,ACP1      ACP1   HGNC
..          ...                                ...       ...    ...
807      ZNF121                D19S204,ZHC32,ZNF20     ZNF20   ENSG
808      RNF141                       ZFP26,ZNF230    ZNF230   ENSG
809    ZNF322P1                     ZNF322,ZNF322B    ZNF322   ENSG
810      ZNF106               SH3BP3,ZFP106,ZNF474    ZNF474   ENSG
811        ZFP1                    FLJ34243,ZNF475    ZNF475   ENSG

[3147 rows x 4 columns]

In [1102]:
merged_alias_primary_collisions_df.loc[
    merged_alias_primary_collisions_df["collision"] == "CFM1"
]

    gene_symbol            alias_symbol collision source
87        RFLNB  MGC45871,RefilinB,Cfm1      CFM1   HGNC
215       RFLNB            CFM1,FAM101B      CFM1   NCBI

In [1103]:
duplicate_rows = merged_alias_primary_collisions_df[merged_alias_primary_collisions_df.duplicated(subset=['collision','source'], keep=False)]
duplicate_rows

    gene_symbol               alias_symbol collision source
13        UBE3A     AS,ANCR,E6-AP,FLJ26981      ANCR   HGNC
14        DANCR      ANCR,AGU2,lncRNA-ANCR      ANCR   HGNC
15     SLC25A23      FLJ30339,MGC2615,APC2      APC2   HGNC
16       ANAPC2              APC2,KIAA1406      APC2   HGNC
19       AKR1B1                         AR        AR   HGNC
..          ...                        ...       ...    ...
796       VARS1                 VARS,VARS2     VARS2   ENSG
797       VARS1                 VARS,VARS2     VARS2   ENSG
798       VARS1                 VARS,VARS2     VARS2   ENSG
804     WDR82P1  HCG26824,SW2,WDR82,WDR82B     WDR82   ENSG
805     WDR82P1  HCG26824,SW2,WDR82,WDR82B     WDR82   ENSG

[820 rows x 4 columns]

In [1104]:
duplicate_rows = merged_alias_primary_collisions_df[merged_alias_primary_collisions_df.duplicated(subset=['gene_symbol','source'], keep=False)]
duplicate_rows

    gene_symbol               alias_symbol collision source
5        TADA2A    ADA2,ADA2A,HADA2,TADA2L      ADA2   ENSG
6        TADA2A    ADA2,ADA2A,HADA2,TADA2L      ADA2   ENSG
36     SERPINA2     ARGS,ATR,PIL,SERPINA2P       ATR   ENSG
37     SERPINA2     ARGS,ATR,PIL,SERPINA2P       ATR   ENSG
41      B3GNTL1              B3GNT8,B3GNT8    B3GNT8   ENSG
..          ...                        ...       ...    ...
796       VARS1                 VARS,VARS2     VARS2   ENSG
797       VARS1                 VARS,VARS2     VARS2   ENSG
798       VARS1                 VARS,VARS2     VARS2   ENSG
804     WDR82P1  HCG26824,SW2,WDR82,WDR82B     WDR82   ENSG
805     WDR82P1  HCG26824,SW2,WDR82,WDR82B     WDR82   ENSG

[151 rows x 4 columns]

# Convert to csv

In [1105]:
merged_alias_primary_collisions_df.to_csv(
    "../output/merged_alias_primary_collisions_df.csv", index=False
)

In [1106]:
common_ap_collisions = (
    ncbi_alias_primary_collision_primary_symbol_set
    & hgnc_alias_primary_collision_primary_symbol_set
    & ensg_alias_primary_collision_primary_symbol_set
)
common_ap_collisions

{'ABCD1',
 'ACD',
 'ACKR2',
 'ACOD1',
 'ACTBP8',
 'ADRA1D',
 'AGXT',
 'AIFM2',
 'AKR1B1',
 'AKR1B10',
 'ALPK3',
 'AMH',
 'ANAPC2',
 'ANKRD37',
 'ANTXR1',
 'AOC1',
 'APEX1',
 'AREG',
 'ARHGAP21',
 'ARHGEF7',
 'ARID4A',
 'ART4',
 'ARTN',
 'ASIC2',
 'AURKAIP1',
 'AZIN2',
 'BANF1P1',
 'BCAT2',
 'BRIP1',
 'BTF3P11',
 'BTN3A3',
 'C1D',
 'C1QTNF1',
 'C6orf89',
 'CACNA1A',
 'CADPS',
 'CADPS2',
 'CAPN5',
 'CARD16',
 'CCL13',
 'CCL14',
 'CCL15',
 'CCM2',
 'CD200R1',
 'CDH19',
 'CDH20',
 'CDPF1',
 'CELSR1',
 'CES1',
 'CFAP73',
 'CFH',
 'CHAF1B',
 'CHAMP1',
 'CHD6',
 'CHEK2',
 'CHORDC1',
 'CLASP1',
 'CLCF1',
 'CNGB1',
 'CNKSR2',
 'CNOT6',
 'CNRIP1',
 'CNTN1',
 'COASY',
 'COPS2',
 'COPS3',
 'CORIN',
 'COX7A2L',
 'CPA4',
 'CPAMD8',
 'CPNE1',
 'CPNE2',
 'CPPED1',
 'CREB3L4',
 'CSNK2A2',
 'CSTB',
 'CTDSP2',
 'CXCL10',
 'CXXC1',
 'CYCSP5',
 'CYP11B1',
 'CYP11B2',
 'CYP21A2',
 'CYP2A6',
 'DCAF5',
 'DCBLD2',
 'DDOST',
 'DDR2',
 'DDX11',
 'DDX18',
 'DEAF1',
 'DEFA6',
 'DEPDC1B',
 'DFFB',
 'DHX8',
 'DIDO1',
 'DLC1',
 'DLEC1',
 'DLGAP3',
 'DMAP1',
 'DMTF1',
 'DNPEP',
 'DPAGT1',
 'DPYSL2',
 'DSC3',
 'DUSP12',
 'DUSP28',
 'DYNLL1',
 'E2F1',
 'EIF2S1',
 'EIF4G2',
 'ELOF1',
 'EPAS1',
 'EPS8L1',
 'EPX',
 'ERC2',
 'ERCC4',
 'ETFA',
 'F3',
 'FA2H',
 'FABP5P1',
 'FADS1',
 'FANCA',
 'FASN',
 'FBF1',
 'FBXO5',
 'FCRLA',
 'FCRLB',
 'FEM1C',
 'FGF13',
 'FGFR1',
 'FLII',
 'FOXM1',
 'FYN',
 'FZD9',
 'FZR1',
 'GAL3ST3',
 'GALK2',
 'GALNT15',
 'GALNT18',
 'GALNTL6',
 'GALP',
 'GARS1',
 'GATD3',
 'GC',
 'GDF15',
 'GDNF',
 'GET1',
 'GJD3',
 'GKN1',
 'GLB1',
 'GLS2',
 'GMNN',
 'GNAI2',
 'GNPDA1',
 'GOLT1A',
 'GOLT1B',
 'GPI',
 'GPKOW',
 'GPNMB',
 'GPRIN1',
 'GPX7',
 'GRID1',
 'GRID2',
 'GTPBP4',
 'GUCY2C',
 'HCRT',
 'HCRTR1',
 'HECA',
 'HFE',
 'HID1',
 'HNF1A-AS1',
 'HOMER2',
 'HOOK1',
 'HOOK2',
 'HOOK3',
 'HRNR',
 'HSD17B4',
 'HSD17B7P2',
 'IAPP',
 'IFNA1',
 'IGF2BP3',
 'IL22',
 'IL6',
 'ILF3',
 'INSL3',
 'INSL6',
 'IPO4',
 'ITM2C',
 'KANSL1',
 'KCNA4',
 'KCNA5',
 'KCNH4',
 'KCNH8',
 'KCNN4',
 'KCTD11',
 'KHSRP',
 'KIF20B',
 'KIF2A',
 'KLF5',
 'KLHL7',
 'KLK1',
 'KLK6',
 'KLRG1',
 'KRTAP5-11',
 'KRTAP5-2',
 'KRTAP5-3',
 'KRTAP5-5',
 'KRTAP5-7',
 'KRTAP5-8',
 'KRTAP5-9',
 'LAMA4',
 'LDB2',
 'LGALS12',
 'LGALS13',
 'LGALSL',
 'LNPK',
 'LNX1',
 'LONP1',
 'LRIF1',
 'LRIG1',
 'LRP12',
 'LRP5',
 'LTB4R2',
 'LZTS1',
 'MAFIP',
 'MAGI1',
 'MAP4K2',
 'MAP4K5',
 'MAPRE2',
 'MB',
 'MBD1',
 'MBD4',
 'MBL2',
 'MED12',
 'MED22',
 'MED9',
 'MELTF',
 'METAP1',
 'METAP2',
 'MGAM',
 'MIPEP',
 'MLF2',
 'MMAB',
 'MMACHC',
 'MOCOS',
 'MOGAT1',
 'MOGAT2',
 'MOGAT3',
 'MRLN',
 'MRPL13',
 'MRPL41',
 'MRPS12',
 'MRPS28',
 'MRPS35',
 'MRTFA',
 'MS4A12',
 'MS4A4A',
 'MS4A7',
 'MTCH1',
 'MYCBP2',
 'MYDGF',
 'MYH7B',
 'MYL1',
 'MYO1C',
 'MYO1E',
 'MYT1',
 'MYZAP',
 'NANOGP2',
 'NANOGP4',
 'NANOGP7',
 'NANOS1',
 'NANOS2',
 'NANOS3',
 'NAPSA',
 'NAPSB',
 'NAT8',
 'NCOA2',
 'NCOA3',
 'NDRG1',
 'NDUFAB1',
 'NECTIN4',
 'NEDD4',
 'NELL2',
 'NFE2L1',
 'NKX2-1',
 'NLRP2B',
 'NLRP3',
 'NLRP4',
 'NLRP6',
 'NOL3',
 'NOL6',
 'NPPC',
 'NPRL2',
 'NPRL3',
 'NR5A1',
 'NRG1',
 'NT5C3A',
 'NTN1',
 'NUDT19',
 'OSER1',
 'PAEP',
 'PAK6',
 'PAPPA-AS1',
 'PARD3',
 'PCDHA4',
 'PCDHA6',
 'PCDHB11',
 'PCDHB16',
 'PCDHGA5',
 'PCDHGB4',
 'PDHX',
 'PDPK1',
 'PEDS1',
 'PGAM4',
 'PGAP1',
 'PGF',
 'PGPEP1',
 'PIGU',
 'PITRM1',
 'PKMYT1',
 'PKN1',
 'PLPP6',
 'PLPPR3',
 'PM20D1',
 'PMEL',
 'PMEPA1',
 'PMP22',
 'PMPCB',
 'PMS2CL',
 'PNKD',
 'PODXL',
 'POLK',
 'POLR1A',
 'POLR1B',
 'POLR1G',
 'PPIAP10',
 'PPP1R9B',
 'PPY',
 'PRDX5',
 'PRDX6',
 'PRG2',
 'PRICKLE1',
 'PRKD2',
 'PRKRA',
 'PRPF38B',
 'PRSS8',
 'PSG2',
 'PSMA7',
 'PSMD1',
 'PSMD2',
 'PTEN',
 'PTENP1',
 'PTPMT1',
 'PTPN18',
 'PTPRU',
 'PTRH2',
 'PXDN',
 'PXMP2',
 'PYDC1',
 'RAB43',
 'RAI1',
 'RBL1',
 'RDH14',
 'REXO2',
 'RGL4',
 'RGPD1',
 'RGS18',
 'RHEBP1',
 'RHOD',
 'RIMBP2',
 'RIN2',
 'RMRP',
 'RNASE1',
 'RNASE10',
 'RNASE12',
 'RNASE3',
 'RNASE6',
 'RNASE7',
 'RNASEH1P1',
 'RNF138',
 'RNF141',
 'RNF2',
 'RNF4',
 'RNF7',
 'RORA',
 'RPL15',
 'RPL17',
 'RPL23',
 'RRP1B',
 'RSC1A1',
 'RSL24D1',
 'S100A9',
 'S100G',
 'SBDS',
 'SCGB1D1',
 'SEC14L2',
 'SEC14L3',
 'SELENOP',
 'SEM1',
 'SEMA3F-AS1',
 'SEPSECS',
 'SERPINA2',
 'SERPINB8',
 'SF3B2',
 'SF3B3',
 'SFI1',
 'SGPP2',
 'SH2D1A',
 'SH3D19',
 'SLC19A1',
 'SLC25A1',
 'SLC25A15',
 'SLC25A16',
 'SLC25A21',
 'SLC25A23',
 'SLC35A1',
 'SLC38A1',
 'SLC38A2',
 'SLC6A20',
 'SLC7A8',
 'SLIT1',
 'SLIT3',
 'SLTM',
 'SLURP1',
 'SMIM29',
 'SMOC2',
 'SMOX',
 'SND1',
 'SNORA58',
 'SNORD115-45',
 'SNRPB2',
 'SNX33',
 'SOAT1',
 'SOAT2',
 'SOS1',
 'SOX9',
 'SP6',
 'SPATA17',
 'SPATS1',
 'SPNS1',
 'SPPL2A',
 'SPPL2B',
 'SRFBP1',
 'SRMS',
 'STK24',
 'STK4',
 'SYCP2',
 'TACR1',
 'TADA2A',
 'TDO2',
 'TENM1',
 'TENT4A',
 'TGFBRAP1',
 'THPO',
 'TIMP1',
 'TINAGL1',
 'TIRAP',
 'TMEM184B-AS1',
 'TMPRSS4',
 'TNIP1',
 'TNNI3',
 'TNPO1',
 'TOX4',
 'TP53RK',
 'TPGS1',
 'TRAPPC8',
 'TRAV1-1',
 'TSPO',
 'TTC5',
 'UBASH3A',
 'UBE2Z',
 'UCMA',
 'UGT2B4',
 'USP2-AS1',
 'USP21',
 'USP25',
 'USP32',
 'UTS2',
 'UXT',
 'VSIG2',
 'XPO1',
 'ZBTB32',
 'ZFP1',
 'ZNF106',
 'ZNF121',
 'ZNF160',
 'ZNF83'}

In [1107]:
len(common_ap_collisions)

488