### Import

In [2613]:
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [2614]:
def create_ap_collision_df(mini_xxxx_df: pd.DataFrame, source: str) -> pd.DataFrame:
    """Create a df of alias-primary collision symbols 

    :param mini_xxxx_df: Processed df of gene records
    :param source: Representation of the source of the gene records
    :param split_on_character: Character that is used to seperate alias symbols in the mini_xxxx_df
    :return: A df of genes that share an alias with another gene
    """

    #Strip "HGNC" from HGNC ID
    mini_xxxx_df["HGNC_ID"] = mini_xxxx_df["HGNC_ID"].str.lstrip("HGNC:")

    #Remove placeholder gene records (those with no primary gene symbol)
    mini_xxxx_df = mini_xxxx_df.replace(" ", np.nan)
    mini_xxxx_df = mini_xxxx_df.replace("", np.nan)
    mini_xxxx_df = mini_xxxx_df.replace("-", np.nan)
    mini_xxxx_df = mini_xxxx_df.dropna(subset=["gene_symbol"])

    #Remove placeholder LOC genes
    mini_xxxx_df = mini_xxxx_df[~mini_xxxx_df['gene_symbol'].str.startswith('LOC', na=False)]

    mini_xxxx_df['HGNC_ID'] = mini_xxxx_df['HGNC_ID'].fillna(0).astype(int)
    mini_xxxx_df['NCBI_ID'] = mini_xxxx_df['NCBI_ID'].fillna(0).astype(int)

    #mini_xxx_df
    ## no LOC genes (only present in NCBI)
    ## no records with no primary symbols (only present in ENSG)
    ## each alias on a separate row
    #Convert the df into a csv and save
    mini_xxxx_df.to_csv(f'../output/mini_{source.lower()}_df.csv', index=True) 

    #Make a new df where the alias symbols are merged together for each record
    merged_alias_xxxx_df = mini_xxxx_df.copy()
    merged_alias_xxxx_df["alias_symbol"] = merged_alias_xxxx_df["alias_symbol"].fillna("").astype(str)
    merged_alias_xxxx_df = (
    merged_alias_xxxx_df.groupby(
        [f"{source}_ID"], dropna=False
    )["alias_symbol"]
    .apply(lambda x: ",".join(x.dropna())).reset_index())

    #merged_alias_xxxx_df
    ##merging aliases associated with the same record (same gene record identifier) into a list
    #Convert the df into a csv and save
    merged_alias_xxxx_df.to_csv(f'../output/merged_alias_{source}_df.csv', index=True) 

    #Make a set of the primary gene symbols
    xxxx_gene_symbol_set = set(mini_xxxx_df["gene_symbol"])
    uppercased_xxxx_gene_symbol_set = {s.upper() for s in xxxx_gene_symbol_set}

    
    subset_genes_xxxx_df = mini_xxxx_df.copy()

    #Remove alias symbols that are an exact match to their respective primary gene symbol
    subset_genes_xxxx_df["alias_symbol_upper"] = subset_genes_xxxx_df["alias_symbol"].str.upper()
    subset_genes_xxxx_df["gene_symbol_upper"] = subset_genes_xxxx_df["gene_symbol"].str.upper()
    subset_genes_xxxx_df = subset_genes_xxxx_df[subset_genes_xxxx_df['gene_symbol_upper'] != subset_genes_xxxx_df['alias_symbol_upper']]
    subset_genes_xxxx_df = subset_genes_xxxx_df.drop(["alias_symbol_upper","gene_symbol_upper"], axis=1)

    #subset_genes_xxxx_df
    ## no aliases that match the primary gene symbol
    ## each alias on a separate row
    #Convert the df into a csv and save
    subset_genes_xxxx_df.to_csv(f'../output/subset_genes_{source}_df.csv', index=True) 

    #Create df with genes that have an alias that can be found as another gene's primary gene symbol
    ap_collision_xxxx_df = subset_genes_xxxx_df.copy()
    ap_collision_xxxx_df["alias_symbol_upper"] = ap_collision_xxxx_df["alias_symbol"].str.upper()

    #makes list of aliases into a set
    ap_collision_xxxx_df.loc[:, "alias_symbol_upper"] = ap_collision_xxxx_df["alias_symbol_upper"].apply(lambda x: {x})

    ap_collision_xxxx_df.loc[:, "collision"] = ap_collision_xxxx_df["alias_symbol_upper"].apply(
        lambda x: x & uppercased_xxxx_gene_symbol_set
    )
    ap_collision_xxxx_df = ap_collision_xxxx_df.drop("alias_symbol_upper", axis=1)
    ap_collision_xxxx_df = ap_collision_xxxx_df[ap_collision_xxxx_df["collision"].apply(lambda x: len(x) > 0)]
    #changes back the set of aliases to a list, and make the set of collisions to a list
    ap_collision_xxxx_df['collision'] = ap_collision_xxxx_df['collision'].apply(
        lambda x: ', '.join(map(str, x)) if isinstance(x, set) else x
    )
    ap_collision_xxxx_df = ap_collision_xxxx_df.sort_values("collision")

    #Add a source tag for future merging efforts
    ap_collision_xxxx_df["source"] = str(source.upper())

    #ap_collision_xxxx_df
    ## only the gene records with an alias that matches another gene record's primary gene symbol
    ## each alias on a separate row
    #Convert the df into a csv
    ap_collision_xxxx_df.to_csv(f'../output/single_alias_ap_collision_{source.lower()}_df.csv', index=True)

    #Create a secondary collision df that merges the alias symbols for each record
    merged_alias_ap_collision_xxxx_df = ap_collision_xxxx_df.drop(columns=['alias_symbol'])
    merged_alias_ap_collision_xxxx_df = pd.merge(merged_alias_ap_collision_xxxx_df, merged_alias_xxxx_df, on=[f"{source}_ID"], how="left")
    merged_alias_ap_collision_xxxx_df = merged_alias_ap_collision_xxxx_df[["gene_symbol","alias_symbol","ENSG_ID","HGNC_ID","NCBI_ID","collision","source"]]
    merged_alias_ap_collision_xxxx_df = merged_alias_ap_collision_xxxx_df.drop_duplicates(subset=[f"{source}_ID"])

    #Test to make sure all collisions are in the alias list for the record
    test_ap_collision_xxxx_df = merged_alias_ap_collision_xxxx_df.copy()
    test_ap_collision_xxxx_df["alias_symbol_upper"] = test_ap_collision_xxxx_df["alias_symbol"].str.upper()   
    test_ap_collision_xxxx_df['alias_symbol_upper'] = test_ap_collision_xxxx_df['alias_symbol_upper'].apply(lambda x: x if isinstance(x, list) else [x])
    test_ap_collision_xxxx_df['collision_in_alias'] = test_ap_collision_xxxx_df.apply(lambda row: row['collision'] in test_ap_collision_xxxx_df['alias_symbol_upper'].values, axis=1)
    true_count = test_ap_collision_xxxx_df['collision_in_alias'].sum()
    test_ap_collision_xxxx_df = test_ap_collision_xxxx_df.drop("alias_symbol_upper", axis=1)

    if true_count == 0:
        #merged_alias_ap_collision_xxxx_df
        ## only the gene records with an alias that matches another gene record's primary gene symbol
        ## merging aliases associated with the same record (same gene record identifier) into a list
        #Convert the df into a csv and save
        merged_alias_ap_collision_xxxx_df.to_csv(f'../output/merged_alias_ap_collision_{source.lower()}_df.csv', index=True)
        print("All collisions are present in gene alias lists.")
    else:
        print("Some collisions are not present in gene alias lists.")

    return mini_xxxx_df.head()

# Ensembl

In [2615]:
mini_ensg_df = pd.read_csv(
    "../input/ensg_biomart_gene20250625.txt", sep="\t",dtype={"NCBI gene (formerly Entrezgene) ID": pd.Int64Dtype()}
)
mini_ensg_df = mini_ensg_df.rename(
    columns={
        "HGNC ID": "HGNC_ID",
        "Gene Synonym": "alias_symbol",
        "Gene name": "gene_symbol",
        "Gene stable ID": "ENSG_ID",
        "NCBI gene (formerly Entrezgene) ID": "NCBI_ID",
    }
)
mini_ensg_df

                ENSG_ID  NCBI_ID     HGNC_ID alias_symbol gene_symbol
0       ENSG00000210049     <NA>   HGNC:7481         MTTF       MT-TF
1       ENSG00000210049     <NA>   HGNC:7481         TRNF       MT-TF
2       ENSG00000211459     <NA>   HGNC:7470          12S     MT-RNR1
3       ENSG00000211459     <NA>   HGNC:7470       MOTS-C     MT-RNR1
4       ENSG00000211459     <NA>   HGNC:7470       MTRNR1     MT-RNR1
...                 ...      ...         ...          ...         ...
133060  ENSG00000229388     <NA>  HGNC:52502    LINC01715    TAF12-DT
133061  ENSG00000289291     <NA>         NaN          NaN         NaN
133062  ENSG00000274978    26824  HGNC:10108      RNU11-1       RNU11
133063  ENSG00000274978    26824  HGNC:10108          U11       RNU11
133064  ENSG00000296488     <NA>         NaN          NaN         NaN

[133065 rows x 5 columns]

In [2616]:
mini_ensg_df = mini_ensg_df.replace(" ", np.nan)
mini_ensg_df = mini_ensg_df.replace("", np.nan)
mini_ensg_df = mini_ensg_df.replace("-", np.nan)
mini_ensg_df = mini_ensg_df.replace("<NA>", np.nan)

how many gene records for the Ensembl data set before any kind of cleaning?

In [2617]:
len(set(mini_ensg_df['ENSG_ID']))

86364

how many unique primary gene symbols are in the Ensembl data set?

In [2618]:
len(set(mini_ensg_df['gene_symbol']))

41165

how many unique alias gene symbols are in the Ensembl data set?

In [2619]:
len(set(mini_ensg_df['alias_symbol']))

55413

how many unique gene symbols in total are there in the Ensembl data set??

In [2620]:
len(set(mini_ensg_df['gene_symbol']) | set(mini_ensg_df['alias_symbol']))

95942

how many gene records have no primary gene symbol?

In [2621]:
unique_ensg_df = mini_ensg_df[mini_ensg_df['ENSG_ID'].duplicated(keep=False) == False]

# Count rows with missing gene symbols before dropping
no_symbol_count = mini_ensg_df["gene_symbol"].isna().sum()
no_symbol_count

38041

how many gene records have no alias symbols?

In [2622]:
# Now count rows in that subset where 'alias_symbol' is missing
no_alias_symbol_count = unique_ensg_df["alias_symbol"].isna().sum()
no_alias_symbol_count

57009

how many gene records have a primary gene symbol that is a C#orf?

In [2623]:
orf_rows = mini_ensg_df[
    mini_ensg_df['gene_symbol']
    .str.contains(r'^C.*ORF', case=False, na=False) &
    ~mini_ensg_df['gene_symbol']
    .str.contains('-', na=False)
]
len(orf_rows)

420

how many gene records that have a primary gene symbol that is a LOC placeholder?

In [2624]:
count_loc = mini_ensg_df['gene_symbol'].str.startswith('LOC', na=False).sum()
count_loc

0

how many gene records that have a primary gene symbol that is a FAM placeholder?

In [2625]:
count_FAM = mini_ensg_df['gene_symbol'].str.startswith('FAM', na=False).sum()
count_FAM

738

how many gene records that have a primary gene symbol that is a KIAA placeholder?

In [2626]:
count_KIAA = mini_ensg_df['gene_symbol'].str.startswith('KIAA', na=False).sum()
count_KIAA

51

which gene records share a primary symbol with other gene records?

In [2627]:
# groupby name and return a boolean of whether each has more than 1 unique ENSG ID
multi_primary = mini_ensg_df.groupby(["gene_symbol"]).ENSG_ID.nunique().gt(1)

# use loc to only see those values that have `True` in `multi_primary`:
mini_ensg_df.loc[mini_ensg_df.gene_symbol.isin(multi_primary[multi_primary].index)].sort_values(by='gene_symbol').iloc[6000:6060]

                ENSG_ID  NCBI_ID     HGNC_ID alias_symbol gene_symbol
92891   ENSG00000138641     8916   HGNC:4876     KIAA0032       HERC3
92878   ENSG00000287542     8916         NaN          NaN       HERC3
52117   ENSG00000273529   388585  HGNC:19764      BHLHB38        HES5
14696   ENSG00000197921   388585  HGNC:19764      BHLHB38        HES5
4416    ENSG00000280680    55733  HGNC:18270       MART-2        HHAT
4421    ENSG00000280680    55733  HGNC:18270          SKN        HHAT
4418    ENSG00000280680    55733  HGNC:18270         RASP        HHAT
4417    ENSG00000280680    55733  HGNC:18270        MART2        HHAT
43282   ENSG00000054392    55733  HGNC:18270        MART2        HHAT
43285   ENSG00000054392    55733  HGNC:18270          SKI        HHAT
4415    ENSG00000280680    55733  HGNC:18270         GUP2        HHAT
4414    ENSG00000280680    55733  HGNC:18270     FLJ10724        HHAT
4419    ENSG00000280680    55733  HGNC:18270          SIT        HHAT
43284   ENSG00000054392    55733  HGNC:18270          SIT        HHAT
43283   ENSG00000054392    55733  HGNC:18270         RASP        HHAT
43281   ENSG00000054392    55733  HGNC:18270       MART-2        HHAT
43280   ENSG00000054392    55733  HGNC:18270         GUP2        HHAT
43279   ENSG00000054392    55733  HGNC:18270     FLJ10724        HHAT
43286   ENSG00000054392    55733  HGNC:18270          SKN        HHAT
4420    ENSG00000280680    55733  HGNC:18270          SKI        HHAT
72820   ENSG00000235657     3105   HGNC:4931          NaN       HLA-A
68794   ENSG00000224320     3105   HGNC:4931          NaN       HLA-A
66867   ENSG00000227715     3105   HGNC:4931          NaN       HLA-A
76339   ENSG00000231834     3105   HGNC:4931          NaN       HLA-A
101068  ENSG00000206503     3105   HGNC:4931          NaN       HLA-A
67552   ENSG00000206505     3105   HGNC:4931          NaN       HLA-A
79893   ENSG00000223980     3105   HGNC:4931          NaN       HLA-A
66597   ENSG00000229215     3105   HGNC:4931          NaN       HLA-A
79909   ENSG00000224608     3106   HGNC:4932           AS       HLA-B
71168   ENSG00000234745     3106   HGNC:4932           AS       HLA-B
66216   ENSG00000206450     3106   HGNC:4932           AS       HLA-B
70494   ENSG00000232126     3106   HGNC:4932           AS       HLA-B
79186   ENSG00000223532     3106   HGNC:4932           AS       HLA-B
81469   ENSG00000228964     3106   HGNC:4932           AS       HLA-B
62689   ENSG00000204525     3107   HGNC:4933       D6S204       HLA-C
78388   ENSG00000228299     3107   HGNC:4933       PSORS1       HLA-C
78387   ENSG00000228299     3107   HGNC:4933      HLA-JY3       HLA-C
78774   ENSG00000233841     3107   HGNC:4933       PSORS1       HLA-C
76516   ENSG00000206452     3107   HGNC:4933      HLA-JY3       HLA-C
78386   ENSG00000228299     3107   HGNC:4933       D6S204       HLA-C
78773   ENSG00000233841     3107   HGNC:4933      HLA-JY3       HLA-C
70213   ENSG00000225691     3107   HGNC:4933       PSORS1       HLA-C
80918   ENSG00000206435     3107   HGNC:4933       PSORS1       HLA-C
76515   ENSG00000206452     3107   HGNC:4933       D6S204       HLA-C
80917   ENSG00000206435     3107   HGNC:4933      HLA-JY3       HLA-C
81311   ENSG00000237022     3107   HGNC:4933       PSORS1       HLA-C
81310   ENSG00000237022     3107   HGNC:4933      HLA-JY3       HLA-C
70211   ENSG00000225691     3107   HGNC:4933       D6S204       HLA-C
76517   ENSG00000206452     3107   HGNC:4933       PSORS1       HLA-C
80916   ENSG00000206435     3107   HGNC:4933       D6S204       HLA-C
62691   ENSG00000204525     3107   HGNC:4933       PSORS1       HLA-C
70212   ENSG00000225691     3107   HGNC:4933      HLA-JY3       HLA-C
62690   ENSG00000204525     3107   HGNC:4933      HLA-JY3       HLA-C
81309   ENSG00000237022     3107   HGNC:4933       D6S204       HLA-C
78772   ENSG00000233841     3107   HGNC:4933       D6S204       HLA-C
76137   ENSG00000242685     3108   HGNC:4934      D6S222E     HLA-DMA
75324   ENSG00000243189     3108   HGNC:4934      D6S222E     HLA-DMA
83537   ENSG00000243215     3108   HGNC:4934      D6S222E     HLA-DMA
74916   ENSG00000243719     3108   HGNC:4934      D6S222E     HLA-DMA
75325   ENSG00000243189     3108   HGNC:4934        RING6     HLA-DMA

In [2628]:
create_ap_collision_df(mini_ensg_df, "ENSG")

KeyboardInterrupt:

In [ ]:
mini_ensg_df = pd.read_csv(
    "../output/mini_ensg_df.csv", index_col=[0])

In [ ]:
subset_genes_ensg_df = pd.read_csv(
    "../output/subset_genes_ensg_df.csv", index_col=[0])
subset_genes_ensg_df

                ENSG_ID  NCBI_ID  HGNC_ID alias_symbol gene_symbol
0       ENSG00000210049        0     7481         MTTF       MT-TF
1       ENSG00000210049        0     7481         TRNF       MT-TF
2       ENSG00000211459        0     7470          12S     MT-RNR1
3       ENSG00000211459        0     7470       MOTS-C     MT-RNR1
4       ENSG00000211459        0     7470       MTRNR1     MT-RNR1
...                 ...      ...      ...          ...         ...
133058  ENSG00000197989    85028    30062    LINC00100      SNHG12
133059  ENSG00000197989    85028    30062     PNAS-123      SNHG12
133060  ENSG00000229388        0    52502    LINC01715    TAF12-DT
133062  ENSG00000274978    26824    10108      RNU11-1       RNU11
133063  ENSG00000274978    26824    10108          U11       RNU11

[95005 rows x 5 columns]

In [ ]:
merged_alias_ap_collision_ensg_df = pd.read_csv(
    "../output/merged_alias_ap_collision_ensg_df.csv", index_col=[0])
merged_alias_ap_collision_ensg_df

,gene_symbol,alias_symbol,ENSG_ID,HGNC_ID,NCBI_ID,collision,source
0,RN7SK,7SK,ENSG00000283293,10037,125050,7SK,ENSG
1,SOAT1,"ACAT,ACAT1,SOAT,STAT",ENSG00000057252,11177,6646,ACAT1,ENSG
2,SOAT2,ACAT2,ENSG00000167780,11178,8435,ACAT2,ENSG
3,NDUFAB1,"ACP,ACP1,FASN2A,SDAP",ENSG00000004779,7694,4706,ACP1,ENSG
4,ACTBP8,ACTBP2,ENSG00000220267,141,0,ACTBP2,ENSG
...,...,...,...,...,...,...,...
806,ZNF121,"D19S204,ZHC32,ZNF20",ENSG00000197961,12904,7675,ZNF20,ENSG
807,RNF141,"ZFP26,ZNF230",ENSG00000110315,21159,50862,ZNF230,ENSG
808,ZNF322P1,"ZNF322,ZNF322B",ENSG00000188801,14003,0,ZNF322,ENSG
809,ZNF106,"SH3BP3,ZFP106,ZNF474",ENSG00000103994,12886,64397,ZNF474,ENSG
810,ZFP1,"FLJ34243,ZNF475",ENSG00000184517,23328,162239,ZNF475,ENSG

how many gene records have an alias that is also a primary gene symbol of another gene?

In [ ]:
len(set(merged_alias_ap_collision_ensg_df["ENSG_ID"]))

767

### Make a set of the primary gene symbols

In [ ]:
ensg_gene_symbol_set = set(mini_ensg_df["gene_symbol"])

In [ ]:
total_number_ensg_gene_symbols = len(ensg_gene_symbol_set)
total_number_ensg_gene_symbols

41164

How many collisions are there? How many records are involved in one?

In [ ]:
ensg_alias_primary_collision_set = set(merged_alias_ap_collision_ensg_df["collision"])
len(ensg_alias_primary_collision_set)

606

In [ ]:
ensg_alias_primary_collision_primary_symbol_set = set(merged_alias_ap_collision_ensg_df["gene_symbol"])
len(ensg_alias_primary_collision_primary_symbol_set)

676

In [ ]:
ensg_alias_primary_collision_gene_record_set = set(merged_alias_ap_collision_ensg_df["ENSG_ID"])
len(ensg_alias_primary_collision_gene_record_set)

767

1. Why is the alias-gene collision set not the same length as the set of primary symbols with collisions ?
2. Why is the length of the alias-gene collison set shorter?
 - A gene record with an alias-primary collision has an alias that matches a different gene's primary gene symbol.
 - Multiple gene records can share a single alias (alias-alias collision)
 - If that shared alias is an alias-primary collision, then there will be more unique gene symbols in the set of primary symbols with collisions than the set of alias-primary collisions.

# HGNC

## Set up table

In [ ]:
hgnc_file_path = "../input/hgnc_biomart_gene20250625.txt"

mini_hgnc_df = pd.read_csv(
    hgnc_file_path, sep="\t"
)

# Rename columns
mini_hgnc_df = mini_hgnc_df.rename(
    columns={
        "HGNC ID": "HGNC_ID",
        "Approved symbol": "gene_symbol",
        "Ensembl gene ID": "ENSG_ID",
    }
)

#structure and labeling in HGNC download files changed between 2024 amd 2025
if "Alias symbol" in mini_hgnc_df.columns:
    mini_hgnc_df = mini_hgnc_df.rename(columns={"Alias symbol": "alias_symbol"})
elif "Alias symbols" in mini_hgnc_df.columns:
    mini_hgnc_df = mini_hgnc_df.rename(columns={"Alias symbols": "alias_symbol"})
else:
    mini_hgnc_df["alias_symbol"] = pd.NA

if "NCBI gene ID" in mini_hgnc_df.columns:
    mini_hgnc_df = mini_hgnc_df.rename(columns={"NCBI gene ID": "NCBI_ID"})
elif "NCBI Gene ID" in mini_hgnc_df.columns:
    mini_hgnc_df = mini_hgnc_df.rename(columns={"NCBI Gene ID": "NCBI_ID"})
else:
    mini_hgnc_df["NCBI_ID"] = pd.NA   

mini_hgnc_df["NCBI_ID"] = mini_hgnc_df["NCBI_ID"].astype(pd.Int64Dtype())

# Extract date from filename and check if it is before June 25, 2025
match = re.search(r'(\d{8})', hgnc_file_path)
file_date = datetime.strptime(match.group(1), "%Y%m%d") if match else None
cutoff_date = datetime.strptime("20250625", "%Y%m%d")

# Apply list-splitting logic for newer files
if file_date and file_date >= cutoff_date:
    mini_hgnc_df['alias_symbol'] = (
        mini_hgnc_df['alias_symbol']
        .fillna('')
        .str.split(',')
        .apply(lambda x: [a.strip() for a in x if a.strip()])
    )
    mini_hgnc_df = mini_hgnc_df.explode('alias_symbol')

mini_hgnc_df

          HGNC_ID gene_symbol alias_symbol  NCBI_ID          ENSG_ID
0        HGNC:100       ASIC1        BNaC2       41  ENSG00000110881
0        HGNC:100       ASIC1       hBNaC2       41  ENSG00000110881
1      HGNC:10000        RGS4          NaN     5999  ENSG00000117152
2      HGNC:10001        RGS5          NaN     8490  ENSG00000143248
3      HGNC:10002        RGS6          NaN     9628  ENSG00000182732
...           ...         ...          ...      ...              ...
44232   HGNC:9997       RGS16        RGS-r     6004  ENSG00000143333
44233   HGNC:9998        RGS2          NaN     5997  ENSG00000116741
44234   HGNC:9999        RGS3         C2PA     5998  ENSG00000138835
44234   HGNC:9999        RGS3     FLJ20370     5998  ENSG00000138835
44234   HGNC:9999        RGS3     PDZ-RGS3     5998  ENSG00000138835

[66207 rows x 5 columns]

In [ ]:
mini_hgnc_df = mini_hgnc_df.replace(" ", np.nan)
mini_hgnc_df = mini_hgnc_df.replace("", np.nan)
mini_hgnc_df = mini_hgnc_df.replace("-", np.nan)

how many gene records for the HGNC data set before any kind of cleaning?

In [ ]:
len(set(mini_hgnc_df['HGNC_ID']))

44235

how many unique primary gene symbols are in the HGNC data set?

In [ ]:
len(set(mini_hgnc_df['gene_symbol']))

44235

how many unique alias gene symbols are in the HGNC data set?

In [ ]:
len(set(mini_hgnc_df['alias_symbol']))

64842

how many unique gene symbols in total are there in the HGNC data set??

In [ ]:
len(set(mini_hgnc_df['gene_symbol']) | set(mini_hgnc_df['alias_symbol']))

108609

how many gene records have no primary gene symbol?

In [ ]:
unique_hcng_df = mini_hgnc_df[mini_hgnc_df['HGNC_ID'].duplicated(keep=False) == False]
# Count rows with missing gene symbols before dropping
no_symbol_count = mini_hgnc_df["gene_symbol"].isna().sum()
no_symbol_count

0

how many gene records have no alias symbols?

In [ ]:
no_alias_symbol_count = unique_hcng_df["alias_symbol"].isna().sum()
no_alias_symbol_count

21767

how many gene records have a primary gene symbol that is a C#orf?

In [ ]:
orf_rows = mini_hgnc_df[
    mini_hgnc_df['gene_symbol']
    .str.contains(r'^C.*ORF', case=False, na=False) &
    ~mini_hgnc_df['gene_symbol']
    .str.contains('-', na=False)
]
len(orf_rows)

344

how many gene records that have a primary gene symbol that is a LOC placeholder?

In [ ]:
count_loc = mini_hgnc_df['gene_symbol'].str.startswith('LOC', na=False).sum()
count_loc

0

how many gene records that have a primary gene symbol that is a FAM placeholder?

In [ ]:
count_FAM = mini_hgnc_df['gene_symbol'].str.startswith('FAM', na=False).sum()
count_FAM

477

how many gene records that have a primary gene symbol that is a KIAA placeholder?

In [ ]:
count_KIAA = mini_hgnc_df['gene_symbol'].str.startswith('KIAA', na=False).sum()
count_KIAA

47

which gene records share a primary symbol with other gene records?

In [ ]:
# groupby name and return a boolean of whether each has more than 1 unique Country
multi_primary = mini_hgnc_df.groupby(["gene_symbol"]).HGNC_ID.nunique().gt(1)

# use loc to only see those values that have `True` in `multi_primary`:
mini_hgnc_df.loc[mini_hgnc_df.gene_symbol.isin(multi_primary[multi_primary].index)].sort_values(by='gene_symbol').head(50)

Empty DataFrame
Columns: [HGNC_ID, gene_symbol, alias_symbol, NCBI_ID, ENSG_ID]
Index: []

In [ ]:
create_ap_collision_df(mini_hgnc_df, "HGNC")

All collisions are present in gene alias lists.

   HGNC_ID gene_symbol alias_symbol  NCBI_ID          ENSG_ID
0      100       ASIC1        BNaC2       41  ENSG00000110881
0      100       ASIC1       hBNaC2       41  ENSG00000110881
1    10000        RGS4          NaN     5999  ENSG00000117152
2    10001        RGS5          NaN     8490  ENSG00000143248
3    10002        RGS6          NaN     9628  ENSG00000182732

In [ ]:
mini_hgnc_df = pd.read_csv(
    "../output/mini_hgnc_df.csv", index_col=[0])

In [ ]:
subset_genes_hgnc_df = pd.read_csv(
    "../output/subset_genes_hgnc_df.csv", index_col=[0])
subset_genes_hgnc_df

       HGNC_ID gene_symbol alias_symbol  NCBI_ID          ENSG_ID
0          100       ASIC1        BNaC2       41  ENSG00000110881
0          100       ASIC1       hBNaC2       41  ENSG00000110881
1        10000        RGS4          NaN     5999  ENSG00000117152
2        10001        RGS5          NaN     8490  ENSG00000143248
3        10002        RGS6          NaN     9628  ENSG00000182732
...        ...         ...          ...      ...              ...
44232     9997       RGS16        RGS-r     6004  ENSG00000143333
44233     9998        RGS2          NaN     5997  ENSG00000116741
44234     9999        RGS3         C2PA     5998  ENSG00000138835
44234     9999        RGS3     FLJ20370     5998  ENSG00000138835
44234     9999        RGS3     PDZ-RGS3     5998  ENSG00000138835

[66192 rows x 5 columns]

In [ ]:
merged_alias_ap_collision_hgnc_df = pd.read_csv(
    "../output/merged_alias_ap_collision_hgnc_df.csv", index_col=[0])
merged_alias_ap_collision_hgnc_df

,gene_symbol,alias_symbol,ENSG_ID,HGNC_ID,NCBI_ID,collision,source
0,PPP1R12C,"DKFZP434D0412,p84,MBS85,p85,AAVS1",ENSG00000125503,14947,54776,AAVS1,HGNC
1,SOAT1,"ACAT,ACAT1",ENSG00000057252,11177,6646,ACAT1,HGNC
2,SOAT2,ACAT2,ENSG00000167780,11178,8435,ACAT2,HGNC
3,CCRL2,"HCR,CRAM-B,CKRX,CRAM-A,ACKR5",ENSG00000121797,1612,9034,ACKR5,HGNC
4,NDUFAB1,"SDAP,FASN2A,ACP,ACP1",ENSG00000004779,7694,4706,ACP1,HGNC
...,...,...,...,...,...,...,...
556,ECEL1,"XCE,DINE",ENSG00000171551,3147,9427,XCE,HGNC
557,ZNF121,"ZHC32,ZNF20",ENSG00000197961,12904,7675,ZNF20,HGNC
558,RNF141,"ZFP26,ZNF230",ENSG00000110315,21159,50862,ZNF230,HGNC
559,ZNF106,"ZNF474,SH3BP3",ENSG00000103994,12886,64397,ZNF474,HGNC
560,ZFP1,"FLJ34243,ZNF475",ENSG00000184517,23328,162239,ZNF475,HGNC

how many gene records have an alias that is also a primary gene symbol of another gene?

In [ ]:
len(set(merged_alias_ap_collision_hgnc_df["HGNC_ID"]))

547

### Make a set of the primary gene symbols

In [ ]:
hgnc_gene_symbol_set = set(mini_hgnc_df["gene_symbol"])

In [ ]:
total_number_hgnc_gene_symbols = len(hgnc_gene_symbol_set)
total_number_hgnc_gene_symbols

44235

How many collisions are there? How many records are involved in one?

In [ ]:
hgnc_alias_primary_collision_set = set(merged_alias_ap_collision_hgnc_df["collision"])
len(hgnc_alias_primary_collision_set)

492

In [ ]:
hgnc_alias_primary_collision_primary_symbol_set = set(merged_alias_ap_collision_hgnc_df["gene_symbol"])
len(hgnc_alias_primary_collision_primary_symbol_set)

547

In [ ]:
hgnc_alias_primary_collision_gene_record_set = set(merged_alias_ap_collision_hgnc_df["HGNC_ID"])
len(hgnc_alias_primary_collision_gene_record_set)

547

# NCBI Info

In [2738]:
ncbi_file_path = "../input/Homo_sapiens.gene_info20250625"

mini_ncbi_df = pd.read_csv(ncbi_file_path, sep="\t")
# Drop all columns besides ENSG_ID, gene_symbol, and alias_symbol
mini_ncbi_df = mini_ncbi_df[
["GeneID", "Symbol", "Synonyms", "dbXrefs"]
]
mini_ncbi_df = mini_ncbi_df.rename(
    columns={"GeneID": "NCBI_ID", "Symbol": "gene_symbol", "Synonyms": "alias_symbol"})

Split dbXrefs into individual columns

In [2739]:
mini_ncbi_df = mini_ncbi_df.assign(
    MIM=np.nan,
    HGNC_ID=np.nan,
    ENSG_ID=np.nan,
    AllianceGenome=np.nan,
    MIRbase=np.nan,
    IMGTgene_db=np.nan,
    dash=np.nan,
    unknown=np.nan,
)

In [2740]:
index_pos = 0

print(len(mini_ncbi_df))
while index_pos < len(mini_ncbi_df):
    xrefs = mini_ncbi_df["dbXrefs"][index_pos].split("|")

    for xref in xrefs:
        xref = xref.lower()
        if xref.startswith("mim:"):
            xref = xref.replace("mim:", "")
            mini_ncbi_df["MIM"][index_pos] = xref
        elif xref.startswith("hgnc:hgnc:"):
            xref = xref.replace("hgnc:hgnc:", "")
            mini_ncbi_df["HGNC_ID"][index_pos] = xref
        elif xref.startswith("ensembl:"):
            xref = xref.replace("ensembl:", "")
            mini_ncbi_df["ENSG_ID"][index_pos] = xref
        elif xref.startswith("alliancegenome:"):
            xref = xref.replace("alliancegenome:", "")
            mini_ncbi_df["AllianceGenome"][index_pos] = xref
        elif xref.startswith("mirbase"):
            xref = xref.replace("mirbase:", "")
            mini_ncbi_df["MIRbase"][index_pos] = xref
        elif xref.startswith("imgt/gene-db:"):
            xref = xref.replace("imgt/gene-db:", "")
            mini_ncbi_df["IMGTgene_db"][index_pos] = xref
        elif xref.startswith("-"):
            mini_ncbi_df["dash"][index_pos] = xref
        else:
            mini_ncbi_df["unknown"][index_pos] = xref

    index_pos += 1
    pass

print(index_pos)

193580

/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  mini_ncbi_df["MIM"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df["MIM"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '138670' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mini_ncbi_df["MIM"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:14: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  mini_ncbi_df["HGNC_ID"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df["HGNC_ID"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mini_ncbi_df["HGNC_ID"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:17: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  mini_ncbi_df["ENSG_ID"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df["ENSG_ID"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'ensg00000121410' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mini_ncbi_df["ENSG_ID"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:20: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  mini_ncbi_df["AllianceGenome"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df["AllianceGenome"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'hgnc:5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mini_ncbi_df["AllianceGenome"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:26: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  mini_ncbi_df["IMGTgene_db"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df["IMGTgene_db"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'cd1d' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mini_ncbi_df["IMGTgene_db"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:28: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  mini_ncbi_df["dash"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df["dash"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mini_ncbi_df["dash"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:23: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  mini_ncbi_df["MIRbase"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df["MIRbase"][index_pos] = xref
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_36019/2507567125.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'mi0000060' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mini_ncbi_df["MIRbase"][index_pos] = xref

193580

In [2741]:
mini_ncbi_df["ENSG_ID"] = mini_ncbi_df["ENSG_ID"].str.replace("ensg", "ENSG", 1)

In [2742]:
mini_ncbi_df = mini_ncbi_df.drop(
    [
        "AllianceGenome",
        "MIRbase",
        "IMGTgene_db",
        "dash",
        "unknown",
        "dbXrefs",
        "MIM",
    ],
    axis=1,
)

need to remove phenotype records. This file (ncbi_records_w_property_pheno_only_20250630.txt) was generated through the NCBI Gene web page by searching for these parameters "phenotype only [Properties] AND "Homo sapiens"[porgn:__txid9606]"

In [2743]:
ncbi_pheno_records_df = pd.read_csv("../input/ncbi_records_w_property_pheno_only_20250630.txt", sep="\t")

ncbi_pheno_records_df = ncbi_pheno_records_df.rename(
    columns={"GeneID": "NCBI_ID", "Symbol": "gene_symbol", "Aliases": "alias_symbol"})

In [2744]:
ncbi_pheno_records_df.loc[ncbi_pheno_records_df["NCBI_ID"]== 107648861]

,tax_id,Org_name,NCBI_ID,CurrentID,Status,gene_symbol,alias_symbol,description,other_designations,map_location,chromosome,genomic_nucleotide_accession.version,start_position_on_the_genomic_accession,end_position_on_the_genomic_accession,orientation,exon_count,OMIM,Unnamed: 17
642,9606,Homo sapiens,107648861,0,live,DEL11P13,C11DELp13,"Chromosome 11p13 deletion syndrome, distal",NaN,11p13,11,NaN,NaN,NaN,NaN,NaN,616902.0,NaN

In [2745]:
mini_ncbi_df = mini_ncbi_df[~mini_ncbi_df['NCBI_ID'].isin(ncbi_pheno_records_df['NCBI_ID'])]

In [2746]:
mini_ncbi_df.loc[mini_ncbi_df["NCBI_ID"]== 107648861]

Empty DataFrame
Columns: [NCBI_ID, gene_symbol, alias_symbol, HGNC_ID, ENSG_ID]
Index: []

In [2747]:
# Extract date from filename and check if it is before June 25, 2025
match = re.search(r'(\d{8})', ncbi_file_path)
file_date = datetime.strptime(match.group(1), "%Y%m%d") if match else None
cutoff_date = datetime.strptime("20250625", "%Y%m%d")

# Apply list-splitting logic for newer files
if file_date and file_date >= cutoff_date:
    mini_ncbi_df['alias_symbol'] = (
        mini_ncbi_df['alias_symbol']
        .fillna('')
        .str.split('|')
        .apply(lambda x: [a.strip() for a in x if a.strip()])
    )
    mini_ncbi_df = mini_ncbi_df.explode('alias_symbol')
mini_ncbi_df

        NCBI_ID gene_symbol alias_symbol HGNC_ID          ENSG_ID
0             1        A1BG          A1B       5  ENSG00000121410
0             1        A1BG          ABG       5  ENSG00000121410
0             1        A1BG          GAB       5  ENSG00000121410
0             1        A1BG     HYST2477       5  ENSG00000121410
1             2         A2M         A2MD       7  ENSG00000175899
...         ...         ...          ...     ...              ...
193575  8923215        trnD            -     NaN              NaN
193576  8923216        trnP            -     NaN              NaN
193577  8923217        trnA            -     NaN              NaN
193578  8923218        COX1            -     NaN              NaN
193579  8923219    16S rRNA            -     NaN              NaN

[239237 rows x 5 columns]

In [2748]:
mini_ncbi_df = mini_ncbi_df.replace(" ", np.nan)
mini_ncbi_df = mini_ncbi_df.replace("", np.nan)
mini_ncbi_df = mini_ncbi_df.replace("-", np.nan)

how many gene records for the NCBI data set before any kind of cleaning?

In [2749]:
total_raw_gene_record_count_ncbi = mini_ncbi_df['NCBI_ID'].dropna().nunique()
total_raw_gene_record_count_ncbi

192410

how many unique primary gene symbols are in the NCBI data set?

In [2750]:
raw_primary_symbol_count_ncbi = mini_ncbi_df['gene_symbol'].dropna().nunique()
raw_primary_symbol_count_ncbi

192262

how many unique alias gene symbols are in the NCBI data set?

In [2751]:
raw_alias_symbol_count_ncbi = mini_ncbi_df['alias_symbol'].dropna().nunique()
raw_alias_symbol_count_ncbi

69365

how many unique gene symbols in total are there in the NCBI data set??

In [2752]:
raw_total_symbol_count_ncbi = pd.concat([mini_ncbi_df["gene_symbol"], mini_ncbi_df["alias_symbol"]]).dropna().nunique()
raw_total_symbol_count_ncbi

260131

how many gene records have no primary gene symbol?

In [2753]:
no_primary_symbol_record_count_ncbi = (
    mini_ncbi_df[mini_ncbi_df["gene_symbol"].isna()]
    .dropna(subset=["NCBI_ID"])
    ["NCBI_ID"]
    .nunique()
)
no_primary_symbol_record_count_ncbi

0

how many gene records have no alias symbols?

In [2754]:
no_alias_symbol_record_count_ncbi = (
    mini_ncbi_df[mini_ncbi_df["alias_symbol"].isna()]
    .dropna(subset=["NCBI_ID"])
    ["NCBI_ID"]
    .nunique()
)
no_alias_symbol_record_count_ncbi

165021

how many gene records have a primary gene symbol that is a C#orf?

In [2755]:
orf_rows = mini_ncbi_df[
    mini_ncbi_df['gene_symbol']
    .str.contains(r'^C.*ORF', case=False, na=False) &
    ~mini_ncbi_df['gene_symbol']
    .str.contains('-', na=False)
]
orf_record_count_ncbi = orf_rows["NCBI_ID"].nunique()
orf_record_count_ncbi

248

how many gene records that have a primary gene symbol that is a LOC placeholder?

In [2756]:
loc_record_count_ncbi = (
    mini_ncbi_df[mini_ncbi_df["gene_symbol"].str.startswith('LOC', na=False)]
    .dropna(subset=["NCBI_ID"])
    ["NCBI_ID"]
    .nunique()
)
loc_record_count_ncbi

147698

how many gene records that have a primary gene symbol that is a FAM placeholder?

In [2757]:
fam_record_count_ncbi = (
    mini_ncbi_df[mini_ncbi_df["gene_symbol"].str.startswith('FAM', na=False)]
    .dropna(subset=["NCBI_ID"])
    ["NCBI_ID"]
    .nunique()
)
fam_record_count_ncbi

396

how many gene records that have a primary gene symbol that is a KIAA placeholder?

In [2758]:
kiaa_record_count_ncbi = (
    mini_ncbi_df[mini_ncbi_df["gene_symbol"].str.startswith('KIAA', na=False)]
    .dropna(subset=["NCBI_ID"])
    ["NCBI_ID"]
    .nunique()
)
kiaa_record_count_ncbi

37

Drop sub species records: "homo sapiens ssp denisova"[Organism]

In [2759]:
ncbi_denisova_records_df = pd.read_csv("../input/ncbi_denisova_20250630.txt", sep="\t")

ncbi_denisova_records_df = ncbi_denisova_records_df.rename(
    columns={"GeneID": "NCBI_ID", "Symbol": "gene_symbol", "Aliases": "alias_symbol"})

In [2760]:
mini_ncbi_df = mini_ncbi_df[~mini_ncbi_df['NCBI_ID'].isin(ncbi_denisova_records_df['NCBI_ID'])]

Drop sub species records: "homo sapiens neanderthalensis"[Organism]

In [2761]:
ncbi_neanderthalensis_records_df = pd.read_csv("../input/ncbi_neanderthalensis_20250630.txt", sep="\t")

ncbi_neanderthalensis_records_df = ncbi_neanderthalensis_records_df.rename(
    columns={"GeneID": "NCBI_ID", "Symbol": "gene_symbol", "Aliases": "alias_symbol"})

In [2762]:
mini_ncbi_df = mini_ncbi_df[~mini_ncbi_df['NCBI_ID'].isin(ncbi_neanderthalensis_records_df['NCBI_ID'])]

which gene records share a primary symbol with other gene records?

In [2763]:
# groupby name and return a boolean of whether each has more than 1 unique Country
multi_primary = mini_ncbi_df.groupby(["gene_symbol"]).NCBI_ID.nunique().gt(1)

num_rows = mini_ncbi_df[mini_ncbi_df.gene_symbol.isin(multi_primary[multi_primary].index)].shape[0]
print(num_rows)

# use loc to only see those values that have `True` in `multi_country`:
mini_ncbi_df.loc[mini_ncbi_df.gene_symbol.isin(multi_primary[multi_primary].index)].sort_values(by='gene_symbol').head(60)

110

         NCBI_ID gene_symbol alias_symbol HGNC_ID ENSG_ID
3550        4549        RNR1       MTRNR1    7470     NaN
4762        6052        RNR1          NaN   10082     NaN
3551        4550        RNR2       MTRNR2    7471     NaN
4763        6053        RNR2          NaN   10083     NaN
65892  124901565   TRNAA-AGC          NaN     NaN     NaN
65891  124901564   TRNAA-AGC          NaN     NaN     NaN
65890  124901563   TRNAA-AGC          NaN     NaN     NaN
65889  124901562   TRNAA-AGC          NaN     NaN     NaN
70782  124906586   TRNAA-AGC          NaN     NaN     NaN
65888  124901561   TRNAA-AGC          NaN     NaN     NaN
70114  124905878   TRNAD-GUC          NaN     NaN     NaN
70102  124905866   TRNAD-GUC          NaN     NaN     NaN
70099  124905863   TRNAD-GUC          NaN     NaN     NaN
70108  124905872   TRNAD-GUC          NaN     NaN     NaN
70096  124905860   TRNAD-GUC          NaN     NaN     NaN
70093  124905857   TRNAD-GUC          NaN     NaN     NaN
70111  124905875   TRNAD-GUC          NaN     NaN     NaN
70090  124905854   TRNAD-GUC          NaN     NaN     NaN
70117  124905881   TRNAD-GUC          NaN     NaN     NaN
70120  124905884   TRNAD-GUC          NaN     NaN     NaN
70123  124905887   TRNAD-GUC          NaN     NaN     NaN
70105  124905869   TRNAD-GUC          NaN     NaN     NaN
70126  124905890   TRNAD-GUC          NaN     NaN     NaN
70138  124905902   TRNAD-GUC          NaN     NaN     NaN
70132  124905896   TRNAD-GUC          NaN     NaN     NaN
70135  124905899   TRNAD-GUC          NaN     NaN     NaN
70129  124905893   TRNAD-GUC          NaN     NaN     NaN
70103  124905867   TRNAE-CUC          NaN     NaN     NaN
70106  124905870   TRNAE-CUC          NaN     NaN     NaN
70100  124905864   TRNAE-CUC          NaN     NaN     NaN
70139  124905903   TRNAE-CUC          NaN     NaN     NaN
70121  124905885   TRNAE-CUC          NaN     NaN     NaN
70097  124905861   TRNAE-CUC          NaN     NaN     NaN
70136  124905900   TRNAE-CUC          NaN     NaN     NaN
70109  124905873   TRNAE-CUC          NaN     NaN     NaN
70124  124905888   TRNAE-CUC          NaN     NaN     NaN
70133  124905897   TRNAE-CUC          NaN     NaN     NaN
70091  124905855   TRNAE-CUC          NaN     NaN     NaN
70127  124905891   TRNAE-CUC          NaN     NaN     NaN
70112  124905876   TRNAE-CUC          NaN     NaN     NaN
70115  124905879   TRNAE-CUC          NaN     NaN     NaN
70130  124905894   TRNAE-CUC          NaN     NaN     NaN
70094  124905858   TRNAE-CUC          NaN     NaN     NaN
70118  124905882   TRNAE-CUC          NaN     NaN     NaN
70144  124905908   TRNAE-UUC          NaN     NaN     NaN
54286  107987368   TRNAE-UUC          NaN     NaN     NaN
69857  124905580   TRNAE-UUC          NaN     NaN     NaN
69860  124905583   TRNAE-UUC          NaN     NaN     NaN
69861  124905584   TRNAE-UUC          NaN     NaN     NaN
69863  124905586   TRNAE-UUC          NaN     NaN     NaN
69858  124905581   TRNAG-CCC          NaN     NaN     NaN
69855  124905578   TRNAG-CCC          NaN     NaN     NaN
69865  124905588   TRNAG-CCC          NaN     NaN     NaN
70143  124905907   TRNAG-GCC          NaN     NaN     NaN
70146  124905910   TRNAG-GCC          NaN     NaN     NaN
70083  124905847   TRNAG-GCC          NaN     NaN     NaN
70148  124905912   TRNAG-GCC          NaN     NaN     NaN
70150  124905914   TRNAG-GCC          NaN     NaN     NaN
70085  124905849   TRNAG-GCC          NaN     NaN     NaN
70152  124905916   TRNAG-GCC          NaN     NaN     NaN

In [2764]:
mini_ncbi_df.loc[mini_ncbi_df["gene_symbol"] == "ST2"]

Empty DataFrame
Columns: [NCBI_ID, gene_symbol, alias_symbol, HGNC_ID, ENSG_ID]
Index: []

In [2765]:
create_ap_collision_df(mini_ncbi_df, "NCBI")

All collisions are present in gene alias lists.

   NCBI_ID gene_symbol alias_symbol  HGNC_ID          ENSG_ID
0        1        A1BG          A1B        5  ENSG00000121410
0        1        A1BG          ABG        5  ENSG00000121410
0        1        A1BG          GAB        5  ENSG00000121410
0        1        A1BG     HYST2477        5  ENSG00000121410
1        2         A2M         A2MD        7  ENSG00000175899

In [2766]:
mini_ncbi_df = pd.read_csv(
    "../output/mini_ncbi_df.csv", index_col=[0])

In [2767]:
subset_genes_ncbi_df = pd.read_csv(
    "../output/subset_genes_ncbi_df.csv", index_col=[0])
subset_genes_ncbi_df

          NCBI_ID gene_symbol alias_symbol  HGNC_ID          ENSG_ID
0               1        A1BG          A1B        5  ENSG00000121410
0               1        A1BG          ABG        5  ENSG00000121410
0               1        A1BG          GAB        5  ENSG00000121410
0               1        A1BG     HYST2477        5  ENSG00000121410
1               2         A2M         A2MD        7  ENSG00000175899
...           ...         ...          ...      ...              ...
193502  141732005   ADCY2-AS1          NaN    40064              NaN
193503  141732006    NSG2-AS1          NaN    41074              NaN
193504  141732007    ST18-AS1          NaN    58430              NaN
193505  141732008  MICAL2-AS1          NaN    58437              NaN
193506  141732009  TRIM41-AS1          NaN    40863              NaN

[91377 rows x 5 columns]

In [2768]:
merged_alias_ap_collision_ncbi_df = pd.read_csv(
    "../output/merged_alias_ap_collision_ncbi_df.csv", index_col=[0])
merged_alias_ap_collision_ncbi_df

,gene_symbol,alias_symbol,ENSG_ID,HGNC_ID,NCBI_ID,collision,source
0,IGHA2,A2M,ENSG00000211890,5479,3494,A2M,NCBI
1,PPP1R12C,"AAVS1,LENG3,MBS85,p84,p85",ENSG00000125503,14947,54776,AAVS1,NCBI
2,SOAT1,"ACACT,ACAT,ACAT-1,ACAT1,SOAT,STAT",ENSG00000057252,11177,6646,ACAT1,NCBI
3,SOAT2,"ACACT2,ACAT2,ARGP2",ENSG00000167780,11178,8435,ACAT2,NCBI
4,CCRL2,"ACKR5,CKRX,CRAM,CRAM-A,CRAM-B,HCR",ENSG00000121797,1612,9034,ACKR5,NCBI
...,...,...,...,...,...,...,...
2032,CCDC106,"HSU79303,ZNF581",ENSG00000173581,30181,29903,ZNF581,NCBI
2033,ZNF785,ZNF688,ENSG00000197162,26496,146540,ZNF688,NCBI
2034,ZP4,"ZBP,ZP1,ZP1B,ZPB,ZPB2,Zp-4",ENSG00000116996,15770,57829,ZP1,NCBI
2036,ZNF446,"ZKSCAN20,ZSCAN30,ZSCAN52",ENSG00000083838,21036,55663,ZSCAN30,NCBI
2037,ZKSCAN2,"ZNF694,ZSCAN31,ZSCAN34",ENSG00000155592,25677,342357,ZSCAN31,NCBI

how many gene records have an alias that is also a primary gene symbol of another gene?

In [2769]:
len(set(merged_alias_ap_collision_ncbi_df["NCBI_ID"]))

1614

### Make a set of primary gene symbols

In [2770]:
ncbi_gene_symbol_set = set(mini_ncbi_df["gene_symbol"])

In [2771]:
total_number_ncbi_gene_symbols = len(ncbi_gene_symbol_set)
total_number_ncbi_gene_symbols

44541

How many collisions are there? How many records are involved in one?

In [2772]:
ncbi_alias_primary_collision_set = set(
    merged_alias_ap_collision_ncbi_df["collision"]
)
len(ncbi_alias_primary_collision_set)

1394

In [2773]:
ncbi_alias_primary_collision_primary_symbol_set = set(merged_alias_ap_collision_ncbi_df["gene_symbol"])
len(ncbi_alias_primary_collision_primary_symbol_set)

1614

In [2774]:
ncbi_alias_primary_collision_gene_record_set = set(
    merged_alias_ap_collision_ncbi_df["NCBI_ID"]
)
len(ncbi_alias_primary_collision_gene_record_set)

1614

# Merge 3 sets together

In [2775]:
merged_alias_primary_collisions_df = pd.concat(
    [
        merged_alias_ap_collision_hgnc_df[
            ["gene_symbol", "alias_symbol", "collision", "source", "ENSG_ID", "HGNC_ID", "NCBI_ID"]
        ],
        merged_alias_ap_collision_ncbi_df[
            ["gene_symbol", "alias_symbol", "collision", "source", "ENSG_ID", "HGNC_ID", "NCBI_ID"]
        ],
        merged_alias_ap_collision_ensg_df[
            ["gene_symbol", "alias_symbol", "collision", "source", "ENSG_ID", "HGNC_ID", "NCBI_ID"]
        ],
    ]
)
merged_alias_primary_collisions_df

,gene_symbol,alias_symbol,collision,source,ENSG_ID,HGNC_ID,NCBI_ID
0,PPP1R12C,"DKFZP434D0412,p84,MBS85,p85,AAVS1",AAVS1,HGNC,ENSG00000125503,14947,54776
1,SOAT1,"ACAT,ACAT1",ACAT1,HGNC,ENSG00000057252,11177,6646
2,SOAT2,ACAT2,ACAT2,HGNC,ENSG00000167780,11178,8435
3,CCRL2,"HCR,CRAM-B,CKRX,CRAM-A,ACKR5",ACKR5,HGNC,ENSG00000121797,1612,9034
4,NDUFAB1,"SDAP,FASN2A,ACP,ACP1",ACP1,HGNC,ENSG00000004779,7694,4706
...,...,...,...,...,...,...,...
806,ZNF121,"D19S204,ZHC32,ZNF20",ZNF20,ENSG,ENSG00000197961,12904,7675
807,RNF141,"ZFP26,ZNF230",ZNF230,ENSG,ENSG00000110315,21159,50862
808,ZNF322P1,"ZNF322,ZNF322B",ZNF322,ENSG,ENSG00000188801,14003,0
809,ZNF106,"SH3BP3,ZFP106,ZNF474",ZNF474,ENSG,ENSG00000103994,12886,64397
810,ZFP1,"FLJ34243,ZNF475",ZNF475,ENSG,ENSG00000184517,23328,162239

In [2776]:
merged_alias_primary_collisions_df.loc[
    merged_alias_primary_collisions_df["collision"] == "CFM1"
]

Empty DataFrame
Columns: [gene_symbol, alias_symbol, collision, source, ENSG_ID, HGNC_ID, NCBI_ID]
Index: []

In [2777]:
merged_alias_primary_collisions_df.loc[
    merged_alias_primary_collisions_df["collision"] == "KRAS"
]

,gene_symbol,alias_symbol,collision,source,ENSG_ID,HGNC_ID,NCBI_ID
964,NRAS,"ALPS4,CMNS,KRAS,N-ras,NCMS,NRAS1,NS6",KRAS,NCBI,ENSG00000213281,7989,4893

# Convert to csv

In [2778]:
merged_alias_primary_collisions_df.to_csv(
    "../output/merged_alias_primary_collisions_df.csv", index=False
)

In [2779]:
common_ap_collisions = (
    ncbi_alias_primary_collision_primary_symbol_set
    & hgnc_alias_primary_collision_primary_symbol_set
    & ensg_alias_primary_collision_primary_symbol_set
)
common_ap_collisions

{'ABCD1',
 'ACD',
 'ACKR2',
 'ACOD1',
 'ACTBP8',
 'ADRA1D',
 'AGXT',
 'AIFM2',
 'AKR1B1',
 'AKR1B10',
 'ALPK3',
 'AMH',
 'ANAPC2',
 'ANKRD37',
 'ANTXR1',
 'AOC1',
 'APEX1',
 'AREG',
 'ARHGAP21',
 'ARHGEF7',
 'ARID4A',
 'ART4',
 'ARTN',
 'ASIC2',
 'AURKAIP1',
 'AZIN2',
 'BANF1P1',
 'BCAT2',
 'BRIP1',
 'BTF3P11',
 'BTN3A3',
 'C1D',
 'C1QTNF1',
 'C6orf89',
 'CACNA1A',
 'CADPS',
 'CADPS2',
 'CAPN5',
 'CARD16',
 'CCL13',
 'CCL14',
 'CCL15',
 'CCM2',
 'CD200R1',
 'CDH19',
 'CDH20',
 'CDPF1',
 'CELSR1',
 'CES1',
 'CFAP73',
 'CFH',
 'CHAF1B',
 'CHAMP1',
 'CHD6',
 'CHEK2',
 'CHORDC1',
 'CLASP1',
 'CLCF1',
 'CNGB1',
 'CNKSR2',
 'CNOT6',
 'CNRIP1',
 'CNTN1',
 'COASY',
 'COPS2',
 'COPS3',
 'CORIN',
 'COX7A2L',
 'CPA4',
 'CPAMD8',
 'CPNE1',
 'CPNE2',
 'CPPED1',
 'CREB3L4',
 'CSNK2A2',
 'CSTB',
 'CTDSP2',
 'CXCL10',
 'CXXC1',
 'CYCSP5',
 'CYP11B1',
 'CYP11B2',
 'CYP21A2',
 'CYP2A6',
 'DCAF5',
 'DCBLD2',
 'DDOST',
 'DDR2',
 'DDX11',
 'DDX18',
 'DEAF1',
 'DEFA6',
 'DEPDC1B',
 'DFFB',
 'DHX8',
 'DIDO1',
 'DLC1',
 'DLEC1',
 'DLGAP3',
 'DMAP1',
 'DMTF1',
 'DNPEP',
 'DPAGT1',
 'DPYSL2',
 'DSC3',
 'DUSP12',
 'DUSP28',
 'DYNLL1',
 'E2F1',
 'EIF2S1',
 'EIF4G2',
 'ELOF1',
 'EPAS1',
 'EPS8L1',
 'EPX',
 'ERC2',
 'ERCC4',
 'ETFA',
 'F3',
 'FA2H',
 'FABP5P1',
 'FADS1',
 'FANCA',
 'FASN',
 'FBF1',
 'FBXO5',
 'FCRLA',
 'FCRLB',
 'FEM1C',
 'FGF13',
 'FGFR1',
 'FLII',
 'FOXM1',
 'FYN',
 'FZD9',
 'FZR1',
 'GAL3ST3',
 'GALK2',
 'GALNT15',
 'GALNT18',
 'GALNTL6',
 'GALP',
 'GARS1',
 'GATD3',
 'GC',
 'GDF15',
 'GDNF',
 'GET1',
 'GKN1',
 'GLB1',
 'GLS2',
 'GMNN',
 'GNAI2',
 'GNPDA1',
 'GOLT1A',
 'GOLT1B',
 'GPI',
 'GPKOW',
 'GPNMB',
 'GPRIN1',
 'GPX7',
 'GRID1',
 'GRID2',
 'GTPBP4',
 'GUCY2C',
 'HCRT',
 'HCRTR1',
 'HECA',
 'HFE',
 'HID1',
 'HNF1A-AS1',
 'HOMER2',
 'HOOK1',
 'HOOK2',
 'HOOK3',
 'HRNR',
 'HSD17B4',
 'HSD17B7P2',
 'IAPP',
 'IFNA1',
 'IGF2BP3',
 'IL22',
 'IL6',
 'ILF3',
 'INSL3',
 'INSL6',
 'IPO4',
 'ITM2C',
 'KANSL1',
 'KCNA4',
 'KCNA5',
 'KCNH4',
 'KCNH8',
 'KCNN4',
 'KCTD11',
 'KHSRP',
 'KIF20B',
 'KIF2A',
 'KLF5',
 'KLHL7',
 'KLK1',
 'KLK6',
 'KLRG1',
 'KRTAP5-11',
 'KRTAP5-2',
 'KRTAP5-3',
 'KRTAP5-5',
 'KRTAP5-7',
 'KRTAP5-8',
 'KRTAP5-9',
 'LAMA4',
 'LDB2',
 'LGALS12',
 'LGALS13',
 'LGALSL',
 'LNPK',
 'LNX1',
 'LONP1',
 'LRIF1',
 'LRIG1',
 'LRP12',
 'LRP5',
 'LTB4R2',
 'LZTS1',
 'MAFIP',
 'MAGI1',
 'MAP4K2',
 'MAP4K5',
 'MAPRE2',
 'MB',
 'MBD1',
 'MBD4',
 'MBL2',
 'MED12',
 'MED22',
 'MED9',
 'MELTF',
 'METAP1',
 'METAP2',
 'MGAM',
 'MIPEP',
 'MLF2',
 'MMAB',
 'MMACHC',
 'MOCOS',
 'MOGAT1',
 'MOGAT2',
 'MOGAT3',
 'MRLN',
 'MRPL13',
 'MRPL41',
 'MRPS12',
 'MRPS28',
 'MRPS35',
 'MRTFA',
 'MS4A12',
 'MS4A4A',
 'MS4A7',
 'MTCH1',
 'MYCBP2',
 'MYDGF',
 'MYH7B',
 'MYL1',
 'MYO1C',
 'MYO1E',
 'MYT1',
 'MYZAP',
 'NANOGP2',
 'NANOGP4',
 'NANOGP7',
 'NANOS1',
 'NANOS2',
 'NANOS3',
 'NAPSA',
 'NAPSB',
 'NAT8',
 'NCOA2',
 'NCOA3',
 'NDRG1',
 'NDUFAB1',
 'NECTIN4',
 'NEDD4',
 'NELL2',
 'NFE2L1',
 'NKX2-1',
 'NLRP2B',
 'NLRP3',
 'NLRP4',
 'NLRP6',
 'NOL3',
 'NOL6',
 'NPPC',
 'NPRL2',
 'NPRL3',
 'NR5A1',
 'NRG1',
 'NT5C3A',
 'NTN1',
 'NUDT19',
 'OSER1',
 'PAEP',
 'PAK6',
 'PAPPA-AS1',
 'PARD3',
 'PCDHA4',
 'PCDHA6',
 'PCDHB11',
 'PCDHB16',
 'PCDHGA5',
 'PCDHGB4',
 'PDHX',
 'PDPK1',
 'PGAM4',
 'PGAP1',
 'PGF',
 'PGPEP1',
 'PIGU',
 'PITRM1',
 'PKMYT1',
 'PKN1',
 'PLPP6',
 'PLPPR3',
 'PM20D1',
 'PMEL',
 'PMEPA1',
 'PMP22',
 'PMPCB',
 'PMS2CL',
 'PNKD',
 'PODXL',
 'POLK',
 'POLR1A',
 'POLR1B',
 'POLR1G',
 'PPIAP10',
 'PPP1R9B',
 'PPY',
 'PRDX5',
 'PRDX6',
 'PRG2',
 'PRICKLE1',
 'PRKD2',
 'PRKRA',
 'PRPF38B',
 'PRSS8',
 'PSG2',
 'PSMA7',
 'PSMD1',
 'PSMD2',
 'PTEN',
 'PTENP1',
 'PTPMT1',
 'PTPN18',
 'PTPRU',
 'PTRH2',
 'PXDN',
 'PXMP2',
 'PYDC1',
 'RAB43',
 'RAI1',
 'RBL1',
 'RDH14',
 'REXO2',
 'RGL4',
 'RGPD1',
 'RGS18',
 'RHEBP1',
 'RHOD',
 'RIMBP2',
 'RIN2',
 'RMRP',
 'RNASE1',
 'RNASE10',
 'RNASE12',
 'RNASE3',
 'RNASE6',
 'RNASE7',
 'RNASEH1P1',
 'RNF138',
 'RNF141',
 'RNF2',
 'RNF4',
 'RNF7',
 'RORA',
 'RPL15',
 'RPL17',
 'RPL23',
 'RRP1B',
 'RSC1A1',
 'RSL24D1',
 'S100A9',
 'S100G',
 'SBDS',
 'SCGB1D1',
 'SEC14L2',
 'SEC14L3',
 'SELENOP',
 'SEM1',
 'SEMA3F-AS1',
 'SEPSECS',
 'SERPINA2',
 'SERPINB8',
 'SF3B2',
 'SF3B3',
 'SFI1',
 'SGPP2',
 'SH2D1A',
 'SH3D19',
 'SLC19A1',
 'SLC25A1',
 'SLC25A15',
 'SLC25A16',
 'SLC25A21',
 'SLC25A23',
 'SLC35A1',
 'SLC38A1',
 'SLC38A2',
 'SLC6A20',
 'SLC7A8',
 'SLIT1',
 'SLIT3',
 'SLTM',
 'SLURP1',
 'SMIM29',
 'SMOC2',
 'SMOX',
 'SND1',
 'SNORA58',
 'SNORD115-45',
 'SNRPB2',
 'SNX33',
 'SOAT1',
 'SOAT2',
 'SOS1',
 'SOX9',
 'SP6',
 'SPATA17',
 'SPATS1',
 'SPNS1',
 'SPPL2A',
 'SPPL2B',
 'SRFBP1',
 'SRMS',
 'STK24',
 'STK4',
 'SYCP2',
 'TACR1',
 'TADA2A',
 'TDO2',
 'TENM1',
 'TENT4A',
 'TGFBRAP1',
 'THPO',
 'TIMP1',
 'TINAGL1',
 'TIRAP',
 'TMEM184B-AS1',
 'TMPRSS4',
 'TNIP1',
 'TNNI3',
 'TNPO1',
 'TOX4',
 'TP53RK',
 'TPGS1',
 'TRAPPC8',
 'TRAV1-1',
 'TSPO',
 'TTC5',
 'UBASH3A',
 'UBE2Z',
 'UCMA',
 'UGT2B4',
 'USP2-AS1',
 'USP21',
 'USP25',
 'USP32',
 'UTS2',
 'UXT',
 'VSIG2',
 'XPO1',
 'ZBTB32',
 'ZFP1',
 'ZNF106',
 'ZNF121',
 'ZNF160',
 'ZNF83'}

In [2780]:
len(common_ap_collisions)

486